[2021-03-18 10:57] dilizarov commented on #6166
For what it is worth, error.message exists and is

[code]

Ryan on Slack confirmed it.

[2021-03-18 11:12] pantharshit00 commented on #6051
I wasn't able to reproduce this error message but I was able to reproduce a webpack error with this setup deployed here: https://reverent-jennings-0639a0.netlify.app/api/prisma-test

We might need to send patch to netlify plugin like we have some code in vercel nft for the engines.

[2021-03-18 11:34] do4gr commented on #1368
This can only occur on SQLite since only there are optional id fields valid DDL. Models with an optional Id will now be marked as @@ignore during introspection and won't cause a validation error. If a model is handwritten with an optional id and without @@ignore, you'll still get the same validation error which is then clear enough.

[2021-03-18 11:46] janpio commented on #6126
@omar-dulaimi The problem about having a watch mode for Introspection is that there is nothing that our CLI can "watch" to trigger a new run of Introspection. The only thing that changes when you update the database schema via an external tool is the _content_ of the schema - and to learn about that change we need to actually run Introspection already.

So the only "watch" we could build is to run

[2021-03-18 11:47] pantharshit00 commented on #6149
I can confirm this with ` 2.20.0-dev.11`. Thanks for the detailed report.

[2021-03-18 11:52] janpio commented on #6155
I thought you gave the reason yourself - running the generated SQL file manually is much faster than calling our CLI.

[2021-03-18 11:59] janpio commented on #6157
I am not sure that what you are trying to achieve is possible this way @DmiPet.

I took at a look at the PgBouncer e2e test we have:
- This is the normal connection string of a DO hosted database: `postgresql://doadmin:show-password@e2e-postgres-pgbouncer-do-user-123-0.db.ondigitalocean.com:25060/defaultdb?sslmode=require`
- And this is the Connection pool connection string: `postgresql://doadmin:

[2021-03-18 12:00] pantharshit00 commented on #6032
Can you share a reproduction repository which we can use to test this out?

[2021-03-18 12:11] janpio commented on #1176
We should split this out into a separate issue as well, as that is currently a single point of failure. When that exists, we can close this for sure.

[2021-03-18 12:14] janpio commented on #6166
I think this is similar to https://github.com/prisma/prisma/issues/6156

[2021-03-18 12:17] dilizarov commented on #6166
@janpio I can confirm the 3 retry attempts on my end.

[2021-03-18 12:54] s-kris commented on #6051
repo: https://github.com/s-kris/test-prisma-netlify

hey @pantharshit00 looks like `Query engine binary` is with `2.18.0`
Link: https://cocky-babbage-06fac3.netlify.app/api/prisma-test
branch: master

I'm able to reproduce the `TypError: Debug lib is not a function` with `2.19.0`
Link: https://60533b09c4bfae0007861e2c--cocky-babbage-06fac3.netlify.app/api/prisma-test
branch: p2.19

Thanks for your

[2021-03-18 12:57] Jolg42 commented on #6152
Hi @alan345

So:
- Is this your production database? Does it has data already in it (that you care about, don't want to lose)
- Are you using version 2.19.0?
- It looks like it's not your first migration? Did you edit the migration.sql file maybe?

[2021-03-18 13:12] PrimeDominus commented on #1122
I too need this. I have separate postgres schemas for each customer.

[2021-03-18 13:33] mhdalmajid commented on #5042
the first query I typed in Prisma , asked my self whyyyy there is no exclude !!!!!
I have to select all fields and pass false to password
[code]
this does not look professional at all

would be greet if I just do

export const getUserById = (id: number) =>
  db.user.findUnique({
    where: {
      id,
    },
    exec: ["password"]
    //or
    execlude:{
       password : true
     }
  })

[2021-03-18 13:34] cmidgley commented on #6155
I'm sorry I'm not being clear.  Right now, as best I am aware, the CLI only generates a SQL file with full table definitions, when it is asked to do a migration  - where there are no prior migrations and creating the SQL file is an unknown subdirectory under the 'migrations' folder.

I am asking for a feature where I can ask the CLI to generate a SQL file with full table definitions on-demand and

[2021-03-18 13:56] sreuter commented on #4972
Suffering from the same issue, 3-4 seconds cold start times on Lambda with Prisma. How can we help tracking this down and get fixed?

[2021-03-18 14:03] TianYa-Q opened #6167 "Cannot resolve the collation conflict between "Chinese_PRC_CI_AS" and "Chinese_PRC_CS_AS_KS" in the equal to operation."
Hi Prisma Team! My Prisma Client just crashed. This is the report:
## Versions

| Name            | Version            |
|-----------------|--------------------|
| Node            | v12.14.0           |
| OS              | darwin             |
| Prisma Client   | 2.19.0             |
| Query Engine    | query-engine c1455d0b443d66b0d9db9bcb1bb9ee0d5bbc511d|
| Database        | undefined|

## Logs

[2021-03-18 14:18] Jolg42 commented on #4972
@sreuter 3-4 seconds actually seems normal to me. Cold starts are relative to the size of the labda function.

So I'm curious to know what's the size of your function zipped and unzipped? And the list of files you have in there (including dependencies).

https://mikhail.io/serverless/coldstarts/aws/ shows a 3-5s cold start for a 35MB function

A good workaround is to have a provisioned concurrency

[2021-03-18 14:27] zub0r commented on #2328
Cascade delete currently doesn't work for me for 1:n relations either.
` The change you are trying to make would violate the required relation 'AToB' between the 'A' and 'B' models.`
prisma (2.19.0)

[2021-03-18 14:32] matthewmueller commented on #5837
Hey @Simonwep for now the workaround is to do this in your app. Something like _(untested)_:

[code]

I was also curious about your SQL query. Are you sure you want to do `select * from a, b`? I just tested that and it looks like it prints the combinations of all rows in the table. These results aren't linked with each other.

[2021-03-18 15:03] Jolg42 opened #6168 "Add tests for custom engine env vars like `PRISMA_QUERY_ENGINE_BINARY`"
## Problem

These env vars can be used to have to point to a custom engine location:
[code]

Currently, they work but are not covered by tests.

## Suggested solution

Add a test for the "happy path", maybe move binaries to a random location and set the env vars to that location?

## Alternatives

Add a test in e2e-tests

## Additional context

The mapping to env vars is done in 2 places
https://g

[2021-03-18 15:17] alan345 commented on #6152
Hello
- Yes I care about data. But I ran it in localhost. So I accept to delete
all data.
- yes the latest. 2.19.0
- no it's my first migration. Why do you think it is not? No I did not
change the sql file

Thanks

On Thu, Mar 18, 2021, 5:57 AM Joël Galeran ***@***.***> wrote:

[2021-03-18 15:52] jerryhikel-r opened #6169 "Getting encoding error with prisma2 against sql server"
Here is the error - tried a few things but no luck yet.

[code]

[2021-03-18 16:12] DmiPet commented on #6157
@janpio Ack, what a silly error on my side! Frustratingly DigitalOcean displays `25060` for the port in the connection details on the instance _Overview_ tab when selecting the connection pool in the picker, but it's `25061` as you said when looking at the connection details in the _Connection Pools_ tab.

All seems to be working well now, thank you! Glad it was an easy fix 😅

Appreciate the help

[2021-03-18 16:12] #6157 closed

[2021-03-18 16:13] Jolg42 commented on #6152
So because you already have a database with data you care about I recommend you to read these docs about the baselining flow:

https://www.prisma.io/docs/guides/prisma-guides/add-prisma-migrate-to-a-project

If you have any feedback/questions let me know!

[2021-03-18 16:28] omar-dulaimi commented on #6126
@janpio I'm not sure about the shell script really. I was thinking if it was possible for prisma to listen for the binrary logs and run introspection accordingly. Binary logs are used a lot in migration tools, so it should be possible with prisma.

[2021-03-18 16:32] omar-dulaimi commented on #6126
@Jolg42 To be honest we want to give migrate a couple of months until it finally stabilizes, matures from extensive community usage + promoting push and pull to GA as well. So until then, we're going to stick to introspection.

[2021-03-18 16:37] Jolg42 opened #6171 "Add test for custom engine location from the Prisma Client JS instance"
## Problem

This internal feature can be used to point to a custom engine location from the Prisma Client JS instance:
[code]
Currently not covered by tests.

## Suggested solution

Add test like
[code]

## Alternatives

Add a test in e2e-tests

## Additional context

Issue on the internal feature and usage
https://github.com/prisma/prisma/issues/3499

Related
https://github.com/prisma/prisma/issu

[2021-03-18 16:45] Jolg42 commented on #6126
@omar-dulaimi using `watch` command seems like a good workaround maybe?
https://unix.stackexchange.com/a/10650/67990

Like this, it will repeat the command every 20 seconds until turned off
[code]

[2021-03-18 17:07] jahjedtieson opened #6173 "PANIC in query-engine\connectors\sql-query-connector\src\query_ext.rs:56:43index out of bounds: the len is 0 but the index is 0"
Hi Prisma Team! My Prisma Client just crashed.

## Versions

| Name            | Version            |
|-----------------|--------------------|
| Node            | v14.16.0           |
| OS              | windows            |
| Prisma Client   | 2.19.0             |
| Query Engine    | query-engine c1455d0b443d66b0d9db9bcb1bb9ee0d5bbc511d|
| Database        | undefined|

## Query
[code]

## Logs
[c

[2021-03-18 17:23] jeremygottfried commented on #6032
I tried to create one, but now I can't even get it to deploy. I'm hitting a new error, which also seems to be caused by prisma:

TypeError: debugLib is not a function
    at Object.<anonymous> (/Users/jeremygottfried/Development/nextjs-prisma-serverless-bug/nextjs-prisma-serverless-bug/.next/serverless/pages/index.js:3452:15)
    at Object.6Z5O (/Users/jeremygottfried/Development/nextjs-prisma-ser

[2021-03-18 17:24] omar-dulaimi commented on #6126
@Jolg42 Yeah that should work fine for now. Thank you.

[2021-03-18 17:28] #1368 closed

[2021-03-18 18:19] richardkeller411 opened #6176 "SQL Server Introspection fails on Tables with Geography Data Type"
It fails on Tables with Geography Data Type.

[2021-03-18 18:32] janpio commented on #6176
How does it fail?
Did you get an error message?
Could you submit an error report to our system and did you get an error report ID?

[2021-03-18 19:19] s-kris commented on #6032
@jeremygottfried @pantharshit00 error seems to be consistent with #6051

[2021-03-18 19:49] janpio commented on #6157
Oh, I know because I wasted half a day with this as well :D The port also being so close together doesn't help with uncovering this.

Glad I could help. I like your solution as well, might be a workaround to document.

[2021-03-18 19:52] janpio commented on #6169
Can you share the information the issue template asks for?
https://github.com/prisma/prisma/issues/new?assignees=&labels=&template=bug_report.md&title=
Especially the schema and query you are executing would be interesting.

[2021-03-18 20:00] janpio commented on #6155
Ah, I did indeed not get that fully before - sorry. Thanks for clarifying.

If I understood correctly there are effectively two parts to your suggestion:

1. Be able instruct the command to assume you have an empty database (and not try to talk to the database to figure out if that is actually true)
2. Instead of trying to execute that file towards the database, just write it to a file to be used

[2021-03-18 20:04] cmidgley commented on #6155
Yes, that's it!   Plus perhaps:

3. Ignore the existing migration folder and files, and allow the SQL file to be written to any path

I do use `--create-only` today ... and assuming I delete the migration folders, it all works.  Felt like an obvious extension to the `db push` feature rather than `migrate`,  and one that didn't seem too difficult (easily said when I'm not the author)!

[2021-03-18 20:23] jeremygottfried commented on #6032
Yup that makes sense because I originally had the bug on prisma 2.16.1, but the new repo is on 2.19.0

[2021-03-18 21:36] jerryhikel-r commented on #6169
I can't share some specifics but it is a standard Windows 10 build running a node js server using prisma 2 latest and type-graphql and typegraphql-prisma along with apollo on top, although i'm not sure that matters other than that I am using the prisma client. Backend is SQL Server version 13.0.5698.0. Tables are very standard, primary keys, nothing clustered, foreign keys, varchar and numeric and

[2021-03-18 22:21] Brenopms commented on #2303
For everyone having issues with:

```Error: npm run script0 failed with code 1```

Please check if prisma cli is available on the environment or try to replace this:

[code]
For this:

[code]

on your serverless.yml file, since most likely the "prisma generate" command is failing.

Also, please note that whoever is using "copy-webpack-plugin" on version 6 should replace on your webpack configurati

[2021-03-19 00:05] Sytten commented on #5976
I did more testing:
- Good news: the latest engine doesn't crash on connection closed
- Bad news: the connection doesn't seem to be discarded from the pool

[2021-03-19 00:11] Sytten commented on #6156
While debugging https://github.com/prisma/prisma/issues/5976, I was able to reliably reproduce the 3 retries.
I am executing the code:
[code]
And I am killing the DB connection between the first and second call.

This generates the following logs where we can see the retries:
[code]

[2021-03-19 00:14] Sytten commented on #5947
Related to https://github.com/prisma/prisma/issues/5976

[2021-03-19 00:16] Sytten commented on #5554
Root bug is the same as https://github.com/prisma/prisma/issues/5976

[2021-03-19 00:18] Sytten commented on #5515
Same as https://github.com/prisma/prisma/issues/5976

[2021-03-19 03:35] jdcookie commented on #6032
I am seeing the same issue just trying to run serverless:offline - nothing to do with serverless-nextjs
[code]

[2021-03-19 05:15] kimchhung opened #6181 "Error: [libs/datamodel/connectors/dml/src/model.rs:160:14] We assume an internally valid datamodel before mutating."
Hi Prisma Team! Prisma Migrate just crashed.

## Command

`introspect`

## Versions

| Name        | Version            |
|-------------|--------------------|
| Platform    | debian-openssl-1.1.x|
| Node        | v12.18.2           |
| Prisma CLI  | 2.18.0             |
| Binary      | da6fafb57b24e0b61ca20960c64e2d41f9e8cff1|

## Error
[code]

[2021-03-19 06:38] pantharshit00 commented on #6051
It is reproducible, we will patch it or document a workaround. Stay tuned.

[2021-03-19 06:39] pantharshit00 commented on #6032
I will consider this blocked by #6051, we will patch that first then we can have another look here and hopefully this will be fixed as well.

[2021-03-19 06:43] pantharshit00 commented on #6167
Can you share some details about your database? Which version you are using and which collation you are using.

First glance indicates this is related to specific collation which we don't handle properly.

[2021-03-19 06:53] dvlwj commented on #6015
Thanks a lot for informing @Jolg42  , and thanks too to you @tomhoule .

[2021-03-19 07:26] Gilbert-Qian commented on #6167
@pantharshit00
### version:
Microsoft SQL Server 2019 (RTM-CU8-GDR) (KB4583459) - 15.0.4083.2 (X64)   Nov  2 2020 18:35:09   Copyright (C) 2019 Microsoft Corporation  Developer Edition (64-bit) on Linux (Ubuntu 18.04.5 LTS) <X64>
### collation:
Chinese_PRC_CI_AS

[2021-03-19 07:41] noire-munich commented on #6147
Ok, got it now, fixed.

[2021-03-19 07:41] #6147 closed

[2021-03-19 08:09] jonahallibone commented on #6032
@jeremygottfried AFAIK the solution I mentioned in my issue still works, (even though it's not ideal depending on binary size). I haven't heard from anyone about how to preserve or change the permissions after then fact from your deploy script. I am wondering if a solution like [this](https://stackoverflow.com/questions/8756639/how-do-i-use-chmod-with-node-js) is possible to use instead of my copy

[2021-03-19 10:01] #6134 closed

[2021-03-19 11:08] #5518 closed

[2021-03-19 12:11] AmreeshTyagi commented on #2077
Hope something has been planned around it.

Above lib is facing compatibility issues and seems like less active contribution from community on it.
https://github.com/Errorname/prisma-multi-tenant/issues/77

[2021-03-19 13:14] matthewmueller commented on #2077
Hey @AmreeshTyagi, can you explain what compatibility issues you're facing? Thanks!

[2021-03-19 13:15] s-kris opened #6184 "read environment variables from env.* files"
## Problem
I have multiple .env files (env.development, env.production). As prisma seems to be reading from only .env file, it's not great dx and not safe to manually override just the DATABASE_URL variable with .env file.

[2021-03-19 13:39] matthewmueller opened #6185 "Prisma generate should fail for Typescript users below 4.1"
## Problem

The  Prisma Client's generated types requires Typescript 4.1 and above. Right now we show a warning, but should fail because it's too easy to miss this hard requirement.

[code]

## Suggested solution

Show an error during `prisma generate` if the user is using a Typescript version that's less than 4.1.

**Warning** that this is only a problem for Typescript users, not Javascript users

[2021-03-19 13:53] pantharshit00 commented on #6184
Hi,

Thanks for reporting this! It has already been reported before, so I am going to close this as a duplicate of https://github.com/prisma/prisma/issues/3865

[2021-03-19 13:53] #6184 closed

[2021-03-19 14:30] Simonwep commented on #5837
Yes, this could be a solution - but not with an arbitrarily amount of data. Pulling **all** data from the database and sorting it is not a real solution and, in my case, no work-around considering the amount of data which I would have to retrieve. But I guess in small scenarios it works just fine :)

[2021-03-19 15:36] GCastilho opened #6186 "Optional `connect` with an `undefined` value causes prisma to fail"
## Bug description

I have a clients an users table. The user has an optional relation with the clients. When I try to create an user passing undefined to the client connect the query fails with ```Unknown arg `client` in data.client for type UserUncheckedCreateInput. Did you mean `clientId`? Available args```

This is the complete stack trace:
[code]

## Expected behavior

Since the type definiti

[2021-03-19 16:59] mhmdAljefri opened #6187 "PANIC in query-engine/core/src/interpreter/query_interpreters/nested_read.rs:78:561"
Hi Prisma Team! My Prisma Client just crashed. This is the report:
## Versions

| Name            | Version            |
|-----------------|--------------------|
| Node            | v12.16.1           |
| OS              | debian-openssl-1.1.x|
| Prisma Client   | 2.12.1             |
| Query Engine    | query-engine cf0680a1bfe8d5e743dc659cc7f08009f9587d58|
| Database        | undefined|

## Quer

[2021-03-19 17:34] ericyd opened #6188 "Error when bundling with webpack"
## Bug description

When using webpack 4 to bundle a file that imports `PrismaClient`, requiring the resulting bundle throws an error.

My use case is, we bundle our lambdas with webpack into a zero-dependency bundle and then deploy those to AWS.

This bug is specific to Prism 2.19.0, 2.18.0 works fine.

throws error:
[code]

## How to reproduce

You kinda need a whole environment so I made a repo

[2021-03-19 20:36] jebenois opened #6189 "Issue when inserting/updating a float which value is 0.1"
## Bug description

It looks like Prisma is not handling the 0.1 value correctly when doing insertion or updates.

## How to reproduce

Run a query inserting or updating a float:

[code]

It will create a row where someNumber value is set to 0.0999999999999 instead of 0.1.

_Note: Using a raw query works:_

[code]
=> someNumber will be set to 0.1.

## Expected behavior

someNumber should be set to

[2021-03-19 20:58] langal commented on #5998
Here are some monkey-patch hacks I've been playing around with

`// Our proxy class
class PrismaProxyClass {
  // database table/prisma model
  constructor({ ...data }) {
    Object.keys(data).forEach((key) => {
      this[key] = data[key];
    });
  }
}

module.exports.PrismaProxyClass = PrismaProxyClass;`

`import { getDb } from '../app/db';
import CLASS_MAP from './classMap';

/*
Basically this

[2021-03-20 01:11] MattGson commented on #4134
I would suggest that `upsertMany` should be reserved for a function that can bulk upsert multiple rows at once so the name of this operation should probably be something like `upsertFirst`.

[2021-03-20 01:24] MattGson commented on #5437
@ricardoalmeida  agreed. Probably a separate `upsertMany` function would fit better with the current API.

I would look at the knex conflict/merge API for inspiration. Should be able to achieve across Pg, MySQL and SQLite with native `on conflict do` and `on duplicate update`:

- Create many rows and ignore key conflicts
- Create many rows and set specific fields on a conflicting row
- Create many

[2021-03-20 13:20] nihemak commented on #5866
Could you please tell me the status of this issue. I have encounter the same issue. I'd like to use prisma with AWS RDS Proxy and Postgres. Thanks for awesome ORM!

[2021-03-20 14:53] omar-dulaimi commented on #2303
@Brenopms That also did not work sadly"
[code]

[2021-03-20 18:29] mark600211 commented on #1122
any update about this?

[2021-03-20 21:25] Ezard opened #6193 "Nullable enum values cannot be set to null when being edited in Prisma Studio"
## Bug description

A nullable enum value cannot be set to null when being edited in Prisma Studio. Instead, only a non-null value can be selected. The cell will be populated with a non-null value after being edited and then losing focus

## How to reproduce

1. Edit a nullable enum value by attempting to set the value to `NULL`
2. Click out of the cell, or click "Save changes", or do anything els

[2021-03-20 21:34] omar-dulaimi commented on #2303
So I did a little investigation, please check this:
https://github.com/serverless-heaven/serverless-webpack/issues/690#issuecomment-803466455

[2021-03-21 00:50] iamkacperwasik commented on #6185
I can take on that

[2021-03-21 04:37] Cretezy commented on #6042
I can also reproduce this issue. Take the following Prisma file:

[code]

The follow errors are produced:

[code]

[2021-03-21 05:26] felinto-dev opened #6195 "Prisma DB Seed does not have support for Path alias"
I am not sure if this is a bug or feature request.

I am using path alias in my project and I needed to make reference for files inside my src/ directory using prisma:

[code]

[code]

The problem that occurs is that Prisma is not able to solve path alias and from what I saw configuring this is quite a lot of work. I hoped this could come out-of-the-box with a Prisma.

https://github.com/TypeStron

[2021-03-21 15:23] ovidb commented on #4217
I'm not sure what's the traction on this, but I think that once https://github.com/prisma/prisma/issues/5042 is addressed, your case should be covered. However, having the ability to pass custom parameters into the middleware opens up a lot of possibilities and I would say it would be quite a useful feature.

[2021-03-21 15:29] ovidb commented on #5042
I had a go trying to solve this at the middleware level, but sadly it's not currently possible because there is no way of passing custom parameters to the query functions.

Instead of me pasting how would someone go about doing it I suggest upvoting the feature request that
@samrith-s has opened. It precisely describes this use case https://github.com/prisma/prisma/issues/4217

[2021-03-21 17:27] gavrichards commented on #5987
@tomhoule is there a workaround for having a 1:m self relation that doesn't create a unique index?

I think a concise summary of the issue I'm seeing is:

- Table has 1:m self relation.
- Prisma creates a 'unique' index on the table on the 'parent id' column. I don't want a unique index as multiple rows should be able to have the same parent.
- I create a blank migration, and add SQL which removes

[2021-03-22 03:27] AHBruns commented on #5455
Hey, I just wanted to add my support for this. It would make a major difference in my project.

[2021-03-22 04:54] mitchellhamilton opened #6203 "Making a non-unique column with duplicate values unique using `db push` fails"
## Bug description

Making a non-unique column with duplicate values unique using `db push` fails with `P2002`(unique constraint failed) rather than prompting to reset the database.

## How to reproduce

1. Create a model with an id field and some other required field
2. Run `prisma db push --preview-feature`
3. Create two items with the same value for the required field
4. Make the required field

[2021-03-22 05:16] adeel55 commented on #4571
I think there should be a parameter like: prisma migrate dev --name prisma-preview --no-shadow-db

[2021-03-22 07:33] ryands17 commented on #6195
Node doesn't support path aliases out of the box, so could you share are you using aliases currently in your project?

[2021-03-22 08:15] dilizarov commented on #3372
@timsuchanek Thanks for the code snippet above. It has helped be wrestle with an issue I had... I'm not sure I understand this piece though: `{ select: S } & Omit<Prisma.UserFindFirstArgs, 'select' | 'include'>`

Why is the `Omit` block necessary?

[2021-03-22 08:26] pantharshit00 commented on #6173
Hey @jahjedtieson

Can you share the code of the stored procedure which you are using in the db?

Can you also try using this without escaping like so:
[code]

Note that you will need to sanitize the parameters for the above code and it will not escape parameters here.

[2021-03-22 08:28] pantharshit00 commented on #6169
Hey @jerryhikel-r

Please send a minimal reproduction or failing call with schema to schemas@prisma.io. Without sufficient information it is extremely hard to tick all assumptions and make a reproduction for this error.

[2021-03-22 08:29] pantharshit00 commented on #3372
@dilizarov Omit block is not necessary. It is there so that you can use other keys like `where` in that query in future and the parameter which the function take is properly typed for that.

[2021-03-22 08:50] do4gr commented on #3145
We do now return the table that was missing.

[2021-03-22 08:50] #3145 closed

[2021-03-22 09:09] do4gr opened #6205 "Migrate helper to fix DB schemas that would not pass validation"
There are certain situations where the database schema has properties that if translated 1:1 to the Prisma datamodel would lead to an invalid datamodel.

Examples are:
1:  non-matching datatypes on foreign key constraints
2: dangling Foreign Key definitions

In some of these cases introspect will ignore these (2) in others users would need to manually change them or comment out parts of their data

[2021-03-22 09:09] do4gr commented on #5289
Hey @carchrae, thanks for providing your input. As you figured out, commenting out the offending fields is currently the only solution. I think you could even comment out just the relationfield and then still write to the underlying scalar fields directly. Just mentioning it in case you are commenting out both.

[code]

I like your idea of a cleanup helper to find Sql schema `smells` and offer a m

[2021-03-22 09:24] inertica commented on #5844
Increasing the timeouts did not make a difference. The EADDRNOTAVAIL error is returned usually right after (less than 1 second) the DB query is executed.

[2021-03-22 09:43] pantharshit00 commented on #5854
Can people subscribed to this issue try again with 2.19 ? I was still unable to reproduce this. If you can share the exact ISO date string which triggers this, that would be immensely helpful.

[2021-03-22 09:43] dominichadfield commented on #6189
We are also having these issues when inserting floats.

[2021-03-22 09:57] pantharshit00 commented on #5854
Ok, I just tried again with chance js and it is consistently reproducible now with some settings I tinkered. I should done that on the first run itself. Apologies for that.

Reproduction: https://github.com/harshit-test-org/prisma-issue-5854

[2021-03-22 10:35] pantharshit00 commented on #6166
I can reproduce this, looks like only `{"clientVersion":"2.20.0-dev.18"}` is available in the error.

Ready to use reproduction:
[code]

[code]

[2021-03-22 10:36] pantharshit00 commented on #6181
Hello! Can you please provide a minimal reproduction for the above crash? Unfortunately the automatically collected information in the issue does not give us much to go with here - we will need a bit more information. What were you doing? Can you share the code and schema that was active?

[2021-03-22 10:38] williamluke4 commented on #5730
Hey @revivalme, I'm going to close this issue, if you feel like the problems you are experiencing are still related to this specific issue then feel free to reopen it explaining why.

[2021-03-22 10:38] #5730 closed

[2021-03-22 11:37] tomhoule commented on #6203
Hi @mitchellhamilton , thanks fer opening this issue. In this case we wouldn't want to prompt for a reset in all cases, because if you don't have duplicate values, the migration will run fine without a reset. What we could do is add a suggestion to use `prisma db reset` if you have duplicate values in the warning.

[2021-03-22 11:40] lucasmarinzeck commented on #1902
Being able to use a built-in solution for audit trial configurable by table would be great

[2021-03-22 11:47] tomhoule commented on #5987
@gavrichards I got my hands on an aurora mysql instance, and I can't reproduce the issue — even with your schema, I never get the drift detected messages. I tried both with the default behaviour for shadow databases (no custom url) and with a custom `shadowDatabaseUrl` pointing to an existing database on the same host.

[code]

Does your instance have a different version? Are you using aurora serv

[2021-03-22 11:56] gavrichards commented on #5987
@tomhoule thanks Tom, it's the same version as that.
Did you enter some data in the Slot table? I think that's the key to this you need to have multiple rows with the same parent, so that the parent column can't be unique.

[2021-03-22 11:59] gavrichards commented on #5987
@tomhoule thanks Tom, it's the same version as that.
@tomhoule Did you enter some data in the Slot table? I think that's the key to this you need to have multiple rows with the same parent, so that the parent column can't be unique.

It's provisioned.

[2021-03-22 12:09] tomhoule commented on #5987
Thanks for the quick reply, I'll try that :+1.

[2021-03-22 13:12] gerwinbrunner commented on #2853
+1

[2021-03-22 13:27] Gnilherk commented on #2853
+1

[2021-03-22 14:16] #5078 closed

[2021-03-22 14:37] carchrae commented on #5289
thanks @do4gr.  yes, i've been learning how to overcome these different errors and warnings.  a lack of valid unique ids is the other main curse, in particular, compound ids that can be made up of nullable values (but are still unique).  sometimes i need to go into the woods and shout a bit.

hmm - i just realised that maybe views can help in some of these cases https://www.prisma.io/docs/guides/g

[2021-03-22 14:58] carchrae opened #6206 "generate a migration with no sql (so i can add the sql myself)"
## Problem

tldr; i'd like `prisma migrate` to generate an empty migration where i can add the sql statements i wish to have in that migration.

longer: i'd like to use prisma to handle migrations, however, my schema and database are not perfectly mapped.  this leads to prisma generated migrations containing a lot of dangerous sql that i don't want to use (mainly dropping things).  what i do inste

[2021-03-22 15:13] nat-me commented on #2853
+1

[2021-03-22 15:29] jhackett1 commented on #6051
also having this issue with a [next.js app deployed to netlify](https://github.com/jhackett1/railsy-nextjs-prisma-example).

are we any closer to a resolution or workaround?

[2021-03-22 16:40] #5969 closed

[2021-03-22 17:51] felinto-dev commented on #6195
Yes I am.

I create mocks for my products to use in my unit tests and in my opinion, "data fakes" should be next to the code.

[2021-03-22 20:29] meeq commented on #6188
In the resulting `client/runtime/index/js`, the `debugLib` is attached as a read-only property of `exports`:
[code]
...And then at the bottom of that same file...:
[code]
...`debugLib` is accessed as if it were in scope, but it is not (as shown above). This access should be `debugLib: exports.debugLib` or `debugLib` should be in scope.

[2021-03-22 20:57] meeq commented on #6188
The plot thickens.

I added this line to the top of the generated `prisma/client/index.js`:
[code]

And here's what I got:
[code]

Somehow the runtime module became the `Decimal` module?

[2021-03-22 21:10] TheRealThor commented on #6111
Hello Matthias,

thanks for the tip with naming the relations. It did produce the exact correct migrations tables.
I thought initially naming the relations will put the relation in a different table with that name.

[2021-03-22 21:36] pantharshit00 commented on #6188
Same error message as https://github.com/prisma/prisma/issues/6051 so I will consider this blocked by that issues. It should be resolved when we fix that imo. But I will keep this open for now.

[2021-03-22 21:38] pantharshit00 commented on #6188
Referring to this specific comment for the error message btw: https://github.com/prisma/prisma/issues/6051#issuecomment-801835387

Initial description of that issue doesn't reflect it.

[2021-03-23 00:40] jebenois commented on #6189
Glad to hear I am not alone, it is quite an issue for us.

[2021-03-23 00:44] AmreeshTyagi commented on #5360
I confirm that it is not because of above bug. It is coming after upgrade. My prisma schema has no special characters in relation name or in map. Though default values has special characters `@default("en-us")`, but that should not be problem here.

My previous version was `@prisma/cli          : 2.15.0,
@prisma/client       : 2.14.0`

Current upgraded version is `prisma               : 2.19.0
@pr

[2021-03-23 00:57] mitchellhamilton commented on #6203
Couldn't it work like how making an optional field required does so it would check if there are duplicates and only prompt to reset then?

[2021-03-23 01:07] AmreeshTyagi commented on #5360
Simply replaced
`import type { InputJsonValue, JsonValue, Prisma } from '@prisma/client';`
with
`import type { Prisma } from '@prisma/client';`

and using `Prisma.InputJsonValue` everywhere in my code.
Resolved.

[2021-03-23 09:46] some-user123 commented on #6042
@Cretezy I don't see how your situation is related to the issue above :confused:

[2021-03-23 09:53] xuqingkuang opened #6207 "The startup query `SELECT @@socket` should be ignored when connecting to a remote database"
## Bug description
I have a server that is using the [TDSQL for MySQL](https://intl.cloud.tencent.com/product/dcdb) distribution database provided by Tencent Cloud.

The problem is Prisma Client will get a error when startup:
[code]

So I had a check of the Prisma client startup queries, it's executed:
[code]

Prisma will always select the `@@socket` variable, it's not necessary for the remote dat

[2021-03-23 10:47] adamshiervani opened #6208 "Postinstall fails when installing @prisma/client on node v11.9.0"
## Bug description
The postinstall script throws `ReferenceError: globalThis is not defined` when installing `@prisma/client@2.19.0` on node version v11.9.0.

[code]

## How to reproduce
[code]

## Expected behavior
A more descriptive error message. I was moving from prisma 2.10.0 to 2.19.0, which had many breaking changes. Fixed all of them locally and then deployed to staging. Was faced with thi

[2021-03-23 11:07] sibeliuz commented on #4748
Got this bug in 2.19.

[2021-03-23 11:22] Jolg42 commented on #4571
@adeel55 so we now have a doc page about the shadow database, how it works and why it's needed to generate migrations.

See https://www.prisma.io/docs/concepts/components/prisma-migrate/shadow-database

Note: The shadow database is only required in a development environment (specifically for the prisma migrate dev command).

[2021-03-23 11:25] webnoob commented on #4748
@sibeliuz Are you sure it's the same? I was being prompted for another migration file following the first creation. It just looks like you have 2 migrations called init.

If you clear your migrations folder and start again, do you end up with 2 migration files?

[2021-03-23 11:38] sibeliuz commented on #4748
It prompts for migration name two times, one at
npx prisma migrate dev --create-only
and one at following
npx prisma migrate dev
Generated sql script was not changed between calls.
It also creates two migrations in the migration folder (migration folder was deleted before).
Schema on which it always happens:

`generator client {
  provider        = "prisma-client-js"
  previewFeatures = ["groupBy"

[2021-03-23 11:41] xuqingkuang commented on #6207
After investigate deeper I the query is triggered by mysql_async library: https://github.com/blackbeam/mysql_async/blob/master/src/conn/mod.rs#L681

but how to disable it?

[2021-03-23 12:07] sibeliuz commented on #4748
Should it be posted as a new issue or i don't understand something?

[2021-03-23 12:23] sibeliuz opened #6210 "Prisma migrate dev prompts for migration name when running after --create-only (2.19)"
It looks like #4748.

It prompts for migration name two times, one at
```npx prisma migrate dev --create-only```
and one at following
```npx prisma migrate dev```
Generated sql script was not changed manually between calls.
It also creates two migrations (two folders with files) in the migration folder.
Example schema on which it always happens:

[code]
Interestingly, the first migration file it c

[2021-03-23 12:28] pantharshit00 opened #6211 "Detect absense of openssl and inform the user about it"
## Problem

Right now we don't detect presence of openssl on the CLI but it is dynamically linked dependency for the engines on linux. This can lead to undefined behaviour like CLI trying to download the binaries with no idea about openssl version leading to platform detection like `linux-arm-openssl-undefined` or spawning errors when node tries to spawn query-engine.

## Suggested solution

Detec

[2021-03-23 12:46] kladnik commented on #5057
Any progress on this? This seems like a must have when dealing with JSON. It is possible with Postgres queries.

[2021-03-23 13:22] Ezard commented on #6139
@janpio I've just seen the same thing happen for me today, also using PostgreSQL on Google Cloud with Nest.js. However, we're using Google Kubernetes Engine and not Cloud Run

Our containers had been running for ~1hr when this happened. Everything was working as expected before this occurred, and then after seeing this error repeatedly for ~1m, everything resumed working as expected (including the

[2021-03-23 13:36] embiem opened #6212 ""number too large to fit in target type" using BigInt & PostgreSQL"
## Bug description

When using a number as large as `18375000000000000000n` to save into a "BigInt", then Prisma throws the following error:

[code]

## How to reproduce

1. Create a schema and add a field using BigInt as type.
2. Connect to a local PostgreSQL database
3. Try creating/updating with the field value of e.g. "18375000000000000000n".
4. Should throw the above mentioned error.

## Expe

[2021-03-23 13:50] nikita-fuchs commented on #92
Two years later, a team of 10 still has to mess around in 1 schema file. What could possibly go wrong.

[2021-03-23 14:22] Jolg42 commented on #6210
Thank you for the bug report, we'll check this soon and see what's happening.

[2021-03-23 14:34] Jolg42 commented on #6208
Thanks for this report 👍

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/globalThis seems to have landed in Node 12.0.0 only

As a workaround, I would suggest that you pick an LTS version of Node.js which we fully test against, like 10, 12 or 14 (12 or 14 are recommended).
Also, only LTS/even versions are fully tested in the ecosystem and get security patches.

[2021-03-23 14:47] Jolg42 commented on #6206
Hi @carchrae

It's actually already possible with `prisma migrate dev --create-only` if no change is detected an empty migration file will still be created and you will be able to edit it, put any SQL you like then run `prisma migrate dev` to execute it locally to verify it is valid.

After applying once you can still edit it and rerun `prisma migrate dev` as many times as needed, if Migrate detec

[2021-03-23 15:11] pantharshit00 commented on #6207
We don't pass every config option to mysql async. I will mark this as a bug for now as we can refactor that part of code.

mysql_async is wrapped by quaint: https://github.com/prisma/quaint

[2021-03-23 15:18] pantharshit00 commented on #6212
@embiem Hey, can you share your schema here? You can map to BigInt as well on db level via native types like so.

[code]

See details here: https://www.prisma.io/docs/concepts/database-connectors/postgresql#type-mapping-between-postgresql-to-prisma-schema

[2021-03-23 16:56] janpio commented on #6207
We should also add a e2e test to cover this: https://github.com/prisma/e2e-tests/issues/1537

[2021-03-23 17:05] janpio commented on #6139
Open a new issue pls but link to this one - this could very well have the underlying cause - but also not. We will try to investigate. If you can give us any pointers what might have been happening we would be more than thankful @Ezard.

[2021-03-23 17:20] Ezard opened #6213 "Error in PostgreSQL connection: Error { kind: Closed, cause: None } when in Google Kubernetes Engine"
## Bug description

For a period of ~1m, all database queries failed with the error: `Error in PostgreSQL connection: Error { kind: Closed, cause: None }`. This error has not previously occurred over the several months that we've already been using Prisma, and has not occurred in the few hours since.

The application code uses the Nest.js framework, and runs in Google Kubernetes Engine. The databa

[2021-03-23 17:46] tom-richter commented on #6049
I have also came across this problem recently. In my Postgres database I store measured values in a Decimal field. It is important that all digits are preserved during inserting and querrying. This is especially important for trailing zeros. The number of digits indicates how accurate the measurement was. So it makes a difference if I store 0.0 or 0.00 in the database. [Decimal.js unfortunately re

[2021-03-23 18:23] dakshshah96 opened #6216 "Elastic Beanstalk: Error: @prisma/client did not initialize yet"
## Bug description

I'm trying to deploy to Elastic Beanstalk by following this tutorial: https://www.prisma.io/docs/guides/deployment/deployment#aws-elastic-beanstalk.

Created a `.npmrc` file in the root of my project and added `unsafe-perm=true` configuration.

I still get an error saying that `@prisma/client` has not been initialized when I try to do `npm start` and run my server.

[code]

##

[2021-03-23 18:47] janpio commented on #2523
Note for future testing attempts:
https://github.com/prisma/prisma-engines/pull/1024/files
https://github.com/prisma/engineer/pull/16/files
https://github.com/cockroachlabs-field/docker-examples/blob/master/example-single-node/docker-compose.yml

[2021-03-23 19:14] janpio commented on #2754
Happy to open this again if we get more information.

[2021-03-23 19:14] #2754 closed

[2021-03-23 19:14] janpio commented on #2753
Happy to open this again if we get more information.

[2021-03-23 19:14] #2753 closed

[2021-03-23 19:15] #2743 closed

[2021-03-23 19:15] janpio commented on #2733
Happy to open this again if we get more information.

[2021-03-23 19:15] #2733 closed

[2021-03-23 19:19] #2581 closed

[2021-03-23 19:19] janpio commented on #2565
Happy to open this again if we get more information.

[2021-03-23 19:19] #2565 closed

[2021-03-23 19:19] janpio commented on #2654
Happy to open this again if we get more information.

[2021-03-23 19:19] #2654 closed

[2021-03-23 19:20] janpio commented on #2403
Happy to open this again if we get more information.

[2021-03-23 19:20] #2403 closed

[2021-03-23 19:20] janpio commented on #2395
I am going to close this now. Happy to take a look again if we get more information.

[2021-03-23 19:20] #2395 closed

[2021-03-23 19:21] janpio commented on #2284
I am going to close this now. Happy to take a look again if we get more information.

[2021-03-23 19:21] #2284 closed

[2021-03-23 19:21] janpio commented on #2049
That is just an information and should not block anything @croossin.

I am going to close this now. Happy to take a look again if we get more information.

[2021-03-23 19:21] #2049 closed

[2021-03-23 19:21] janpio commented on #1443
I am going to close this now. Happy to take a look again if we get more information.

[2021-03-23 19:21] #1443 closed

[2021-03-23 19:22] janpio commented on #3056
I am going to close this now. Happy to take a look again if we get more information.

[2021-03-23 19:22] #3056 closed

[2021-03-23 19:22] janpio commented on #2930
I am going to close this now. Happy to take a look again if we get more information.

[2021-03-23 19:22] #2930 closed

[2021-03-23 19:23] janpio commented on #2867
I am going to close this now. Happy to take a look again if we get more information.

[2021-03-23 19:23] #2867 closed

[2021-03-23 19:23] janpio commented on #5049
I am going to close this now. Happy to take a look again if we get more information.

[2021-03-23 19:23] #5049 closed

[2021-03-23 19:23] janpio commented on #2755
I am going to close this now. Happy to take a look again if we get more information.

[2021-03-23 19:23] #2755 closed

[2021-03-23 19:24] #3465 closed

[2021-03-23 19:24] janpio commented on #3262
I am going to close this now. Happy to take a look again if we get more information.

[2021-03-23 19:24] #3262 closed

[2021-03-23 19:24] janpio commented on #3261
I am going to close this now. Happy to take a look again if we get more information.

[2021-03-23 19:24] #3261 closed

[2021-03-23 19:26] janpio commented on #2761
I am going to close this now. Happy to take a look again if we get more information.

[2021-03-23 19:26] #2761 closed

[2021-03-23 19:31] janpio commented on #2268
This should be fixed.

[2021-03-23 19:31] #2268 closed

[2021-03-23 19:34] jebenois commented on #6189
I feel like it should be bug/0 level. It can be quite dangerous for a business app dealing with money (my case).

[2021-03-23 20:33] janpio commented on #6189
The numbers do not signify a priority here - but used to order the labels: `0-needs-info`, `1-repro-available`, `2-confirmed`. So you actually want to have `bug/2-confirmed` here as that means someone from the team successfully reproduced and this can directly be tackled by someone to fix. (I assigned @pantharshit00 to get to that state quickly).

[2021-03-23 20:46] carchrae commented on #6206
thanks for the quick reply @Jolg42

the problem i have is that `prisma migrate dev --create-only` and `prisma migrate dev` will always think there are changes.  for example, i have had to comment out relations due to issues like this https://github.com/prisma/prisma/issues/5289

i know in the perfect world, my schema would be mapped correctly, but when taking an existing database with all its love

[2021-03-23 21:46] dperconti commented on #5006
I'm experiencing this issue as well. Has anyone found a reasonable workaround?

[2021-03-23 21:49] Pompedup opened #6218 "Add a log on renaming field to help future beginner"
Hello !

## Problem

I was looking for adding a `@map` or `@@map` for 10 minutes but when I was doing `prisma introspect`, it just erase the `@map` without any information (no warning or error)

## Suggested solution

It would be great to have a message that say somethings like
[code]

## Alternatives

Just say that it remove some field because they were not actual columns

## Additional context
[

[2021-03-23 22:59] fugohan opened #6219 "PrismaClient is unable to be run in the browser."
## Bug description
I'm getting an Error: PrismaClient is unable to be run in the browser.

![Selection_013](https://user-images.githubusercontent.com/46691165/112229651-abe40400-8c33-11eb-8a9b-1a89e0170863.png)

## How to reproduce

1. Create new Node Project with ```npm init -y```
2. install dependencies ```npm i next react react-dom```
3. install prisma with ```npm i -D primsa``` and then ```npm

[2021-03-24 00:28] jeremygottfried opened #6223 "Prisma client is forcing me to add many-to-one for relation"
## Bug description

After I updated to prisma 2.19.0 from 2.18.0, my migrations are failing because I didn't have one-to-many relations explicitly defined in my schema.

For example:
[code]

If I run `prisma migrate` without adding `BrandImages` to the `Image` model, I get this error:

It's not really a breaking change per se because I can run `prisma format` to fix the schema, but I'd rather have

[2021-03-24 06:36] paularah commented on #6088
Hi @Jolg42
I opened a PR for this.

[2021-03-24 07:33] bardsol opened #6224 "prisma migrate deploy: The database server at DATABASE URL was reached but timed out"
## Bug description
"prisma migrate deploy" sometimes crashes in production with the error message:
The database server at `MY.DATABASE.ondigitalocean.com`:`25061` was reached but timed out.
22:46:12.233  	Please try again.
22:46:12.233  	Please make sure your database server is running at MY.DATABASE.ondigitalocean.com`:`25061`

Database is Postgres database with PGBouncer pooling hosted on Digita

[2021-03-24 07:40] yovanoc commented on #1439
is there a way without workspaces?

[2021-03-24 09:16] Jolg42 commented on #3644
Since we publish Prisma 2 CLI to `prisma` package, this issue is fixed.

Prisma 1 CLI can be installed with `prisma1` package.

[2021-03-24 09:16] #3644 closed

[2021-03-24 09:26] Jolg42 commented on #6088
@paularah Thanks for the PR! 💚 I checked it out, it looks good! Just wanted to have Will's review before merging!

[2021-03-24 09:47] Thibault2ss commented on #6049
BTW @tarazena @tom-richter @alexandrduduka, here is how I handle this as a temporary dirty fix, if it can help:

On our ApolloServer (or any graphql server you use) I added a middleware `decimalCastMiddleWare` that will find any DecimalType in the response and convert them to number:

<ins>index.ts :</ins>
[code]

<ins>decimalCastMiddleware.ts :</ins>

[code]

- [see more on graphql middlewares wi

[2021-03-24 10:16] Iamshankhadeep commented on #5910
hey @Jolg42 I will love to work on this.

[2021-03-24 10:38] Jolg42 commented on #5910
@Iamshankhadeep Sure! Thanks!

So actually a test is already here
https://github.com/prisma/prisma/blob/fc68127b51c5d51684211978b057a019569051a9/src/packages/cli/src/__tests__/format.test.ts

So it could be improved with more tests on different schemas:

Like these maybe, they can be added to this folder https://github.com/prisma/prisma/tree/fc68127b51c5d51684211978b057a019569051a9/src/packages/cl

[2021-03-24 10:58] #5941 closed

[2021-03-24 11:37] stabl-finance opened #6228 "orderByRelation bug"
## Bug description

The `orderByRelation`  works on 1/n relations but not n/n

Here is the simplified schema :

[code]

## How to reproduce

The ordering by `gender` relation works fine.
But with `user_to_message_dst` it isn't, it asks me for `count`... :

[code]
 I got :

[code]

## Expected behavior

Should order by related field

## Environment & setup

- OS: Windows
- Database: PostgreSQL
- No

[2021-03-24 11:58] tarazena commented on #6049
@Thibault2ss You can also use a custom directive to cast them as well!

[2021-03-24 13:13] Jolg42 commented on #5063
As a potential workaround, here is an example of doing a truncate on PostgreSQL manually using $queryRaw
Copied from https://github.com/prisma/prisma/issues/742#issuecomment-776901281

[2021-03-24 14:44] MohannadBahaa commented on #6188
@omar-dulaimi

[2021-03-24 15:22] s-kris commented on #6051
As @jhackett1 mentioned, the deploy (two branches) works on vercel perfectly. (both `2.18.0` and `2.19.0`)
https://github.com/s-kris/test-prisma-netlify

[2021-03-24 17:19] Tsvetomir-M commented on #5792
A simple query on 2.14 is much faster than on 2.19.
I have tested with this simple example.

Environment:
[code]

Db model:
[code]

Code:
[code]

Results:
[code]

[2021-03-24 18:10] janpio commented on #1285
Yarn closed the issue:

[2021-03-24 18:14] #1822 closed

[2021-03-24 19:13] chinanderm commented on #5792
I've also noticed considerably slower performance with queries.

[2021-03-24 19:20] janpio commented on #1383
We have a working e2e test with serverless framework and Lambda at https://github.com/prisma/e2e-tests/tree/dev/platforms/serverless-lambda - could you take another look please @pantharshit00 and define what the difference here is? Thanks.

[2021-03-24 19:21] janpio commented on #1371
This should be gone.

[2021-03-24 19:21] #1371 closed

[2021-03-24 19:24] janpio commented on #1015
Issue at Netlify side has been auto closed :(

[2021-03-24 19:27] #661 closed

[2021-03-24 19:33] janpio commented on #3420
This should not really be the case any more - please confirm @pantharshit00 👍

[2021-03-24 19:34] janpio commented on #3410
:shrug:

[2021-03-24 19:34] #3410 closed

[2021-03-24 20:00] Stumblinbear commented on #5108
Doing this prevent transactions from failing if nothing is updated.

[2021-03-24 20:49] aabedraba commented on #5896
Took the solution and successfully implemented it using jest-mock-extended library.

Thanks @pantharshit00 !

[2021-03-24 20:49] #5896 closed

[2021-03-24 22:59] janpio commented on #5023
I confirmed the original problem, build on Windows, deploy to Lambda, does still exist:

[code]

(All comments regarding Serverless and related really belong into https://github.com/prisma/prisma/issues/5053 which is not about the Windows problem)

[2021-03-25 03:03] meotimdihia commented on #6051
[code]
this error is happening on localhost Windows 10 too.

[2021-03-25 05:07] am2222 commented on #3786
Any updates on this?

[2021-03-25 05:48] XiNiHa opened #6236 "DataLoaders not combining findUnique queries that can be combined"
## Bug description

When calling separate `findUnique()` calls, Prisma combines all the queries very well, thanks to the DataLoader.
This works well even when the `where` clause of the `findUnique()` calls are different, by using `IN`.
However, I found that it doesn't combine queries that have the `include` field.
I have logged the queries and found that the exact same two queries were getting fir

[2021-03-25 07:12] jahjedtieson commented on #6173
@pantharshit00,

Below is the stored procedure.  I made the change that you suggested, but the code is still failing with the same PANIC and error details:

[code]

[2021-03-25 07:24] jahjedtieson commented on #6173
I'll add another detail here ... I changed the prisma call to the following (with single quotes around ${query}):
`await DBC.DBConnection.prisma.$queryRaw<SubjectUnitIdentifier[] | null>`CALL SubjectUnitIdentifierQuery('${query}', ${SubjectUnitIdentifier.idVocabARK}, ${SubjectUnitIdentifier.idVocabUnitCMSID}, ${maxResults})`;`

On first execution of this logic, I received the following error messa

[2021-03-25 08:12] llldar opened #6237 "PANIC in /root/.cargo/git/checkouts/rust-postgres-dc0fca9be721a90f/7d3753e/postgres-types/src/lib.rs:760:18expected array type"
Hi Prisma Team! My Prisma Client just crashed. This is the report:

PS: it works well on my local machine and crashed on the server.

## Versions

| Name            | Version            |
|-----------------|--------------------|
| Node            | v14.15.3           |
| OS              | debian-openssl-1.1.x|
| Prisma Client   | 2.19.0             |
| Query Engine    | query-engine c1455d0b443d66

[2021-03-25 08:25] llldar commented on #6237
I'll email/dm you guys the full schema and full code snippet if needed, not going to post them here.

[2021-03-25 08:50] MikaStark commented on #2810
Can't wait to see this feature released :).

[2021-03-25 09:52] mrmntte opened #6239 "`prisma migrate` set field as unique automatically"
## Bug description

When I use a model (pivot table) to create a relation of 3 models, the field that stores a foreign key is set to unique automatically.

See the bottom of the image. `EntityOnCategory_categoryId_unique`

![image](https://user-images.githubusercontent.com/49642108/112453367-9cdd7e80-8d25-11eb-999a-2f6d4da71b78.png)

## Expected behavior

It should not be unique unless specified u

[2021-03-25 10:27] Jolg42 commented on #4914
Closing as the error message is clear enough.

[2021-03-25 10:27] #4914 closed

[2021-03-25 10:29] Jolg42 commented on #1370
Candidated to see if it's still an issue or if it changed since 2 // comments should be ignored now.

[2021-03-25 10:31] Jolg42 commented on #1097
I would assume this works better now, we could try again to confirm.

[2021-03-25 10:38] Jolg42 commented on #4166
Related https://github.com/prisma/prisma/issues/4711

[2021-03-25 10:40] Jolg42 commented on #4002
@do4gr to validate if we error or ignore custom attributes. They are not surfaced in DMMF currently.

[2021-03-25 10:54] Jolg42 commented on #6195
@felinto-dev you can in the latest version customize the ts-node call, see https://www.prisma.io/docs/guides/application-lifecycle/seed-database#set-up-seeding-in-typescript

You could probably set it like `ts-node -r tsconfig-paths/register`

[2021-03-25 10:59] pwntester opened #6241 "Security Issue: Request for contact"
Hello,

The [GitHub Security Lab team](https://securitylab.github.com/) has found a potential vulnerability in your project. Please create a [Security Advisory](https://docs.github.com/en/free-pro-team@latest/github/managing-security-vulnerabilities/creating-a-security-advisory) and invite me in to further disclose and discuss the vulnerability details and potential fix. Alternatively, please add

[2021-03-25 11:03] Jolg42 commented on #6138
Thanks for reporting this.

Unfortunately, we were not collecting the information in our error reporting in a format that allows us to replay the bug. That has changed with 2.19.0. Can you please try again with this version? This should allow us to exactly pinpoint the issue.

I'm closing this one now because we cannot act on it.
Please just open a new issue once you retried with 2.19.0 and still

[2021-03-25 11:03] #6138 closed

[2021-03-25 11:03] Jolg42 commented on #6181
Thanks for reporting this.

Unfortunately, we were not collecting the information in our error reporting in a format that allows us to replay the bug. That has changed with 2.19.0. Can you please try again with this version? This should allow us to exactly pinpoint the issue.

I'm closing this one now because we cannot act on it.
Please just open a new issue once you retried with 2.19.0 and still

[2021-03-25 11:03] #6181 closed

[2021-03-25 11:05] felinto-dev commented on #6195
I tried it and it actually worked.

Thank you very much!

[2021-03-25 11:14] Jolg42 commented on #4742
@do4gr to confirm that 2 // are ignored now.

[2021-03-25 11:16] Jolg42 commented on #6224
Like [posted in public Slack](https://prisma.slack.com/archives/CKQTGR6T0/p1616580030365400?thread_ts=1616536218.356300&cid=CKQTGR6T0)

You could pass a longer timeout in the address
https://www.prisma.io/docs/concepts/database-connectors/postgresql#arguments
[code]
To set the connection timeout to 15 seconds instead of 5s by default.

The issue could be that the database in the same geographic zo

[2021-03-25 11:20] HStromfelt commented on #6026
Thanks a lot for looking into it! I'll keep an eye out and make sure I document as much as possible if I manage to mess it up again

[2021-03-25 11:23] #6195 closed

[2021-03-25 11:24] Jolg42 commented on #6195
Happy that this helped! 💚

[2021-03-25 11:33] #5910 closed

[2021-03-25 11:44] SebastienElet commented on #5022
You may also perform a count + Boolean cast like
[code]

[2021-03-25 11:55] matthewmueller commented on #5245
Just a note that Prisma does work with Rosetta emulation. We don't yet support native support for M1 though.

[2021-03-25 12:25] janpio commented on #6241
Hi @pwntester, thanks for contacting us. Someone will do as suggested and reach out.

[2021-03-25 12:31] pantharshit00 commented on #6241
You can find our security email address here https://github.com/prisma/prisma#security

It is `security@prisma.io`

[2021-03-25 12:33] Jolg42 commented on #6241
Thank you for contacting us.
We'll look into adding a Security Policy like you mentioned to make the process easier.

[2021-03-25 12:40] pwntester commented on #6241
Thanks, sorry I missed the security alias in the README doc, will send you the details there.

[2021-03-25 12:40] #6241 closed

[2021-03-25 13:19] #2600 closed

[2021-03-25 13:19] #6035 closed

[2021-03-25 13:51] do4gr commented on #6218
Thanks for reporting this, I think I now understand what you mean and am able to reproduce. My more extensive reproduction of a bug caused by this:

If you start with this datamodel and deploy it:

[code]

Then enter this data simple{id: 1, update_date:1, updateDate:10}.

 Then introspect it again, you get
[code]

If you then fetch your data again you get: simple{id: 1, update_date:10, updateDate:

[2021-03-25 14:20] Pompedup commented on #6218
I will explain a lil more.

My db as fields `id` and `update_date` (no `updateDate` In my bdd)

The problem was that when I do this :
[code]
and then introspect, it just remove `@map("updateDate")` because updateDate isn't a field of my db and write no error/warning message

It's just what works:
[code]

[2021-03-25 14:21] euberdeveloper opened #6246 "Prisma query raw with tagged template not working"
When I used tagged template in this query:

[code]

I get this in the query log:

[code]

If I add the parentesis (no tagged template), it works.

## Environment & setup

- OS: Ubuntu 20.14
- Database: Postgres
- Node.js version: 15
- Prisma version: 2.18

[code]

[2021-03-25 15:49] tomhoule commented on #5987
@gavrichards After another session of manual testing on the aurora instance, including data in the tables, I still can't reproduce the issue. I have a few more ideas of what might cause this that I can try to test for locally though, not giving up on the investigation.

[2021-03-25 16:01] carchrae commented on #6206
just to clarify, re the title change - i don't even want prisma to check for changes and start guessing about what needs to be changed!  i just want to generate a blank migration and ideally without wiping my dev database.

much like how rails does it (in the very basic case with an empty template): https://guides.rubyonrails.org/active_record_migrations.html#creating-a-migration

[2021-03-25 16:05] tomhoule commented on #5987
@gavrichards  looking at the migration snippet you pasted again:

[code]

I think there is a bad interaction with the shadow database here in the "ALTER TABLE `svt`.`Slot`" part: the database name is not the same on the shadow database. Can you try to remove the table prefix in the migrations you edited manually and see if that solves the problem? It's definitely something that can happen and caus

[2021-03-25 16:20] jerryhikel-r commented on #6169
I was able to fix it by changing all varchar fields to nvarchar fields.

[2021-03-25 16:20] #6169 closed

[2021-03-25 17:39] tomhoule commented on #6239
Hi @mrmntte — this is something we noticed and have been thinking about recently.

The reason there is a unique index there is that the field defines a 1 to 1 relation between `EntityOnCategory` and `Category`. Migrate adds the unique index to make sure it does not end up as a one-to-many relation in the database. This is something that was necessary with the old relation syntax (until a year ago

[2021-03-25 17:53] pimeys commented on #6169
I'm adding more info to this error so we can debug further what's going on... https://github.com/prisma/tiberius/pull/138

But, it looks like the server gives us a code page we don't recognize.

[2021-03-25 18:07] pizzafox opened #6250 "Atomic scalar list operations"
## Problem

This results in a less pleasant developer experience as well as potential data loss from race conditions.

## Suggested solution

Add `push` (add elements) and `pull` (remove elements) operators.
Maybe also a `pop` operator.

Some thought should be put into the syntax used to push 1 element or 1+ elements. [MongoDB uses an object with the `$each` operator](https://docs.mongodb.com/manu

[2021-03-25 18:08] pizzafox commented on #6250
Just realized this is a (partial?) duplicate of #5078 and is partially solved by prisma/prisma-engines#1753.

[2021-03-25 18:46] Capsicum42 opened #6251 "Getting Error Message: Inconsistent column data: Conversion failed: premature end of input"
## Bug description
I have a simple schema:
[code]

## How to reproduce
[code]
The script run until the last step `prisma.action.findMany({})`

The following Error is thrown:
[code]

## Expected behavior
Everything was compiled without error:
´yarn prisma generate´
´yarn prisma migrate dev´

I would expect a list of data or an Error in advance, If my schema is wrong.
Content of Action in database:

[2021-03-25 18:57] Sytten commented on #3076
@albertoperdomo This should be revisited now

[2021-03-25 19:42] Sytten opened #6252 "Select none in update"
## Problem
Currently an `update` is quite slow because it does 3 steps:
1. Select my thing
2. Update my thing
3. Select my thing

I do understand the need for the first select to make sure it updates only one record, but the last one if a bit annoying.

## Suggested solution

It was suggested elsewhere that it could be using a `RETURNING`/other similar clause to remove the last one.
This would be

[2021-03-25 19:44] gavrichards commented on #5987
Thanks @tomhoule. I've altered the migration to remove the prefix. Then I ran migrate, it asked me to reset my DB so I accepted. I'm now trying to get things running again to see if the issue is still present once I've added some data, but I'm hitting a brick wall. This might be unrelated so feel free to tell me to create a new issue, but every call to my API (and by extension Prisma) is giving me

[2021-03-25 20:05] tomhoule commented on #5987
Hmm looks like a typescript issue, I'm not an expert on that, relaying that to people who know — it's 9pm here in Berlin so I wouldn't expect an answer before tomorrow :) Thanks for your patience!

[2021-03-25 22:47] gavrichards commented on #5987
It's specific to `2.19.0`. I've rolled back to `2.18.0` and I don't get the "TypeError: debugLib is not a function" error.

[2021-03-25 23:07] gavrichards commented on #5987
Ok some good news. Now I'm back on `2.18.0` I've been able to:

- Run `prisma migrate dev` and no migration is generated as nothing has changed
- Run my app and add some data, particularly to the Slot table, creating a situation where multiple slots have the same parent ID (requiring that index to not have the unique constraint)
- Made a change to the schema
- Run `prisma migrate dev` again, the c

[2021-03-25 23:18] mrmntte commented on #6239
You are right, I changed:
`entity EntityOnCategory?`
to
`entities EntityOnCategory []`
And it works as it should.

Thank you Tom.

[2021-03-25 23:18] #6239 closed

[2021-03-26 06:40] Iamshankhadeep commented on #6151
hey @Jolg42 can I work on this?

[2021-03-26 06:45] garretteklof opened #6256 "Prisma Migrate fails with geospatial types"
## Bug description

When trying to initialize migrations on an existing project with geospatial types the migration fails with `ERROR: type "geometry" does not exist.`
## How to reproduce

Create Postgis database and table with column type "geometry" and run `prisma migrate dev`
## Expected behavior

To initialize the migration history.
## Prisma information

Example of a model in the Prisma schem

[2021-03-26 07:00] tomhoule commented on #5987
I'm super glad to read this! Sorry it took so long to get you back on track, and thanks for your patience. Let's keep this issue open, at least until we have more specialized issues or solutions for the `debugLib` crash and the implicit unique constraints.

[2021-03-26 08:53] pantharshit00 commented on #6189
I can reproduce this. Thanks for detailed report. We should patch this. cc @pimeys

[2021-03-26 09:02] do4gr commented on #4602
This still occurs on 2.19 the underlying problem is this:
https://stackoverflow.com/questions/13606469/cannot-change-column-used-in-a-foreign-key-constraint
The SQL we produce is `ALTER TABLE `Student` MODIFY `careerId` VARCHAR(191) NOT NULL;`

On Postgres this works. On MySQL 5.6 I can confirm it breaks.

[2021-03-26 09:06] pantharshit00 commented on #6219
@fugohan You are trying to use Prisma on frontend which is not possible. Either use it in next js api routes: https://nextjs.org/docs/api-routes/introduction or use it in getServerSideProps or getStaticProps: https://nextjs.org/docs/basic-features/data-fetching#getserversideprops-server-side-rendering

[2021-03-26 09:06] #6219 closed

[2021-03-26 09:11] pantharshit00 commented on #1015
I am not sure people are even using that package. Seems like netlify dev is the new cli now.

These multiple CLIs from netlify is confusing.....

[2021-03-26 09:18] Jolg42 commented on #5987
@gavrichards

About this it seems we have a reproduction by a user here https://github.com/prisma/prisma/issues/6051#issuecomment-801901829, maybe follow that issue to get the updates.

[2021-03-26 09:27] pantharshit00 commented on #6250
I will consider it as full duplicate of #5078 and it will available in the next release. For deletion, you will need to use set as you can't uniquely identify them and there can be duplicates so it will be application specific logic.

[2021-03-26 09:27] #6250 closed

[2021-03-26 09:29] MurzNN opened #6258 "Ability to receive records as Map or Object (associative aray by unique value) in findMany() function"
## Problem

Very often the `findMany()` function used to receive records, that must be quickly accessible by it's unique identifier (`id` field or some other field).
So in most of times developers need to implement the conversion of array, received from prisma-client, to Object or Map by needed field as key.

## Suggested solution

Will be good to have build-in argument in function `findMany()` to

[2021-03-26 09:37] pantharshit00 commented on #6246
Hey @euberdeveloper

Can you please paste the error here? It is hard to reproduce this without sql schema of your database as well so please also provide that if possible.

[2021-03-26 09:39] gavrichards commented on #6051
I've had `TypeError: debugLib is not a function ` happening locally. Next.js (latest version), macOS. Downgrading Prisma to `2.18.0` fixed it.

[2021-03-26 09:40] gavrichards commented on #5987
Thanks @Jolg42 I've commented there.

[2021-03-26 10:11] paulrostorp commented on #4645
@tomhoule @Jolg42 any updates on this ? I'm still open to implement this myself if I can get some pointers 🙂

[2021-03-26 10:20] tomhoule commented on #4645
I'm candidating this for prioritization.

[2021-03-26 11:22] meotimdihia opened #6259 "Select distinct generated query doesn't use LIMIT"
## Bug description

it seems Select Distinct generate Query doesn't use LIMIT.
https://www.prisma.io/docs/concepts/components/prisma-client/aggregation-grouping-summarizing#select-distinct
I'm using the newest Prisma version.
The problem is discussed here: https://github.com/prisma/prisma/discussions/6227

## How to reproduce

[code]

## Environment & setup

- OS:  Windows 10
- Database: PostgreSQ

[2021-03-26 11:30] meotimdihia commented on #5031
Hi, could you speed up this feature? I'm have used Prisma for 3 months in the production and never find out, sometimes some scripts spawn `query-engine-debin-openssl'.

![chrome_2021-03-26_18-27-02](https://user-images.githubusercontent.com/300961/112625175-247bd800-8e61-11eb-9187-c2e419503e03.png)

and it takes all my server memory. I knew my code is the problem, but not always you can find out w

[2021-03-26 12:08] pantharshit00 commented on #5031
@meotimdihia This will be soon resolved via https://github.com/prisma/prisma/issues/4911 as then node can directly call rust function instead of spawning a binary process. It is close to completion and being released in preview so stay tuned.

[2021-03-26 12:54] richardwardza opened #6261 "When updating a record be able to Create and Set related records"

[2021-03-26 13:02] richardwardza commented on #5456
I think I have a similar issue where I'm trying to update a record and create new related records, discarding the existing related records at the same time - https://github.com/prisma/prisma/issues/6261

[2021-03-26 13:07] #6261 closed

[2021-03-26 13:35] pantharshit00 commented on #4972
Hey @samrith-s

Can you please share the XRay information of the deployment with us?

Also, your codebase is fairly sized so it is not trivial for me to deploy without collecting a lot of secrets and other resources. If XRay doesn't show us more details, I will ask you to onboard me on this.

[2021-03-26 13:52] xanxuz opened #6264 "Error when trying to use @db.Time(0) to save data with the format 00:00 using a String"
## Bug description

Use of @db.Time(0) in a DateTime field to save data with the format 00:00 results in an error asking for a DateTime instead of a String.

## How to reproduce

1. Create the model:
[code]
2. Create seed file and insert on main function:
[code]
3. Push the changes
`prisma db push --preview-feature`

4. Seed DB
` prisma db seed --preview-feature`

5. Get error
![image](https://use

[2021-03-26 14:05] euberdeveloper commented on #6246
I thought that the error was the fact that in the query '$1' appeared instead of the date value. Soon I will add the log

[2021-03-26 14:16] garytube commented on #5984
Please add postgis support!

[2021-03-26 14:56] #6185 closed

[2021-03-26 15:02] euberdeveloper commented on #6246
@pantharshit00, this is the error logged

[code]

[2021-03-26 15:04] do4gr commented on #3548
This is still the case as of 2.19

[2021-03-26 15:06] euberdeveloper commented on #6246
I just removed the `'${dateString}'::date` and substituted it directly by injecting the date between the ${}, so `${date}` and it seems to work, do you confirm that if I enclose directly the `Date` object instance it works?

[2021-03-26 15:11] do4gr commented on #2021
Closing this now since the syntax change was completed more than 6 months ago.

[2021-03-26 15:11] #2021 closed

[2021-03-26 15:14] macrozone commented on #2021
👍

the good formatter in vscode really helped to adopt anyway as it adds missing pieces

[2021-03-26 15:55] tradical-allstripes commented on #2444
+1

This feature would be immensely helpful for me and my team

[2021-03-26 16:02] garth opened #6267 "Add option to migrate up to a specific version"
## Problem

It is often necessary to only apply migrations up to a specific point in time. Then perhaps import some data which is only compatible with the schema at that version. Then after apply the later migrations. `prisma migrate` currently only allows all migrations to be run.

## Suggested solution

Add an option to the cli to allow only migrations up until a specific version to be applied.

[2021-03-26 16:07] janpio commented on #4972
Hey @samrith-s, I also took a look at your issue here as I am investigating some things in relation to serverless right now, which include cold start times.

Usually what is referred to as "cold start" in context of Lambda functions is the time it takes for your app to even start "booting", so the time it takes for the Lambda function to be fully set up and being able to execute our custom code. T

[2021-03-26 17:00] pantharshit00 commented on #6246
@euberdeveloper $1 is totally expected. It is prepared variable which prevents sql injection and it is part of postgres prepared statements that we use.

Yes, you can pass direct date instances to it.

[2021-03-26 17:00] #6246 closed

[2021-03-26 17:01] willianhf opened #6269 "Error when introspecting Azure SQL Server database"
I started a new Prisma project from scratch and followed the [Microsoft SQL Server connector guide](https://www.prisma.io/docs/concepts/components/preview-features/sql-server/#limitations-and-known-issues) then I ran the introspect command and the following error was thrown.

## Error
[code]

## Versions

| Name        | Version            |
|-------------|--------------------|
| Platform    | dar

[2021-03-26 17:19] #6189 closed

[2021-03-26 17:57] euberdeveloper commented on #6246
Thank you!

I think that the fact that you can put Date directly inside it could be added to the documentation

[2021-03-26 18:08] janpio commented on #6269
Can you share some information about your database schema? Then we could try to reproduce your problem.

We have end to end tests for running against Azure SQL Server at https://github.com/prisma/e2e-tests/tree/dev/databases/sqlserver-azure-sql, so we know that it fundamentally works.

[2021-03-26 18:15] jalik commented on #5456
@richardwardza see my workaround above : https://github.com/prisma/prisma/issues/5456#issuecomment-772994699
Maybe we could ask for a new feature for that, like adding a `replace` instruction. Do you know if that would be possible/easy to implement ? @pantharshit00
[code]

[2021-03-26 18:18] janpio commented on #1015
Reached out internally: https://prisma-company.slack.com/archives/CAZ0TJPFV/p1616782683004000

[2021-03-26 18:20] janpio commented on #6051
We have an idea what might be going on and are investigating.

[2021-03-26 19:50] janpio opened #6272 "Separate integration tests by database"
When introducing a new database like Vitess (which is a MySQL variant) it would be super helpful to be able to run just the integration tests that use MySQL. To achieve that, we would need to separate the integrations tests by database and make them filterable.

This then would enable us to do things like that: https://github.com/janpio/vitess-framework-testing/pull/3/files or https://github.com/j

[2021-03-26 20:10] uptownhr opened #6273 "Prisma Migrate Failure exposes database connection parameters"
## Bug description

Upon a permission failure in accessing the database, schema or tables, `prisma migrate` will error and expose the full database connection parameters to the logs.

## How to reproduce

Steps to reproduce the behavior:
1. Setup PRISMA schema and adapter (I was connecting in node to postgres)
2. Create a migration
3. Run the migration but change the db permission to deny access
4

[2021-03-26 20:25] alexvilchis commented on #4602
@do4gr It breaks with MySQL 8.0.32 as well.

[2021-03-26 20:27] verythorough commented on #1015
Hello from Netlify! In the years since `netlify-lambda` was created, we've since released [direct bundling and shipping of JavaScript functions](https://docs.netlify.com/functions/build-with-javascript/#unbundled-javascript-function-deploys), so you no longer need to add a step to build your functions using `netlify-lambda`.

Also, as @pantharshit00 noted, we added the `dev` command to Netlify CLI

[2021-03-26 20:27] alaarihan-temco opened #6274 "stack depth limit exceeded"
## Bug description
I got this error when I tried to do nested inside nested update mutation
code: SqlState(\"54001\"), message: \"stack depth limit exceeded\", detail: None, hint: Some(\"Increase the configuration parameter \\\"max_stack_depth\\\" (currently 2048kB), after ensuring the platform\\'s stack depth limit is adequate.\"), position: None, where_: Some(\"SQL statement \\\"UPDATE \\\"

Can

[2021-03-26 20:29] janpio commented on #1015
Thank you so much for this update @verythorough - considering this development I think it is safe for us to close this issue and focus our efforts on other areas.

[2021-03-26 20:29] #1015 closed

[2021-03-26 21:15] MattGson opened #6275 "Support `BIN_TO_UUID` and `UUID_TO_BIN` in MySQL"
## Problem

In MySQL, `uuid()` and `cuid()` are only compatible with String type fields.
To efficiently store uuids in MySQL we need to store as `Binary(16)` and convert using `BIN_TO_UUID` and `UUID_TO_BIN`
functions.

## Suggested solution

Add a native type for MySQL String fields `@db.Uuid` or `@db.UuidBinary`. When this type is specified, Prisma treats the column as Binary(16) and uses the uu

[2021-03-26 21:18] fugohan commented on #6219
Thank you :smile:

[2021-03-26 21:31] garretteklof commented on #6256
Ah, duh. Yep.. that's more than likely the error (will verify and then close soon). Idk why I was assuming Prisma would honor the previously installed extensions when the DB was being reset.

So kind of a silly question, but to clarify the flow for handling this would be to first create a draft (`prisma migrate dev --create-only`) and then add all the database boilerplate (extensions, Postgres fun

[2021-03-26 21:38] janpio commented on #5023
Interesting that https://github.com/prisma/e2e-tests/pull/1539 shows that Serverless Framework, deployed to Lambda from Windows does not show the same failure - so they are doing something to fix that problem.

[2021-03-26 22:49] androsj opened #6276 "Error when using `join` raw query helper with SQL Server"
## Bug description

Hello, this is most likely MS SQL Server specific.

I'm trying to run a raw query with an `IN` clause for which I'm using the `Prisma.join()` helper, as shown [here](https://www.prisma.io/docs/concepts/components/prisma-client/raw-database-access#tagged-template-helpers).

I get the following error:
[code]

## How to reproduce

1. Connect to an sql server database
2. Run a raw

[2021-03-26 23:03] janpio opened #6277 "`db push` crashes when used on specific Postgres connection string with non existing database"
## Bug description

- I have a Postgres database at DigitalOcean.com
- By default it has the database `defaultdb`, that one could be `db push`ed successfully
- I changed the db name to `1` or `foo` in the connection string
- When I run `npx prisma db push --preview-feature` I get a crash:

[code]

## Expected behavior

No crash, but database is created and schema created.

## Prisma information

[

[2021-03-26 23:04] janpio commented on #6273
I can confirm similar behavior for `db push`, see error message from https://github.com/prisma/prisma/issues/6277 which included the actual password instead of `...`.

[2021-03-26 23:10] janpio commented on #6277
Problem does not exist for MySQL database hosted at DigitalOcean.

[2021-03-27 08:39] pantharshit00 commented on #6088
Looks like PR is merged so I am closing this.

[2021-03-27 08:39] #6088 closed

[2021-03-27 08:46] igor-mardari-ft opened #6279 "Wrong type for $on method in PrismaClient"
## Bug description

When using `prisma.$on('error'` I get error a compilation error
![image](https://user-images.githubusercontent.com/68684530/112715112-3b650d80-8ee7-11eb-81db-280c940293b9.png)

## How to reproduce

1. Just do somewhere in the code `prisma.$on('error'`. Instead of `error` it could be any `LogLevel`.

## Expected behaviour

I shouldn't get a compilation error when using `'error'`

[2021-03-27 09:40] GarryOne commented on #6279
EDIT: I found this similar issue: https://github.com/prisma/prisma/issues/4746 now, if I add
```<Prisma.PrismaClientOptions, 'error'>``` it works, but this info is nowhere in the documentation. Would be helpful to be included asa example because it's not an obvious thing.

Thanks.

[2021-03-27 10:40] pabacham commented on #6279
The same issue happens with such construction in Nest.js
import { Injectable, OnModuleInit, OnModuleDestroy } from '@nestjs/common';
import { PrismaClient } from '@prisma/client';
import { logQueryDuration } from './middlewares/logQueryDuration';

@Injectable()
export class PrismaService
  extends PrismaClient
  implements OnModuleInit, OnModuleDestroy {
  constructor() {
    super({
      log: [

[2021-03-27 10:43] pabacham commented on #6279
`extends PrismaClient<Prisma.PrismaClientOptions, 'query'>`
works for me. Thanks.

[2021-03-27 13:47] chinanderm commented on #5607
Docker has released Docker Desktop RC 2, in which they've switched to a qemu-based virtual machine. Performance is drastically improved.

My Prisma `seed` script took about 5 minutes on previous versions of Docker. Now it takes 50 seconds 🎉

[2021-03-27 14:50] DTX-92 opened #6282 "Unable to deploy migration. Database error: Error querying the database: db error: ERROR: permission denied for table _prisma_migrations"
## Bug description

I can't deploy new migration to production database on heroku. 25 migrations already applied and everything was working fine until today. Meanwhile, deploying migrations to dev database on heroku runs without errors.
![image](https://user-images.githubusercontent.com/20479161/112724290-b8ae7380-8f23-11eb-8206-ff2f8960c0d8.png)

## How to reproduce

I can't reproduce it on dev d

[2021-03-27 16:11] #4066 closed

[2021-03-27 16:59] kidehen opened #6283 "ODBC Binding?"
I am interested in an ODBC binding that broadness the data access scope of Prisma.
[OpenLink Software](http://www.openlinksw.com) (my company) has long been involved in the implementation of the ODBC SDK and Runtime across multiple platforms via the [iODBC project](http://www.iodbc.org/dataspace/doc/iodbc/wiki/iodbcWiki/WelcomeVisitors). We are also leading providers of ODBC Drivers for all the ma

[2021-03-27 17:05] unimatrix27 opened #6284 "Mysql Decimal type still has JS rounding errors?"
Hi, I upgraded to prisma 2.19 go use the native types to get rid of issues with javascript number rounding errors.

My Mysql DB has a field DECIMAL(20,10) which is introspected correctly as decimal type.

If i create a new record with the value 607013.31 into the table, then it actually inserts 607013.3100000001. I have checked the mysql logs and it actually is something in the query, not the DB.

[2021-03-27 20:54] willianhf commented on #6269
This is the schema of the table that is throwing error when trying to introspect:

[code]

[2021-03-27 21:49] tarazena commented on #6284
I think its related to  #6049

[2021-03-28 01:25] gradinarot commented on #3528
is there any news on this?

[2021-03-28 03:52] #6256 closed

[2021-03-28 07:44] muditgoel01 commented on #1638
Besides adding `&pgbouncer=true` also make sure that:

If you have created a new database user, make sure you have assigned proper permissions to it.

Docs: https://www.digitalocean.com/docs/databases/postgresql/how-to/modify-user-privileges/
Video: https://youtu.be/tsOHw2T1HvI?t=596

But even after that, although DB connection pooling is working properly in most cases, it just does not work with

[2021-03-28 10:24] unimatrix27 commented on #6284
yes but I am happy to use decimal.js. Conversions between number and decimal and back are correct and dont have this problem. The whole point of decimal.js is to avoid the floating point issues. so it seems to be somewhere in the prisma adaption of decimal.js when converting into the INSERT query string

[2021-03-28 10:27] garytube opened #6287 "Optional columns in schema are not optional in type def."
## Problem

Hi Folks,

my database has a field `created_at` which gets automatically filled with a timestamp. It's marked optional in prisma schema but the corresponding type definition is not.

[code]

[code]

## Suggested solution

**created_at** is either Date OR NULL - but in my understanding it should be  created_at?: Date | null (optional)

## Additional context

In my code i'm constructing

[2021-03-28 15:26] sorenbs commented on #6258
This is an interesting idea!

If you are using Lodash, you could either use [keyBy](https://lodash.com/docs/#keyBy) to turn the array into an object or use [find](https://lodash.com/docs/#find) to search for the correct element in the array.

The general problem is that JavaScript has a very thin standard library. The question is how much of the missing standard library we should implement in Pris

[2021-03-28 15:35] sorenbs commented on #6081
Hi @daniellwdb 👋

Thank you for opening this issue! As we are prioritising support for new languages we look at where we can have the biggest impact by providing a developer experience that is better than the existing options. It would be helpful if you could share some areas or features that you are looking forward to in particular that existing solutions like EF and Dapper doesn't provide.

[2021-03-28 16:41] daniellwdb commented on #6081
@sorenbs It's been a long time since I have used C# with EF, I was looking forward to support to get back into the .net core ecosystem again but you are right about thinking of features that the other options don't provide, I do not think this language should be prioritised over other languages if there is not enough need for it, I have not used Dapper but to start off I have a few small ideas on

[2021-03-28 17:43] jplindstrom commented on #2312
Awesome, will try this out! :+1:

Do you think you could add it to https://melpa.org/ please so it's convenient to install?

[2021-03-28 17:46] jplindstrom commented on #2312
You could mention it here as well: https://www.prisma.io/docs/concepts/more/editor-setup

I only found this after searching in the issues.

[2021-03-28 18:35] jhackett1 commented on #5837
i think this is what i need to. in my case it's for a chat-like application:

- find all the user's contacts
- include the most recent message exchanged (a nested relation)
- order contacts by the most recent message
- limit (take?) the number of messages to the last one (since the last message is all that's shown, and there could be hundreds of messages per contact)

this doesn't work:

[code]

[

[2021-03-28 21:59] armendh commented on #6216
@timsuchanek
I'm having the same issue.

[2021-03-28 22:23] xanxuz opened #6292 "Using the @unique constraint gives an error when Hasura tries to track the tables that use it"
## Bug description

When I use an @unique constraint on a field (required or optional) and then try to use the table containing that field in Hasura, it gives an error saying:

### Adding existing table/view failed
**"cannot include model.field_unique" in the GraphQL schema because it is not a valid GraphQL identifier"**

## How to reproduce

1. Create two models to confirm

[code]

2. Push the ch

[2021-03-29 01:21] narciero commented on #6139
fwiw, I have also started seeing a large number of these errors popup randomly on Google Cloud Run, they started after updating to 2.18.0 (from 2.17.0) and are still occurring on 2.19.0. I am using Prisma with `nexus` and these errors happen regardless of cold-starts.

Unfortunately i'm not sure how to reproduce other than running a service in GCR and just waiting for it to happen. It happens rand

[2021-03-29 06:02] Capsicum42 commented on #6251
I found the solution:

I have created the entries in Action manually. The field ´updatedAt ´ was empty. This causes the error.

[2021-03-29 06:02] #6251 closed

[2021-03-29 06:05] tomhoule commented on #6273
This is bad — for now I will do a quick review of the migrate codebase to fix this and search for similar cases.

I also created an internal issue for us to spend time finding mechanisms to make sure it doesn't happen again.

[2021-03-29 06:10] tomhoule commented on #6256
Hi @garretteklof — yes this is exactly the expected workflow. In general, the right mental model is that migrate will execute all the SQL in your migrations, and only the SQL in your migrations, so it has to include things like `CREATE EXTENSION` statements. This is both for databases after a `reset` and the shadow database, so it is important.

[2021-03-29 08:18] DTX-92 commented on #6282
Okay. I've exceeded 10000 heroku row limit.

[2021-03-29 08:18] #6282 closed

[2021-03-29 08:34] #5762 closed

[2021-03-29 08:36] #5748 closed

[2021-03-29 09:29] #6273 closed

[2021-03-29 09:30] tomhoule commented on #6273
@uptownhr https://github.com/prisma/prisma-engines/pull/1787 should fix this short term. As noted above we scheduled some time to ensure we have mechanisms in place to prevent this from happening again in the future.

[2021-03-29 09:30] tomhoule commented on #6273
The fix will be in tomorrow's release (2.20.0).

[2021-03-29 10:06] rolandboon commented on #5044
I think you can solve this issue by using the new `uncheckedScalarInputs` feature:

[code]

However, the `uncheckedScalarInputs` feature cannot be combined within models that have both belongsTo and hasMany relations. Has many relations cannot be set with unchecked inputs and the update method accepts either `WorkUncheckedUpdateInput` or `WorkUpdateInput`, not a mix.

This is `not assignable to ty

[2021-03-29 10:22] Jolg42 commented on #5023
@janpio indeed, they seem to chmod to 755 for windows here when zipping https://github.com/serverless/serverless/blob/6e3e21cafaa053a0f30239513eac5c7a725b7694/lib/plugins/package/lib/zipService.js#L92-L99

[2021-03-29 11:19] matthewmueller commented on #5977
@Sytten @s-kris can you help me understand the problem a bit better. Right now it's not super clear.

High query-per-second with a low connection_limit will cause timeouts. This is expected.

     Your query requests are waiting for a limited amount of connections to free up. Eventually they timeout. Increasing the connection_limit is a temporary solution, but the real solution is to upgrade your

[2021-03-29 11:43] s-kris commented on #5977
Hi @matthewmueller

No I didn't increase `connection_limit` but changing `pool_timeout` seems to get rid of the error.

https://github.com/prisma/prisma/issues/6014#issuecomment-795589315

[2021-03-29 12:30] Jolg42 commented on #4238
e2e runs for ubuntu
and macOS: see https://github.com/prisma/e2e-tests/blob/dev/.github/workflows/test.yaml#L570-L578

[2021-03-29 12:42] Sytten commented on #5977
Its on the way of being resolved, did a bunch of fixes already. I suggest you sync with @pimeys .

[2021-03-29 12:57] #6151 closed

[2021-03-29 14:50] matthewmueller opened #6301 "Preview feature feedback: Node-API support (`nApi`)"
Please share your feedback about the `nApi` functionality released in [v2.20.0](https://github.com/prisma/prisma/releases/tag/2.20.0) in this issue.

- If you encounter a bug, please [open a bug report](https://github.com/prisma/prisma/issues/new?assignees=&labels=&template=bug_report.md&title=) in this repo.
- If the feature is working well for you, please share this in a comment below or leave a

[2021-03-29 14:51] androsj commented on #6276
hi! just want to add that I now ran an actual test query with the same results: **It tries to convert an object to int**
It was late on Friday when I ran into this issue and didn't have time to confirm it. 😅

[2021-03-29 14:52] matthewmueller commented on #4893
This one will be stabilized in `2.20.0`. Thanks for the comments everyone! We'll continue in separate issues.

[2021-03-29 14:52] #4893 closed

[2021-03-29 14:52] matthewmueller commented on #5437
This one will be stabilized in `2.20.0`. Thanks for the comments everyone! We'll continue in separate issues.

[2021-03-29 18:28] dvins commented on #6042
We just ran into this as well today and not sure why it's not tagged as discussion and not a bug.

It incorrectly prevents building optional relationships with compound keys. For example, in a multi-tenant database use case , that ensures tenant scope in all relationships, e.g. `someEntity  SomeEntity?  @relation(fields:[tenantId, someEntityId], references: [tenantId, some EntityId]` throws a sche

[2021-03-29 18:40] janpio commented on #5023
TIL you can set the permission of a file when putting it into a zip file 👍

[2021-03-29 18:42] janpio commented on #6014
Awesome, so this was just an overlap in error messages leading to confusing output.
If you encounter any error messages again, please let us know by opening a new issue 👍

[2021-03-29 18:42] #6014 closed

[2021-03-29 18:49] janpio commented on #1638
Can you open a new issue about the problems you are experiencing please @muditgoel01? I see no way how this could really be connected to using PgBouncer, but we are happy to look into that (optimally with a small reproduction repository).

[2021-03-29 18:50] janpio commented on #6284
Could you quickly recreate your issue following the issue template @unimatrix27 from https://github.com/prisma/prisma/issues/new?assignees=&labels=&template=bug_report.md&title=? Then we are happy to reproduce this and confirm if we can - and then of course try to fix it. Thanks!

[2021-03-29 18:50] #6284 closed

[2021-03-29 18:57] janpio commented on #6216
Can you share the full output you are getting while installing the project on that environment?

[2021-03-29 19:00] janpio commented on #6292
Interesting, did I assume correctly that you are using `prisma db push` to push these changes to your database?

[2021-03-29 19:14] xanxuz commented on #6292
Yes @janpio , give me a second and I will add it to the issue description

[2021-03-29 19:20] xanxuz commented on #6292
@janpio let me know if you need more info 🙂

[2021-03-29 21:03] pimeys commented on #6301
Follow-up ticket for the issue with more than one engines: https://github.com/napi-rs/napi-rs/issues/518

[2021-03-29 21:22] kgoggin commented on #4414
I ran into this also. Our DB started life with Prisma 1, and so we've got several places where P1 created tables with mediumtext  columns marked as `@unique` that have an index defined that selects a sub part of that field, so that it can be unique:

[2021-03-29 21:40] samrith-s commented on #4972
Hey @janpio

Thanks, I will post the XRay information (which I have to enable) soon. What you're saying makes sense. So basically in NestJS we have a bootstrapping phase where it inits Prisma. We have consistently observed longer start times when we use the module which uses Prisma than the ones without.

Thanks for this, I will try and get the info for @pantharshit00 soon.

[2021-03-29 21:46] wyrd-code commented on #6000
Just to chip in, I'm getting similar errors with the latest version. They fire randomly when several requests are being made in parallel to the api (all of them routed to use the generated prisma client to access the db).

So, the same endpoint will work and then throw for the same query. This happens for `findMany` and for `aggregate` methods.

I'm using Postgres and this is local dev. I don't ha

[2021-03-29 21:54] samrith-s commented on #4972
@pantharshit00 Here you go
![image](https://user-images.githubusercontent.com/9032162/112904545-61f29680-90e9-11eb-9261-960a0b557c88.png)

Another thing to note, that after using provisioned concurrency, the start times have reduced drastically.

Here is our catalog service which doesn't use provisioned concurrency.
![image](https://user-images.githubusercontent.com/9032162/112904965-01b02480-90ea

[2021-03-30 03:12] f0rr0 commented on #4972
@Jolg42 i think using provisioned concurrency might be a temporary solution to get around the problem for now but it cannot be a long term solution. A major reason for using lambda at scale is to have automatic scale down to zero at least for infrequently accessed services.

In my experiments I noticed a couple of things which might be helpful to further investigate this:

- Prisma is the biggest

[2021-03-30 06:54] #6237 closed

[2021-03-30 07:52] Jolg42 commented on #5866
@nihemak current status is documented here:

https://www.prisma.io/docs/guides/deployment/deployment#aws-rds-proxy

[2021-03-30 07:58] Jolg42 commented on #4972
@f0rr0 Yes, though because of how lambda works today there will always be some kind of cold start. Even for an infrequently accessed service, I think that setting a provision of 1 instance would be doable / won't cost that much.

- You can expect to see the query engine get bigger in future releases but this should not affect the cold start significantly. It seems that the most significant "setup"

[2021-03-30 09:04] matthewmueller opened #6312 "Preview feature feedback: Find a relation's count (`selectRelationCount `)"
Please share your feedback about the `selectRelationCount` functionality released in [v2.20.0](https://github.com/prisma/prisma/releases/tag/2.20.0) in this issue.

- If you encounter a bug, please [open a bug report](https://github.com/prisma/prisma/issues/new?assignees=&labels=&template=bug_report.md&title=) in this repo.
- If the feature is working well for you, please share this in a comment b

[2021-03-30 09:54] timsuchanek commented on #6051
Thanks everyone, in the latest dev version, we fixed the `debugLib is not a function` problem.
It'll get released in `2.20.0` today.

The original error reported in this issue `binary for current platform "rhel-openssl-1.0.x" could not be found` is not fixed by this though. We will continue investigating that next sprint.

[2021-03-30 09:59] #5079 closed

[2021-03-30 11:28] matthewmueller commented on #5051
I confirmed this issue with MySQL.

If you add a `default-time-zone` to your MySQL config (`/usr/local/etc/my.cnf`)

[code]

Then you run the Prisma Client:

[code]

MySQL does not convert that UTC time `+08:00`, so the times in your database are 8 hours off. This explains why the middleware @TooBug mentioned works.

For reference, I created these two rows at the same time:

| id| created_at

[2021-03-30 11:53] janpio commented on #6237
Could you fix this problem? If not, sending us the schema to schemas@prisma.io would indeed be useful 🙏

[2021-03-30 12:40] kladnik opened #6318 "Memory leak"
Hi Prisma Team! My Prisma Client just crashed.

I currently have issues with Prisma that is deployed on Google App Engine. There is clearly a memory leak and I get a lot of errors from prisma - **Error in PostgreSQL connection: Error { kind: Closed, cause: None }**. I am using a single prisma client to access everything and couldn't find any issues, so any help would be appreciated.

The memory us

[2021-03-30 13:46] pimeys opened #6319 "Test float values over N-API bridge"
## Problem

If not compiled with the right features, the engine might use the faster JSON float conversion, leading to inaccuracies.

## Suggested solution

We should test this. A good float test value is `0.9215686321258545`, when sent to the engine over N-API and read back from there, should hold the same value.

When not utilizing the correct features for the serde crate, the value comes back a

[2021-03-30 15:12] janpio commented on #6318
Can you possibly share your application or is it closed source?
If it is closed, can you describe how you use Prisma in that app?

Just to clarify: The errors are expected, and handled, and you are asking if those could lead to memory problems - correct?

[2021-03-30 15:28] kladnik commented on #6318
Hi @janpio, thanks for the reply.

This is a closed source project, so sadly I cannot share the code.
Here is the code for how my prisma client is initialized.

[code]
Every read/write is using the above prisma client. It's currently also the only connection to db (except when I manually run few queries).

Correct, I'm just throwing out ideas, since I am not sure what could be the culprit.

Oh, so

[2021-03-30 16:03] matthewmueller opened #6320 "Upcoming Breaking Change: `.aggregate` will Change"
Today aggregations on nullable fields always returns 0, even if there’s no records or if all records are null. Returning 0 for null values makes it impossible to differentiate between these two different results.

We're fixing this in 2.21.0. Next release, we're changing aggregates to follow what the database returns:

- All aggregated fields, whether they are nullable or not, will be nullable. Th

[2021-03-30 17:17] gavrichards commented on #6051
Confirmed `TypeError: debugLib is not a function` is no longer happening. Thanks for the fix!

[2021-03-30 17:34] Akxe commented on #6301
@matthewmueller Why would anyone want 2 instances of PrismaClient?

[2021-03-30 17:39] Akxe commented on #5079
Should not the key (`_count`) be a symbol instead of plain string?

[2021-03-30 18:21] pimeys commented on #6301
@Akxe we have one test at least that utilizes them, and we found the issues from that test...

[2021-03-30 18:46] llldar commented on #6237
Thank you, I was able to fix the problem by renaming the enum name to
singular form. i.e: from OAuthGrants to OAuthGrant. And no more problems.
Although it's a bit wierd that the code is relying on naming conventions to
work.

On Tue, Mar 30, 2021, 7:54 PM Jan Piotrowski ***@***.***>
wrote:

[2021-03-30 19:46] ryanhefner commented on #4870
@Jolg42 @pantharshit00 I have been running into this issue for the past day or so, no matter what I set for the `DATABASE_URL=postgresql://postgres:postgres@database:5432/prisma`, I keep getting the following error:

[code]

Seems to be associated with updating from `@prisma/cli` to `prisma`, but I’m not 100% sure about that. I have tried, `database`, `127.0.0.1` and `localhost`, all resulting in

[2021-03-30 19:56] kevinvdburgt commented on #2377
As this feature sadly didn't make it in milestone **2.18.0**, **2.19.0** and **2.20.0**, I've came up with a simple solution by using a script.

There is a little hack to keep the linters happy by simply adding the relations below the `// GENERATE-PRISMA-SCHEMA-DELETE //` line.

---

### scripts/generate-prisma-schema.ts
[code]

---

### src/modules/users/database/schema.prisma
[code]

---

### sr

[2021-03-30 20:20] Xample commented on #861
Hi, just to mention I also have building problems, I proudly build my backend using prisma within a docker.

My Dockerfile looks like this

[code]
Because the client is built into the `nodes_module` and that one to be excluded from docker, I generate the files at the docker build time. BUT… I get the following error
[code]
ha… okay I am using a mac mini m1, which mean the dockerized linux seems to

[2021-03-30 21:55] janpio commented on #6301
Because you would want to connect to two different databases, or connect to the same database with different timeouts, some other configuration and so on @Akxe - multitude of reasons really. Not very common, but we wanted to document that these use cases could currently be problematic.

[2021-03-30 21:57] janpio commented on #4870
Does `prisma db pull` work @ryanhefner? Or using Prisma Client?

[2021-03-30 22:14] janpio commented on #6318
We have a few issues about Cloud SQL and `connection closed` or `Error { kind: Closed, cause: None }` - so that was interesting information.

We have not heard about memory leaks in that context though, so I am a bit puzzled.

Your code obviously looks good. We'll have to investigate.

You do not by chance have a test suite, load test or similar, that can trigger the same behavior and problems?

[2021-03-30 22:41] janpio commented on #4972
@samrith-s Connecting to the database would be the obvious candidate how "adding Prisma to a project" could easily increase the boot/start time of your app. So if you call `$connect()` or execute any query, that would happen. You could use custom segments for X-Ray (https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-nodejs-subsegments.html) or some simple time measurement in your code to fi

[2021-03-30 22:42] samrith-s commented on #4972
I'll try the stuff you've mentioned and post the logs here tomorrow!

[2021-03-30 23:10] Akxe commented on #6301
Thanks for sharing tips, i do really appreciate that 😊

[2021-03-31 00:39] ryanhefner commented on #4870
@janpio Actually, I think this, #6321, will solve the issue I am having. Or, at least get me a bit closer to solving the issue. Any idea when you plan on releasing that fix?

[2021-03-31 01:33] gogoout opened #6326 "Feature Request: expose official parser in the sdk"
## Problem
Prisma is designed to have the schema as the single source of truth, the ability of having a parser is critical to large project. Having the AST information, will unlock a lot of potential use cases:
- create third party IDE plugins
- create custom middleware based on the schema
- automation in transforming the schema
- code first approach in using prisma

Currently the prisma sdk expos

[2021-03-31 01:50] meeq opened #6327 "Prisma client runtime causes "Critical dependency" warning in Webpack"
## Bug description

`prisma/client/runtime/index.js` triggers a Webpack warning:

[The Webpack team strongly advises not to ignore this warning](https://github.com/webpack/webpack/issues/196#issuecomment-71917456) because it indicates a potentially severe de-optimization to Webpack's bundle resolver:

This is due to the implementation of `loadEngine` which calls `require` with a variable:

[code]

[2021-03-31 02:02] meeq opened #6328 "Prisma is not compatible with Next.js webpack5 opt-in"
## Bug description

Next.js recently announced the move to Webpack 5, which is supported by opting-in with `next.config.js`: https://nextjs.org/docs/messages/webpack5

Prisma fails to initialize when used with Next.js when `future.webpack5` is `true`:

[code]

Prisma appears to be attempting to read the schema file from the wrong place.

## How to reproduce

Steps to reproduce the behavior:
1. Cre

[2021-03-31 05:46] narciero opened #6329 "Error in PostgreSQL connection: Error { kind: Closed, cause: None }"
Since upgrading to `2.18.0` (now on `2.19.0`) I have been experiencing a large number (10+/day per ~1k req/day) of the below error, my application is running on Google Cloud Run and I am using Postgres 12 via Cloud SQL.

These errors happen for all different queries/mutations and there is no discernible pattern that triggers the error, they happen regardless of cold-start, mem/cpu usage, etc.

Hi

[2021-03-31 06:41] Xample commented on #861
Another guy is having the same problem:
https://stackoverflow.com/questions/66530969/docker-compose-up-issue-using-docker-apple-m1

Do anyone knows if this is fixable yet ?

[2021-03-31 07:18] williamluke4 commented on #6119
@timsuchanek Added tests for this here
- [integration/happy](https://github.com/prisma/prisma/blob/master/src/packages/client/src/__tests__/integration/happy/selectRelationCount/test.ts)
- [types](https://github.com/prisma/prisma/blob/master/src/packages/client/src/__tests__/types/selectRelationCount/test.ts)

[2021-03-31 07:18] #6119 closed

[2021-03-31 07:31] janpio commented on #861
If your questions are about M1 support @Xample, you should post in https://github.com/prisma/prisma/issues/5245 instead of this closed issue. Those tend to be ignored.

[2021-03-31 07:33] janpio commented on #4870
Today, but I do not see any relation to this problem here at all. The PR you linked to only fixes a problem you have when running a global installation of Prisma with the newest version 2.20.0, via `npm install -g prisma`.

[2021-03-31 07:38] janpio commented on #6329
Thanks, we seems to have _some_ problem there in relation to Google Cloud's _something_, see the labels I applied to this issue and the issues in there. It has been pretty spotty in the past, but seems to be more present now. We have a hunch that it is about connection management with the Cloud SQL instance, and are working on a fix already - but as we have no real reproduction (which we can repro

[2021-03-31 07:44] timsuchanek opened #6330 "Expose `user._count()` chaining api"
When we [introduced count on relations](https://github.com/prisma/prisma/releases/tag/2.20.0), we make it possible to write a query like so:

[code]

What is not possible yet, but we could totally make it happen:
[code]

[2021-03-31 07:45] Jolg42 opened #6331 "`npm install -g prisma` detects fails with"
[code]

Thread in private Slack
https://prisma-company.slack.com/archives/CSP5ZBE0Y/p1617121104020800

[2021-03-31 07:54] pimeys commented on #6176
We do not support the geography types due to not supporting PostGIS either on PostgreSQL. But, I'd like to take a look a bit what it would mean for us to add support at least on SQL Server...

[2021-03-31 08:13] tomhoule commented on #6292
Hi @xanxuz — we are currently working on a principled stance on index names.

Would something like `@@unique([email], name: "my_index")` work?

[2021-03-31 08:18] Xample commented on #861
well, actually node:15 is a multi arch image, it therefore builds and runs under linux-arm, to fix this I need to use [docker buildx](https://docs.docker.com/buildx/working-with-buildx/) and force using x86

[2021-03-31 08:22] tomhoule opened #6333 "(migrate/MySQL) Print visible warnings when a user-edited migration contains explicit database names"
Explicit database names will not work nicely with the shadow database — the inferred schemas will be wrong and drift will always be detected. See https://github.com/prisma/prisma/issues/5987 for an example. We can detect prefixed identifiers in migration scripts, so we should warn about them.

[2021-03-31 08:47] #5990 closed

[2021-03-31 09:11] tomhoule commented on #4716
This issue is very very stale, and it's not clear what we can do there, as we already warn. Please open a new issue if you experience problems in a recent version of migrate.

[2021-03-31 09:11] #4716 closed

[2021-03-31 09:30] kladnik commented on #6318
I do not have any test suite, but it's pretty straight forward. The following code (different queries though) just happens over multiple places:

[code]
I am using a temporary helper function currently just to log errors and not block current app flow with errors/exceptions - I do not wait for any response.
If needed I can happily assist you with some more examples over Slack or something else.

O

[2021-03-31 09:35] darioielardi opened #6336 "Postgres generated columns"
## Problem

[Postgres generated columns](https://www.postgresql.org/docs/13/ddl-generated-columns.html) are currently not supported. That's not a big deal, since we can always declare them as regular columns in the `schema.prisma`. The only flaw is we need to declare them as optional, otherwise the client will always complain about them missing in the create input. This means the generated type fi

[2021-03-31 11:31] kevinsimper commented on #6329
We have also the same hunch as you @janpio, we have been using Cloud Run for 9 months and only within the last month began sawing this issue. We had some problems upgrading to newest prisma, but we did so yesterday.

There is a case that Google Cloud Run only allows 100 connections to Cloud SQL from Cloud Run. So with Prisma doing 2  connections per container, that is 50 containers. With max-conta

[2021-03-31 11:32] kevinsimper commented on #6329
https://cloud.google.com/sql/docs/mysql/connect-run#connection-pools

[2021-03-31 11:41] redeyecz opened #6337 "No results when using cursor and orderBy (Text type)"
## Bug description

When using findMany I encountered a bug where the logged query from prisma returns data, yet the findMany result does not. I narrowed the bug down to using cursor+orderBy (text column) .... strangely enough, when orderBy is of BigInt type, it seems to work

## How to reproduce

1. Clone this repo https://github.com/redeyecz/prisma-bug
2. docker-compose up
3. http://localhost:30

[2021-03-31 11:46] molebox commented on #3434
If i understand correctly, in the following example, we can remove the `@relation("UserFacility)` annotation because this is used to disambiguate relations and thats not relavent here?

[code]

This isnt really relavent to the issue at hand, im just wondering

[2021-03-31 11:49] kladnik commented on #6318
This didn't solve anything.
One thing I noticed is that once the memory rises it never goes back down to normal even when the app is not used. Is Prisma client memory intensive? How much memory is needed for it run properly (maybe 1GB is not enough)?

[2021-03-31 12:02] ryanhefner commented on #4870
@janpio Well, it’s kind of a two parter. And, I wasn't sure if the older version of `prisma` that I was targeting previously `2.19.1` due to the issues in `2.20.0` supported what I was/am trying to do. I was able to work around it, but based on conversations I have seen in other threads, it sounds like following `DATABASE_URL=postgresql://postgres:postgres@database:5432/prisma` should be supported

[2021-03-31 12:18] Jolg42 commented on #4870
@ryanhefner so if you still have an issue with Prisma CLI creating [a separate issue](https://github.com/prisma/prisma/issues/new/choose) with more info would help.

[2021-03-31 12:39] braposo commented on #2935
hey @janpio! First of all thank you so much for the quick reply and I'm sorry for not getting back to you earlier but it was hackathon at SingleStore and I couldn't get all the answers for you in time.

No problem, I wasn't really expecting a workaround from your side, was more to understand what you were querying for and your answer is very helpful! I'll be working with some people from the engin

[2021-03-31 13:10] matthewmueller commented on #6274
Hey @alaarihan-temco how much data are you trying to update? Are you writing a file to the database by chance? If so, how big is that file?

[2021-03-31 13:36] ryanhefner commented on #4870
@Jolg42 Oh, sorry, I figured it might be better to reference this old issue, since it still applies, opposed to opening a new one. Just based on what you said above:

But, I can open a separate issue if that works better for you.

[2021-03-31 13:41] Jolg42 commented on #4870
@ryanhefner Indeed! No worries, please open a new one since your problem might be different and we couldn't reproduce this "old" issue with the current information provided by the original author.

[2021-03-31 13:44] FredericLatour opened #6341 "Setting Timezone configuration at the connection level"
## Problem

It looks like it is not possible to set Timezone configuration information at the connection level.
The reason why this is important, at least for MySQL, is when dates in the database are stored in a specific Timezone.

Without this Timezone configuration option, it would be necessary to convert manually each date retrieved and written to the database.
Unless I'm missing something, it

[2021-03-31 14:02] xanxuz commented on #6292
The solution is simpler than that @tomhoule , you just have to fix the generated constraint on Postgres.

### Example

From
[code]

To (the only difference is **table_field** instead of **table.field**)
[code]

Even in the examples on your docs, you use "_", never a dot.

![image](https://user-images.githubusercontent.com/11968584/113147143-77a5b000-91fe-11eb-8996-a77ca51d6e36.png)

[2021-03-31 14:36] matthewmueller commented on #6207
This sounds like an issue with mysql-async, do you mind opening an issue there and linking to this issue? If it turns out to be an issue in quaint we can investigate.

[2021-03-31 14:44] matthewmueller commented on #6062
This is actually for introspection to add a @map to these fields

- create database table with id and _id fields OR
- create database table with fields 60_rate, 95_rate, 100_rate

Prisma generate is based off the schema.

[2021-03-31 14:49] matthewmueller commented on #3360
Note: This is quite an old issue and might not be a problem anymore.

[2021-03-31 14:52] matthewmueller commented on #1285
Next step: verify that this works now

[2021-03-31 14:58] matthewmueller commented on #6153
@robertt quick question, does concurrently running the counts improve your performance? Also could you run `EXPLAIN` on the SQL queries and share the query plan?

[2021-03-31 15:15] supermacro opened #6342 "Support for cross-table writes (update & delete)"
## Problem

Our team is looking for somewhat granular access control to our data and we need to implement essentially Row Level Security / "ACLs on a per row basis".

Here's a blog post that I've used heavily for inspiration:

https://cazzer.medium.com/designing-the-most-performant-row-level-security-strategy-in-postgres-a06084f31945

Our use case is actually quite common:

We have a "regular" use

[2021-03-31 15:38] narciero commented on #6329
Thanks for the detailed follow up, I will upgrade to 2.20.x and see if we notice any differences.

Our Cloud Run service only has a max instance count of 4 so it's likely due to one of the other issues you mentioned.

Thanks for all the hard work!

[2021-03-31 15:55] alaarihan-temco commented on #6274
OK, thanks for your reply it really helped, that problem was because of a trigger function on postgres ( I have a function to auto change {latest: true} to false for all other entries meaning keep only one entry with {latest: true}), the problem was that function executed on a different postgres schema, I don't know why the prisma error was very weird, the error message was like this:
[code]

[2021-03-31 15:55] #6274 closed

[2021-03-31 16:07] robertt commented on #6153
They've always been run concurrently, here's the query plan:
![image](https://user-images.githubusercontent.com/18425863/113175611-84002c00-9243-11eb-9b4b-157f94fb9e0b.png)

[2021-03-31 17:17] sfoxdev commented on #5552
Hey @pantharshit00 any update?

[2021-03-31 17:35] xanxuz commented on #6292
I have tried changing the dot for an underscore with SQL using Phpstorm and it works, so the solution is definitely to change the dot to an underscore in the Postgre generator.

![image](https://user-images.githubusercontent.com/11968584/113186410-9ff4d500-9225-11eb-956d-ce2475ac8310.png)
![image](https://user-images.githubusercontent.com/11968584/113186594-dd596280-9225-11eb-9be3-1b821f84b260.png

[2021-03-31 19:10] Xample opened #6344 "Count property name collision"
## Bug description

With the new introduction of count in prisma 2.2.0, I do now have a naming collision on the count property

![image](https://user-images.githubusercontent.com/944605/113196298-9ee29880-9263-11eb-901e-77c42dbbae62.png)

## How to reproduce

make a schema.prisma file with a model having a `count` property

[code]

Then generate
[code]

## Expected behavior

Since now, I had no co

[2021-03-31 19:51] Xample commented on #6344
The current workaround I am using is to replace my `count` property with `countValue`

[2021-03-31 19:57] martenbjork opened #6345 "Enable point-in-time seeds and migrations"
(I'm new to Prisma and databases in general. 👋 Please educate me if this sounds dumb.)

## Problem

When deploying a migration, I need to know that it won't have unintended side effects. I want to deploy the migration with confidence.

## Suggested solution

Low confidence solution:

- Couple seeds with migrations. Each seed is "a good seed for the db up until this migration".
- Add the ability to

[2021-03-31 21:11] janpio commented on #5987
FYI: `debugLib` crash has been fixed via https://github.com/prisma/prisma/pull/6260

[2021-03-31 21:13] janpio commented on #6176
This should not fail, but work similar to how unknown types are introspected with MySQL and PostgreSQL for now.

[2021-03-31 21:23] janpio commented on #6062
Actually: Introspection should already have logic to detect the naming problem of `_id` and notice that somehow (warning, commenting out field or similar.) This needs to be confirmed, as it should effectively make this bug impossible.

[2021-03-31 21:25] janpio commented on #6207
This is fundamentally an issue with Prisma.
We should figure out if we want to change this behavior, and if so find a way to do that. If our underlying library does not allow us to do that, we should find a way or try to implement a way in that library so we can do that in the future.

[2021-03-31 21:27] janpio commented on #4870
And please include the answer to these questions in the issue: https://github.com/prisma/prisma/issues/4870#issuecomment-810604284

[2021-03-31 21:37] janpio commented on #2935
Nice, thanks for your reply and answers. I will use the Docker container to set up a small side project of mine as well to just run our test suites against it and see what incompatibilities fall out of that.

[2021-03-31 22:43] Newbie012 opened #6348 "I think that the prisma core sound avoid using external libraries as much as possible and instead provide first party plugins. So by default UUID would be `string` and decimal would be `number` with a possibility to enable those plugins easily."
I think that the prisma core sound avoid using external libraries as much as possible and instead provide first party plugins. So by default UUID would be `string` and decimal would be `number` with a possibility to enable those plugins easily.
I like the suggested solution but it won't work to modify the generated typing for TS unless I missed something. You might need to do something similar to

[2021-03-31 22:43] #6348 closed

[2021-03-31 22:48] Newbie012 opened #6349 "Allow to parse/serialize model fields"
## Problem

I'm using opaque types as a way to differentiate between foreign keys (e.g UserId(number) !== PostId(number)). For example:

[code]
As you can see, prisma has generated the id as `number`, while I declared it as `UserId`.

## Suggested solution

I want to suggest a way we can serialize/parse data types of an existing model. Since `schema.prisma` is written as language-agnostic (neither

[2021-03-31 22:50] bionicles opened #6350 "Please make a macro to derive Prisma schema from Rust structs"
## Problem

I like Rust lately and want to use it. But I also want to use Prisma to migrate the DB. Problem is, then I have two sources of truth on my schema. Both extremely similar purpose. Rust structs and  Prisma schema... this causes maintenance issues (we all know how that can be...)

## Suggested solution

If Prisma had a simple Rust crate with 1 macro, to `#[derive(prisma)]` from structs. I

[2021-04-01 01:26] AviSantoso commented on #2789
+1

[2021-04-01 04:03] jonahsnider opened #6353 "Prisma.LogEvent fields can be undefined"
## Bug description

`Prisma.LogEvent.timestamp` and `Prisma.LogEvent.target` are `undefined` in some errors (turning off database while app is running consistently reproduces).

## How to reproduce

1. Emit `Prisma.LogEvent`s as events
2. Log the event object when certain errors occur

In my case what I did is

1. Configure project
2. Start database
3. Start Node.js app
4. Turn off database
5. Err

[2021-04-01 06:26] tomhoule commented on #2935
We are using the [mysql_async crate](https://crates.io/crates/mysql_async) to connect to MySQL.

[2021-04-01 08:19] pimeys opened #6356 "N-API Query Engine doesn't allow more than one instance at the same time"
When creating more than one Query Engine instance using the N-API bridge, exiting the system will cause a SIGABRT and a core dump.

[2021-04-01 08:54] do4gr commented on #6218
Ah, ok now I understand. Thanks for clarifying this.

Currently our approach when running introspect is the following:
- get the state of the db schema
- convert that into a new Prisma datamodel
- try to detect if there is information in the previous Prisma model that cannot be represented on a db level that is still applicable to the new Prisma datamodel and apply it

In your case of @map informa

[2021-04-01 08:57] #6356 closed

[2021-04-01 08:59] pimeys commented on #5869
Hey @peteralbert what would be the expected outcome here? The database correctly doesn't allow you to query with a faulty UUID, and we give a pretty straight-forward error message back.

We could maybe make it a known error with a proper code?

[2021-04-01 09:50] lothemar commented on #3230
Is this closed or should I submit a patch?

[2021-04-01 09:54] pimeys commented on #5869
Ok, I got it. Better error, no panic.

Here's what I have now for the test reproduction:
[code]

[2021-04-01 10:28] peteralbert commented on #5869
@pimeys Thanks - the error message instead of the panic certainly helps already!

In our situation, this was part of a `where` clause. Instead of an error, returning an empty list and only show a warning in the logs would be even more convenient - but not sure that this is always the ideal solution...

[2021-04-01 10:43] janpio commented on #3230
There is a community solution by @valentinpalkovic, see https://github.com/prisma/prisma/issues/3230#issuecomment-697982781, that looks pretty good. If that does not satisfy your needs, you can either collaborate on that one (create a PR etc) or create your own.

[2021-04-01 11:11] pimeys commented on #5869
Even better would be to have a proper uuid type so already you'd get an error in the client if your value is not a real guid.

[2021-04-01 11:25] #5869 closed

[2021-04-01 12:22] janpio commented on #2935
Good that I have a day off today @braposo, so I could already play around a bit to get this into our CI.

First bump in getting the test for our Introspection Engine, which introspects the database schema and creates a Prisma Schema from it (and is used in most of our other tests to confirm results of the Migration Engine, and database setup for Query Engine tests), to run was that we rely on the

[2021-04-01 12:32] xuqingkuang opened #6359 "Prisma.upsert() should support the value of null in where condition."
## Bug description
Prisma supports creating the nullable value for the table, but not support the null value in where condition of `upsert()` method.

## How to reproduce
I wrote a simple reproducible example - https://github.com/xuqingkuang/prisma-null-foreignkey

Please follow the README.

## Expected behavior

upsert() accepts a null input as an option value.

## Environment & setup

- OS: Cent

[2021-04-01 12:40] janpio commented on #2935
No fun in waiting: I quickly modified the query that uses `datetime_precision` to always return `NULL` instead (https://github.com/prisma/prisma-engines/pull/1802/files#diff-9996eb1f4322b87712082043032bbd3ca8a0e8ccde7ecf19d80fefd7968c03b9L244), and that unblocked these two tests to make them succeed 💯

So if we can fix this space error, we might get many more tests succeeding as well 👍

[2021-04-01 12:43] pimeys commented on #6269
Introspection will work for geometry in the next version. You'll get an unsupported type to your schema, but you can write your queries as raw if you need the data. Just remember to return data that maps to some of the existing prisma types.

[2021-04-01 12:45] pimeys commented on #6176
Introspection will work for geometry in the next version. You'll get an unsupported type to your schema, but you can write your queries as raw if you need the data. Just remember to return data that maps to some of the existing prisma types.

[2021-04-01 12:53] millsp commented on #6188
This might already have been fixed in 2.20.1, can you please check this out? Thanks!

[2021-04-01 13:01] #6176 closed

[2021-04-01 13:01] #6269 closed

[2021-04-01 13:18] radicand opened #6362 "Migrate: If DB password contains an @-symbol, part of the password is printed in migrate log"
I'm using migrate with a database that has the @-symbol as part of the password - as a result, the connection string has two @'s. This is valid, and works fine.

I noticed today however that when I execute migrations, part of the printed log looks like the below. Assume the password is `lulz@truncated-password-here` for sake of demonstration, and a full connection string would be similar to: `mysq

[2021-04-01 13:47] braposo commented on #2935
oh wow this is great @janpio! Let me reach out to the people that might be able to figure out what's going on with docker and hopefully we can get over that hurdle as well!

Thank you so much for your help, this is very exciting! (at least for me :sweat_smile:!)

[2021-04-01 13:49] kladnik commented on #6318
@janpio I did some testing and it's not just a Google App Engine issue, I could easily reproduce it locally on my machine.

I was sending a batches of 1k requests to my API and after I got response from all I repeated this 10x for total of 10k requests. Then I waited for all the requests to finish processing (cca 5min) and I ran the complete flow 3 more times without restarting the instance.

This

[2021-04-01 14:02] FranciscoMSM commented on #2935
Hello @janpio! Thank you for your effort on this one! :smile:

That error indicates you don't have enough disk space to create the database.
Can you please run `df -h` in the container to understand the amount of free disk space we're working on with?

Thank you!

[2021-04-01 14:14] #6319 closed

[2021-04-01 14:30] peteralbert commented on #5869
That is what we ended up doing! We used https://github.com/NicolasDeveloper/guid-typescript to make sure, only valid GUIDs can be used.

[2021-04-01 14:47] janpio commented on #2935
This is a GH Actions run on an Ubuntu container - usually there are around ~15GB free space available there. This is the https://github.com/prisma/prisma-engines/blob/janpio-patch-7/docker-compose.yml file I am running `docker-compose up -d` on @FranciscoMSM. We probably just have to give some of that available space to the container.

[2021-04-01 14:48] janpio commented on #2935
I sprinkled a bunch of commands into that workflow:

[code]

Results will be at https://github.com/prisma/prisma-engines/pull/1802/checks?check_run_id=2247005960 in a bit.

[2021-04-01 14:51] janpio commented on #6318
Thank you for testing that out, that of course makes it a much "easier" target to reproduce. Do you think we can get to a simple reproduction easily in a new repository? That would be the absolute best for us if we just have a project we can run and see what is going on. Otherwise we will now have to start the process of trying to get there on our own.

[2021-04-01 14:53] ericyd commented on #6188
The issue is fixed.

Does the Prisma team find it concerning that their build tool (esbuild) broke webpack builds (which ostensibly also broke netlify deployments) by updating a minor version? https://github.com/prisma/prisma/pull/6260

[2021-04-01 14:53] #6188 closed

[2021-04-01 15:03] janpio commented on #6362
Special characters in passwords need to be encoded here - that probably includes `@` similar to `#`. @tomhoule can probably provide a link to how exactly the encoding needs to look like.

[2021-04-01 15:08] tomhoule commented on #6362
There are two separate issues at play:

- The `@` character does need to be url-encoded. I don't have a specific tutorial/reference document to recommend, but there are a variety of resources. `@` would be encoded as `%40`. We could treat this as first issue about ergonomics.
- The parser used by the Typescript CLI parses that without throwing and leaks passwords in the process. This is the more s

[2021-04-01 15:41] FredericLatour commented on #5051
@matthewmueller Do you agree that my suggestion is the way to solve this problem?

[2021-04-01 15:50] internalfx opened #6366 "Regression in prisma migrate"
I've noticed a regression in Prisma migrate. It worked fine in version 2.16, but later versions seem to have this issue.

Ran with version `2.19.0`
[code]

After rolling back to version `2.16.0`. I can re-run the same migration without error.

[code]

## Bug description

Prisma migrate fails with a timeout error

## How to reproduce

Modify an existing table with prisma migrate.

## Environment &

[2021-04-01 15:59] internalfx commented on #6366
Tried it again with prisma `2.20.1`

I tried adding the column back. Basically, prisma migrate is completely broken for versions > `2.16`

[code]

[2021-04-01 16:23] braposo commented on #2935
Could it be related to this comment? https://www.singlestore.com/forum/t/cluster-in-a-box-minimal-disk-space-error/2503/11

would something like this work?

[code]

I also noticed that in other examples it's using `tmpfs`, have you tried:
[code]

sorry if I can't be more helpful at this point but hopefully @FranciscoMSM can come with better suggestions if this doesn't work!

[2021-04-01 16:23] jonahsnider opened #6369 "prisma-fmt: Put `@id` fields first in model definitions"
I think that fields marked with a `@id` attribute should be the first field in a model definition, similar to how `@@id` is always at the bottom of model definitions.

Bad:
[code]

Good:
[code]

[2021-04-01 17:04] entrptaher commented on #172
This worked for me, the datasources accepts db instead of mydb in latest prisma.

[code]

[2021-04-01 17:16] janpio commented on #2935
I do not know the difference between `volumes`, `tmpfs`, and even the syntax of `volumes` is not totally clear to me and my google is failing me.

I tried with `tmpfs: /var/lib/memsql` now and that makes this line appear in `df -h` output on the docker container:
[code]

But then I can not connect to the database:
[code]

So something I am doing wrong somewhere.

[2021-04-01 17:40] Sytten commented on #5976
I thought that the  engine didn't die anymore but it seems like it still does:
[code]

[2021-04-01 17:47] kulshekhar commented on #5109
Also related: #4108

[2021-04-01 18:02] dthyresson commented on #1122
I needed to query across two schemas today and was able to use `rawQuery` to get the data I needed:

[code]

Here I join member activity (from `public`) with the user data (that's in `auth`) for our known current user's `email`.

Worked great.

[2021-04-01 18:25] luisrudge opened #6370 "[Sql Server] prisma migrate error when using multiple relations to the same table"
## Bug description

When I run `npx prisma migrate dev --name initial` with a schema like mine, the migration fails.

## How to reproduce

- Create a prisma project with [my schema](https://gist.github.com/luisrudge/7b246dfb061a69b56fc8237786b6b980#file-schema-prisma).
- Create Azure SQL resources with [this script](https://gist.github.com/luisrudge/7b246dfb061a69b56fc8237786b6b980#file-setup-sh)

[2021-04-01 18:32] luisrudge opened #6371 "[Sql Azure] migrate gets stuck without a shadow DB"
## Bug description

When I use prisma migrate with SQL Azure, the command gets stuck.

<img width="1593" alt="image" src="https://user-images.githubusercontent.com/941075/113338381-6a241f00-92ff-11eb-9971-644bf82ee44c.png">

It also tries to create a database on SQL Azure, which might cause all sorts of issues (including billing) for people that don't know what's going on.

<img width="1219" alt="

[2021-04-01 18:49] janpio commented on #6370
This is a bug indeed and should be fixed. Super confusing.

This unfortunately is a misunderstanding I think: I do not think you are able to use the same `fields` in multiple foreign keys. This value practically describes in which field the actual foreign key value should be stored. As you want to have 3 separate relations, you will also need to have 3 fields to store the data.

But looking at you

[2021-04-01 19:00] luisrudge commented on #6370
Great!

Indeed, it isn't, but I found a similar scenario in [this comment](https://github.com/prisma/prisma/issues/1483#issuecomment-613862751) so I just went with it haha.

My actual scenario would be something like this:

- User has multiple addresses
- User has a 'default shipping address'
- User has a 'default billing address'
- Order has a shipping address
- Address doesn't have any relations

[2021-04-01 19:01] davaakhuuname commented on #1277
I can't wait

[2021-04-01 19:05] janpio opened #6372 "`TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received an instance of Object` when old `@prisma/client` in parent folder"
1. new folder
2. `npm init -y`
3. `npm install prisma`
4. `npx prisma init`
5. adapt schema file:
[code]
6. `npx prisma db push --preview-feature`
7. `db push` works, but then generation fails with:
[code]

---

[code]

---

[code]

⚠️ Note how this lists `@prisma/client       : 2.15.0-dev.73`.
Turns out there was a `package.json` in a parent folder with this old @prisma/client version.

Expectati

[2021-04-01 19:29] janpio opened #6375 "`prisma format` does not recognize missing relation name, makes schema worse instead of fixing"
## Bug description

Using `prisma format` on this schema does not fix the problem, but makes it more confusing.

## How to reproduce

Use this schema:

[code]

`npx prisma validate` highlights the error in the schema:

[code]

Running `prisma format` unfortunately does not help at all:

[code]

If you use the "Format feature" of VSCode, you can see what it does:

[code]

Instead of just adding the

[2021-04-01 19:32] janpio commented on #6370
Above I edited my comment to add a schema of my simpler understanding of situation from before your comment.
This allows multiple addresses on a user, but does not have a "default shipping address" or "default billing address" yet.

An adapted version with the defaults would look similar to this:

[code]

Of course this fails your "Address doesn't have any relationship with User or Order" expectat

[2021-04-01 19:41] luisrudge commented on #6370
Oh, of course. that makes a lot of sense. it's been a while since I last modeled a database. YOu inverted the FKs to make sure they're present in the user/order objects instead of the Address object, right?

I'll give this a go. If I find something weird, I'll ping you. Thank you so much for your patience and help!

[2021-04-01 19:54] janpio commented on #2935
Ok, after a lot of fiddling after dinner I have many more tests running 💯

I am now using a GH Action to free up more space on the machine, and then make that space available to `/var/lib/memsql` inside Docker: 65G

[code]

That means I can now actually _run_ a lot more tests, and get lots of real, actual errors:

[code]

After that we are back to many, many of the same space errors unfortunately

[2021-04-01 19:55] janpio commented on #2935
Back to the list of actual errors:

First three are about keys and empty shard key and sharded table:

- thread 'commenting_out::a_table_without_fully_required_compound_unique::mysql_8' panicked at 'The test function returned an Err.: Error querying the database: Server error: `ERROR HY000 (1896): Cannot declare primary key or unique key named: 'sqlite_autoindex_Post_1' when using an empty shard k

[2021-04-01 20:03] janpio commented on #6370
Effectively I inverted them, yes - but I think that is how it _should_ be in the first place as that is how I understood the data structure that you want to represent. I am also very much winging this, so in practice your application will probably ask for slightly different information - so really just take this as a starting place.

[2021-04-01 20:05] janpio commented on #6370
I also raised this internally, as that example indeed shows what you did and I think only works accidentally, as probably it would always make sense to store the same ID for torso and head. But that is just a weird example, and possibly even something we want to forbid in schema design so it is more explicit what is happening.

[2021-04-01 20:09] janpio commented on #172
The key name `db` or `mydb` is defined by your `datasource` naming in your `schema.prisma` file.

[2021-04-01 20:52] janpio commented on #6366
Can you share the migration file that is trying to be applied here?
Can you possible recreate the migration using the newest version?

[2021-04-01 23:21] MitchellMonaghan commented on #2746
Is there any update on this? I'm having a lot of issues with a Quasar/Electron app. This is using webpack, typescript, electron-builder, and this has been a nightmare to get working. I still don't have functional code. As much as I love prisma I think I might have to not use it. Spent a few days trying to get this to work. Constantly blocked by "Could not open datamodel file "C:\\projects\\myApp\\

[2021-04-02 00:03] alan345 opened #6379 "error after running npx prisma introspect"
Hi Prisma Team! Prisma Migrate just crashed.

## Command

`introspect`

## Versions

| Name        | Version            |
|-------------|--------------------|
| Platform    | darwin             |
| Node        | v12.18.3           |
| Prisma CLI  | 2.19.0             |
| Binary      | c1455d0b443d66b0d9db9bcb1bb9ee0d5bbc511d|

## Error
[code]

here you have my database model for `PromoCode`
[code]

[2021-04-02 00:17] braposo commented on #2935
This is some incredible work @janpio! Thank you so much for doing this and for taking the time to get this a bit further!

I'm going to take this back to the team and try to find the answers to your questions. I'll let you know when I have something to share.

In the meantime, is there a way for us to test SingleStore against your test suite outside of your CI? It's probably faster if we can run t

[2021-04-02 01:06] un33k commented on #2584
If you have installed `prisma` globally and have multiple generators and the last generator has the `output` specified explicitly, then  things will mess up.

**Example:**
[code]
    "prisma:generate": "node ./node_modules/.bin/prisma generate --schema=<some-path>/prisma/schema.prisma"
[code]

[2021-04-02 01:45] ltnscp9028 opened #6380 "ERD based on Prisma schema"
## Problem

There is a limit to expressing Prisma schema with the existing ERD system.
This is when you need an ERD or relationship model for Prisma.

## Suggested solution

you can help to start migration more easily through the GUI editor that maps to the ERD.
We need an editor with bidirectional compatibility in mind between ERD<->prisma schemas.
We need an ERD editor based on the Prisma schema

[2021-04-02 03:51] alan345 commented on #6379
solved.

[2021-04-02 03:51] #6379 closed

[2021-04-02 04:32] ayush-goyal commented on #5040
Any updates on the status of this?

[2021-04-02 06:46] unimatrix27 opened #6381 "Decimal value stored in MySql DB with floating point error"
## Bug description

Decimal value stored with floating point error in mysqldb. Using a DECIMAL(20,10) field type in mysql and inserting the value 607013.31, in fact 607013.3100000001 is inserted. Checked the mysql logs and the error is already in the INSERT statement generated by prisma

## How to reproduce

`git clone https://github.com/unimatrix27/prismaissue`
`cd prismaissue`
`docker-compose up

[2021-04-02 07:02] daniellwdb opened #6382 "Migrate: @dbgenerated with @db.Time(0) keeps generating new migrations"
## Bug description

Whenever you use a schema field decorated with `DateTime  @default(dbgenerated("\"00:00:00\"")) @db.Time(0)` and run `npx prisma migrate dev`, you are asked for a new migration name but the generated migration is always the same

## How to reproduce

Create a model
[code]
Run `npx prisma migrate dev`, after that another time, it keeps asking for a new migration name

## Expecte

[2021-04-02 09:51] kladnik commented on #6318
I was doing some more testing and finally found the culprit. It was `@google-cloud/debug-agent` and apparently it's a known issue: https://github.com/googleapis/cloud-debug-nodejs/issues/811. Sorry for creating a bit of confusion regarding this.

That out of the way the memory is stable, but yet I am still seeing `Error { kind: Closed, cause: None }` every hour or so. I initially though this was b

[2021-04-02 09:51] #6318 closed

[2021-04-02 09:58] kladnik commented on #6329
Having the same issue with Google App Engine and can confirm that upgrading to `2.20.1` didn't resolve it.

[2021-04-02 10:11] janpio commented on #2935
The PR linked above shows pretty much that in its GH Actions configuration.
TLDR is: Check out https://github.com/prisma/prisma-engines, install the 1.48.0 Rust toolchain, make a DB run at `localhost:3007` (plus create an empty `mysql` database) and then execute `cargo test mysql_8` in `introspection-engine/introspection-engine-tests`. (As Singlestore is MySQL compatible (kinda), this "reuses" our

[2021-04-02 10:14] janpio commented on #6318
Wow, this is amazing news. I was worried a bit there.
Left a +1 on that Google Debugger issue.

As you can see in the other (and more issues with the same label) we are working on that, actively, and will hopefully have it figured out and fixed soon.

[2021-04-02 10:18] janpio commented on #2746
Please open an issue about your problem then, we will be happy to look into that. Optimally include a small reproduction we can try out.

[2021-04-02 10:19] kladnik commented on #6318
Yea I can see that! Thanks for all the help @janpio!

[2021-04-02 10:21] janpio commented on #6381
Can you try with latest Prisma to make sure this is not fixed yet? Thanks.

[2021-04-02 10:22] janpio commented on #2584
Nice catch @un33k. Can you copy that into a new bug issue? Then we can reproduce and will work to fix this.

[2021-04-02 12:30] unimatrix27 commented on #6381
upgraded to 2.20 also in the test repo, same result

[2021-04-02 13:31] rahadi23 opened #6384 "Timestamp with Timezone (`@db.Timestamptz`) in PostgreSQL Returns Incorrect Time Offset"
## Bug description

PostgreSQL has an ability to store timestamp with timezone offset, e.g. 2021-04-02T20:10:00+07:00 (or 2021-04-02T13:10:00+00:00). In prisma, we set the field as `@db.Timestamptz`. Using `create()`, I was able to insert the timestamp correctly although it will be converted to +00:00 offset by prisma. So when I do:

[code]

It will be stored as follows:

| id | user_id | timestam

[2021-04-02 14:19] kokokenada opened #6385 "prisma migrate deploy fails in gitlab and azure cicd (v2.20.1)"
## Bug description

prisma migrate deploy causes:
[code]

## How to reproduce

Running 'npx prisma migrate deploy' from the .gitlab-ci.yml encounters the error above
.npmrc has unsafe-perm=true which was required to fix npx prisma generate

## Prisma information

## Environment & setup

prisma@2.20.1

[2021-04-02 14:35] Manjit2003 commented on #1277
FASTTTTTTTTTT!!!!!

[2021-04-02 15:06] s-kris commented on #4752
I was able to connect to pool with SSL. The change I did was to remove sslidentity and sslpassword from connection string. Was able connect to DO cluster using .crt file.

DATABASE_URL=`postgres://XXXXXXXXXXXXXX?connection_limit=3&sslmode=require&&sslcert=ssl.crt&pgbouncer=true&connect_timeout=10&pool_timeout=30`

[2021-04-02 15:06] #4752 closed

[2021-04-02 15:42] janpio commented on #6385
Is Prisma already installed before executing this command as a local dependency of the project or do you think the command itself downloads and installs the Prisma CLI?

[2021-04-02 16:36] FredericLatour commented on #6341
@janpio  Honnestly, I would consider this a bug.
Unless I'm missing something, I can't see how one can use Prisma with Mysql unless one is storing dates in UTC.
If it's a new project, this is certainly doable but way more difficult, if ever possible, on existing projects.

[2021-04-02 16:57] kpdud commented on #1122
Gotta say that this is a major bummer as we've designed a database with multiple schemas. This definitely should be implemented sometime and yeah, looks like raw queries are the only way of going about it for now.

[2021-04-02 17:26] supermacro opened #6388 "Define MiddlewareParams as an Algebraic Data Type"
## Problem

Related issue / conversation: https://github.com/prisma/prisma/issues/3545

This was a great improvement ☝️, but the current definition of `MiddlewareParams` could still be improved if I'm not mistaken:

[code]

Oh nooo there is an `any` 😨 ... But aren't `args` a function of `model` + `action`? In other words, given a `model` such as `Cat` and action `create`, the set of `args` is know

[2021-04-02 17:42] supermacro commented on #5052
Here's another use case:

![Screen Shot 2021-04-02 at 1 41 57 PM](https://user-images.githubusercontent.com/10621548/113439834-4b825e80-93b9-11eb-9a1a-18810c0cb74a.png)

[2021-04-02 17:50] noconsulate opened #6389 "Start from scratch tutorial stops at 'npx prisma migrate dev --name init'"
## Bug description

I'm following along the "start from scratch" tutorial for Posgresql and JavaScript. It seems like it's not reading DATABASE_URL in /hello-prisma/prisma/.env. I first had a connection URL pointing to my vps and I was getting this message when I run 'npx prisma migrate dev --name init':

So I setup Postgresql on my local machine and configured a new user with name <name> and pass

[2021-04-02 17:57] noconsulate commented on #6389
I realized my connection string was malformed so I changed it thus:

I'm still getting the same error. I thought for a minute maybe prisma was resorting to some default values because my string was bad but I guess not.

[2021-04-02 18:01] supermacro commented on #5222
Here's a use case I have:

![Screen Shot 2021-04-02 at 1 41 57 PM](https://user-images.githubusercontent.com/10621548/113441200-e0865700-93bb-11eb-85ee-1f8e688575a6.png)

Will the "ability to enforce ACL rules through table joins" be something that I can do with this new feature?

[2021-04-02 18:53] supermacro commented on #6342
Here's an example of a cross-table insert:

[code]

[2021-04-02 19:19] #6389 closed

[2021-04-02 19:21] noconsulate commented on #6389
I'm sorry, I misunderstood the paths and wasn't writing .env in the right place. My apologies for polluting the issues and I am embarrassed.

[2021-04-02 20:20] Sytten commented on #6329
Yes the operation is not retried if the connection fails.

[2021-04-03 00:14] kokokenada commented on #6385
npm install was run prior to the error,  npm generate also run successfully prior to the error. (Until I added .npmrc with unsafe-perm=true, the error occurred at the prior npm generate step. Adding the .npmrc file advanced the process, but it still crashes at the migrate deploy stage.

[2021-04-03 00:36] PrimeDominus commented on #1122
Yeah it would boost developer productivity and product scalability if Prisma offered standardised non-SQL syntax for db schema specific CRUD operations and cross db schema queries. For the initial creation of a new db schema (e.g. separate db schema per customer) developers could potentially use the builder pattern to help enable this, which in turn could reduce the Prisma development complexity t

[2021-04-03 05:50] ecpark-danbi opened #6394 "`outputDir.endsWith` is not a function"
https://github.com/prisma/prisma/blob/8ec737432ef8db46b26cb9eed14916d5329f6125/src/packages/client/src/generation/generateClient.ts#L112

Error in `generate`

I checked `outputDir` is not a string, an object type.

`outputDir` was
[code]

Am I the only one getting this error?

[2021-04-03 07:50] ecpark-danbi commented on #6394
I found in `src/packages/client/src/generator.ts`

[code]

CLI version and client one should be matched.

[code]

[2021-04-03 07:50] #6394 closed

[2021-04-03 10:55] philippfo9 commented on #2328
Can confirm that I'm having the same issue with a 1:n relationship (latest prisma: 2.20.1)

[2021-04-03 12:30] zackdotcomputer commented on #3219
I just ran into a need for this similar to OP's - I am using JSON as a way to store reliably structured data that is small, has several child fields, and is always 1:1 linked with the parent. Because of that, it feels wasteful to break it out into another table and require JOINs on every query.

I was expecting something to be available that was akin to the custom `scalar` operator in the [GraphQL

[2021-04-03 13:50] kevinsimper commented on #6329
Could a quick solution be to set connection_limit=1 and then add a setInterval to do a `SELECT 1;` every 1 minute?

[2021-04-03 16:42] Sytten commented on #6329
That will limit your performances quite a lot, I don't recommend it. If you are in a serverless environment there is not much you can do at the moment. Non serverless environments should not really this issue.

[2021-04-03 18:38] r0b0tt commented on #4280
I had the same issue using a digital ocean database. The issue was that my IP address was not whitelisted.

[2021-04-03 19:53] janpio commented on #2935
(I ran our Migration Engine and Query Engine tests on SingleStore as well - and as expected `Leaf Error (127.0.0.1:3307): Available disk space is below the value of \'minimal_disk_space\' global variable (100 MB). This query cannot be executed.` prevents most to all tests being run for now.)

[2021-04-03 20:34] djru opened #6397 "Prisma migrate fails on M1 Mac"
## Bug description

`npx prisma migrate dev` fails with the below error:

[code]

This is on an M1 macbook air. When I try to run that executable which prisma was complaining about, it gives an error about the cpu type.

[code]

**Is this simply a matter of prisma not supporting arm macs as a target yet?**

## How to reproduce

1. Clone [graphql prisma sample code](https://github.com/howtographql/

[2021-04-03 20:56] CITGuru commented on #6372
I am having this issue as well any update on this

[2021-04-03 21:05] un33k opened #6398 "Prisma generators output abnormally - A bug, or a possible source of confusion"
## Issue:

When executing the `npx prisma generate` command, there is a possibility of an error with the following log or a similar error message:

[code]

## Bug description

In such a situation, none of the auto-generated types, interfaces, classes,  or simply `PrismaClient ` itself can be loaded from its intended place which happens to be `@prisma/client`.

For example, the following will fail

[2021-04-03 21:21] jhackett1 commented on #6051
i seem to still be getting the original issue on version `2.20.1` :(

[code]

[2021-04-04 00:05] erdoganabaci commented on #2933
first you have to use latest version @prisma/client and prisma then you can install extension pgcrypto in PostgreSql.Be ensure your crypto defination refer to public or any instance =>

`@id @default(dbgenerated("public.uuid_generate_v4()"))`

more details =>
https://stackoverflow.com/questions/35959265/postgresql-function-gen-random-uuid-not-working/66936848#66936848

[2021-04-04 02:15] s-kris commented on #6051
@jhackett1 it's actually one step backwards, haha.
@timsuchanek mentioned above that they will look into this in the next sprint. Probably by April 13th as per the  milestone, we should get a solution.

[2021-04-04 04:36] shwethashyam1 opened #6403 "How to migrate without getting: 'We need to reset the PostgreSQL database'"
## Bug description

I added a new table to my database and tried to run 'npx prisma migrate dev --create-only'. But it says '✔ Drift detected: Your database schema is not in sync with your migration history. We need to reset the PostgreSQL database.'

As an alternative, I have also archived all my old prisma migrations into a different folder and deleted the prisma_migrations table from the postgr

[2021-04-04 05:52] jacob-indieocean commented on #2505
I would really like to get support for Union types.

Discriminated unions is a great feature in Typescript and we use it liberally in the application layer. I can count at least 10 places we use it in just 4 files. It is a real challenge to model that data in Prisma without direct support for it. We are currently using a noSQL document store where this is not a problem, but want to move to a SQL d

[2021-04-04 07:22] cypcz opened #6404 "Filtering DateTime array"
## Problem

I ran into a use case where I need to filter records by field that is of type `DateTime[]` using `DateTimeFilter` (with properties like `gt`, `lt`, etc. However, Prisma only allows to filter array of dates using `DateTimeNullableListFilter` (with properties like `has`, `hasSome` or `hasEvery`). The problem I'm facing is that these properties only accept `Enumerable<Date>` for direct co

[2021-04-04 08:54] janpio commented on #6372
The solution is to update both CLI and Client to the same version.

[2021-04-04 09:04] janpio commented on #6398
This sounds like a clear bug. Can you open a separate issue just for this problem? Then we can fix this in isolation.

[2021-04-04 15:04] janpio commented on #2935
Seems some logging is going crazy:

[code]

58G of logging that is super verbose, but not very helpful. Any way I can disable that in the container @braposo @FranciscoMSM? That might already be enough to get the tests running.

[2021-04-04 15:19] tconroy commented on #298
Does anyone have some links/examples for how they are currently achieving real-time with Prisma 2? ideally looking for something compatible with a serverless architecture.

[2021-04-04 19:07] chemicalkosek commented on #298
https://github.com/prisma/prisma-examples/tree/latest/typescript/graphql-subscriptions

[2021-04-04 19:11] janpio commented on #2935
Ok, those seem to be snapshots of the databases. No idea why they are so huge. I could not find a way to disable snapshots either. Right now it seems as creating many databases is incompatible with this Docker container :/

[2021-04-04 20:22] janpio opened #6409 "`generate` shows me TS snippet although clearly in JS project"
I get this output on `npx prisma generate`:

[code]

Although I am clearly in a JS project:
- No tsconfig
- Only source code file is an index.js

It would be nice if Prisma Client could do some minimal detection of the project type and output the appropriate code snippet.

[2021-04-04 20:24] neilime commented on #5304
Same issue while running `prisma generate` in a `node:lts-alpine` container.
It works in a `node:lts` container.

It appears to be an issue with alpine images

[2021-04-04 20:25] janpio opened #6410 "Way to check connection string without generating client"
## Problem

I can not generate a client with an empty database, so I can not call `$connect()` to check if my connection string is valid.

## Suggested solution

One of the following:

- A status command: `npx prisma status` or `npx prisma db status` that confirms that a connection to the database could successfully be created
- `npx prisma generate` could let me create a client without a model, s

[2021-04-04 20:37] janpio commented on #6277
Same happening for connection string from Timescale Cloud and `npx prisma migrate dev`. Manually creating the database already let's the migration succeed.

[2021-04-04 20:45] janpio opened #6411 "Creation of empty Migration"
## Problem

Prisma Migrate will not allow me to create an empty migration that I can fill with SQL myself. When I want to only execute SQL for information that is not stored in my Prisma Schema, that is a hassle.

## Suggested solution

Let me generate empty migrations.

## Alternatives

- Add a fake model to the schema, create the migration with `--create-only`, remove the fake model again, adapt

[2021-04-04 20:52] janpio opened #6412 "Empty migration.sql file does not cause error or warning"
When working around https://github.com/prisma/prisma/issues/6411 I made the mistake of running `npx prisma migrate dev` with an empty `migration.sql` file. I did not get any warning or error message that this did nothing and was probably not intended.

[2021-04-04 21:10] janpio commented on #3228
(🌃 🐰 Although I work for Prisma during the week and day, I write this as a private person that played around with Prisma and TimescaleDB during the Easter brake - so please do not consider this _official_ information.)

As TimescaleDB is really just PostgreSQL _plus_ an extension, I was quite positive this would _just work_ ™️ and played with it a bit to learn how TimescaleDB works and what I can

[2021-04-05 01:38] guerrerocarlos commented on #298
@tconroy glad you ask, in my opinion **prisma** itself shouldn't have to worry about the graphql subscriptions part of the puzzle, but leave that to the server and the schema implementation.

Here is an working **GraphQL (with subscription queries)** example ready to deploy in AWS Lambda that you can check out:

https://github.com/guerrerocarlos/graphql-lambda-prisma-example

It uses [graphql-lamb

[2021-04-05 02:26] un33k commented on #6398
I found a global copy of prisma and only after removing it things started to working.   Did npx put a copy there ? I am not sure. But the global copy always took precedence over my pinned-down local version.  Only when I removed the global copy and stopped using `npx`, things started to work.

[2021-04-05 05:12] narciero commented on #6329
Just to follow up, I am still seeing the issue with prisma `2.20.1` on Google Cloud Run with an instance count of 4.

[2021-04-05 10:11] vorillaz commented on #3228
Hey, @janpio thanks for the lovely comment.
My main concern with the current state of Prisma along with Timescale is that due to Prisma schema limitation we are creating inconsistencies between the models and the actual DB schema.
More precisely since models without `ids` are not supported. They should be dropped through the migration script or even worse models should not include the timescale ta

[2021-04-05 10:49] janpio commented on #3228
Ah, I wanted to reply to that:
Tables/models without a primary key or Id are supported, you just need _any_ unique identifier for the data. In my version of the tutorial, I chose a compound unique key across both fields. You usually always want to have a way to uniquely identify data in a table, so this makes sense to add in my opinion anyway.

[2021-04-05 10:54] janpio commented on #6398
Although this does not sound right to me, it is indeed possible for npx to bring you into a situation where things are confusing and do not make much sense. Unfortunately we do not have any influence over the npm tooling.

Optimally you include the CLI as a dev dependency in your project only, no global installation, and use ‘npx prisma’ or ‘yarn prisma’ to execute the CLI.

[2021-04-05 12:05] ekzyis commented on #678
I created a script to workaround this issue. It deletes the manually created view models and their references before running `prisma migrate dev` and then restores the schema.

[code]

I thought I put this here since this may help someone until Prisma properly supports database views.

[2021-04-05 13:09] webnoob commented on #6051
I'm not using netlify and am getting this issue:

[code]

[2021-04-05 14:50] Faithfinder opened #6416 "Prisma.JsonValue type is incompatible with Typescript JSON.parse typing"
## How to reproduce

[code]

## Expected behavior

It's arguable that Prisma's typing is better than Typescript's - JS JSON.parse indeed accepts nulls, numbers etc. I would still expect the typings to match, so that I don't have to typecast every time I parse the database response.

## Prisma information

2.20.1

[2021-04-05 15:16] luisrudge commented on #6371
Hi, friends. Just so you know how critical this is, I got my billing for the last period...
![image](https://user-images.githubusercontent.com/941075/113589852-42d39780-9608-11eb-85b3-dc96abf77a07.png)

Because I didn't know what was happening, I only looked at my resource group after 1 or 2 hours since I started playing with prisma, that's when I saw all the databases created. I didn't pay too mu

[2021-04-05 16:04] bardiaheshmati opened #6419 "VS Code Autocomplete doens't work"
## Auto complete doesn't work VS code (Node.JS)

Steps to reproduce the behavior:
1. created prisma client
2. used prisma to findMany in database
3. auto complete doesn't show anything in the context menu

## Expected behavior

context menu to show relevant schema and models to reference

## Prisma information

- OS: MacOS
- Database: Posrgres
- Node.js version: 14.15
- Prisma version: 2.20.1
<img

[2021-04-05 17:51] tarazena commented on #6419
@bardiaheshmati can you post how you are importing `prisma`?

[2021-04-05 18:27] vorillaz commented on #3228
Yeah, that makes sense, but I guess depends on the use case.
In my scenario, I am using the hyper for analytics parsing thus there is no need for ids or unique keys, just plain and fast writes. Following the docs from Prisma v1 I am dropping the ids when migrating but that does not feel right IMHO.

[2021-04-05 19:00] janpio commented on #3228
Whatever is documented for Prisma 1 does not apply to Prisma 2.

[2021-04-05 22:53] mitchellhamilton opened #6422 "@prisma/migrate 2.20.0 and 2.20.1 depend on 0.0.0 versions of other Prisma packages"
## Bug description

@prisma/migrate depends on 0.0.0 versions of @prisma/debug and @prisma/get-platform.

## How to reproduce

See the dependencies at https://unpkg.com/browse/@prisma/migrate@2.20.1/package.json

## Expected behavior

@prisma/migrate should depend on the correct versions of the other Prisma packages

## Prisma information

## Environment & setup

- OS:
- Database:
- Node.js versio

[2021-04-06 01:43] emyann opened #6423 "Escaped password working with psql but not Prisma Client"
## Bug description

Hello I have a generated password that is `)u&rI5]FlgG|1)q57rpB8-4{S3~5?7G}`. Obviously it needs to be properly escaped, so I've made to the point where I've escaped the password enough to be working with `psql`

[code]

- `\)u\&rI5]FlgG\|1\)q57rpB8-4{S3~5\?7G}` ✅ with `psql`
- `\)u\&rI5]FlgG\|1\)q57rpB8-4{S3~5\?7G}` ❌ with `prisma`
- `)u&rI5]FlgG|1)q57rpB8-4{S3~5?7G}` ❌ with `

[2021-04-06 02:43] xiaoyu-tamu commented on #2444
really want this feature

[2021-04-06 02:45] keidarcy commented on #1277
![waiting](https://media.giphy.com/media/gZ0GEz2HefV4s/giphy.gif)
CAN'T WAIT

[2021-04-06 07:45] martineboh opened #6425 "No matching version found for @prisma/debug@0.0.0."
## Bug description
I am trying to install prisma migrate (npm i @prisma/migrate) since last night with no success. I keep getting the below messages:

[code]

Prisma 2.20.1
Windows 10

I think this might be related to https://github.com/prisma/prisma/issues/6422#issue-850779191

[2021-04-06 08:11] janpio opened #6426 "Migrate leaks database password when Migration Engine binary crashes"
## Bug description

Issue https://github.com/prisma/prisma/issues/6277 also exposes my database password, replaced with `foobar` below:

[code]

## How to reproduce

See https://github.com/prisma/prisma/issues/6277

## Environment & setup

[code]

[2021-04-06 08:53] matthewmueller commented on #5051
@FredericLatour yep, https://github.com/prisma/prisma/issues/6341 seems like a possible solution to this problem.

[2021-04-06 08:56] matthewmueller commented on #6341
For others reading this. There are 2 known hacky workarounds for the time being:

- Set your database to UTC (as you mentioned, this only works if it's a new project)
- Create a [middleware to offset your timestamps manually](https://github.com/prisma/prisma/issues/5051#issuecomment-783495269)

[2021-04-06 09:01] timsuchanek commented on #6422
Thanks for reporting @mitchellhamilton! We just released a @prisma/migrate@2.20.2 with [the correct dependency versions](https://unpkg.com/browse/@prisma/migrate@2.20.2/package.json).

[2021-04-06 09:01] #6422 closed

[2021-04-06 09:01] timsuchanek commented on #6425
Thanks for reporting @martineboh ! We just released a @prisma/migrate@2.20.2 with [the correct dependency versions](https://unpkg.com/browse/@prisma/migrate@2.20.2/package.json).

[2021-04-06 09:01] #6425 closed

[2021-04-06 09:27] martineboh commented on #6425
Oh! Thanks

[2021-04-06 09:47] kevinsimper commented on #6329
I also updated to newest 2.20.1

I also did "connection_limit=1 and then add a setInterval to do a SELECT 1; every 1 minute", but we are still seeing `Error { kind: Closed, cause: None }` unfortunate.

So even when I am 100% sure that the connection is active at least every minute we are still seeing 1000's of theses cases.

[2021-04-06 13:12] tiagoboeing commented on #1277
Stop flood the topic, to demonstrate your support use reactions on [the first message](https://github.com/prisma/prisma/issues/1277#issue-545696402). Many people were subscribed to receive updates about this subject and don't "+1".

![image](https://user-images.githubusercontent.com/3449932/113715726-390d6b00-96c0-11eb-9672-22b1cce434c1.png)

[2021-04-06 13:24] friebetill opened #6428 "Add accent insensitive query mode"
## Problem

Currently there is a possibility to search a database case insensitive with `QueryMode.insensitive`. I would like to additionally search the database accent insensitive.

## Suggested solution

Extend the `QueryMode.insensitive` to be also accent insensitive or add the `QueryMode.accentInsensitive` with the possibility to combine the mode with `QueryMode.insensitive` (it would probably

[2021-04-06 13:26] matthewmueller opened #6429 "Improve error on default values when `@db.ObjectId` isn't present"
_(MongoDB is not publicly available yet. This issue is for the development build.)_

## Problem

Given the following Prisma Schema

[code]

This is a valid schema according to `prisma validate`:

[code]

Unfortunately, when you run the following:

[code]

You get the following error:

[code]

## Suggested Solution

We validate that you need `@db.ObjectId` and don't allow a generated client in this

[2021-04-06 13:29] kokokenada commented on #6385
I seem to have been able to work around this problem by downgrading to 2.16.1

[2021-04-06 13:46] matthewmueller opened #6431 "Prisma Client hangs and eventually panics when there is no MongoDB server to connect to"
_(MongoDB is not publicly available yet. This issue is for the development build.)_

## Problem

A mongodb connection string that doesn't have a mongodb server listening hangs and eventually panics after 1 minute.

I first noticed this when I accidentally shutdown my mongodb server and ran my script. The script seemed frozen, but it said it was connected. Then I realized that I had no server liste

[2021-04-06 13:52] DennieMello commented on #2505
I really look forward to when this opportunity will appear in the roadmap and will be implemented.

[2021-04-06 13:59] tomhoule commented on #3435
I get this with 2.20.1

[code]

I think we can consider this problem fixed.

[2021-04-06 13:59] #3435 closed

[2021-04-06 14:04] Sytten commented on #6329
I mean a setInterval on cloud run is a bit useless since the CPU is all but frozen in between calls @kevinsimper.
For other projects I used the [uptime check](https://cloud.google.com/monitoring/uptime-checks) feature to keep my containers warn (cheaper than setting a minimum instance of 1) and you can use that to ping the DB then.
How much load do you have, like I maintain two applications in pro

[2021-04-06 14:08] #6426 closed

[2021-04-06 14:18] millsp opened #6432 "Create a utility package"
Many tools are scattered around in the monorepo. What if we created a package for it? This could improve type safety and centralize updates on those tools.

[2021-04-06 14:30] millsp opened #6433 "Improve error for invalid permissions on Linux"
I'm running into this on ubuntu 20.04 while having `prisma@2.20.1` installed globally.

`prisma db push --preview-feature`
[code]

[2021-04-06 15:26] pantharshit00 commented on #6385
Can you share your gitlab ci config file?

[2021-04-06 15:40] janpio commented on #6426
New output:
[code]

[2021-04-06 16:24] Weakky commented on #6153
Hey @robertt, would you mind sharing on which Postgres version you're running these queries?

I just compared the query plan of these two queries on Postgres 10.15:

[code]

[code]

vs.

[code]

[code]

And the query plans end up being exactly the same, but also different than yours.

Also, as @matthewmueller pointed out, if the code you're running looks exactly the same as the one you shared, the

[2021-04-06 16:24] tomhoule commented on #6382
Thanks for reporting this! We'll work on it as soon as possible.

[2021-04-06 16:25] tomhoule opened #6436 "The error message for P3006 should mention the shadow database"
Error: P3006

Migration `20210404205832_time` failed to apply cleanly to a temporary database.

[2021-04-06 16:42] #5041 closed

[2021-04-06 16:50] janpio commented on #1717
Duplicate of https://github.com/prisma/prisma/issues/3865, continued there.

[2021-04-06 16:50] #1717 closed

[2021-04-06 17:00] janpio commented on #6423
You should be able to urlencode the unescaped password and use it with Prisma I think. I am not sure if the same format would also work with `psql` though.

[2021-04-06 17:04] janpio commented on #2798
This is a duplicate issue of https://github.com/prisma/prisma/issues/4010

[2021-04-06 17:04] #2798 closed

[2021-04-06 17:14] Sytten commented on #5976
Ok so my test bench reports that this is just a lie that the engine tells the client, the process doesnt actually crash.

[2021-04-06 17:39] emyann commented on #6423
@janpio  Thanks for the quick answer, I've tried urlencode the unescaped password `)u&rI5]FlgG|1)q57rpB8-4{S3~5?7G}` which gives me `)u&rI5%5DFlgG%7C1)q57rpB8-4%7BS3~5?7G%7D}` no luck the error is

[code]

I've also tried with urlencode the escaped password `\)u\&rI5]FlgG\|1\)q57rpB8-4{S3~5\?7G}` giving me `)u&rI5%5DFlgG%7C1)q57rpB8-4%7BS3~5?7G%7D` and it also does not work

[code]

[2021-04-06 18:04] janpio commented on #6423
Hm, what if you use this urlencoded string `%29u%26rI5%5DFlgG%7C1%29q57rpB8-4%7BS3~5%3F7G%7D`? (via https://www.urlencoder.org/)

[2021-04-06 18:08] emyann commented on #6423
@janpio Same error unfortunately with the string you shared
[code]

[2021-04-06 18:13] kokokenada commented on #6385
Sure.  Here; you go:
[code]

On it's own, it does't paint the full picture, so here's some scripts it calls:

npm run build-cli does 'rm -rf ./cli-build; npx prisma generate; tsc --build tsconfig-cli.json; npm install -g'

db-deploy.sh is: (the reason for the retries is sometimes Aurora serverless needs to wake up, if I recall correctly.

[code]

[2021-04-06 18:16] janpio commented on #6433
Can you run `prisma generate` directly via the CLI successfully?

[2021-04-06 18:20] janpio commented on #6431
Prisma Client has some rough retry logic on low level database errore, that would resend a query on some errors for MySQL/Postgres. Possible that it does not know how to handle `not yet implemented` and thus decides to just wait.

[2021-04-06 20:07] FredericLatour commented on #5051
What other solution are you considering?
This solution is by the way completely trivial to implement.

[2021-04-06 20:12] FredericLatour commented on #6341
The middleware hack is really ugly if you ask me:

All ORM around just let you provide timezone configuration that is passed to the driver connection.
Please just do that and problem is solved. That's that simple.

[2021-04-06 20:20] robertt commented on #6153
Hey @Weakky, I'm running on Postgres 12.5 (full output of `SELECT version()`:  `PostgreSQL 12.5 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-11), 64-bit`.)

This is the query plan for `SELECT COUNT(*) FROM "Content"`
![image](https://user-images.githubusercontent.com/18425863/113772896-342ad480-971d-11eb-8420-b1e9bf6f9e75.png)
This is the query plan for `EXPLAIN SELE

[2021-04-06 21:22] narciero commented on #6329
@Sytten I use the uptime check as well on Cloud Run and for an application handling ~5-10k req/day I see at least 10+ of these errors per day.

[2021-04-06 21:48] darioielardi commented on #6042
We have the exact same use case described above ( optional relation in a multi tenant schema ). Is there any ETA for a fix?

[2021-04-06 22:33] Sytten commented on #6329
I pushed the fix for problem 2 today, so next dev build will allow new connections parameters so we can set the idle lifetime to 2m, it should help a bit but won't solve all issues. Problem 3 is still being worked on.

[2021-04-06 22:51] imankamyabi opened #6438 "Enable support for Amazon Aurora Serverless Data API"
## Problem

Amazon RDS (Aurora Serverless) Data API feature provides an HTTP endpoint and uses IAM roles to authenticate to that endpoint. So the ask here is to support that form of authentication. Since the public endpoint is not available for Aurora serverless, this feature is required in order to use/authenticate to a serverless rds cluster.

## Suggested solution

Once the SQL is generated, in

[2021-04-06 23:20] narciero commented on #3069
It would be great to have (a) `disconnect` _not_ throw if no relation exists as mentioned or (b) allow passing `null` to optional relations in `connect` (similar to how you can pass `null` to foreign keys in the unchecked variants of create/update)

[2021-04-07 01:07] heymartinadams opened #6440 "API standardization?"
## Problem

Sometimes I get confused: “is it `prisma.updateFirst`, `prisma.updateUnique`... or... oh! It’s just `prisma.update`! (Even though there is `prisma.findFirst` and `prisma.findUnique`).

## Suggested solution

Please standardize the CRUD ops, if possible. One idea:

| Create | Read  | Update | Delete | Upsert |
| ------------- | ------------- | ------------- | ------------- | -----------

[2021-04-07 02:35] Mark-Panda commented on #3102
I want to get custom instructions like GraphQL to identify instructions in prisma to generate logic code。
Is there any hope?

[2021-04-07 08:41] redeyecz opened #6441 "Wrong query when using "every" on many-to-many relation"
## Bug description

When using "every" filter in many-to-many reference, the produced query is wrong and returns wrong data

## How to reproduce

### Either:
1. clone https://github.com/redeyecz/prisma-bug2
2. run docker-compose up
3. go to http://localhost:3000
4. check logs - validate query, see that it's wrong

### Or:

1. Create prisma schema like this one
[code]

2. insert a new account and n

[2021-04-07 08:43] snowyu opened #6442 "Proposal: Create datasource and model dynamically with programming"
## Problem

How to allow users to add external data sources and models online?

## Suggested solution

Create datasource and model dynamically with programming.

See #6437

[2021-04-07 09:40] dpetrick commented on #5854
A fix will be available with 2.21.

[2021-04-07 09:40] #5854 closed

[2021-04-07 09:51] janpio opened #6443 "Fail on usage of outdated/wrong preview feature flags"
Right now an outdated, misspelled or wrong preview feature flag is just ignored by Prisma Client. It would be good to have a way (e.g. an env var `PRISMA_VALIDATE_PREVIEW_FEATURE_FLAGS` or similar) to activate a mode that fails on usage of a currently invalid preview feature flag.

We could use that in examples and e2e tests, to make sure we are not documenting and showing outdated preview feature

[2021-04-07 10:14] janpio commented on #6438
Duplicate of https://github.com/prisma/prisma/issues/1964

[2021-04-07 10:14] #6438 closed

[2021-04-07 11:01] matthewmueller commented on #1277
Thanks for your patience everyone!

If you're interested in beta testing the MongoDB connector, please fill out this form and we'll reach out soon: https://prisma103696.typeform.com/to/FriDuIeM

[2021-04-07 11:02] janpio commented on #6443
Maybe not actually required?

[code]

[2021-04-07 11:49] janpio commented on #6431
If you also log the engine output via `DEBUG=*` you see that the engine itself is getting a more useful error along the way, that is not properly handled:

[code]

[2021-04-07 12:04] MichalLytek opened #6446 "Inconsistent PascalCasing for DMMF type names for array fields in `inputObjectTypes`"
## Bug description

I found that Prisma generates wrong input names in DMMF for array fields:

[code]

[code]

It's related to previous issue #5302.

## How to reproduce

Generate Prisma Client for schema with array type field model.

## Expected behavior

I would expect consistent type names to be always PascalCase.

## Prisma information

[code]

## Environment & setup

- OS:  Windows 10 @ WSL 2

[2021-04-07 12:14] janpio commented on #4360
Duplicate of https://github.com/prisma/prisma/issues/5327

[2021-04-07 12:14] #4360 closed

[2021-04-07 12:28] MichalLytek opened #6447 "Incorrect MutationInput suffix for update many inputs"
## Bug description

Update many input is the only input type that has the `Mutation` suffix - `PatientUpdateManyMutationInput` vs. `PatientUncheckedUpdateManyInput`, e.g.:

[code]

## Expected behavior

Type should be named `PatientUpdateManyInput`, just like it's already for create - `PatientCreateManyInput`.

## Environment & setup

- OS:  Windows 10 @ WSL 2 (Ubuntu 20.04)
- Database:  PostgreSQ

[2021-04-07 13:42] #6436 closed

[2021-04-07 14:14] sibeliuz commented on #678
Thanks, had the same idea, but i'm too lazy)

[2021-04-07 14:15] do4gr commented on #6042
Thanks for reporting and commenting on this issue.

The relationfield being required when at least one of scalar fields underlying the foreign key is required stems from a time when the scalar fields were not exposed and could not separately be written to. When that was the case not writing the relation meant you would get a runtime error when creating a row since the required field was not set. U

[2021-04-07 14:53] ivan-ivory commented on #1788
@olance Plugin still not working correctly and after the last idea update it stopped working at all.

[2021-04-07 15:29] kevinsimper commented on #6329
If you have enabled Query Insights, this is maybe relevant for you:

I found out through help from Google Cloud Customer support that Query Insights if enabled have crashed databases.

Our logs was showing that our database was `the database system is in recovery mode`

[code]

[2021-04-07 15:33] pimeys commented on #6329
Ok, so the upcoming update will change the following:
- When a query triggers a closed connection, the connection is marked broken and the query results into `P1017: Server has closed the connection.`
- The caller will get an error for this query, and can decide to either retry, or restart the app (depending on the use-case)
- This specific connection is then never given back from the pool, but th

[2021-04-07 15:42] #5181 closed

[2021-04-07 15:51] darioielardi commented on #6042
@do4gr thank you for the accurate description. I'm glad there's nothing at this point preventing this kind of optional relations, since that's exactly what we need right now. I'd also be willing to open a PR and work on the fix myself.

From what I can see, this is the code we need to change:

https://github.com/prisma/prisma-engines/blob/81578a019b5444a2c4eb90633774c488eeb6a943/libs/datamodel/cor

[2021-04-07 16:22] #5515 closed

[2021-04-07 16:22] #5947 closed

[2021-04-07 16:22] #5976 closed

[2021-04-07 16:22] #6139 closed

[2021-04-07 16:22] #6213 closed

[2021-04-07 16:22] #6329 closed

[2021-04-07 16:22] #5418 closed

[2021-04-07 16:30] janpio commented on #5976
Information about the PR that closed this:
https://github.com/prisma/prisma/issues/6329#issuecomment-815012006

Feel free to reply here again if the problem is not solved/better for you and we can reopen the issue of course.

[2021-04-07 16:30] janpio commented on #5947
Information about the PR that closed this:
https://github.com/prisma/prisma/issues/6329#issuecomment-815012006

Feel free to reply here again if the problem is not solved/better for you and we can reopen the issue of course.

[2021-04-07 16:30] janpio commented on #5515
Information about the PR that closed this:
https://github.com/prisma/prisma/issues/6329#issuecomment-815012006

Feel free to reply here again if the problem is not solved/better for you and we can reopen the issue of course.

[2021-04-07 16:30] janpio commented on #6213
Information about the PR that closed this:
https://github.com/prisma/prisma/issues/6329#issuecomment-815012006

Feel free to reply here again if the problem is not solved/better for you and we can reopen the issue of course.

[2021-04-07 16:31] janpio commented on #6139
Information about the PR that closed this:
https://github.com/prisma/prisma/issues/6329#issuecomment-815012006

Feel free to reply here again if the problem is not solved/better for you and we can reopen the issue of course.

[2021-04-07 16:31] janpio commented on #5418
Information about the PR that closed this:
https://github.com/prisma/prisma/issues/6329#issuecomment-815012006

Feel free to reply here again if the problem is not solved/better for you and we can reopen the issue of course.

[2021-04-07 16:36] janpio commented on #5977
The eneral reason for increased amount of `Timed out fetching a new connection from the pool.` error messages should be gone since a release or two. This was due to a race between the connection timeout and the pool timeout which both defaulted to 5s.

The specific problem of @Sytten we are tackling as well - and will open a new issue with the then current error message if it is not actually resol

[2021-04-07 16:37] #5977 closed

[2021-04-07 16:38] #5334 closed

[2021-04-07 16:50] Sytten commented on #5977
There was also a missing FIFO in the connection pool requests that was solved in mobc 0.7.1.

[2021-04-07 17:05] dpetrick commented on #3069
Disconnect will no longer error for records that are not connected, starting with version 2.21.

[2021-04-07 17:05] #3069 closed

[2021-04-07 18:01] euberdeveloper opened #6452 "Cannot delete a tuple on which a relation depends"
## Bug description

I have a model `Contratto` (contract). Every contract has one or more guests and the relation `ContrattoSuOspite` (contract-on-guests) is a relation made exactly to connect the guests to a contract. There is the **delete cascade**, so there should be no problem in deleting the contract. Instead, I have an error.

## How to reproduce

The (simplified) schema is:

[code]

Then I

[2021-04-07 18:06] euberdeveloper commented on #2328
This issue is opened by almost one year. How is it possible that with all the huge work that the prisma team is doing to improve the library, no solution has been provided yet? This is quite a big issue, and I think that it should also be labeled as bug.

[2021-04-07 18:24] janpio commented on #6452
Duplicate of https://github.com/prisma/prisma/issues/2328

[2021-04-07 18:24] #6452 closed

[2021-04-07 18:34] ekzyis commented on #678
Haha, you're welcome :D

I have noticed that my script does not work in the Gitlab CI because the grep in busybox does not include the perl regex option -P.

So I am actually using this line here:
[code]

instead of

[code]

Maybe you or anyone else will stumble across this too :D

[2021-04-07 18:50] janpio commented on #2935
I _think_ this is of the same class as `core_file` which I played with already - so I think I might know already. (Link to _really_ terrible code, where I messed with those thinking it would help: https://github.com/prisma/prisma-engines/pull/1802/files#diff-32349d539eeee14551827f0971cfb90f048fa8bceb05904631f4838c530fa865R51-R65)

[2021-04-07 22:53] Netlob commented on #5516
Any update? Or any suggestions on workarounds?

[2021-04-07 23:38] Hebilicious commented on #3228
@janpio Just chiming in, I'm not working on any IOT related project or anything, but if I'm not mistaken in the use case where you are collecting metrics coming from a lot of sensors, you just might not want to have any kind of unique identifier on them.

Maybe @akulkarni can give us more information regarding whether not having a unique index on your hypertable is something desirable?

Out of cur

[2021-04-08 02:18] haond10adp opened #6456 "Relation filter operator 'every' does not work correctly"
## Bug description

### Relation filter.
Relation filter operator 'every' does not work correctly.
'Every' will return records in case there's no related record (relation field of that record is an empty array) regardless of filter conditions

## How to reproduce

### Schema
Similar to this
[Client API Reference](https://www.prisma.io/docs/reference/api-reference/prisma-client-reference)
[code]

#

[2021-04-08 06:00] rvlewerissa opened #6457 "DB_URL not found when adding sslmode"
## Bug description

I received the following error when running `prisma migrate deploy`:
[code]

It happens only when I add `sslmode` to the `DB_URL` as follows:
`postgresql://user:password@host:port/dbName?sslmode=require`

It works just fine without adding the `sslmode`.
Adding other arguments like `connection_limit` works tho.

## Environment & setup
- OS: Ubuntu 20.04 (LTS) x64
- Database: Pos

[2021-04-08 06:44] kladnik commented on #6329
Wow, this actually solved it. No errors in the past 15h, this will do great until the next update. Thanks!

[2021-04-08 08:16] Weakky commented on #6153
Thanks for your answer @robertt, which confirms our initial assumptions. I've tried with MySQL and SQLite and the result is the same. We're therefore closing this issue as it was intentionally designed this way for better maintainability of the codebase.

Thanks for reporting this issue to us regardless 🙏

[2021-04-08 08:16] #6153 closed

[2021-04-08 08:47] janpio commented on #6329
Can you elaborate what you did exactly @kladnik? I might be missing some GCloud context, but would not know what exactly changed how - other people might be in the same position.

[2021-04-08 08:50] kladnik commented on #6329
I disabled `Query Insights` in Google Cloud SQL database. Just go into DB settings and turn off the settings there (refer to the picture):
![image](https://user-images.githubusercontent.com/11619663/113997171-2c237f80-9858-11eb-8653-753456e70bbd.png)

You do lose Query monitoring, which does seem like a very nice feature, but not as important as stability. Hopefully with next version I can enable

[2021-04-08 08:52] Bjoernstjerne opened #6458 "prisma 2.20.1: migration create duplicate migration.sql to alter table"
## Bug description

With version 2.20.1 prisma migrate dev generate duplicate migration.sql files to alter tables if enums with default value are used in schema.prisma.

## How to reproduce

clone https://github.com/mazzaker/prisma_migrate_issue
You need a local mysql and change the URL string in prisma.schema file.
use yarn/npm initDb
a new migration will be created, the same sql as the migration

[2021-04-08 09:19] tomhoule commented on #6412
We could at least warn.

[2021-04-08 09:20] tomhoule commented on #6411
`--create-only` works even with an empty schema. Is this issue about giving you a way to generate an empty migration without touching the dev database?

[2021-04-08 09:24] tomhoule commented on #6397
Relevant existing issue: https://github.com/prisma/prisma/issues/5245

M1 CPUs are unfortunately not supported yet.

[2021-04-08 09:24] #6397 closed

[2021-04-08 09:26] pantharshit00 commented on #6397
Prisma should still work via Rosetta on M1. Please make sure that rosetta is enabled in your machine.

[2021-04-08 09:27] tomhoule commented on #6370
"Database already exists FK__Address__userId\n'" looks like a bug in prisma/quaint.

[2021-04-08 09:31] tomhoule commented on #2093
This should already be fixed. Candidating for us to confirm it.

[2021-04-08 09:33] tomhoule commented on #3752
Pending on a principled approach to identifiers in PSL.

[2021-04-08 09:34] tomhoule commented on #1543
Probably not relevant anymore. Candidating for @Jolg42 to take a look.

[2021-04-08 09:35] tomhoule commented on #1912
Candidating for making issue current/closing.

[2021-04-08 09:37] tomhoule commented on #1587
The reflection around this has evolved a lot since `@@ignore` in introspection/migrate. Tables without identifiers are now fully supported in introspect/migrate. And these tables still couldn't be handled by the Client. So this issue can be moved over to the client side.

[2021-04-08 09:39] tomhoule commented on #3010
Pending on a principled stance on identifiers in PSL.

[2021-04-08 09:42] tomhoule commented on #3238
Candidating in order to confirm that this does not happen any more, and fix if it does.

[2021-04-08 09:43] jagoncalves14 commented on #5294
Hi @timsuchanek!

I think I'm running with this exact same issue.

This is the error I get when I try to create a Post.
![image](https://user-images.githubusercontent.com/17235977/114003491-af8fa180-9855-11eb-81d6-9dd077c3b0b1.png)

Weirdly enough, I'm able to **Update** a post with categories, but can't **Create**.

Here are the informations related to the Create Post:

## Create Post

### Types

[2021-04-08 09:45] tomhoule commented on #1531
Introspection now supports models without identifiers thanks to `@@ignore` and `@ignore`.

[2021-04-08 09:45] #1531 closed

[2021-04-08 09:47] tomhoule commented on #1662
Candidating to confirm that this is now correctly represented.

[2021-04-08 09:49] albertoperdomo commented on #6403
Hello @shwethashyam1,

If I understood correctly, I think this is the expected behavior, since you caused drift by adding a table directly to the database.

Here are a few options for how to deal with this...

Option A: Add the table to the schema file, use Prisma Migrate dev to create a migration to add the table and add the table to the database schema
Option B: Add the table to the database (ca

[2021-04-08 09:49] #6403 closed

[2021-04-08 09:49] tomhoule commented on #3236
Migrations team thinks it would be nice to revisit this once we have the concept of schema parser warnings. It is clearly supported at the database level, and at the same time it is clearly a smell.

[2021-04-08 09:59] mazzaker commented on #6458
the changes in the migration file is:
[code]

[2021-04-08 10:01] tomhoule commented on #6458
Thanks for reporting this, we'll work on it asap!

[2021-04-08 10:35] tr1stan opened #6459 "Optionality of DATETIME field changes from NULL > NOT NULL"
Integrating into an existing DB, DATETIME field optionality is getting marked as needing to change, which is causing migrations to be generated when they shouldn't.

## How to reproduce
1. With an empty database and new Prisma installed project
2. Create tables:

[code]
3.  `npx primsa init`
4.  `npx prisma introspect`
5.  prisma.schema generated as:
[code]
6.  `npx prisma migreate dev` (tells me

[2021-04-08 11:32] timsuchanek opened #6460 "[DEP0131] DeprecationWarning: The legacy HTTP parser is deprecated in Node `12.22.0`"
When running Prisma Client (any of the last 10 major versions) in Node `12.22.0`, which has been released on March 30, I get this warning:
[code]

The source of the problem actually is the dependency `undici`: https://github.com/nodejs/undici/issues/702

They will release a new version next week with a fix.
Until then, the only option to disable the warning I found was this:

[code]

[2021-04-08 11:41] timsuchanek opened #6461 "Update esbuild"
Unfortunately, the latest esbuild is not compatible with webpack.
That's why we had to downgrade it.
We should investigate the problem and make sure we can upgrade to the latest esbuild.
https://github.com/prisma/prisma/pull/6260

Update (Joël) on current state as of August 31:
- most packages in monorepo are on 0.12.16
- root on 0.12.17
- cli and client stuck on 0.8.53

And we ignore the esbuild

[2021-04-08 11:56] millsp commented on #6328
We tried to reproduce this error, could you provide a repro please?

[2021-04-08 12:53] janpio commented on #3228
Yes, that is unfotunately one of the fundamental limitations of Prisma: https://www.prisma.io/docs/about/limitations#records-must-be-uniquely-identifiable Of course this has been a choice, so could be removed - but it is a very deep assumption in all our logic.

Having some feedback from @akulkarni on how to get hypertables, which usually might be fine without any unique identifiers, and this requ

[2021-04-08 13:23] FredericLatour commented on #6341
@janpio Not really sure why this thumb down.

* This date/timezone MySql matter is not something new.
* Timezone configuration at the connection level is how this is solved by existing MySql drivers.
* Existing ORM relies on this configuration option as well.
* The middleware hack is really ugly. No one can deny that...

If you believe this approach I'm describing (that I did not invent) is not th

[2021-04-08 14:04] janpio commented on #5873
Example from internal discussion: https://prisma-company.slack.com/archives/CGMCB82N8/p1617885743151100

[2021-04-08 14:05] #3360 closed

[2021-04-08 14:05] millsp commented on #3360
This is fixed in the latest version.

[2021-04-08 14:16] janpio commented on #6411
Yes, equivalent of creating the folder and empty file. Feel free to fix my misleading description above.

[2021-04-08 14:20] janpio commented on #6370
Most probably here: https://github.com/prisma/quaint/blob/8c4544130e1fe1cbc0f95ec3b21e616763774808/src/connector/mssql/error.rs#L153-L163