[2019-11-09 19:12] SvitlanaShepitsena commented on #883
Thank you, pantharshit00.  Looking forward for PageInfo meta-data.... I will try to implement in myself, though I will have to do it for each type  but in my case it's so many. And if you have generic implementations then I can easily switch.

If you implement metadata and do not forget let me know please as I am eagerly waiting for:-)! THANK YOU GUYS!

[2019-11-09 22:05] SvitlanaShepitsena opened #913 "Pagination not working"
Hi @SvitlanaShepitsena

Thanks for the kind words 🙌

Right now we provide properties from which you can implement both cursor or offset based pagination:
![image](https://user-images.githubusercontent.com/22195362/68453920-f3bfe200-021c-11ea-9ec7-3aec88e483ba.png)

So using `before` or `after` you can implement cursor-based pagination and using `first` or `last` and `skip` you can implement offset

[2019-11-09 22:12] SvitlanaShepitsena commented on #913
I am sorry @pantharshit00

I decided to implement cursor-based pagination. So in my nexus model I had

    ` t.crud.posts({
            type: 'Post',
            ordering: true,
            filtering: true,
            pagination: true,
        })`

However, when I went to apollo gql first, skip works perfectly.

` query posts(
    $orderBy: PostOrderByInput
    $first: Int
    $where: PostWhereIn

[2019-11-10 07:52] yovanoc opened #914 "RecordDoesNotExist Comeback!"
Hello today I see that in the `prisma2@2.0.0-alpha.293, binary version: 54c4d8ce690254b5d0c77a21361896a6ca3fc4b7` we have a comeback from the findOne method of the old
![image](https://user-images.githubusercontent.com/7302317/68540754-605eec00-0397-11ea-84b4-3bdd298aa648.png)
instead of returning null :/

[2019-11-10 10:53] timsuchanek commented on #824
Perfect! Then I'll close this for now. In case you can reproduce it again, just let us know and we'll reopen.

[2019-11-10 10:53] #824 closed

[2019-11-10 10:53] poulainv opened #915 "Error in migration engine - Unknown field `name`, expected `model`"
**Report id 524**

Since I've upgraded to` prisma2@2.0.0-preview016.1`
I have an issue when running lift

[code]

It works perfectly well when I downgrade to `prisma2@2.0.0-preview015`. Moreover, photon is still working with both versions.

By database connection enabled SSL `DATABASE_URL="postgresql://postgres:XXX@service-name.YYY.eu-west-1.rds.amazonaws.com:5432/postgres?sslaccept=accept_invalid

[2019-11-10 17:11] prisma2user opened #916 "Prisma2 install fails in corporate proxy / firewall"
Left a message over in the Prisma slack channel, but didn't get reply likely due to most people not using Prisma2 behind corporate proxy / firewalls, so posting an issue here

Recently discovered Prisma / Prisma2 and was looking to test it out for a project at work, but ran into an issue with running `npm install -g prisma2` since it looks like there is a call out to an s3 bucket to download a bin

[2019-11-11 04:33] shah05 commented on #522
Hi,
![image](https://user-images.githubusercontent.com/20430495/68561174-67f9c000-047f-11ea-858f-fd1848080aa9.png)

[2019-11-11 04:35] shah05 commented on #522
Hi, I am facing similar issues. Trying to create a Javascript client against MySQL DB (5.7).

I am following the tutorial in GitHub but the project initialization gets stuck at "Preparing your database" for a long time. Please help ?

Prisma2 version : prisma2@2.0.0-preview016.1

[2019-11-11 08:06] krskoondra commented on #902
The same issue. I can provide error log from the server:
[code]
Version: prisma2@2.0.0-preview016.1

[2019-11-11 08:53] pantharshit00 commented on #908
@williamluke4

I think you have removed many fields when you have fixed the naming conflicts(I checked the files that you shared with me privately). Those conflicts are unexpected. We are already considering reworking the migration flow from Prisma 1 to Prisma 2 so I think we should address this issue there.

There are also plans on making relations from implicit to explicit using the format comma

[2019-11-11 09:02] pantharshit00 commented on #909
This should be fixed with Preview 16.1. See https://github.com/prisma/prisma2/issues/904

So can you please try this again and report back as I was unable to reproduce this with `prisma2@2.0.0-preview016.1, binary version: 54c4d8ce690254b5d0c77a21361896a6ca3fc4b7`

[2019-11-11 09:17] pantharshit00 commented on #911
Yes, it is indeed a typing. If you will execute it in JS, it logs the debug output.

Thanks for catching this!

[2019-11-11 10:06] #883 closed

[2019-11-11 10:13] pantharshit00 commented on #913
Closing in favour of https://github.com/prisma-labs/nexus-prisma/issues/530 as this looks like a nexus prisma issue to me.

[2019-11-11 10:13] #913 closed

[2019-11-11 10:25] pantharshit00 commented on #914
I can confirm this regression.

I have reopened https://github.com/prisma/photonjs/issues/245

[2019-11-11 10:41] janpio commented on #914
Reproduction in https://github.com/prisma/photonjs/issues/245#issuecomment-552384045

[2019-11-11 10:48] pantharshit00 commented on #915
@poulainv

Can you please try this with a fresh database? Maybe the structure of _Migrations table has changed since you have upgraded. In the preview period, please expect breaking changes.

If you are still able to reproduce, please share your datamodel.

[2019-11-11 11:07] pantharshit00 commented on #916
We actually do provide proxy option so that you can use Prisma 2 behind a corporate proxy: https://github.com/prisma/prisma2/blob/dbb9ed844c10728b45ef450d5c85969a3b4b694d/docs/prisma2-cli.md#using-a-http-proxy-for-the-cli

Also, you can find a list of our binaries here: https://github.com/prisma/prisma2/blob/66049c779613f30c5e762ff14b1a2bcd3834c653/docs/core/generators/photonjs.md#available-binari

[2019-11-11 11:21] poulainv commented on #915
@pantharshit00 you are right, it works well after that! 👌

[2019-11-11 11:21] #915 closed

[2019-11-11 12:11] timsuchanek commented on #914
Fixed in https://github.com/prisma/prisma2/releases/tag/2.0.0-preview016.2

[2019-11-11 12:11] #914 closed

[2019-11-11 12:15] pantharshit00 commented on #902
I am unable to reproduce this. I used the GraphQL starter. Can anyone share your code so that I can try with that once?

[2019-11-11 13:01] timsuchanek commented on #254
Update: In https://github.com/prisma/prisma2/releases/tag/2.0.0-preview016.2 we pushed the limits a bit further again - a schema with 3000 models is now working.
The next (and last) big leap to get to even bigger schemas is an optimization to the Photon generator code.

[2019-11-11 13:03] Constans commented on #881
This might help in solving the issue:
https://github.com/prisma/prisma2/issues/809#issuecomment-547432541

I think that when a list (of any data type) is empty, the query on that data should return an empty array.

[2019-11-11 13:29] iRoachie commented on #902
@pantharshit00 Seems i have to make repos for you all the time :D https://github.com/iRoachie/another-prisma2-bug

Starter Project again. Nothing changed.

[2019-11-11 16:34] pimeys commented on #525
Ok, this is now merged to the engines master, some notes:

- MySQL connection strings look like this: `mysql://user:password@localhost/database?socket=/var/run/mysqld/mysqld.sock`, where you must have the host written but if socket parameter is set, it'll try to connect using a unix socket. This needs to point to the correct `sock` file.
- PostgreSQL is a bit different: `postgresql://user:password

[2019-11-11 16:36] prisma2user commented on #916
@pantharshit00, thanks for your reply to point out where these binaries are located since it seems to be part of photonjs instead of primsa itself, however, I feel our use case here is a bit different than those previously stated so I will elaborate a bit more.

In regard to configuring `HTTP_PROXY`, `HTTPS_PROXY`, `NO_PROXY` will not work in our environment because the network we leverage is very

[2019-11-11 17:00] ognjenbostjancic opened #919 "prisma2 lift save fails on PostgreSQL"
After upgrading to **2.0.0-preview016.1** running `prisma2 lift save` fails with following error on PostgreSQL database:
![image](https://user-images.githubusercontent.com/22957673/68605356-8cb85c80-04ac-11ea-84c8-8ffdb79c6c9a.png)

Deleting migrations and reseting database didn't help.

[2019-11-11 18:15] PeterDraex commented on #909
I've tried this with `prisma2@2.0.0-preview016.2`. I got a little further. Now it's failing when creating demo script:

[code]

[2019-11-11 21:33] alexwine36 commented on #882
I ran into the same error with 2.0.0-preview016.2 on Windows.
I also tried adding the sslaccept=accept_invalid_cert flag to Postgres uri to no avail.
Postgres installation is on AWS

[2019-11-11 21:37] andreasanta commented on #865
I had a similar issue on MacOS 10.15 and it was fixed by running the following:

`
sudo npm install -g --unsafe-perm prisma2
sudo prisma2 init hello-prisma
`

@pantharshit00 Maybe the docs should be updated for MacOS?

[2019-11-12 07:04] aberbob commented on #186
Commenting to know when anything changes. I am trying to move from Sequelize and need the JSON data type in MySQL. Migration was a breeze (30 mins for 46 tables and relations in about every table) except for the JSON type. :)

[2019-11-12 09:03] williamluke4 commented on #908
@pantharshit00 Is there anything that I can do to help with the rework of the migration of V1 to V2.

[2019-11-12 09:06] williamluke4 commented on #919
I'm pretty sure that this is a duplicate of #884  There is a tempory work around there

[2019-11-12 10:22] justicejoe opened #920 "Cannot migrate schema using lift save"
generator photon {
  provider = "photonjs"
}

// generator nexus_prisma {
//   provider = "nexus-prisma"
// }

datasource db {
  provider = "postgresql"
  url      = "postgresql://test:example@localhost:777/mydb?schema=my_db"
}

model Post {
  id        String   @default(cuid()) @id
  createdAt DateTime @default(now())
  updatedAt DateTime @updatedAt
  published Boolean  @default(true)
  title

[2019-11-12 10:23] pantharshit00 opened #921 "Create database from init flow when it doesn't exists"
![image](https://user-images.githubusercontent.com/22195362/68661594-36f1bc00-0561-11ea-88bc-e2411032d0b5.png)

Right now if the database doesn't exist in the database server, we are unable to proceed through the init flow and we need to manually create the database. What I would like is an option similar to that in lift(screenshot below) that will allow us to create this database within the init

[2019-11-12 10:24] pantharshit00 commented on #902
![image](https://user-images.githubusercontent.com/22195362/68660825-eb8ade00-055f-11ea-9ae3-492d40d1f10d.png)

I can reproduce this now. Seems only reproducible in with the MySQL connector not with the Postgres or SQLite connector.

Thanks again for sharing the reproduction with us :)

[2019-11-12 10:40] pimeys commented on #902
Found the bug, fixing today. The problematic method is this, but I'm just rewriting the pooling and now all connections test their status with `SELECT 1` instead of an empty query.

https://github.com/prisma/quaint/blob/master/src/pool/mysql.rs#L39-L44

[2019-11-12 11:58] pantharshit00 commented on #916
Thanks for sharing your thoughts. Marking this as a candidate for next sprint.

[2019-11-12 12:33] #857 closed

[2019-11-12 15:21] nikolasburk commented on #746
I've the docs for native imports/exports here: https://github.com/prisma/prisma2/tree/master/docs/import-and-export-data

@chrisdrackett For as long as we don't support NDF with the Prisma Framework, you can use the described workflows to import/export your data 🙌

[2019-11-12 15:21] #746 closed

[2019-11-12 16:08] marcantoine commented on #919
I've got the same error while trying to use lift with previous migration (error on lift up or down)
The error appeared with version 2.0.0-preview016 and is still occuring with 2.0.0-preview016.2

`Error parsing the migration steps: Error("unknown field `name`, expected `model`",
 line: 1, column: 61)'`

Everything works fine on 2.0.0-preview015

The migrations steps were generated with 2.0.0-previ

[2019-11-12 17:05] janpio opened #928 "Use new binaries"
The new binaries are done: https://github.com/prisma/prisma-engine/issues/37
So this can now be implemented in TypeScript land as well.

[2019-11-12 17:20] pimeys commented on #902
Going to be merged to prisma engines tomorrow, the quaint changes are here https://github.com/prisma/quaint/pull/30

[2019-11-12 17:33] nikolasburk commented on #895
I've added the docs here: https://github.com/prisma/prisma2/blob/master/docs/prisma2-cli.md#the-postinstall-hook
![image](https://user-images.githubusercontent.com/4058327/68695208-e5562b00-057a-11ea-8978-0527fb39e066.png)

[2019-11-12 17:33] #895 closed

[2019-11-12 17:42] tomhoule commented on #778
There are two parts to this issue:

1. The generated `prisma.schema` does not contain the database name. It is an issue with our typescript code.
2. The unhelpful error (rust panic) when you try to `prisma2 lift save` with that schema.

`2.` is fixed in a soon-to-be-merged refactoring of the errors in the migration engine.

I'll look into `1.` myself tomorrow.

[2019-11-12 18:20] kokokenada commented on #546
@janpio - I'm getting a similar error running the build on Netlify connecting to a Postgres Aurora.

[code]

[2019-11-12 20:42] AlexandruSerban142 opened #929 "How Prisma2 RealTime compares to Prisma1 and Apollo Server"
Hello,

I am new to graphql so I have a question to ask related to real time. We are in the process of developing an app that will need some Real Time Updates & Push notifications on the mobile side. I am really interested to know what I can do with prisma1 real time vs prisma2 (I know that the real time feature is not build in yet) vs Apollo Server subscription. From what I can tell with what I k

[2019-11-12 21:04] LongLiveCHIEF commented on #872
I was able to recreate this consistently using the latest docker postgres image and that images defaults.

[2019-11-12 22:53] brett-nuske-alliancesoftware opened #930 "Scalar array query missing order clause"
I have a model:

[code]

When executing:

[code]

I notice in my PostgreSQL logs that the one of the queries that is executed is as follows:

[code]

Unfortunately the result of this query is not ordered and therefore the results for `name` are inconsistent. What I am experiencing is that if the results are as follows:

[code]

Then name for `ck2v8nuom000145r0p7c0gti4` is `['C']` instead of `['B',

[2019-11-13 01:13] kokokenada commented on #919
As per https://github.com/prisma/prisma2/issues/884, adding  sslaccept=accept_invalid_certs to your datasource url fixes this.

To make matter worse the error message is not displayed when running in Netlify build.  Just a mysterious:
[code]

[2019-11-13 02:34] prisma2user commented on #916
Did want to follow up one more time since it dawned on me that the hard coded link is specific to s3-eu-west-1 and may also make sense to leverage a default domain being https://prisma-native.s3.amazonaws.com/ so that its not specific to any particular region.

Just providing for additional reference, but I was also looking for additional projects that host binaries on GitHub and did see that Pris

[2019-11-13 09:16] mavilein commented on #768
I talked with @tomhoule about this. He is implementing the errors spec right now. This error will be more understandable once the errors spec is implemented.

[2019-11-13 09:16] #768 closed

[2019-11-13 10:08] pantharshit00 commented on #909
Looks like you are introspecting a database instead of starting from scratch and looks like an enum in your database has `-` in it. I think this is a bug in our introspection logic and it might be automatically get fixed once we start using the introspection engine written in rust instead of current typescript one.

cc @do4gr maybe this might interest you.

Marking this as a confirmed bug.

[2019-11-13 10:10] pantharshit00 commented on #882
Hey @alexwine36, can you please tell me what exact error you are getting. Maybe you can open a new issue for your problem :).

[2019-11-13 10:28] pantharshit00 opened #931 "Document --unsafe-perm for all unix systems"
In my testing and reports by many users, npm requires `--unsafe-perm` if an install script if trying to modify data and it has root permissions.

So we do need to document this properly. This is also important as it is the install step.

[2019-11-13 10:28] pantharshit00 commented on #865
We personally haven't encountered such issue on macOS.

But I do think this is related to running the install command with administrator permissions in unix like OS. I have opened a new docs issue for this here: https://github.com/prisma/prisma2/issues/931

[2019-11-13 10:31] pantharshit00 commented on #186
The spec work is still ongoing. Latest work can be tracked in this PR in the specs repository: https://github.com/prisma/specs/pull/291

[2019-11-13 10:35] pantharshit00 commented on #908
Right now we need to define the exact migration process and we also need to make choices on whether we want to have dedicated convert tooling or Prisma 1 databases can be introspected just like any other database.

You just keeping testing out photon and report bugs to us. That helps us a ton and we want to make photon as stable as possible before the full release.

[2019-11-13 11:24] pantharshit00 commented on #912
Hi,

I was unable to reproduce this. Do you mind sharing your code in a git repository so that I can try to reproduce this using it?

[2019-11-13 11:32] pantharshit00 commented on #920
I can confirm this as a bug.

[2019-11-13 11:37] tomhoule commented on #778
Found the relevant code: https://github.com/prisma/prisma2/blob/8f56b8b971b0819845c6f2d19b09445e7e3748ba/cli/introspection/src/prompt/screens/Step4SelectDatabase.tsx#L77

Looks like the database selection only redirects, maybe we could add an event handler that updates the database URL on the `<Link />`? cc @timsuchanek

If that sounds like the right way I can try to set up the project and make th

[2019-11-13 12:18] pantharshit00 commented on #872
Can you please share your docker setup @LongLiveCHIEF? I mean whether you run simply the docker run command or set up a docker-compose file.

[2019-11-13 12:23] pantharshit00 commented on #871
I am still unable to reproduce this. Maybe this is also tied to the exception that you are encountering.

Anyways, the error spec defines that Rust panics should not be user-facing(https://github.com/prisma/specs/tree/master/errors#unknown-errors). So I think this will get automatically fixed once error spec is implemented.

[2019-11-13 13:24] timsuchanek commented on #574
All three main repos now have a CONTRIBUTING.md, linking to https://github.com/prisma/prisma2-development-environment

[2019-11-13 13:24] #574 closed

[2019-11-13 13:50] nikolasburk commented on #574
I adjusted path to `src/bin.ts` in the Lift section. Also, I couldn't actually tried to follow the instructions for both Lift and the `init` command an in both cases I just got an error when I ran `bin.ts`, not sure if that had something to do with my environment though or I was missing anything 🙈

**The issue with Lift**:

[code]

**The issue with `init`**:

[code]

[2019-11-13 15:02] mavilein commented on #896
I cannot reproduce this with the following version:
[code]

[2019-11-13 15:09] mavilein commented on #896
Nevermind my comment. I forgot `-g` in my `npm install` command 🤦‍♂

[2019-11-13 15:10] mavilein commented on #896
This is a regression of our new approach of diffing datamodels. The new diffing algorithm cannot handle type aliases as of now.

[2019-11-13 15:47] darrylyoung commented on #522
I'm also going through the tutorial and it's hanging on "Preparing your database...". I'm using `2.0.0-preview016.2` and testing with a MySQL 5.7 database on RDS. I chose TypeScript, by the way.

[2019-11-13 15:47] timsuchanek commented on #574
Thanks @nikolasburk! That should be fixed in the latest version.

[2019-11-13 15:55] darrylyoung opened #932 "Hanging on "Preparing your database ..." during tutorial"
Hi,

I'm currently going through [this](https://github.com/prisma/prisma2/blob/master/docs/tutorial.md) tutorial. I created a MySQL 5.7 database on RDS. It was going fine until it seemed to hang on _"Preparing your database ..."_.

See the screenshot below (note: I hid the app name; that was showing as expected):

![prisma](https://user-images.githubusercontent.com/1460800/68780036-e8fab800-0635-1

[2019-11-13 17:07] nikolasburk commented on #574
Yup, just tested again the issues from before are all fixed. I only ran into an issue when tyring Photon.js this time:

At step 4. I ran into this error:

[code]

And in the last step in this error:

[code]

Otherwise everything worked well! 💯

[2019-11-13 17:20] phil-r opened #933 "`prisma2 dev` fails with `ETIMEDOUT`"
At first it does nothing for some time and then fails with `ETIMEDOUT`

Worked fine earlier today

Full error:
[code]

[2019-11-13 17:34] alexwine36 commented on #882
After install the client generates without error
using
    "nexus": "0.12.0-beta.14",
    "nexus-prisma": "0.5.0",
    "prisma2": "2.0.0-preview016.2"

This error appears after starting and attempting to run a query
[code]

[2019-11-13 17:47] steebchen opened #934 "Prisma should check for generator binaries in $PATH"
When writing custom generators, you can specify an absolute or relative binary path for the "provider" value. However, the path resolution does not respect binaries in $PATH, which would make things easier for custom generators, because they can depend on globally installed binaries.

The following generator configuration does not work:

[code]

![image (1)](https://user-images.githubusercontent.c

[2019-11-13 18:27] pimeys commented on #902
Fix should be in the next release on Thursday (or if compiling the core from sources).

[2019-11-13 18:54] chrisdrackett commented on #912
it sounds to me like this was a problem that has been fixed:

https://prisma.slack.com/archives/CKQTGR6T0/p1573481001177200?thread_ts=1573241027.160200&cid=CKQTGR6T0

Sorry, I forgot to close this issue!

[2019-11-13 18:54] #912 closed

[2019-11-13 18:58] cstffx opened #935 "Error: Command failed with exit code 13"
OS: Ubuntu 16.04

Steps:

yarn global add prisma2

git clone https://github.com/prisma/prisma-examples.git
cd prisma-example/javascript/graphql
yarn

And get

Error: Error: Command failed with exit code 13 (EACCES): /home/user/prisma-examples/javascript/graphql/node_modules/prisma2/query-engine-linux-glibc-libssl1.1.0 cli --dmmf
spawn /home/user/prisma-examples/javascript/graphql/node_modules/pris

[2019-11-13 20:18] iRoachie commented on #599
@pantharshit00 can I remove the repo now?

[2019-11-14 00:23] LongLiveCHIEF commented on #872
I tend to never install anything natively on my machine, always using docker. I created a gist with my setup: https://gist.github.com/LongLiveCHIEF/4a4e56c16fa97d724512c9b117bd4f4e

Add each of those files, then run:

[code]

The `make build` command will create a `prisma2:latest` docker image, and make the `./prisma2` shell script executable.  This shell script basically simulates native installa

[2019-11-14 00:33] LongLiveCHIEF commented on #872
note, connection info:

[code]

[2019-11-14 01:07] LongLiveCHIEF commented on #931
This is a non-starter.  This particular setting is disallowed in most platforms, and if it's not, then when the uid/gid switches to root, the process will crash because _that_ setting is disallowed.

This is a container/cloud policy driven world these days.

On top of that, having the download of this binary happen outside of the package manager installation is _also_ likely to fail, because these

[2019-11-14 04:35] sejr commented on #882
I am seeing this issue as well.

[2019-11-14 06:48] pantharshit00 commented on #522
I think you all are running into https://github.com/prisma/prisma2/issues/884.

Can you please try cancelling the preparing step with `Ctrl + C` and performing `prisma2 lift save` and `prisma2 lift up` on the generated files. If you ran into `certificate not trusted` error, please add `&sslaccept=accept_invalid_certs` to your connection string in schema.prisma file meanwhile we fix this issue.

[2019-11-14 09:28] williamluke4 commented on #908
@pantharshit00 It appears that all the tables that would have been dropped were all using `@relation(link: TABLE)` in the V1 schema

[2019-11-14 09:38] pantharshit00 commented on #733
@janpio Are you able to still reproduce this one?

[2019-11-14 10:23] nikolasburk opened #936 "`prisma2 lift save` creates two new `.db` files for SQLite"
I have this Prisma schema in a new project:

[code]

This is the file structure:

[code]

When I run `prisma lift save` from the project root dir, two `.db` files are being created, one in the project root dir, the other one inside the `prisma` dir:

[code]

I'm on:

[code]

[2019-11-14 10:30] cypcz commented on #267
This is a really important one. Can it be prioritized? Where can we expect this feature?

[2019-11-14 10:30] mavilein commented on #930
@brett-nuske-alliancesoftware : Thanks for reaching out 🙏

I think that you found a bug there but the analysis and your suggestion is not entirely correct. Here a few observations:
* The Photon query for the `skill` model specifies an order by. This only controls the the order by that is used to fetch the rows from the `skill` table. This does and should not influence the query for the scalar list

[2019-11-14 10:38] mavilein commented on #930
I just compared the implementations of Prisma 1 and Prisma 2. We indeed added the suggested order by clause for `nodeId` and `position` for Prisma 1. That behavior got lost in the rewrite. Not sure if we should fix it though since we are considering to change the implementation of scalar lists soonish.

[2019-11-14 11:13] Manouli commented on #254
@timsuchanek I can confirm that its working for me now. Thank you so much for dealing with this.

[2019-11-14 11:32] pantharshit00 commented on #919
Can you all check if `sslaccept=accept_invalid_certs` fixes this error? Otherwise please tell me how to reproduce this.

The netlify issue is related to #313

[2019-11-14 12:10] pantharshit00 opened #937 "Handle ordering of scalar lists"
Ref: https://github.com/prisma/prisma2/issues/930#partial-timeline

Right now there is no mechanism in photon to handle ordering of scalar lists like `String[]`. We need to tackle this use case in the API.

[2019-11-14 12:12] pantharshit00 commented on #932
Hi,

Can you please try running `prisma2 lift save` and `prisma2 lift up`. If you encounter `certificate not trusted` error, this might be a consequence of #884

[2019-11-14 12:13] pantharshit00 commented on #933
Hi,

I was successfully able to download the binary using that URL. Can you please try again?

[2019-11-14 12:18] pantharshit00 commented on #937
Right now scalar lists are ordered in terms of position. Now we need to decide if we should provide APIs to handle ordering of scalar list or this should be handled in the application land.

[2019-11-14 12:20] pantharshit00 commented on #599
Yes, you can remove the repo now as we have identified the cause.

[2019-11-14 12:48] pantharshit00 commented on #872
Looks like you didn't add the `--unsafe-perm` flag in your npm command in your Dockerfile.

[code]

Can you please try again using this file?

[2019-11-14 13:03] pantharshit00 commented on #935
I am unable to reproduce this.

Also, I noticed something weird that you are not getting the right binary for ubuntu 16.04 that we ship. In the screenshot below, the binary for ubuntu 16.04 is named `query-engine-linux-glibc-libssl1.0.2-ubuntu1604` but your binary is named `query-engine-linux-glibc-libssl1.1.0 `

![image](https://user-images.githubusercontent.com/22195362/68859268-e8812080-070c-11

[2019-11-14 13:06] pantharshit00 commented on #936
I can also confirm this bug.

![image](https://user-images.githubusercontent.com/22195362/68859576-97256100-070d-11ea-8bbd-c62dc8c21a0f.png)

[2019-11-14 13:34] nikolasburk commented on #816
There's also a related discussion here: https://github.com/prisma/specs/issues/264

[2019-11-14 13:36] ognjenbostjancic commented on #919
@pantharshit00 I can confirm that @kokokenada 's answer of adding `sslaccept=accept_invalid_certs` fixes this.

[2019-11-14 13:59] phil-r commented on #933
Looks like it was some connectivity issue between my isp and s3, worked with vpn and works fine now.

[2019-11-14 13:59] #933 closed

[2019-11-14 14:35] LongLiveCHIEF commented on #872
I missed that, but that's a non-starter for me unfortunately. In this day and age, things don't get to run as root.

[2019-11-14 14:40] LongLiveCHIEF commented on #872
Can i ask, is the only reason you want the `--unsafe-perm` flag is so you can install `query-engine-linux-glibc-libssl`, or are there are reasons?

If it's just the library install issue, I can figure out a better security/policy compatible way to get that installed and submit a PR. (see my comments in https://github.com/prisma/prisma2/issues/931)

[2019-11-14 15:02] cstffx commented on #935
Hi,

Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.6 LTS
Release:	16.04
Codename:	xenial

OpenSSL 1.1.0h  27 Mar 2018 (Library: OpenSSL 1.1.1a  20 Nov 2018)

Linux desarrollo 4.4.0-157-generic #185-Ubuntu SMP Tue Jul 23 09:17:01 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

[2019-11-14 15:18] tomhoule commented on #896
This should be fixed by https://github.com/prisma/prisma-engine/pull/183 - the fix will be in `prisma2@alpha` soon, and in the next preview version :)

[2019-11-14 15:19] LongLiveCHIEF commented on #834
related https://github.com/prisma/prisma2/issues/931

[2019-11-14 15:19] tomhoule commented on #896
I'll close the issue, but feel free to re-open if the problem persists.

[2019-11-14 15:30] LongLiveCHIEF opened #938 "prisma2 needs a more security conscious installation method for binaries"
related #931 https://github.com/prisma/prisma2/issues/834

There are several concerns with the way binaries are being installed for the Query Engine, Migration Engine, and prisma-fmt utility.

First, they require use of `--unsafe-perm` when running `npm install`. In today's IT platforms, apps are explicitly disallowed the ability to switch users, or run as root.

Secondly, these are being distribu

[2019-11-14 15:47] LongLiveCHIEF commented on #938
Also, I'd be happy to contribute a PR for this, just want to have an agreement from prisma team on what acceptance criteria for this are.

I'm super excited about trying out prisma2, but right now this issue is keeping me from even running hello-world type of exercises.

[2019-11-14 15:48] LongLiveCHIEF commented on #931
I opened #938, which I believe should preempt and close this issue.

[2019-11-14 15:59] BiscuiTech commented on #919
I can confirm that the `sslaccept=accept_invalid_certs` does **not** in fact fix this entirely. I now have this error after adding the param:
![image](https://user-images.githubusercontent.com/17841919/68873576-d6cc5880-06cd-11ea-8eab-01fa2342861f.png)

[2019-11-14 16:51] SvitlanaShepitsena commented on #919
Well, I added these params and it helped in my case on ubuntu 19.10. What was that - I did not have time to figure out :-). Hope it would help you guys.
&sslmode=verify-ca&sslfactory=org.postgresql.ssl.NonValidatingFactory

[2019-11-14 17:07] steebchen commented on #928
tracking issue in photonjs: https://github.com/prisma/photonjs/issues/221

[2019-11-14 17:09] marcantoine commented on #919
Reinstalled preview16.2, I still have the same error. I tried adding @kokokenada `sslaccept=accept_invalid_certs` as well as @SvitlanaShepitsena `&sslmode=verify-ca&sslfactory=org.postgresql.ssl.NonValidatingFactory` in my connection string.

![image](https://user-images.githubusercontent.com/4647269/68879317-807d0b00-0709-11ea-934d-002213cd8063.png)

[2019-11-14 21:22] AlexandruSerban142 opened #941 "JSON Object as property"
Hello Guys,

How should I declare a JSON object into a prisma2 model?

[2019-11-15 10:16] matthewmueller opened #942 "Document Connection Management for Lambda"
We've decided that rather than provide a fancy solution for doing connection management in Lambda, we'll instead document how to optimally configure Photon based on the memory size of your Lambda and the size of your RDS instance

**Update** [See below](https://github.com/prisma/prisma2/issues/942#issuecomment-557168564) for details

[2019-11-15 10:27] timsuchanek commented on #556
I can reproduce this.
From what I understand from @pimeys we can't support pgBouncer right now, as it doesn't support transactions, which we need e.g. for nested mutations.

[2019-11-15 10:50] pantharshit00 commented on #908
Yes, and also looks like scalar lists tables are also dropped. That is why we won't recommend upgrading right now for larger schemas.

[2019-11-15 11:32] pantharshit00 commented on #931
Thanks, I agree with you.

[2019-11-15 11:32] #931 closed

[2019-11-15 11:34] pantharshit00 commented on #872
I am going to close this issue now. We can continue our discussion on a better mechanism to manage the binary over at #931

[2019-11-15 11:34] #872 closed

[2019-11-15 12:28] pantharshit00 commented on #935
Interesting, you have openssl version 1.1 while you are on Ubuntu 16.04 which I think should have openssl 1.0.1

Are you using the desktop version or a server? Also, I think this would probably be fixed by https://github.com/prisma/prisma-engine/issues/37

[2019-11-15 12:44] pantharshit00 commented on #919
@marcantoine Can you please share your datamodel?

@BiscuiTech Can you please tell me where your database is hosted?

I think we should wait while we patch #884

[2019-11-15 13:03] pimeys commented on #556
We don't support pgBouncer right now due to it having limited capabilities compared to a direct connection to PostgreSQL. I've used pgBouncer quite a lot in my life and almost always needed to go back to direct connections due to it not working in certain cases.

This here seems to be a problem with prepared statements. So what Prisma does it prepares the statement first so the database can cache

[2019-11-15 13:22] pantharshit00 commented on #941
Hello

In the current state, you can't natively store JSON with prisma2. You will need to store it as a string and you will need to serialise and deserialize them manually. and  But in the coming when type system is implemented(see spec here: https://github.com/prisma/specs/tree/master/schema#type-definitions-provided-by-connectors), you will be able to use the native JSON type in postgres and all

[2019-11-15 13:23] pantharshit00 commented on #941
Closing this as a duplicate of https://github.com/prisma/prisma2/issues/186

[2019-11-15 13:23] #941 closed

[2019-11-15 15:18] tomhoule commented on #919
I think this is related to the change in the format of migrations. See the "Breaking changes" section in the [latest release notes](https://github.com/prisma/prisma2/releases/tag/2.0.0-preview016)

[2019-11-15 15:20] tomhoule commented on #522
https://github.com/prisma/prisma2/issues/884 is specific to postgres, I think it's probably something different on MySQL.

[2019-11-15 16:09] marcantoine commented on #919
Thank you @tomhoule i missed this point in the release notes,  this totally looks like my error.

[2019-11-15 16:11] timsuchanek opened #944 "Improve install behavior on linux"
When installing prisma2 in an ordinary Ubuntu docker image, you'll get an error, that you have to install prisma2 with `--unsafe-perm`.
We should come up with a better solution here instead of letting the user figure the situation out.

[2019-11-15 16:26] tomhoule commented on #919
Glad to help, if that worked :)

[2019-11-15 16:34] BiscuiTech commented on #919
Database is hosted on DigitalOcean (Managed DB)

I just what was in there and the issue persists. I also have no problems with my workstation back home, just my work laptop. I just realized that it may be because my home station probably isn't updated to v16. I'll have to check.

[2019-11-15 17:10] williamluke4 commented on #908
Ok thanks @pantharshit00, This should be added to the Prisma 1 to Prisma 2 Migration Guide

[2019-11-15 18:05] tomhoule commented on #884
I spent a lot of time investigating this, and the conclusion is that what we are doing is not buggy, but much stricter than most other postgres clients. We will relax the current behaviour a bit (otherwise you would have to pass certificate files to the postgres connection in nearly every scenario). I will keep this issue up to date.

[2019-11-15 19:37] LongLiveCHIEF commented on #834
I think we should close this in favor of #938 and make it one of the requirements for that one. I have some suggestions on ways to handle this, and I'll update comments in that issue.

[2019-11-15 19:53] LongLiveCHIEF commented on #938
The `postinstall` script for `prisma2` could first check for a `PRISMA_QUERY_ENGINE_PATH`, (same for migration and fmt), and that environment var could either be a system path or a URI.  If that exists it would either skip download (if it's a system path), or use the given URL to download.

Secondly, if the above variable isn't found, it could check for a `PRISMA_BINARY_MIRROR_URL`, and if _that_

[2019-11-15 20:22] LongLiveCHIEF commented on #938
@pantharshit00 @dpetrick The current docs in [docs/core/generators/photon.md](https://github.com/prisma/prisma2/blob/51140490ebf917e19e83d7bada3ef1934d54bf58/docs/core/generators/photonjs.md) tell us that in order to compile our own binaries we should check out the `prisma/prisma` project and checkout the alpha branch and run `cargo` on it.

However, the most recent commit on that branch https://g

[2019-11-15 20:23] LongLiveCHIEF commented on #944
@timsuchanek this is being tracked in #938. would you mind closing this in favor of that?

[2019-11-15 21:09] LongLiveCHIEF commented on #938
N/m, I think i found it: https://github.com/prisma/prisma-engine. That look right to you?

[2019-11-15 21:11] LongLiveCHIEF commented on #702
related #938

[2019-11-15 21:32] LongLiveCHIEF commented on #702
I'm currently working on this as part of #938. The best route to take would be to provide a repository for each distro you support, and in your package manifest for that distro, you would declare what dependencies your package has, so that the package manager can find the best match.

Then the user can use the native package manager to to determine the best way to install packages in a way that is

[2019-11-15 23:06] LongLiveCHIEF commented on #938
another thought:  I recently learned that visual studio code extensions are built with a globally installed npm package called `vsce`. That cli tool looks at the package.json `engines` field of an extension for a version dependency of the vscode platform that the extension is built for.

I wonder if we can do something similar with the `prisma2` cli, specifying either individual binaries, or the e

[2019-11-15 23:49] LongLiveCHIEF opened #945 "unsafe eval() and relationship to `ncc` instead of package.json `bin` field"
I noticed some `eval`'s in the code as I was looking at the download.js files to experiment with some of the environment options I proposed in #938 (and eliminate the need for `--unsafe-perm` or anything that would be disallowed in an enterprise environment (such as a code analysis tool catching `eval` in a module and failing a build as a result.

My question is why are we using `ncc` instead of j

[2019-11-15 23:51] LongLiveCHIEF commented on #945
and yes, I did the see the issue referenced in the original commit, which is why i was wondering if the return approach had been tried before using eval.

[2019-11-16 05:27] jwld opened #946 "Is there a way to view the generated photon API?"
With prisma 1 you could go to the url of your hosted prisma server and view the generated API in full there. This made it really easy to work out how to sort / filter etc.

Is there a way to do this with Prisma 2? I'm trying to work out how to filter by a many-to-many connection, and getting stuck because there's no way to reference what's been generated.

[2019-11-16 06:45] #876 closed

[2019-11-16 10:20] timsuchanek commented on #944
@LongLiveCHIEF this is just mentioning the `--unsafe-perm` aspect of your issue. In your issue you also mention GPG and proxies. In order to have a separate working item we can plan, I created this issue.

[2019-11-16 11:07] timsuchanek commented on #938
Thanks for all the research and posting your thoughts on this @LongLiveCHIEF!

I'll answer in reverse chronological order :)

1.
Regarding pinning the version in the `package.json`, we're doing that here already:

https://github.com/prisma/prisma2/blob/master/cli/prisma2/package.json#L21

As of now we want all engine versions to be the same. The hash you see there will soon be replaced with a vers

[2019-11-16 11:22] timsuchanek commented on #945
Thanks @LongLiveCHIEF for asking this, that's indeed a good question I'm happy to answer.
We use ncc in 3 places:
1. For the prisma2 cli  - We rely on a significant amount of packages and want them to be safely packaged together and not rely on yarn/npm resolving the correct dependencies. In Prisma 1, we used to have normal npm dependencies in our CLI, te installation time was 60-120s. Here, with

[2019-11-16 15:31] LongLiveCHIEF commented on #938
Totally understand, that's why I've been chatty with my posts.

All I've done at the moment is work on a Dockerfile that compiles the binaries from the docker-engine project in a way that accepts build args for common firewall/VPN scenarios, so I can get back to learning prisma2.

I wasn't planning on doing anything more than that until I got responses from your team on the various issues I've com

[2019-11-16 18:51] izio38 commented on #735
Same here with the latest prisma2 version: ![image](https://user-images.githubusercontent.com/9900846/68997727-c4a71180-08a9-11ea-952c-d3de5d516399.png)

Prisma2 version: `prisma2@2.0.0-alpha.305`. Binary version: `b72fd0a786adc77ba6c61d0a9637ff0371e433b0`.

When doing a `lift save` followed by a `life up`:
![image](https://user-images.githubusercontent.com/9900846/68997753-09cb4380-08aa-11ea-8ca2

[2019-11-16 19:12] williamluke4 commented on #884
@tomhoule Why is it that this only cropped recently? Was the code change recently to make the certificate file required by default?

[2019-11-16 20:51] tomhoule commented on #884
Yes, we implemented passing custom certificates for postgres connections a few weeks ago and I think that's when the decision was made.

[2019-11-16 20:54] LongLiveCHIEF commented on #945
Thanks for the response, that helps a bunch. I'm hoping I can become a contributor to the prisma2 ecosystem, so this kind of background summary is much appreciated!

[2019-11-16 20:54] #945 closed

[2019-11-17 11:37] petasis opened #947 "prisma2 dev fails during migration of a simple MySQL database"
Hi all,

I am trying to build a graphql api over a simple MySQL database (just 3 tables). But I get a failure during migration, and I do not know how to debug it.
A report id 621 has been generated by prisma2 and uploaded (somewhere).

[2019-11-17 18:59] ozimos opened #948 "enum error with prisma lift up"
Error report id 625
photon client was successfully generated
prisma lift up reports that all migrations are already applied
prisma lift save errors out
Here is my schema.prisma

[code]

[2019-11-17 19:09] ozimos commented on #948
Solved. The database had an existing tables with  an enum column not supported by prisma2 [A+, A- , B+, ...]. Deleting all the tables before running `prisma2 lift save` solved the problem

[2019-11-17 19:09] #948 closed

[2019-11-17 19:57] LongLiveCHIEF commented on #938
So I've got my dockerfile "finished", and the end result is dissapointing.

This whole thing is extremely overcomplicated. I've defined binary path via env variables, and using `lift` and `generate` commands completely ignores those paths.

At this point, I can't tell if that's a bug, or if I'm just doing something wrong, because the advanced docs for the binaries say the env vars don't change the

[2019-11-17 20:31] kripod commented on #253
As you are asking for specific use cases, I would like to present my own, featuring a heterogeneous collection:

[code]

`MultipleOptionsQuizItemParams` and `NumericQuizItemParams` would be subclasses of `QuizItem` in an object-oriented environment. The following model would serve as a container for `QuizItem` models, e.g. the aforementioned specializations:

[code]

[2019-11-17 20:41] LongLiveCHIEF opened #1034 "PRISMA_QUERY_ENGINE_BINARY being ignored"
I'm compiling my own binaries via [Dockerfile](https://github.com/LongLiveCHIEF/prisma2/blob/574dc3de29cbe2f7dff8aa81e47f429909ed0e77/docker/Dockerfile), and setting the binaries on a custom path of `/prisma-engine/binaries/<binary_name>`.

However, when I run `prisma lift` or `prisma generate` commands, I get a node `ENOENT` error because it's trying to spawn the binary from `/usr/local/lib/node_

[2019-11-17 23:24] jwld opened #949 "Encountering an error in Prisma Studio after running "prisma2 dev""
Datamodel:
[code]

Error:
[code]

[2019-11-18 08:18] pantharshit00 commented on #947
Hi,

Can you please tell paste your model here?

[2019-11-18 08:36] pantharshit00 commented on #949
I am unable to reproduce this:
![image](https://user-images.githubusercontent.com/22195362/69036777-8c6c1400-0a0c-11ea-896b-3fe00637235c.png)

Can you please try clearing the site data using devtools and trying again?

[2019-11-18 09:27] timsuchanek commented on #577
For people who get here from google, you can find the docs here: https://github.com/prisma/prisma2/blob/master/docs/prisma2-cli.md#using-a-http-proxy-for-the-cli

[2019-11-18 09:27] timsuchanek commented on #506
It's now documented here: https://github.com/prisma/prisma2/blob/master/docs/prisma2-cli.md#using-a-http-proxy-for-the-cli

[2019-11-18 09:38] petasis commented on #947
Here it is:

model Entry {
  id     Int    @id
  e1     Int?
  e10    Int?
  e11    Int?
  e12    Int?
  e13    Int?
  e14    Int?
  e15    Int?
  e16    Int?
  e17    Int?
  e18    Int?
  e19    Int?
  e2     Int?
  e20    Int?
  e21    Int?
  e22    Int?
  e23    Int?
  e24    Int?
  e25    Int?
  e26    Int?
  e27    Int?
  e28    Int?
  e29    Int?
  e3     Int?
  e30    Int?
  e4     Int?
  e

[2019-11-18 12:48] pantharshit00 commented on #930
@brett-nuske-alliancesoftware

So for the ordering of Scalar lists, you should handle that on the application level. Scalar lists are returned on the order they are stored which is persisted by us. You can also store them as a relationship if you want for complex ordering directly via the database.

[2019-11-18 13:31] shah05 commented on #522
Ok guys I managed to resolve from my side. I updated my nodejs to the latest version (12). Before this was using node version 8.

[2019-11-18 13:47] shah05 opened #950 "Feature request/Clarification on Prisma2 functionalities"
Hi,

I'm currently creating an app that lets user connect to a particular database and read/extract info from the introspected columns. User should be able to select any/multiple columns from a table (from a DB) and then read the info.

Just facing some difficulties when automating the whole process to feed my GUI using Prisma2 and Photon API. Can you help with a few questions below ?
1. Is there

[2019-11-18 14:51] pantharshit00 commented on #903
You will need to give the other model back relations like so:
[code]

Notice the city model. That will tell prisma how to store them as we can't infer them if they are referred twice in a model.

[2019-11-18 16:09] HubnerJonathan opened #951 "Prisma Studio : "Failed to run script""
Hi,

I'm new to the prisma framework. When I try to use prisma studio (by default on http://localhost:5555/) this error appears. I can still use studio and navigate into the different tables of my DB but they appear empty.

`Error in Photon:
Error: undefined target="exit" timestamp="2019-11-18T15:40:41.176Z" fields={"message":"255"}
    at /home/avalon/.nvm/versions/node/v12.2.0/lib/node_modules/p

[2019-11-18 16:47] cstffx commented on #935
I'm using the desktop version.

[2019-11-18 16:48] madebysid commented on #936
I'm also seeing this for `prisma2 init` with `Blank Project` > `SQLite` > `JavaScript`, `Demo Script`.
One DB file is in the project root (0KB in size) and the other one is in the `prisma` directory.

Quite possibly the same issue.

[2019-11-18 16:50] divyenduz commented on #944
`npm` also has docs to fix this behavior: https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally

Irrespective of Prisma, if this is not addressed on linux, users need to use sudo with `npm`.

[2019-11-18 17:01] pantharshit00 commented on #944
Yes, but sadly most of the online tutorials encourage the use of `sudo` for installing global packages in Linux. Also, people want to install the CLI in docker to run the migrations and it is tedious to fix permissions there.

[2019-11-18 17:33] pantharshit00 commented on #929
Hi,

First of all, we don't have dedicated subscription support right now in Prisma 2(please see #298). So right now we can't really compare Prisma 1 vs Prisma 2 in terms of subscription.

Now Apollo Server subscription, you need something there to access data from the database, you can use Prisma 2 for that. So you would use Prisma 2 with apollo server to implement subscriptions. Prisma will act

[2019-11-18 17:46] divyenduz commented on #783
Context:

![image](https://user-images.githubusercontent.com/746482/69076372-981f0100-0a33-11ea-9f9c-fa7c71c4cd2e.png)

[2019-11-18 19:44] LongLiveCHIEF commented on #944
As far as a docker image goes, I'd rather have a `prisma2` image as a base, which already has the binaries installed globally, as opposed to starting with the base node image myself and having to figure out how to install everything.

Providing a ready made cli docker image means I only have to worry about pulling that single image, and not making sure I have connections for all the binary depende

[2019-11-18 22:15] brett-nuske-alliancesoftware commented on #930
@pantharshit00 I was not looking for complex ordering. If I stored a String[] that contained ['A', 'B', 'C'] I would expect that to be returned in that order. This is not happening because the database is returning an arbitrary result set ordering as there is no order clause in the generated sql query.

[2019-11-18 22:56] kripod opened #952 "[Netlify] Cannot find module '@generated/photon/package.json'"
When using [a monorepo](https://github.com/kripod/exigo) to separate the client and server code, [the following](https://app.netlify.com/sites/exigo/deploys/5dd30d74a36b450008a3f6af) happens:

I'm not sure about how to make `@generated/photon` (located at `server/node_modules`) discoverable by Netlify's [zip-it-and-ship-it](https://github.com/netlify/zip-it-and-ship-it) package. Will transitioning

[2019-11-19 04:53] justin-hackin opened #953 "can't create a set with Float[] and whole numbers"
Thanks to this issue https://github.com/prisma/prisma2/issues/169 I was able to figure out how to use a set of primitives.  I tried seeding my database with some JSON data and I noticed when I tried to seed an array with both "floats" and "ints" I hit an error like
[code]
 I tried adding `.0` to the numbers but that didn't seem to help.

I would expect that with a Float[] there would be casting pe

[2019-11-19 07:30] adiletttt commented on #903
@pantharshit00 this creates unnecessary relationships in the database, cities not should have cargoes. Now i did it through resolvers.
[code]

[2019-11-19 08:42] justicejoe opened #954 "how to do basic operation in photon ?"
for example if I want to query something that come before 2019-11-20 and come after  2019-11-12 and how to sort the output out of this query ? is there any document available for this kind of thing ?

[2019-11-19 08:43] pantharshit00 commented on #951
Hi,

Are you using Prisma over an existing database or it is a new database? Also, are you able to read data programmatically using photon?

You can also try clearing the site data in chrome dev tools and trying this again.

Also, please provide the output of `lsb_release -a`, `uname -a` and `openssl version` so that we can know more about your OS.

[2019-11-19 08:46] pantharshit00 commented on #935
Well, can you please try to install this with npm?

[code]

[2019-11-19 09:55] malekjaroslav opened #955 "Filtering by ENUM type"
Currently I see not option to filter by enum types and no types are generated for that. For example I want to return all bookings by status and I only want `CONFIRMED` and `PENDING`.

[2019-11-19 10:31] HubnerJonathan commented on #951
Hi,

The database was created with `prisma2 init` in Sqlite. I can read data using photon and my resolvers works just fine when I hit the DB trough the prisma server. Clearing the website data does not change anything.

**lsb_release -a**
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.3 LTS
Release:	18.04
Codename:	bionic

**uname -a**
Linux avalon-home 5.0.0-36-gen

[2019-11-19 11:42] THPubs opened #956 "PhotoJS fails to load environment variables defined in the prisma schema"
Now we can set environment variables inside the prisma schema file as defined in here: https://github.com/prisma/prisma2/blob/master/docs/prisma-schema-file.md#using-environment-variables . When we run CLI commands, it will automatically load the values from the `.env` file. But, when we use photon js, it won't pick it up. To fix this, we have to use `dotenv` right before instantiating photon like

[2019-11-19 12:34] jladuval opened #957 "Error on prisma2 init: Couldn't find any versions for "@prisma/engine-core" that matches "workspace:^2.0.8" (+others)"
Sorry for the long post, might be a couple of issues in here
[code]
So with some playing around I get to here
[code]
So far so good _however_ running build gives a few more errors
[code]
My setup
[code]

[2019-11-19 12:35] THPubs commented on #954
Earlier we could use the GraphQL Playground exposed by prisma to build our queries. But looks like prisma2 does not have a playground. Would be nice if we had a way to build our queries or a documentation. @justicejoe For now you can refer to this: https://www.prisma.io/docs/prisma-client/basic-data-access/reading-data-JAVASCRIPT-rsc2/ to see how to fetch filtered data. It's basically a GraphQL qu

[2019-11-19 12:56] pantharshit00 commented on #952
Yes, facade should solve this problem. Right now `@generated/photon` is not in your package.json file so netlify will eliminate it from the function environment.

I'd say you should wait till package facede is released.

[2019-11-19 12:59] pantharshit00 commented on #953
Hi,

Thanks for reporting this but this has been already reported once. So I am going to close this as a duplicate ofhttps://github.com/prisma/photonjs/issues/279

[2019-11-19 12:59] #953 closed

[2019-11-19 13:15] pantharshit00 commented on #903
Yes, if you want to just store the id and compute them you surely can do that.

[2019-11-19 13:22] kripod commented on #952
@pantharshit00 Thank you for the quick response! As I'm working on a project with a tight deadline, could you provide a rough estimation about when the transition will be done?

[2019-11-19 13:40] shah05 opened #958 "Prisma2 Introspect script"
Hi,

I am trying out the Prisma2 introspect service. But when I pass all the CLI flags based on my local mysql db credential, it always prompt me to provide a database name. Can please help to check ?

![image](https://user-images.githubusercontent.com/20430495/69151091-ee17a580-0b14-11ea-9e1c-15efdc599069.png)

[2019-11-19 13:44] #903 closed

[2019-11-19 14:03] dpetrick commented on #785
We won't do this. It does not add the benefit you're looking for. This will be achieved by better error handling and error communication, as defined by the errors spec, for example.

[2019-11-19 14:04] #785 closed

[2019-11-19 14:23] shah05 commented on #958
let schema: string | undefined
    if (credentialsByFlag.type === DatabaseType.mysql) {
      schema = credentialsByFlag.database
    }

I think just need to replace the return code below from schema -> database. To match the above attribute call. Please reconfirm

 if (mysqlFlags.length >= requiredMysqlFlags.length) {
      return {
        host: args['--mysql-host'],
        port: parseInt(args[

[2019-11-19 15:05] tomhoule commented on #936
We reproduced the bug and found where it comes from, but there is no spec regarding on the right thing to do. Issue: https://github.com/prisma/specs/issues/329

[2019-11-19 15:41] divyenduz commented on #783
This is not reproducible anymore with `prisma2@2.0.0-preview016.2, binary version: b72fd0a786adc77ba6c61d0a9637ff0371e433b0`

Created a fork (to still preserve the original reproduction) of my reproduction CSB here: https://codesandbox.io/s/prisma2-core-dump-j3t1z

Closing this issue for now, please re-open (or comment on this issue and tag me) if you see this issue again.

[2019-11-19 15:41] #783 closed

[2019-11-19 15:58] PhilippvH1 commented on #882
Same here.

[2019-11-19 17:47] alaxfilho opened #959 "How do querys return the count records to be used in pagination?"

[2019-11-19 17:59] janpio commented on #813
Internal Note: Dropped as spec under discussion

[2019-11-19 18:02] vadim-shilov opened #5012 "Errors at nested writes"
Hello!

Don't you think that throwing an error in the following cases is not worth it?

1) nested update of a non-existing record
[code]

2) disconnection/nested deletion of a non-existing record
[code]

[2019-11-19 18:10] cstffx commented on #935
Continue downloading query-engine-linux-glibc-libssl1.1.0

[2019-11-19 18:17] justin-hackin commented on #953
Thanks, I did try searching for the error but I should have tried other terms

[2019-11-19 21:21] chrisdrackett opened #960 "issues around migrations"
I'm having an issue around how setting up an initial database should work and issues I'm seeing around migrations. I have a schema that I'm using that partial contains the following:

[code]

to start out I'm running `lift-save` and `lift-up` and calling the migration `initial`.

When I look at the migration file everything looks fine. I see things like:

[code]

which seems totally correct.

Now

[2019-11-19 21:44] chrisdrackett opened #961 "migration failure when adding fields"
I'm getting the following when trying to add 3 fields to the DB:

https://gist.github.com/chrisdrackett/f0841d2dbac19267e2036b40a7319838

to note I'm able to add these myself manually to the DB without issue. This might be related to #960

[2019-11-19 23:23] james-ff commented on #258
Really need this 👍

[2019-11-19 23:29] milroyfraser opened #962 "Photonjs how to query where column?"
[code]

How to query projects where `completedAt` > `dueAt`?

[code]

[2019-11-19 23:29] milroyfraser opened #5013 "Expressions using field names"
[code]

How to query projects where `completedAt` > `dueAt`?

[code]

[2019-11-20 02:50] malekjaroslav commented on #951
I get this error now

@pantharshit00 I get this error now as well running on Cloud Run (not from Studio, but Photon). When I restart the "server" it starts working again. As there is no specific error it is hard to say where it comes from.

[2019-11-20 04:12] justicejoe commented on #954
So you mean that instead of the word 'prisma', I can use word 'photon' instead and it can do the same operation as in the prisma client one that you refer to ?

[2019-11-20 05:32] williamluke4 commented on #908
@pantharshit00 Above you mentioned that I should focus on testing Photon but I struggle to see how this is possible when I am unable to upgrade to V2. Am I missing something?

[2019-11-20 07:59] greben99 commented on #882
Same here, lift up and generate all works fine, connects. When I run the query it has an Error creating a database connection.

[2019-11-20 08:51] yovanoc opened #963 "mongodb problem"
I've this error with all prisma2 command even to get the version, but it's the latest alpha now, 325 I think

PS: I only use postgres and never put "mongo" somewhere

![image](https://user-images.githubusercontent.com/7302317/69223173-2520a200-0b7b-11ea-8ba9-7f85220e1a43.png)

[2019-11-20 11:15] timsuchanek commented on #963
Thanks for reporting @yovanoc ! We're working on it and will in a few hours have it fixed.

[2019-11-20 12:10] milroyfraser commented on #962
@timsuchanek is this not supported yet? ☝️

[2019-11-20 12:57] pantharshit00 commented on #956
I can confirm this as a bug. We should load the env file if it is present and right now photon is not loading the .env file.

[2019-11-20 13:15] steebchen opened #964 "Query engine: default values should be settable"
Fields marked with the `@updatedAt` or `@default(...)` directives are currently ignored when running a `CreateOne` mutation.

[code]

<img width="1103" alt="image" src="https://user-images.githubusercontent.com/5013932/69239682-14802400-0b9b-11ea-8cdd-7100e141da60.png">

First, I think it’s a bit inconsistent, as `@id` is also a `@default` but can also be overridden. Also, just by definition, defa

[2019-11-20 13:17] pantharshit00 commented on #957
I am unable to reproduce this.

Details of the system that I used:
![image](https://user-images.githubusercontent.com/22195362/69242105-26c38780-0bc6-11ea-9add-103fb1154e1e.png)

Can you please make sure that you are on that latest version of the cli and please try this again one time again.

[2019-11-20 13:17] pantharshit00 commented on #957
I am unable to reproduce this.

Details of the system that I used:
![image](https://user-images.githubusercontent.com/22195362/69242105-26c38780-0bc6-11ea-9add-103fb1154e1e.png)

Can you please make sure that you are on that latest version of the cli and please try this again one time again.

[2019-11-20 13:22] pantharshit00 commented on #952
I can't promise a timeline as facade need some research and implementation. Currently, we are in the process of implementing it. In the meanwhile, you can deploy your application to something like digitalocean.

[2019-11-20 13:30] pantharshit00 commented on #958
Can you please tell me which MySQL version you are using?

There is a similar issue regarding introspection: https://github.com/prisma/prisma2/issues/862

So this one might also get fixed automatically once we use the rust implementation of introspection instead of typescript one.

[2019-11-20 14:02] pantharshit00 commented on #959
Hello,

We currently do provide a count query(https://github.com/prisma/photonjs/issues/202)

Example usage:
[code]

It is not documented yet and its functionality is limited right now(see https://github.com/prisma/photonjs/issues/252). We are currently specing out and implementing all sorts of aggregation that you can use(https://github.com/prisma/specs/tree/master/photonjs#aggregations)

I creat

[2019-11-20 14:03] pantharshit00 opened #965 "Document .count() method"
Photon currently exposes `count()` that you use to perform the count aggregation (https://github.com/prisma/photonjs/issues/252)

This hasn't been documented yet.

[2019-11-20 14:07] jladuval commented on #957
I'm using `npx prisma2 init` so it should be using the latest.
Just to double check though.
[code]
I noticed your node version though, so I updated to 13 and it got past the first issue. I've made this a little easier to debug by replicating it in a docker container.

[code]

[2019-11-20 14:34] pantharshit00 commented on #960
Does your database contain existing data? Also, when you run lift save you see those SQL logs in your postgresql server or in the cli itself.

Also, which database you are using?

[2019-11-20 14:41] pantharshit00 commented on #961
Can you please tell me the steps to reproduce this?

[2019-11-20 14:46] pantharshit00 commented on #954
Actually no. The API is a bit different.

For filtering you would do the following:
[code]

Please read the photonjs docs: https://github.com/prisma/prisma2/blob/master/docs/photon/api.md#crud

Also, please check out examples: https://github.com/prisma/prisma-examples

[2019-11-20 14:47] pantharshit00 commented on #908
I would say try photon for a new project if you can't run the introspected project.

[2019-11-20 14:49] pantharshit00 commented on #882
Can you please try adding `&sslaccept=accept_invalid_certs` to your url and trying this again

[2019-11-20 15:10] SvitlanaShepitsena opened #966 "Error with prisma2 generate command."
`
"Error: Error: ETXTBSY: text file is busy, copyfile '/root/go/src/github.com/SvitlanaShepitsena/matevaman/nexus/node_modules/prisma2/build/query-engine-linux-glibc-libssl1.1.0' -> '/root/go/src/github.com/SvitlanaShepitsena/matevaman/nexus/node_modules/@generated/photon/runtime/query-engine-linux-glibc-libssl1.1.0'", "error Command failed with exit code 1."], "stdout": "yarn install v1.19.1\n[1/

[2019-11-20 15:16] SvitlanaShepitsena commented on #966
`"Error: Error: ETXTBSY: text file is busy, copyfile '/root/go/src/github.com/SvitlanaShepitsena/matevaman/nexus/node_modules/prisma2/build/query-engine-linux-glibc-libssl1.1.0' -> '/root/go/src/github.com/SvitlanaShepitsena/matevaman/nexus/node_modules/@generated/photon/runtime/query-engine-linux-glibc-libssl1.1.0'", "error Command failed with exit code 1."], "stdout": "yarn install v1.19.1\n[1/4

[2019-11-20 15:20] jwld commented on #884
Encountering the same issue with a postgres database hosted on heroku

[2019-11-20 15:22] pantharshit00 commented on #957
Ok, this issue is already reported here: https://github.com/prisma/prisma-examples/issues/974

We will need to fix the examples :). I am going to close this issue as a duplicate.

[2019-11-20 15:26] #957 closed

[2019-11-20 16:46] tomhoule opened #3405 "[Errors] New common error from malformed connection string"
While implementing the errors spec in the introspection and migration engines, @do4gr and me realized we don't have an error in the spec for connection strings that do not make sense/can't be parsed. This error would only be able to return the connection string and an optional error message.

Maybe something like: "The database connection string `${database_connection_string} could not be parsed.`

[2019-11-20 17:00] dpetrick commented on #914
Fixed in the query-engine as well now, we can remove the Photon workarounds with preview 17.

[2019-11-20 17:35] chrisdrackett commented on #960
I'm getting the sql from the readme in the migration folders. This is a postgres database. I've tried this both with a database with data and one without data.

[2019-11-20 17:36] chrisdrackett commented on #961
as far as I can tell the steps are actually in #960. I opened this before I dug in farther.

[2019-11-20 17:36] yovanoc commented on #896
still happening to me with `prisma2@2.0.0-alpha.334, binary version: b72fd0a786adc77ba6c61d0a9637ff0371e433b0`

[2019-11-20 18:05] janpio commented on #702
Hey @LongLiveCHIEF, although I understand where you are coming from this seems out of scope of what @steebchen was describing here - and what will be implemented as first step to get Prisma running on Alpine Linux - but justifies you opening a new issue, as it raises valid points and might be a good idea. Can you please do that? Thanks.

[2019-11-20 18:35] timsuchanek commented on #963
Fixed in latest alpha.

[2019-11-20 18:35] #963 closed

[2019-11-21 00:09] kripod commented on #952
In the meantime, I’ve opened a PR to mitigate the issue: https://github.com/prisma-labs/nexus-prisma/pull/536

[2019-11-21 00:30] chernandezweb commented on #522
![image](https://user-images.githubusercontent.com/22950332/69289952-3b0a8300-0bcc-11ea-88c8-2ad5c0e57a7a.png)

I am having the issue.

[2019-11-21 00:31] chernandezweb commented on #522
I ran in debug mode as you said

[2019-11-21 01:08] chernandezweb commented on #522
I figured out a way fix the issue on my side. It's weird.

Actually the problem was happening when I didnt specify the specific database when database infos are asked and selected it in suggested databases.

So I tried to put the name of the database a the beginning where it says (optional), then on the next step it says it didnt find it, but it still appears on the suggested databases. So I selec

[2019-11-21 07:59] justicejoe opened #967 "Is there some kind of graphql compose or something that work with prisma2 postgres ?"
Now, when I need to query something using graphql, I always need to adjust the query filter at the photon directly in backend. So ,I'm wondering  that is there any kind of graphql compose that let me adjust the filter parameter from the client only , then the backend will remain unchanged.

[2019-11-21 10:21] janpio commented on #615
This now partially exists under https://github.com/janpio/prisma2-cli-e2e-tests - as it is unclear how we will proceed with the CLI, it is also unclear how to proceed with the tests.

[2019-11-21 10:21] #615 closed

[2019-11-21 10:30] janpio commented on #519
Instructions now exist: https://github.com/prisma/prisma2-development-environment

[2019-11-21 10:32] #902 closed

[2019-11-21 10:37] nikolasburk commented on #858
Update: Didn't get to work on this yet, still need to talk to @schickling to learn what exactly this is about.

[2019-11-21 10:38] nikolasburk commented on #718
Update: Waiting for implementation.

[2019-11-21 10:48] divyenduz commented on #818
That is intentional, tools like zeit's now also move project files around and this allows their tooling to determine the dependencies and copy them over.

Photon relies on binaries and they should be treated as static assets, which means any bundlers like webpack, parcel must copy the binaries over.

We should document this behavior.

This is our current take on this, please let us know what you t

[2019-11-21 10:49] #254 closed

[2019-11-21 10:55] pantharshit00 commented on #888
Looks like our system is dropping `Json` field which is not supported. It is also dropping self relations.

I think you should wait while we streamline the upgrade process as I have mentioned in https://github.com/prisma/prisma2/issues/908

[2019-11-21 12:27] tomhoule commented on #896
Oh :/ Does the custom type appear in the migration when you `prisma2 lift save`?

[2019-11-21 12:28] yovanoc commented on #896
No, that's why I get this error I guess

[2019-11-21 12:50] pantharshit00 commented on #960
Still unable to reproduce this in SQLite. Can you please tell me which database you are using(along with the version) and can you please also share the `CheckIn` model?

[2019-11-21 12:51] pantharshit00 commented on #952
@kripod Facade will be released in today's release(Preview 17) so please check that out :)

[2019-11-21 12:54] pantharshit00 commented on #522
@chernandezweb Looks like your issue is related to https://github.com/prisma/prisma2/issues/778. So the fix is to add the mysql database name in the url in the schema manually.

[2019-11-21 12:56] pantharshit00 commented on #967
@justicejoe Your use case is interesting but this is probably not for photon as it is like an ORM and exactly adhered to your schema. Maybe we can make something like this in nexus though. cc @jasonkuhrt @Weakky

[2019-11-21 12:57] janpio commented on #519
Hit a problem: https://github.com/prisma/prisma2-development-environment/issues/1

[2019-11-21 13:11] pantharshit00 commented on #896
I can confirm this still occurs in `prisma2@2.0.0-alpha.338, binary version: b72fd0a786adc77ba6c61d0a9637ff0371e433b0`

[2019-11-21 13:27] shah05 commented on #958
Hi,

I am using MySQL 5.7.  I haven't tried for PostGres and Mongo DB yet if similar issue is found.

So means I need to wait for the rust implementation which will be in the next version is it ?

Thanks,

[2019-11-21 13:33] silemelon commented on #916
Same here,I'm in china,npm install -g prisma2 can't work but can wget gz package through environment variable.

[2019-11-21 13:55] jasonkuhrt commented on #967
@justicejoe This might already be possible. Can you share what an ideal client query to the graphql api would look like in your opinion?

[2019-11-21 14:03] pantharshit00 commented on #958
Yes, introspection will be more streamlined then and we are not fixing current issues because most of them will automatically get fixed.

I can't give you a timeline on when it will get released.

[2019-11-21 14:11] tomhoule commented on #896
I just checked and your binary version (`b72fd0a786adc77ba6c61d0a9637ff0371e433b0`) is older than the fix - the new preview that is coming out soon should have the fix.

[2019-11-21 14:58] pantharshit00 commented on #956
The portion in the docs
![image](https://user-images.githubusercontent.com/22195362/69349195-60b38d00-0c9d-11ea-94e0-39ea56ca9452.png)

[2019-11-21 15:06] pantharshit00 commented on #962
This is not supported yet. We are looking to support it via the new expression API.

https://github.com/prisma/specs/tree/master/photonjs#experimental-meta-response

[2019-11-21 15:34] janpio commented on #944
Please open a new issue for this request @LongLiveCHIEF. It is not related to the original problem and task that is being tracked here from @timsuchanek. Thanks.

[2019-11-21 16:02] saturday-scott commented on #942
Hey excited about the update! Is this is a temporary solution or something that is planned as part of Prisma Framework setup? Also sadly to view the content in the link it appears that one needs to be part of Prisma team

![image](https://user-images.githubusercontent.com/57911125/69354629-69c93d80-0c4e-11ea-9077-c90048b0b562.png)

[2019-11-21 16:39] matthewmueller commented on #942
@saturday-scott sorry for plopping an internal link in a public issue! We're still researching the details, but here's the outline. We'd love if you wanted to make headway on this research for your own work!

## Lambda CPU Cores by Memory

| Memory (MB) | CPU (Cores) | Pool Size (`= 2 * CPU + 1`) |
| :---------: | :---------: | --------------------------- |
|     128     |      ?      | ?

[2019-11-21 16:45] pantharshit00 commented on #946
Hi,

Prisma 2 doesn't really provide a GraphQL API like Prisma 1. Its architecture is a bit different. For such visibility, you can use Prisma Studio(which you can access in `prisma2 dev` now. It lists the photon query it is running on the top and you can also use autocompletion in there.

[2019-11-21 17:07] pantharshit00 commented on #950
No, currently this is not possible. There is a workaround though in which you can use a user with limited permission. See https://github.com/prisma/prisma2/issues/807

It is not possible right now. See https://github.com/prisma/specs/issues/282

You can specify the path to generate photon in the schema file(https://github.com/prisma/prisma2/blob/master/docs/prisma-schema-file.md#generators-optiona

[2019-11-21 17:09] olup commented on #964
I spent a bit of time trying to set my dates values that have a `default` at `now`. Was wondering what I was doing wrong, but I guess I am just going to +1 this bug (yes, default are supposed to be settable, this is indeed a bug)

[2019-11-21 17:10] pantharshit00 commented on #966
@SvitlanaShepitsena

Can you please share the version of Prisma 2 that you are using? Also, can you list out exact steps to reproduce this? Also, please share your datamodel if possible :)

[2019-11-21 20:58] steebchen commented on #964
@olup Do you use `@default(now())` in your prisma schema? Then prisma handles it for you and you don't have to set these values manually. What's your reason to set this manually? Mine is just for testing purposes as I said.

[2019-11-21 21:23] cstffx commented on #935
I get the next:

/home/user/node/bin/prisma2 -> /home/user/node/lib/node_modules/prisma2/build/index.js

Then the process fail with

request to https://s3-eu-west-1.amazonaws.com/prisma-native/master/b72fd0a786adc77ba6c61d0a9637ff0371e433b0/linux-glibc-libssl1.1.0/migration-engine.gz failed, reason: connect ETIMEDOUT 52.218.52.154:443'

I am accessing the internet through a proxy, however I have n

[2019-11-21 22:01] olup commented on #964
I do use @default(now()). And i dont set my timestamps manually when I want
them to default to the said default.

However, if I do pass on a value, I would expect this value to be used, and
not the default.

For example the date and time for an event. If not set, it's now() but if I
want to set the time, earlier or later, for it, i should be able to.

I believe it works like this when setting defa

[2019-11-22 07:34] jhalborg opened #971 "Support recursion and distinct selection"
Hey 👋

We have a use case that I've presented to @divyenduz  and @pantharshit00 , and have been asked to share it here for further discussion.

_____

**The use case**
Essentially, it's a lot of teams of teams with users in each. The teams will have a hierarchy to them, often times defined by geographical relations. For example,

- A team, Oxford Street, has a list of users.
- Another team, London

[2019-11-22 09:02] pantharshit00 commented on #935
Hi @cstffx

We host our binaries in amazon s3. Our CLI downloads it in postinstall scripts. Can you please make sure that S3 is not blocked by your proxy?

[2019-11-22 09:06] pantharshit00 commented on #971
I went through the photon spec and we do have an API laid out for Distinct selection: https://github.com/prisma/specs/tree/master/photonjs#distinct

It is not implemented yet.

[2019-11-22 10:06] divyenduz commented on #818
Created this issue https://github.com/prisma/specs/issues/336 in our specs repo to acknowledge this. Please share your valuable feedback there.

Assuming that this issue has a resolution via the manual copy workaround. I will close it, please write a comment and tag me if you think that closing this one is not correct. Thanks.

[2019-11-22 10:06] #818 closed

[2019-11-22 10:23] pantharshit00 commented on #947
Hi,

I checked the error report. The error said, "Query was empty". This is a known bug which will be fixed in preview 17(which will get released today). https://github.com/prisma/prisma2/issues/902

[2019-11-22 10:33] pantharshit00 commented on #930
Ok, I can confirm this bug now. We are not ordering by position.

So for following data, we should return `["A","B","C","D"]`
![image](https://user-images.githubusercontent.com/22195362/69418804-64005480-0d41-11ea-8e61-ffe292a378ef.png)

But we are not returning that:
![image](https://user-images.githubusercontent.com/22195362/69418837-6fec1680-0d41-11ea-8f98-ed98ac7c6be0.png)

The `SELECT` statem

[2019-11-22 12:45] yovanoc opened #972 "Prisma2 and Babel"
I tried today to convert my build system with Babel. (preset-typescript).

When building no error, but at launch: `ReferenceError: regeneratorRuntime is not defined`

![image](https://user-images.githubusercontent.com/7302317/69426774-4fff2780-0d2e-11ea-9cb4-64ef0f9ea54c.png)

[2019-11-22 13:38] pantharshit00 commented on #972
Can you please share your `tsconfig.json` file? Also, please share your babelrc as well.

[2019-11-22 13:40] pantharshit00 commented on #947
But I am still unable to reproduce your error so please wait till preview 17 and test this out again then

[2019-11-22 13:41] yovanoc commented on #972
I'm in a yarn workspaces, so root tsconfig:

[code]

in my server project:

[code]

and babelrc

[code]

[2019-11-22 14:39] steebchen opened #974 "State of Prisma generators"
Generators allow anyone to write their own application on top of Prisma, which can generate artifacts such as a type-safe database client in any language.

Current status:
:x: Generators are not ready for use.
:x: We might want to [completely rethink our generator approach](https://github.com/prisma/prisma/issues/2279).

While generators are awesome, they are a complex piece of tech, and they requ

[2019-11-22 15:21] divyenduz opened #975 "Rust panic with Chinook and SQLite"
**To reproduce**:

1. Clone the repo: https://github.com/divyendu-test/prisma2-975
1. Run `yarn`
1. Run `yarn prisma2 dev`
1. Press `y` for destructive changes prompt

Error:

[code]

[2019-11-22 15:32] jderrough opened #976 "Crash with 'prisma2 generate'"
prisma2: 2.0.0-preview016.2
typescript: 3.7.2

Data model:

[code]

Command, error and stacktrace:
[code]

[2019-11-22 16:04] BiscuiTech commented on #946
Just to add to the previous answer:
You can leverage TypeScript and intellisense to get nice autocompletion on `ctx.photon.[model].[action]()`.
You can also right-click and sift through the TypeScript declarations on the model. Generally, that's all I need to build my function.

Hope this helps.

[2019-11-22 16:51] matthewmueller commented on #916
internal note: drop for this sprint

[2019-11-22 16:53] matthewmueller commented on #702
We don't have the resources to tackle this right now, but if you're blocked on this please let us know and we'll re-priorize!

[2019-11-22 16:54] matthewmueller commented on #258
internal note: we'll spec this out this coming week, but drop it for next sprint

[2019-11-22 21:06] himerus commented on #902
I'm still seeing this error on `prisma2@2.0.0-alpha.351`. I've been seeing this for a couple weeks now, and was hoping Preview 17 would resolve it. Based on the slack notification today, I decided to hit the alpha build to see if my problems went away, and it worked well for a short bit it seemed, then this repeatedly is thrown.

[code]

[2019-11-22 21:27] cstffx commented on #935
Yes, I thought about it from the beginning, but the fact is that I can download the same binaries from my browser. So my proxy is not blocking this site. I can also download other packages from npm.
I am investigating whether the post-installation script is able to correctly detect my proxy settings. I am using the HTTP_PROXY and HTTPS_PROXY environment variables specifying the username and passwo

[2019-11-23 03:52] jwld commented on #946
Thanks, both valid options

[2019-11-23 10:12] jderrough commented on #752
This approach makes the prisma2 crash (#976).

[2019-11-23 11:52] pimeys commented on #902
The preview 17 was delayed to next Monday. I still needed to test this with the latest master, which I've been using together with MySQL for benchmarking the whole week without seeing this issue. Now I've been running the latest query engine for over ten minutes and the connections are still up with no errors.

Logs after being idle for a while and then querying:

[code]

Where we can see the firs

[2019-11-23 13:10] pimeys commented on #930
This is kind of obvious from the code where the order should be but is not. Although I still haven't been able to write a test where I could see the problem. That takes a bit more time than the fix which is two lines of code...

[2019-11-23 19:31] garyro opened #977 "Date returns String"
Is this a known issue I couldn't find it anywhere? In my schema.prisma I have 5 or 6 models in some cases the createdAt field or the updatedAt field return the Date correctly in some models a date String is returned from the prisma query. All the models have the date's as below:
createdAt DateTime @default(now())
updatedAt DateTime @updatedAt
 after a bit more research I discoverd the following (f

[2019-11-23 19:38] himerus commented on #902
I realize that Preview 16.2 doesn't include the fix, as I've been using that for the last two weeks. I'm using `prisma2@2.0.0-alpha.351` as instructed in the Slack post on Friday about waiting until Monday to push the next version. This was an attempt to test the latest.

I'll do additional verification/testing as I can over the weekend, as well as after the official release is made on Monday befo

[2019-11-23 21:45] garyro opened #978 "query engine instances"
I assume having an instance of the query engine per model is correct? If so is this documented? also in my schema I have a couple of models that are accessed rarely is there any way to remove the instance of that model. Is there more docs on exactly how this query engine is working. I apologize if this is more of question than an issue

[2019-11-24 03:40] kokokenada opened #979 "Deploys to Netlify failing - size related? Two binaries installed"
After misc dependency updates (not sure if this is the cause), my Netlify function deploys stopped working.

[code]

My guess is that it's a size problem.  I note that both query-engine-linux-glibc-libssl1.0.2-ubuntu1604 and query-engine-linux-glibc-libssl1.0.2 are installed.  When I changed binaryTargets = ["native"] (or maybe it was ["query-engine-linux-glibc-libssl1.0.2"]) . I only had one bina

[2019-11-24 10:12] pimeys commented on #902
It would still be useful if you'd give me the exact commit id from the prisma binary, so I'd know in which commit you're currently. You should get it with the `--version` parameter.

[2019-11-24 10:55] pimeys commented on #902
Ok, tried it with the binary distributed through npm, so `sudo npm install -g --unsafe-perm prisma2@alpha`.

In `/usr/lib/node_modules/prisma2` I have `query-engine-debian-openssl-1.1.x` binary.

[code]

Been running this binary for 30 minutes against a MySQL database with no errors.

Maybe you could try to uninstall prisma2 and then install the latest alpha from scratch. Might be some old npm ver

[2019-11-24 16:35] garyro commented on #977
This was fixed in 2.0.0-preview016.2 I upgraded and issue is resolved

[2019-11-24 16:35] #977 closed

[2019-11-24 17:34] kokokenada commented on #979
I was able to tweak things to only get one binary.  Netlify is still usually failing to deploy (maybe a build time out), and I I seem to need the native binary (query-engine-linux-glibc-libssl1.0.2-ubuntu1604 ) to run tests that access the database during the build and query-engine-linux-glibc-libssl1.0.2 for running the app.  Closing the issue for now

[2019-11-24 17:34] #979 closed

[2019-11-24 18:39] himerus commented on #902
`prisma2 version`:

`prisma2@2.0.0-alpha.351, binary version: b8d90fea39d266b128b4d748db5aca8505bb1026`

Seems to line up with yours. I'm running all this containerized, and have setup scripts to grab all related dependencies for global npm packages (including prisma2) as well as deps for API backend and UI.

I've reset on may occasions with a full nuke script which wipes any `node_modules` in my

[2019-11-24 20:26] garyro commented on #964
I just wanted to add as I think this is part of this issue. I have 6 models in my test db. In all of them I use createdAt DateTime @default(now()).
In all but one everything works as expected. In the one model when using create the createdAt field is always set to 1970-01-01 00:00:00.000 and also returns an error of:
 Error in connector: Error querying the database: Server error: `ERROR 42000 (106

[2019-11-25 01:36] schickling opened #980 "Rename connect/unconnect to link/unlink"
There's currently ambiguity around the term "connect" (and "unconnect") as it's currently used for both (1) DB connection management (i.e. TCP connection) and (2) connecting two records via a relation. The latter (2) we want to rename to "link" (and "unlink") as used in the [upcoming Photon.js spec](https://github.com/prisma/specs/tree/master/photonjs#nested-write-api).

[2019-11-25 01:42] schickling opened #981 "Use short commit hash instead of full hash"
We're currently using the full commit hash to indicate the version of the included Prisma binaries. To make things less "intimidating", I'd suggest to use the short commit hash version (7 digit) instead.

![image](https://user-images.githubusercontent.com/1567498/69506077-d4de7280-0ee1-11ea-8afd-6ea6cc507489.png)

[2019-11-25 09:43] pantharshit00 commented on #902
Hi,

Can you please make sure that you ran `prisma2 dev` after you have updated the cli? Photon will use the binary situated in the local context which might be outdated if you have not `prisma2 dev` after updating your cli.

To make sure run the this:
[code]
(if you are on a different OS than Mac, change the binary name accordingly)

and it should match the following hash:
![image](https://user-i

[2019-11-25 10:14] divyenduz commented on #976
Candidate because this is our workaround for ambiguous self relation issue which blocks many people, so, bringing this to the discussion table.

[2019-11-25 10:36] pantharshit00 commented on #972
In your current babel setup, you are telling babel to compile the code for browser as you are not providing any options to `@babel/preset-env`. That means babel will transpile async await code to generators and expect you to include babel-runtime in order to save repeated code that is required by transpiled code.

So your transpiled code will contain the regeneratorRuntime:
![image](https://user-i

[2019-11-25 11:39] yovanoc commented on #972
Ohhh yes my bad, thank you!

[2019-11-25 11:57] Constans commented on #902
Do you know if **preview017** is scheduled for today, or for next Monday? I have the same issue with the **findOne** query and I want to know if I switch to the alpha version or wait for the preview one.
Thanks!

[2019-11-25 12:27] pimeys commented on #902
It should be coming out today. Was postponed from last Thursday due to some last minute fixes and not having enough time.

[2019-11-25 12:30] pantharshit00 commented on #946
Going to close this now, feel free to open a new issue if you have any other questions.

[2019-11-25 12:30] #946 closed

[2019-11-25 12:34] pimeys commented on #930
Ok, tested this with the following:

Model

[code]

First query

[code]

[2019-11-25 12:35] #930 closed

[2019-11-25 12:50] nikolasburk commented on #978
Hey @garyro 👋 thanks a lot for your question!

That's not quite correct. There's one instance of the query engine _per Photon.js generator_ in your Prisma schema, and this is almost always exactly one! So, you're very likely to have exactly one instance of the query engine in your application.

Unfortunately, we don't have official documentation of the query engine yet but this will come soon! You

[2019-11-25 13:04] pantharshit00 commented on #964
Hi @garyro

`Query was empty` is a different issue(#902)

Also, you other issue is also known(https://github.com/prisma/prisma2/issues/457). It is related to having two fields with `@default(now())` in the model and engine is not working properly in that case.

[2019-11-25 13:08] pantharshit00 commented on #972
Closing this now :)

[2019-11-25 13:08] #972 closed

[2019-11-25 13:23] pimeys commented on #942
Results.

I used a small Rust app in lambda to display the number of cpus. Code is [here](https://github.com/pimeys/lambda-cpus).

| Memory (MB) | CPU (Cores) | Default Pool Size (`= 2 * CPU + 1`) |
| :---------: | :---------: | --------------------------- |
|     128     |      2      | 5                           |
|     256     |      2      | 5                           |
|     512     |

[2019-11-25 14:13] garyro commented on #978
Thanks for the answer and a link to the diagram (very helpful). Still I am clearly getting one query instance created for every model I do a query on. Currently in my test scenario I have 5 models if I run a query on each one I will have 5 instances of the query engine running. Tell me what info I can send to you. I am running prisma2@2.0.0-preview016.2, binary version: b72fd0a786adc77ba6c61d0a963

[2019-11-25 14:17] pantharshit00 commented on #978
If that is happening, it is clearly a bug. Please open a new issue about it with screenshots and possibly a reproduction.

[2019-11-25 15:03] garyro commented on #978
I wanted to close this out with my apologies my own code was causing this issue. This does work exactly as described by nikolasburk.

[2019-11-25 15:03] #978 closed

[2019-11-25 15:09] yovanoc commented on #165
Oh I see that we can close this now :)

[2019-11-25 15:09] #165 closed

[2019-11-25 15:47] janpio commented on #896
@pantharshit00 Can you please double check if this occurs with the new `preview017` release?

[2019-11-25 15:54] kripod opened #985 "[2.0.0-preview017] Error: Get config SyntaxError: Unexpected token P in JSON at position 0"
While executing `npx prisma2 lift save` on a clean [repo](https://github.com/kripod/exigo) after upgrading the Prisma framework, I encountered the error message as described in the title:

![image](https://user-images.githubusercontent.com/14854048/69555921-336c2500-0fa4-11ea-97d4-31df91427058.png)

[2019-11-25 15:55] kripod commented on #985
Also, while executing `prisma2 generate`, the following error message came along:

[code]

[2019-11-25 15:58] timsuchanek commented on #928
Fixed in preview release 17.
You can try it out with `npm i -g prisma2`.

[2019-11-25 15:58] #928 closed

[2019-11-25 15:59] justicejoe commented on #967
Ok, now I found what I expected in nexus-prisma but I have some problem with query of many to many relationship

[2019-11-25 16:13] jgoux opened #986 "[Feature Request] Default to public schema when using postgresql"
Hello, 👋

I was surprised that we have to set the schema explicitly when using postgresql in the database url (example : `postgres://user:password@localhost:5432/myawesomedatabase`)

This raises the error `Please provide a database name` which is confusing because the database name is set, but not the schema. Something like `Please provide a schema name` would be better.

Also as `public` is the d

[2019-11-25 16:13] pantharshit00 commented on #896
Ok, I am not able to reproduce this now with preview-017.

Also, a quick note that you will need to delete the migrations both from the database and locally. They contain the wrong steps.

[2019-11-25 16:17] pantharshit00 commented on #985
I am able to confirm this bug on windows. I am unable to reproduce this on MacOS though.

![image](https://user-images.githubusercontent.com/22195362/69557752-21eb4300-0fcd-11ea-8672-a5eab6d5c653.png)

[2019-11-25 16:24] D2KX opened #987 "[2.0.0-preview017, Win10] Error with global npm install of 'prisma2' CLI"
On Windows 10, I get an error immediately when I try to install the newest version of the Prisma Framework CLI (2.0.0-preview017).

<img width="835" alt="prisma2" src="https://user-images.githubusercontent.com/4834966/69557998-c8245200-0fa7-11ea-8c5c-4373c62c3bf5.png">

"TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received type undefined"

I haven't tried yet, but

[2019-11-25 16:44] timsuchanek commented on #987
Thanks a lot for reporting @D2KX! We're looking into it and will probably release a patch tomorrow.

[2019-11-25 16:49] pantharshit00 commented on #987
Hi,

Thanks for reporting this but this has been already reported once. So I am going to close this as a duplicate of #985

[2019-11-25 16:51] pantharshit00 opened #988 "Automatically clean prisma2 binary cache"
Right now there is no way to clean the prisma2 binary cache. So cache folder is getting quite big in size.

![image](https://user-images.githubusercontent.com/22195362/69560497-dc7d4480-0fd1-11ea-959f-0ec6114320de.png)

So we need a way to clean the cache

[2019-11-25 17:35] jgoux commented on #312
I think that at some point you can't ignore the underlying database, especially for things as important as transactions.

In my day to day development, I don't see myself using the current batch API, as I often use transactions to wrap business logic checks or third-party API / librairies calls.

The most useful abstraction IMHO is the bracket approach : https://github.com/gajus/slonik#protecting-

[2019-11-25 17:57] pimeys commented on #942
WIP, updating while I find more data.

| Instance Size | used_at_start | max_conn | res_for_super | res_for_normal |
| :-----------: | :---------------------: | :---------------------: | :---------------------: | :--------------------: |
|   t2.micro    | 7 |            87          | 3                         | 77                       |
|   t2.small    | 7 |           198        | 3

[2019-11-25 18:05] timsuchanek commented on #987
@pantharshit00 this issue has to do with the cache directory and is, therefore, unrelated to #985 .

[2019-11-25 18:30] timsuchanek commented on #987
@D2KX I can't reproduce it on my Windows testing machine but published a fix, which should at least fix this one (you'll still run into https://github.com/prisma/prisma2/issues/985)
Can you try out `prisma2@2.0.0-alpha.353` please?
Thanks 🙏

[2019-11-25 18:31] darknoon opened #989 "Link to spec from prisma-schema-file.md is broken"
Link on this page to the spec for the prisma schema file is broken:
https://github.com/prisma/prisma2/blob/master/docs/prisma-schema-file.md

[2019-11-25 19:04] seawatts commented on #625
I am having the same issue in preview017. Which claims to fix the issue because of the facade pattern.

[2019-11-25 19:19] seawatts commented on #952
I just tried out Preview 17 and it doesn't seem to be working.
Seeing this issue still: https://github.com/prisma/prisma2/issues/625

[2019-11-25 19:28] seawatts commented on #952
I'm also seeing these WARNINGS when using `netlify serve`

[code]

[2019-11-25 19:29] queicherius opened #990 "`find` based on relations"
Hey! This library looks very cool, and I am just wondering if a use-case I could not find in the docs is supported:

[code]

[2019-11-25 19:33] queicherius commented on #990
As per usual, 5 minutes after posting I found my answer: https://github.com/prisma/prisma2/blob/master/docs/relations.md#fluent-api

Thanks! :D

[2019-11-25 19:33] #990 closed

[2019-11-25 19:42] matthewmueller commented on #942
Thanks @pimeys! @nikolasburk do you mind documenting this? Let me know if you need any input.

[2019-11-25 19:43] idan commented on #942
![](https://media.giphy.com/media/l3q2LH45XElELRzRm/giphy.gif)

[2019-11-25 19:54] mendeljacks opened #991 "Self referencing tables not supported"
When using prisma2 with mysql/typescript I have found two scenarios which are not supported.

1. Any table where the foreign key references itself.
2. Any table which has two foreign keys to the same table

The use case for 1 could be a categories table where each category has a parent which is stored in the same table.

the use case for 2 could be a shipping table where the origin and destination

[2019-11-25 20:06] D2KX commented on #987
2.0.0-alpha.353 indeed fixes the problem ❤️ Thank you!

[2019-11-25 21:34] himerus commented on #902
@pantharshit00 @pimeys  Thanks for the help on this one.

My report was 'correct', but it was caused because I was trying to use a global install of the Primsa CLI. So I had one (global) bumped to latest, but not the internal package in `node_modules` for my API.

So I was on an odd edge case.

I've managed to get everything updated today with the latest from Preview 17, including a couple hiccups

[2019-11-25 21:36] pimeys commented on #902
Good that it's settled for you. Happy hacking :)

[2019-11-25 23:24] outerlook opened #992 "Preview017 error on "prisma2 dev" or "generate" - 'C:/Program' not a windows command"
Hi! I got this error while running Preview017 on windows.

[code]

My node_modules global folder isn't on Programs and files folder.
I also tested the @alpha.353 release, same error

[2019-11-26 02:21] frbrz opened #993 "Error with Prisma2 installation on Linux"
After installing prisma2 with the following command (#836) in a clean system (#966):

[code]

And simply doing:

[code]

Whenever I try to run ```prisma2 dev``` I get the following error with Photon on Linux:

[code]

My specs ```npx envinfo``` are the following:
[code]

I already have libssl1.1 installed (#2) wich I can confirm by running ```apt-cache policy libssl1.1``` or ```openssl version -a`

[2019-11-26 03:04] justicejoe opened #994 "how to query many to many relationship in prisma using nexus-prisma"
for example , I have this prisma model

[code]

there is a many to many relationship between User and Event
therefore, prisma create new table for me to handle this which is  _EventToUser with column A and B

and I have this as an queytype in nexus
[code]

If I want to query user and list all events that it relate to using graphql what I need to do ?

for example I use this in graphql
[code]

and

[2019-11-26 03:26] smartnet-club commented on #992
and also prisma2\query-engine-windows.exe is not compatible with current version of Windows

[2019-11-26 04:06] smartnet-club commented on #985
The content of query-engine-windows.exe after npm install:

#!/usr/bin/env node
console.log("Please wait until the 'prisma query-engine' download completes!")

[2019-11-26 07:35] FrancoisVeauvy commented on #993
I got a similar issue in my dockerized environment.

[2019-11-26 08:56] timsuchanek commented on #987
Perfect! Thanks for getting back to me so quick. I'll close this one then.

[2019-11-26 08:56] #987 closed

[2019-11-26 09:56] ozimos opened #995 "cuid type int"

[2019-11-26 09:56] #995 closed

[2019-11-26 11:02] frntmp commented on #936
I think we found a related issue:

When the url to the sqlite-db contains `..`, i.e. something like `url: "file:../../<some_folder>/data.db"`, the process hangs after selecting `Yes            Create new Sqlite database <some_folder>/data.db`.

Let me know if this is unrelated and I should create a separate issue.

[2019-11-26 13:17] #989 closed

[2019-11-26 13:18] pantharshit00 commented on #989
Hi, Thanks for reporting this.

I have updated the link.

[2019-11-26 13:21] pantharshit00 commented on #625
@seawatts Can you please share your code? Binary names has changed so it might be possible that you schema still has the outdated names.

[2019-11-26 13:30] milroyfraser commented on #962
@pantharshit00 is there a workaround for this? is there a way to implement raw where query in Photonjs??

[2019-11-26 14:48] pantharshit00 commented on #962
Currently, there are no workarounds as the raw api is also in the spec phase. That is why we don't recommend using photon in production yet.

[2019-11-26 15:03] himerus opened #998 "Error: datasource must not use the env() function"
According to [prisma-schema-file.md](https://github.com/prisma/prisma2/blob/master/docs/prisma-schema-file.md#switching-data-sources-based-on-environments), it should be possible to do the following:

[code]

However, with the above, I get the following:

[code]
If I set the provider manually to "mysql" in my case, it seems to work fine.

[code]

[2019-11-26 16:38] pantharshit00 commented on #991
Hi,

Yes, we support both of these use cases.

You can express that like so in the schema:
[code]
Note that backrelations are required so that we can disambiguate the relations. That will tell prisma that you are trying to reference the id field of the same model.

That will create the following database structure:
![image](https://user-images.githubusercontent.com/22195362/69652664-0731d080-1098-

[2019-11-26 16:45] pantharshit00 commented on #994
Hi,

Looks like you have implemented the `User` and the `Event` type manaully. That means you will also need to resolve "followBy" and "eventFollow" manually.

If you want to make it automatic, please use the `t.model` syntax.

Example:
[code]

[2019-11-26 16:53] pantharshit00 commented on #992
Might be related to https://github.com/prisma/prisma2/issues/985

I can confirm this.

[2019-11-26 17:14] pantharshit00 commented on #936
Can you please check if there is any error thrown when tracing is on @frntmp

To enable tracing, run `export DEBUG=*` or run `set DEBUG=*` if you are on windows.

[2019-11-26 17:30] pantharshit00 commented on #994
Moved here: https://github.com/prisma-labs/nexus-prisma/issues/543

[2019-11-26 17:30] #994 closed

[2019-11-26 17:41] pantharshit00 commented on #993
I am unable to reproduce this. It is strange that your cli is still using the old binary name instead of the new ones.

Can you please make sure that your cli is using on preview017 version?

I am unable to reproduce this with system with similar config:
[code]

[code]

[2019-11-26 17:46] pantharshit00 commented on #936
@frntmp looks like someone else also reported the same, I can confirm this bug.

It is being tracked here: https://github.com/prisma/lift/issues/219

[2019-11-26 17:48] pantharshit00 commented on #947
@petasis Preview 17 was released. Can you please try this again now with that?

[2019-11-26 17:50] BiscuiTech opened #999 "Prisma2 dev 'cannot destructure property "dmmf"'"
I am recently having this issue where running `prisma2 dev` seems to work fine. The interface at lh/5555 loads up but shows "getting things ready" for about 5 minutes. Then, this error happens:
![image](https://user-images.githubusercontent.com/17841919/69658623-8dbfc100-104a-11ea-8593-f2d10827a140.png)

In the console, i get this:
`Failed to generate Photon client: Error: Error: Command failed wi

[2019-11-26 17:58] BiscuiTech commented on #999
The stack trace seems to correspond to the same trace as this error #919.

[2019-11-26 18:09] BiscuiTech commented on #884
I have a few issues currently with the Prisma2 platform and I think it all stems from this issue (unless majorly mistaken).

I have tried all the params above without success, on both localhost and hosted on DO. The same error seems to show up on a variety of steps. Sometimes on prisma2 lift up, lift save, dev. Sometimes not at all, but later on during prisma2 dev.

I have created this #999 which

[2019-11-26 18:17] pantharshit00 commented on #952
Please checkout the netlify deploy example: https://github.com/prisma/prisma-examples/tree/prisma2/deployment-platforms/netlify

[2019-11-26 18:59] seawatts commented on #952
When trying to run `netlify serve` I still get those warnings.

And when I try to run `prisma2 generate` I get this error
[code]

When I switch `platforms` to `binaryTargets` it runs generate fine. But I still get this error on invocation

[code]

Here is my generator section of my schema.prisma
[code]

Even if I try adding `darwin` to that list it still errors, and just adds another `darwin` to t

[2019-11-26 19:09] pantharshit00 opened #1000 "Use jszip instead of adm-zip to zip error reports"
https://github.com/cthackers/adm-zip/issues/289 is seem to be unmaintained and it has many issues with macOS Catalina that were fixed but never got published on npm.

We should replace it with https://github.com/Stuk/jszip which seem to be maintained

[2019-11-26 19:12] pantharshit00 commented on #1000
Maybe I can take this setup the development environment again. I already have it partially setup.

[2019-11-26 21:55] frbrz commented on #993
I tried again today doing this ```npm install -g --unsafe-perm prisma2@2.0.0-preview017``` wich showed me the same message that I was seeing before but I forgot to post here:
[code]

```prisma2 dev``` gave me exactly the same result of ```command failed with ENOENT [...]```.

You said:

This is interesting because I tried to install prisma2 when it was announced and (I think) it gave me the same e

[2019-11-26 22:05] frbrz commented on #999
Hi. This is the same error (```Command failed with ENOENT [...] query-engine-linux-glibc-libssl1.1.0 cli --dmmf [...]```) that I reported here: #993. I'm seeing the exact same error in the web interface at localhost:5555.

[2019-11-27 00:45] tmfprlt1234 opened #1001 "starterkit -> javascript -> graphql + auth -> postgres -> prisma2 dev"
<Anything that helps us reproduce the error goes here>

**Error dump**
Cannot destructure property `dmmf` of 'undefined' or 'null'.

**Stacktrace**
TypeError: Cannot destructure property `dmmf` of 'undefined' or 'null'.
    at connect (/usr/local/lib/node_modules/prisma2/build/photon-worker.js:44:31)
    at process._tickCallback (internal/process/next_tick.js:68:7)

[2019-11-27 02:55] seawatts commented on #625
Replied in #952

[2019-11-27 09:18] shah05 commented on #950
Thanks for your feedback and comment.

[2019-11-27 10:13] janpio commented on #1001
Where exactly do you get this error message - in your console or Prisma Studio?

[2019-11-27 10:15] pantharshit00 commented on #998
I think this is expected by design. If you want to add additional datasources just  define them separately like so:
[code]

You can use the enabled flag to toggle them. In the future you can use multiple datasources in conjunction.

So please the spec for datasources here: https://github.com/prisma/specs/tree/master/schema#datasource-block

[2019-11-27 10:19] divyenduz commented on #998
A related issue that might change this behavior in future is https://github.com/prisma/photonjs/issues/184

[2019-11-27 10:29] pantharshit00 commented on #952
The command is called `netlify dev`. I think you might be using an outdated version of the netlify cli.

I am using the following version:
[code]

[2019-11-27 10:41] nikolasburk commented on #998
Hey @himerus 👋 the docs were indeed incorrect here, I just updated them: https://github.com/prisma/prisma2/blob/master/docs/prisma-schema-file.md#using-environment-variables

[2019-11-27 10:49] yovanoc opened #1005 "Migration Readme Incorrect"
Hello, I see that this is not yet updated. So how we can achieve hooks like this now?

![image](https://user-images.githubusercontent.com/7302317/69717240-f458e380-110b-11ea-89a1-c888e4c9cd82.png)

[2019-11-27 10:50] pantharshit00 commented on #881
Looks like it is a pure photonjs issue as the engine is returning the correct data.

![image](https://user-images.githubusercontent.com/22195362/69717182-94753380-1131-11ea-997a-b3d7f3f1157d.png)

[2019-11-27 11:50] 2color opened #1006 "Updates to schema.prisma in dev mode require for the studio to work"
## Problem

While initialising a new project with the JavaScript GraphQL starter script I encountered a problem with migrations.
When a new field is added, the CLI automatically runs the migration and re-generates the client library, however, the studio throws an error when the browser is reloaded.

In the following example, I added a `facebook` field and reloaded the browser.

![Screen Shot 2019-

[2019-11-27 12:22] timsuchanek commented on #992
Thanks for reporting! Fixed in latest alpha.
You can try it out with `npm i -g prisma2@alpha`.

[2019-11-27 12:22] #992 closed

[2019-11-27 12:42] pantharshit00 commented on #999
Can you please all try this again with the latest preview(preview017)? The binary names that you have mentioned are referring to the old names so I think you are using an old version of Prisma 2.

If you on Linux, please use this command to install prisma2(if you don't have a nvm or similar tool or haven't set the permission of npm global bin properly):
[code]

[2019-11-27 12:43] #950 closed

[2019-11-27 12:43] timsuchanek commented on #1006
Thanks for reporting @2color and you report this in the perfect timing. We'll release a patch for this within the next 30 min :)
I'll notify you here in the issue and close it once we've released it.

[2019-11-27 12:44] pantharshit00 commented on #1001
I think this might be a duplicate of https://github.com/prisma/prisma2/issues/999

[2019-11-27 13:06] pantharshit00 commented on #1005
These are not yet fully implemented. We might want to remove that part from the readme for the time being.

[2019-11-27 13:18] timsuchanek commented on #1006
The patch is out! https://github.com/prisma/prisma2/releases/tag/2.0.0-preview017.1

[2019-11-27 13:18] #1006 closed

[2019-11-27 13:18] timsuchanek commented on #985
Thanks a lot for reporting!
We just fixed this in the latest patch https://github.com/prisma/prisma2/releases/tag/2.0.0-preview017.1

[2019-11-27 13:18] #985 closed

[2019-11-27 13:22] 2color commented on #1006
@timsuchanek Can you link to the commit with the fix? I'm curious to see how it was resolved

[2019-11-27 13:38] pantharshit00 commented on #999
Update: I am able to reproduce this on windows with the latest alpha: prisma2@2.0.0-alpha.360, binary version: 6159bf3a263921c3c28ee68e2c9e130b5a69c293

![image](https://user-images.githubusercontent.com/22195362/69727768-28062e80-1149-11ea-9cb8-ac6ff2d9654e.png)

I will check on mac as well with the latest alpha.

[2019-11-27 13:57] tmfprlt1234 commented on #1001
i got this message in terminal and localhost:5555

[2019-11-27 13:59] pantharshit00 commented on #999
I am unable to reproduce this on mac though

[2019-11-27 14:00] tmfprlt1234 commented on #999
i also installed prisma2@alpha, but not changed, at vmware - centos 7

[2019-11-27 14:06] kripod commented on #999
I just encountered this while running `yarn prisma2 dev` on Windows 10 x64. The stack trace could hardly be caught, due to the interactive behavior of `prisma2 dev` constantly rewriting the entire screen.

![image](https://user-images.githubusercontent.com/14854048/69729800-3d6a6100-1127-11ea-9a66-20dc3ff6217e.png)

The issue can be reproduced by cloning [this repo](https://github.com/kripod/exigo

[2019-11-27 14:26] pantharshit00 commented on #1001
Yup, this is indeed a duplicate of #999. Thanks for reporting this though.

Going to close this now

[2019-11-27 14:26] #1001 closed

[2019-11-27 15:19] divyenduz commented on #986
Candidate because a common trap that users fall into :)

[2019-11-27 15:23] BiscuiTech commented on #999
I do have nvm. I'm on Win10 running 20H1 and WSL2. I'll try cleaning the whole npm cache and reinstalling everything.

[2019-11-27 15:30] janpio commented on #986
That is indeed just a bug and should not happen. Can you please create a new issue for this?

That is a great idea and we will see if and how we can incorporate that.

[2019-11-27 15:31] nikolasburk opened #1008 "Docs for CI/CD workflows"
This issues persists a docs requests from [Slack](https://prisma.slack.com/archives/CKQTGR6T0/p1574868511482700?thread_ts=1574796772.460900&cid=CKQTGR6T0):

[2019-11-27 16:38] darknoon opened #1009 "Link to docs on website is broken"
on this page here: https://photonjs.prisma.io
links to : https://github.com/prisma/prisma2/blob/master/docs/photon/api
this works: https://github.com/prisma/prisma2/tree/master/docs/photon/api

[2019-11-27 16:56] jasonkuhrt commented on #967
@justicejoe feel free to open a new issue on nexus-prisma. A code example will probably help us give you feedback on your case. Since this doesn't seem to be a Prisma 2 issue, I will close here. 🙏

[2019-11-27 16:56] #967 closed

[2019-11-27 17:45] janpio commented on #878
Hey @heymartinadams, can you provide a bit more information? The error report gave us some data, but not the history of what you did to get there. That would be very helpful for us to reproduce and fix this.

[2019-11-27 17:47] janpio commented on #932
Hey @darrylyoung, did you see the message from @pantharshit00? Would be great if you could have a look, it would help us reproduce and later fix this problem.

[2019-11-27 18:07] janpio commented on #733
No, also got success this time.

[2019-11-27 18:07] #733 closed

[2019-11-27 18:09] janpio commented on #546
That is actually very different @kokokenada - Can you please create a new issue for this and include more information? That would be neat. Thanks!

[2019-11-27 18:19] CaptainChemist commented on #999
I'm having this exact issue when trying to run within a docker environment. Here's a repo, it is the prisma2 hello starter where I added a Dockerfile and docker-compose.yml. In this case, I'm using `npx` as well as prisma v17.1 and photon v17.1 packages added to the package.json

https://github.com/CaptainChemist/prisma2-17.1-enoent-err

If you download the project and then run `docker-compose bui

[2019-11-27 18:40] pantharshit00 commented on #993
Thanks, I am able to reproduce this now with Ubuntu 19.04 with nvm and with a sudo user. The global installation is without `--unsafe-perm` here as I used nvm.

![image](https://user-images.githubusercontent.com/22195362/69750578-15085400-1173-11ea-99b2-46595623b855.png)

[code]

I think this issue is very similar to https://github.com/prisma/prisma2/issues/999  so might get already fixed once htt

[2019-11-27 18:42] pantharshit00 commented on #999
I can confirm this on linux, see https://github.com/prisma/prisma2/issues/993#issuecomment-559207019

[2019-11-27 20:51] nhuesmann commented on #896
Related to this issue, in Preview 17 I have been having a weird issue with custom types. I'm using the same type alias as the issue creator (CUID as an abstraction of `String @id @default(cuid())`). When I try to perform a migration with `prisma2 lift up`, I get an error stating that type `CUID` already exists—it seems like regardless of the changes I make to my schema, the `lift up` operation is

[2019-11-27 21:18] kripod commented on #952
This issue has been resolved by the introduction of the `@prisma/photon` facade package. Thanks for all the inputs!

[2019-11-27 21:18] #952 closed

[2019-11-27 23:45] BjoernRave commented on #668
Is it maybe possible that there is a connection between this error and this npm config: `npm config set ignore-scripts true`  ?

[2019-11-28 00:31] frbrz commented on #993
Thank you @pantharshit00 for your time. Please keep me informed if you have news.
I will test again with every minor version, as I'm eager to start new projects with Prisma2.

[2019-11-28 01:07] seawatts commented on #952
I am using the netlify lambda cli. Not the netlify cli. And no it's still not resolved

[2019-11-28 01:27] dodas commented on #944
@LongLiveCHIEF I don't agree with your opinion.
I, in most cases, don't want to decide about docker image based on one particular library I am going to use inside it. I will much rather have some light base and then cherry-pick software I need.

Hopefully prisma can be improved to work seamlessly in either scenario.

[2019-11-28 03:06] lednhatkhanh commented on #869
I got exact same error with a postgres database instance hosted on heroku, failed when running lift up

[2019-11-28 07:10] pantharshit00 commented on #896
@nhuesmann I can confirm that bug.

I opened a new issue about there here: https://github.com/prisma/lift/issues/225

[2019-11-28 07:11] pantharshit00 commented on #668
Yes, it might be possible @BjoernRave. In the case, you will need to run our download script manually so that you can download the prisma2 binaries.

[2019-11-28 07:15] pantharshit00 commented on #952
@seawatts Can you please try https://github.com/prisma/prisma-examples/tree/prisma2/deployment-platforms/netlify with netlify cli? We haven't tested it with netlify-lambda and the build script that copies the binaries adhere to netlify cli.

[2019-11-28 07:36] rejmank opened #1010 "Error: Cannot connect prisma to postgresql certificate verify failed"
Hello,
i created an demo project of prisma2 with connection to postgresql.  It fails on last step with this error:
`Error: Could not connect to database: Starting a postgresql pool with 5 connections.
[2019-11-28T07:28:14Z ERROR migration_engine] Error opening a TLS connection. error:1416F086:SSL routines:tls_process_server_certificate:certificate verify failed:../ssl/statem/statem_clnt.c:1924: (s

[2019-11-28 07:56] darrylyoung commented on #932
Hi, guys. Apologies for the delay in coming back to this thread. Unfortunately, once I was hit by that issue I decided to run a local MySQL database for my Prisma project so ended up dropping the one in RDS. Thanks for the help, though. I really appreciate it.

[2019-11-28 07:56] #932 closed

[2019-11-28 08:13] pantharshit00 commented on #869
@lednhatkhanh Can you please tell me which version of Prisma 2 are you using?

[2019-11-28 08:15] pantharshit00 commented on #1010
Hi,

Thanks for reporting this but this has been already reported once. So I am going to close this as a duplicate of https://github.com/prisma/prisma2/issues/884

Basically right now our SSL policy in the engine is very strict than other clients. We are planning to loosen it.

[2019-11-28 08:15] #1010 closed

[2019-11-28 08:26] CosmaTrix opened #1011 "MySQL and Docker - Error creating a database connection"
Hi there,

I've set a tiny Docker environment with two services: Node.js (running express) and MySQL. Here's my `docker-compose.yml` file

[code]
I'm then being able to run `prisma2 init` from inside the container with the command `docker-compose exec app yarn prisma2 init`.
After following the wizard my `prisma.schema` file is outputted and the `datasource` field is
[code]
I can then run `docker-

[2019-11-28 09:09] nikolasburk commented on #1009
Thanks for catching this @darknoon, I just fixed the broken links on the website 🙌

[2019-11-28 09:09] #1009 closed

[2019-11-28 09:33] lednhatkhanh commented on #869
@pantharshit00 I'm using `prisma2@2.0.0-preview017` on MacOS and this is the error I get when trying to run `yarn prisma2 lift up` locally:

![image](https://user-images.githubusercontent.com/9303093/69794365-b12a6d80-11fc-11ea-9526-aa96e3059408.png)

I can still connect to the database using `pgAdmin` though.

[2019-11-28 09:34] lednhatkhanh commented on #869
@pantharshit00 And I will get the same error as @miyi when running my application on `heroku`

[2019-11-28 10:09] timsuchanek commented on #993
Thanks @frbrz for providing all the infos! We just released a new alpha - alpha.368. Please try it out, it should fix the `prisma2 dev` command :)

[2019-11-28 10:12] timsuchanek commented on #999
Thanks a lot for your input everyone! We just released a new alpha, which should fix this issue in the `prisma2 dev` command.
Please let me know, how it goes for you :)

[2019-11-28 12:01] rejmank commented on #993
This is what i see when acces localhost:555
![image](https://user-images.githubusercontent.com/10515532/69804558-225b2800-11df-11ea-8fd3-f5233829321c.png)
(ubuntu on wls)

[2019-11-28 12:56] FrancoisVeauvy commented on #993
I got a similar output in localhost:5555 with prisma2.0.0 alpha 368 on docker after prisma2 dev

[2019-11-28 13:03] tmfprlt1234 commented on #999
i updated new to new alpha, so i cant see this issue anymore.
but when i open localhost:5555 in my browser(chrome,ie) it seems like this ->

[2019-11-28 13:27] pantharshit00 commented on #869
Certificate not trusted error is related to #884. It will get fixed once we decrease the SSL requirements of our client so please watch that issue for now. There is also a workaround in the issue that you can use for the time being.

[2019-11-28 13:30] pantharshit00 commented on #1011
Can you make sure that this works after you have `docker-compose exec app yarn prisma2 generate`? I think you haven't run that so photon was not regenerated and it is using outdated credentials.

[2019-11-28 13:33] janpio commented on #668
Wow, good catch @BjoernRave. Can you open a new issue about this please? Then we will formally reproduce this and then decide on what we can do about it. We should probably at least print a warning with instructions on how to do it manually or via a command of the CLI.

[2019-11-28 13:34] janpio commented on #952
@seawatts Also, if you have the time please open a new issue about the Netlify _Lambda_ CLI. We very much want to look into this and properly handle it if possible.

[2019-11-28 13:54] timsuchanek commented on #999
Thanks @tmfprlt1234! The big plus should be gone now in the latest alpha (369).
We'll do a patch release now including a fix for this!
Let me know if it's still an issue for you and I'll reopen this issue.

[2019-11-28 13:54] #999 closed

[2019-11-28 13:56] BjoernRave opened #1012 "Blocked postinstall script on install causes problems"
When activating the npm config: `ignore-scripts` like so: `npm config set ignore-scripts true` it causes problems when installing prisma2, since it cannot load the appropriate engine(I believe)

[2019-11-28 13:57] timsuchanek commented on #993
Thanks for reporting that, everyone! The big plus should be gone now in the latest alpha (369).
We'll do a patch release now including a fix for this!
Let me know if it's still an issue for you and I'll reopen this issue.

[2019-11-28 13:57] #993 closed

[2019-11-28 14:29] FrancoisVeauvy commented on #993
It's working fine now.
Thank you very much !

[2019-11-28 14:55] BiscuiTech commented on #999
I just updated to preview 17.2 and still have this issue:
![image](https://user-images.githubusercontent.com/17841919/69815858-37c35880-11c5-11ea-914c-719352d1d9a0.png)

[2019-11-28 15:00] BiscuiTech commented on #999
I just updated and it seems that the original issue was fixed. But now I have this issue on my localhost db connection:
![image](https://user-images.githubusercontent.com/17841919/69816119-bddf9f00-11c5-11ea-9b31-38c7b98234b7.png)

It comes from a "failedCalculatedSteps" file the prisma framework generated on the error.

[2019-11-28 15:11] janpio commented on #999
@BiscuiTech Please open a new issue and someone will take a look into reproducing this.

[2019-11-28 15:18] pantharshit00 commented on #1012
Yes, it will not execute the post-install hook that downloads the binaries.

So, in that case, I think we can have a cli command `prisma2 download-binaries` that would download and we can refer to this in another cli command if they detect that they can't find the binaries.

[2019-11-28 15:20] ansarizafar opened #1013 "Prisma studio IP address"
I using an online IDE for development and I need to run prisma studio on IP 0.0.0.0 to access it. Is it possible to change IP address of Prisma Studio when using prisma2 dev command?

[2019-11-28 15:31] janpio commented on #1012
An interesting question is where we actually do this detection... because my obvious idea was the postinstall script - which is of course not executed in the first place. Maybe we can detect that it did not run on installation (or that the engines are missing), and then refer to that command to solve it.

[2019-11-28 15:34] pantharshit00 commented on #1012
Yup, that is what I was referring in my comment.

[2019-11-28 15:45] CosmaTrix commented on #1011
@pantharshit00 Sorry I didn't mention that, but I did run `prisma2 generate` inside the container.

But I've reinstalled `prisma` and `photon` by running `yarn add` from inside the container (`docker-compose exec app yarn add prisma2 @prisma/photon`) and regenerated the schema. And that seemed to fix the problem! 🎉

I guess that prisma downloads and/or generate some binaries that are platform-spec

[2019-11-28 16:02] pantharshit00 opened #1014 "`--port` is not working on the prisma2 studio"
`prisma2 studio` command says that we can pass `--port` option to change the port it is running on but the flag currently doesn't affect the port number.

![image](https://user-images.githubusercontent.com/22195362/69820141-7c331080-1226-11ea-815b-34f6d999ba15.png)

[2019-11-28 16:09] pantharshit00 commented on #1013
Hi,

Currently, there is no option in the `prisma2 studio` command or `prisma2 dev` command to bound host to an IP. Also, I found out that `--port` doesn't work in the `prisma2 studio` command. I have reported that here: https://github.com/prisma/prisma2/issues/1014

[2019-11-28 16:44] pantharshit00 commented on #1011
Yes, that can be the cause.

So in order to fix this, you can provide binaryTargets to photon generator so that it can download both of the binaries and use the one accordingly.

[code]

Native will get resolved to "darwin" and it will additionally download debian binary

[2019-11-28 16:47] nhuesmann commented on #896
@pantharshit00 great, thank you!

[2019-11-28 18:51] seawatts commented on #952
Thanks that works now with `netlify dev`. Will do 👍

[2019-11-28 18:54] seawatts opened #1015 "Prisma2 not working with netlify-lambda"
I am using the netlify lambda cli. Not the netlify cli. https://github.com/netlify/netlify-lambda

Following up from the discussion here: https://github.com/prisma/prisma2/issues/952

When I try to run prisma2 generate I get this error

[code]

When I switch platforms to binaryTargets it runs generate fine. But I still get this error on invocation

[code]

Here is my generator section of my schema

[2019-11-28 19:03] AhmedElywa opened #1016 "`prisma2 convert` doesn't convert `@relation` attributes correct"
[code]
after convert
[code]

[2019-11-28 19:06] yovanoc opened #1017 "ManyToMany pivot table"
Hello, just a follow up on that https://github.com/prisma/prisma2/issues/201

When have you planned to tackle this thing?

Thanks

[2019-11-28 20:05] AhmedElywa opened #1018 "code: SqlState("42703"), message: "column \"personId\" does not exist","
i get this error with postgresql anf not get it with sqlite

[code]

[2019-11-28 23:23] AhmedElywa commented on #1018
the error from `@unique`  in this line
`  person        Person         @map("personId") @relation("PersonStudent") @unique`

[2019-11-29 01:38] ansarizafar commented on #1013
There must be an option to bind host to an IP as many developers use online IDEs for development nowadays. Please consider it as a feature request.

[2019-11-29 03:47] frbrz commented on #993
Marvelous team. Thank you !

[2019-11-29 05:39] malekjaroslav opened #1019 "Feature: Split schema files into multiple files"
As the `schama.prisma` file gets bigger it is getting harder to find models and it feels messy. Have you considered a functionality to make this more scalable?
Thanks!

[2019-11-29 05:40] seawatts commented on #952
I actually don't think defining the output to be the following is needed.

[code]

[2019-11-29 05:41] seawatts commented on #952
I also got it working without that custom build deploy step. Just deploy like normal.

[2019-11-29 10:00] divyenduz opened #1117 "[Introspection] Schema parser should collect all errors before failing"
Schema parser fails fast in some scenarios. See [these](https://www.notion.so/prismaio/shopware-da730f7228294f108ba65d22677659fe) introspection notes for example.

It should collect all parsing errors and report them together.

This might need some spec work.

[2019-11-29 10:30] pantharshit00 commented on #952
Yes, we need to update that guide along with other cloud platforms. Thanks for sharing. Z

[2019-11-29 10:44] nikolasburk commented on #965
Done via: https://github.com/prisma/prisma2/pull/1020

[2019-11-29 10:44] #965 closed

[2019-11-29 10:50] Errorname opened #1032 "Instrospection does not use indexes to find @unique fields"
To reproduce:
1. `prisma2 init test` and choose `postgresql`
2. `prisma2 dev` to create the tables in the database
3. User has a @unique field on email
4. `prisma2 init test2`, choose `postgresql` and choose the created database/schema for introspection
5. Observe that the @unique is not present in the introspected schema

[2019-11-29 10:52] BjoernRave opened #1021 "ENOENT error when running prisma as /api in next.js"
I want to run prisma inside next.js as a `/api` route. When I was setting it up at first only with the graphql-auth example everything was working fine (beside some problems with typegen with photon, but there's already an issue). Then I changed the schema and added some resolvers and objectTypes and when I wanted to start it again, when going to the route I get the output:
[code]
and I cannot que

[2019-11-29 13:51] justicejoe opened #1024 "Can't I link many field in one Model to the other one ?"
for Example
[code]
EventGroupAdminCreator and lastUpdateAdmin link to the same
when I do this , in the process of  prisma2 lift save , it always show error

![image](https://user-images.githubusercontent.com/16795429/69873116-085a3c00-12ea-11ea-849a-d4dfbe2fa8fb.png)

[2019-11-29 13:52] nikolasburk commented on #853
Thanks a lot for raising this @tvvignesh 🙌 you can find the documentation for `set` here: https://github.com/prisma/prisma2/blob/master/docs/photon/api.md#scalar-lists

[2019-11-29 13:52] #853 closed

[2019-11-29 14:36] nikolasburk commented on #911
Hey @chrisdrackett, thanks a lot for opening this issue! I couldn't reproduce the error `Argument of type '{ debug: boolean; }' is not assignable to parameter of type 'PhotonOptions'.` that you shared, can you confirm that this actually works in the latest release?

I did update the docs though to also document the `log` option and the different log levels that can be provided: https://github.com/

[2019-11-29 14:36] #911 closed

[2019-11-29 15:04] pantharshit00 commented on #1017
Sorry this got lost. We will tackle this now.

[2019-11-29 15:19] yovanoc commented on #1017
Ahah no worries, it's just to know but thanks

[2019-11-29 16:38] CosmaTrix commented on #1011
Thanks @pantharshit00! I didn't know about the `binaryTargets` option. That is really handy!
I think that this can be closed, right?

[2019-11-29 16:45] justicejoe opened #1025 "after update from version 2.0.0-preview013.3 to 2.0.0-preview017.2 there is a query error"
all DateTime Type query using graphql return as null and also come with error

[code]

[2019-11-29 17:00] williamluke4 commented on #1016
Think this is related to #908

[2019-11-29 18:01] divyenduz commented on #343
The variables `PRISMA_QUERY_ENGINE_BINARY` and `PRISMA_MIGRATION_ENGINE_BINARY` are ignored by the CLI.

I validated this by providing an incorrect path, it should have thrown and error but it worked instead.

[2019-11-29 18:04] heymartinadams commented on #186
@chrisdrackett not that it matters much, but your approach might appear to have some advantages :) https://www.youtube.com/watch?v=ff4fgQxPaO0

[2019-11-29 18:17] janpio commented on #343
Please open a new bug report for this @divyenduz instead of reopening the feature issue.

[2019-11-30 05:44] justicejoe commented on #1025
I don't know why I got this error , i think the data is already correct and in the DateTime format.

   {
      "message": "Expected a value of type \"DateTime\" but received: \"2019-11-28T13:28:46.054Z\"",
      "locations": [
        {
          "line": 3,
          "column": 5
        }
      ],
      "path": [
        "events",
        16,
        "createDate"
      ]
    },
    {
      "messa

[2019-11-30 06:51] justicejoe commented on #1025
Is there a problem with nexus, or nexus-prisma ?

[2019-11-30 22:00] lasharela opened #1026 "npm run seed error"
After prisma2 init > typescript > Starter kit GraphQL API + Auth
&&
npm run seed

I'm getting this error:

[code]

[2019-11-30 22:25] lasharela opened #1027 "Connect to Heroku SSL problem"
I'm trying to connect to Heroku Database `prisma2 init`, blank template.

everything is filed correctly but I'm getting an error:

[code]

[2019-12-01 07:43] williamluke4 commented on #1027
Pretty sure this is related to #884

[2019-12-01 07:44] williamluke4 commented on #1027
Try this

_Originally posted by @williamluke4 in https://github.com/prisma/prisma2/issues/884#issuecomment-551697427_

[2019-12-01 10:57] reinvanimschoot commented on #267
I feel this is a really important feature since it is a fundamental requirement for any mature project with lots of relations. I really hope this gets solved soon.

[2019-12-02 01:52] MikeyUchiha commented on #956
@janpio @pantharshit00 will this be in the Preview 18? environment variables are really important for security reasons.

[2019-12-02 05:16] lasharela commented on #1027
Yes, I'm connecting to local DB and then `sslaccept=accept_invalid_certs` is helping

[2019-12-02 06:47] malekjaroslav opened #1029 "Incorrect plural"
`model NotificationSettings` generates a plural `t.model.notificationSettingses()` which is not correct.

[2019-12-02 08:50] nicke opened #1030 "generate doesn't like spaces in project path"
I noticed that prisma2 generate doesn't work when path contains spaces on MacOS.

[code]

[2019-12-02 12:33] matthewmueller commented on #937
By implementing native scalar lists, we should get stable ordering. Stable ordering means that the order you put values in is the same order you get values out.

I suggest we test this after https://github.com/prisma/prisma-engine/issues/192 is resolved.

If you need custom ordering at the query level, please open another issue and we'll look into it after MVPhoton.

[2019-12-02 12:53] matthewmueller commented on #964
Just to clarify the expected solution:

- `@id` works as expected. You can bring your own id
- `createdAt` should be editable, currently you cannot bring your own DateTime
- `updatedAt` should be editable, currently you cannot bring your own DateTime

[2019-12-02 12:58] olup commented on #964
Exactly. Basicaly, any fields with a default property should be editable, but insert the default on creation if no data is passed for it.

If new datas are passed on update, it should use them.

`CreatedAt` and `updatedAt` ignore passed values as it is now, and only insert the default.

[2019-12-02 13:52] pantharshit00 commented on #1018
I can confirm this bug.

I am able to migrate the schema that you have shared in the sqlite connector but the same schema is throwing an error in the postgres connector.

I think this belongs to the Prisma 2 lift repository so I am going to transfer this over there.

The version that I used to confirm this bug:
[code]

[2019-12-02 13:52] janpio commented on #956
Probably not, work on Preview18 is already in progress (and there is more than enough to get through anyway).

If I understood @pantharshit00 correctly you can use actual environment variables just fine, it's just the ones defined in a .env file that are not picked up. The initial issue message also provided a workaround.

[2019-12-02 13:56] pantharshit00 commented on #1019
Hi,

Thanks for requesting this! It has already been requested before, so I am going to close this as a duplicate of https://github.com/prisma/prisma2/issues/92

[2019-12-02 13:56] #1019 closed

[2019-12-02 14:33] pantharshit00 commented on #1024
Right now you will need to create backrelations like so:
[code]

Also, can you please tell me which version of Prisma 2 you are using. I wasn't able to reproduce the error. Instead, I got a warning when I tried to deploy the model without backrelations:
![image](https://user-images.githubusercontent.com/22195362/69966711-f58b7580-153c-11ea-8320-ff3d75b4aeb2.png)

We are also trying to improve the

[2019-12-02 14:38] pantharshit00 commented on #956
Yes, you can use something like direnv(https://github.com/direnv/direnv) to manage environment variables in the meanwhile as a workaround.

[2019-12-02 15:24] divyenduz commented on #1032
Thank you for raising this.

Internal note: This is the result produced by the new introspection engine, the unique issue is fixed, we need to address this `@default("")` directive from a product perspective.

![image](https://user-images.githubusercontent.com/746482/69971386-198c8e00-1520-11ea-8246-e3f5444d7f42.png)

[2019-12-02 15:37] divyenduz opened #1033 "Document Photon and environment variables behavior"
The docs link mentioned in [this issue](https://github.com/prisma/prisma2/issues/956) refers to using `.env` file but does not mention that Photon does not include that file at its runtime by default and we need to use a library like `dotenv` manually.

[2019-12-02 15:38] divyenduz commented on #956
@THPubs This behavior is expected, I created an issue to spec this behavior (why we made this design decision) and another one to have the docs better reflect this. Thank you.

[2019-12-02 17:03] pantharshit00 commented on #1011
Yes, open a new issue if you get into any other problem.

[2019-12-02 17:03] #1011 closed

[2019-12-02 17:13] pantharshit00 commented on #1034
Moving to prisma2 repository as this is related to the cli

[2019-12-02 17:14] pantharshit00 commented on #343
There is already an issue about this: https://github.com/prisma/prisma2/issues/1034

I am closing this one

[2019-12-02 17:14] #343 closed

[2019-12-02 17:23] pantharshit00 commented on #1025
We had a breaking change in preview015 where we started mapping dates to the javascript date type: https://github.com/prisma/prisma2/releases/tag/2.0.0-preview015

So you need to pass a Date object instead of a string now.

[2019-12-02 17:34] pantharshit00 commented on #1026
We already seed your database in the bootstrapping(it is step 5).

So if you run the seed script again without emptying the database, it will use the same email addresses. Email is a unique field so it is throwing a uniqueconstraint violiation error which is expected.

[2019-12-02 17:34] #1026 closed

[2019-12-02 17:37] pantharshit00 commented on #1027
I am going to close this as a duplicate of https://github.com/prisma/prisma2/issues/884

[2019-12-02 17:37] #1027 closed

[2019-12-02 17:41] pantharshit00 commented on #1029
This is related to nexus-prisma. I have moved this issue: https://github.com/prisma-labs/nexus-prisma/issues/549

[2019-12-02 17:41] #1029 closed

[2019-12-02 17:53] Ericnr opened #1035 "Current Prisma2 limitations."
I can't wait to try out Prisma2 in a new project, but there's a few things I'd like to know if it's supported or not. Is there link where I can see if certain features have been implemented?. Things like JSON field, check constraint, aggregates, etc. Much appreciated!

[2019-12-02 17:55] pantharshit00 commented on #937
This issue meant to track that. It is a feature request for that.

[2019-12-02 18:08] pantharshit00 commented on #1030
Can you please share your schema.prisma file?

I was unable to reproduce this, maybe I understood the problem incorrectly:
![image](https://user-images.githubusercontent.com/22195362/69983472-c684fc00-155c-11ea-897b-9b1275d171af.png)

[2019-12-02 18:11] pantharshit00 commented on #1035
Hi,

We list some of the limitations here: https://github.com/prisma/prisma2/blob/master/docs/limitations.md

You can look into the issue for other limitations.

Unfortunately, the things that you have mentioned are also work in progress 😅.

You can check the specs repository on what is coming: https://github.com/prisma/specs

[2019-12-02 19:17] Ericnr commented on #1035
Cool, tyvm! I don't see JSON fields or check constraint in  the specs, I hope they'll be added.

[2019-12-03 00:08] seanemmer opened #1036 "1:N and M:N relationship on same foreign key"
I am trying to create two fields in one Model that both relate to the same field in another Model.  I am prompted to disambiguate the relationship, but when I add a @relation directive to one field the remaining field throws an error:

`Error validating model "User": Automatic related field generation would cause a naming conflict. Please add an explicit opposite relation field.`

[code]

[2019-12-03 07:15] justicejoe commented on #1025
@pantharshit00 Thanks for your answer, Do you have the detail about which parts of code I need to change in order to get it work ? both insert and read.   Now the already add info's date keep inside postgres can not be query at all

[2019-12-03 08:35] justicejoe commented on #1024
@pantharshit00  Ok thanks for your reply, btw my prisma2 version installed in project is 2.0.0-preview013.3 and global version is 2.0.0-preview015

[2019-12-03 09:10] pantharshit00 commented on #1021
Hi,

I am able to run a simple next js app with Prisma without any problems. You can find the code here: https://github.com/harshit-test-org/prisma-next-routes

![image](https://user-images.githubusercontent.com/22195362/70036442-cf1c1780-15da-11ea-8de8-30f08da6838e.png)

So can you please provide me with a minimal reproduction of this? You can also try the example that I shared and see whether th

[2019-12-03 09:44] pantharshit00 commented on #1035
JSON fields are part of the native type. We will not only support JSON type but all other database types in the future: https://github.com/prisma/specs/tree/master/schema#type-definitions-provided-by-connectors. JSON will just another postgres type.

I opened a new spec issue for check constraints though: https://github.com/prisma/specs/issues/344

[2019-12-03 09:46] yovanoc commented on #1035
Hey, I'm working with protobuf, and I get a Long type for `uint64` and there is no way actually to save more than an Int in prisma?
![image](https://user-images.githubusercontent.com/7302317/70039372-1cd45800-15ba-11ea-8bb8-8de2c78d2d31.png)

[2019-12-03 09:46] pantharshit00 commented on #1025
Can you please share code that you have for this resolver?

You will need to pass a javascript date object wherever you will update the dates.

[2019-12-03 09:46] pantharshit00 commented on #1024
Thanks for the info. That explains why you got an outdated error message.

[2019-12-03 09:57] pantharshit00 commented on #1035
Longs are also part of type declarations as described by @matthewmueller here: https://github.com/prisma/photonjs/issues/170#issuecomment-517369338

That is a long ongoing work that will remove many limitations. It still requires much product and implementation work so it is taking time.

[2019-12-03 10:46] timsuchanek commented on #906
Done!

[2019-12-03 10:47] justicejoe commented on #1024
but now I upgrade it to the lastest one already alongside with nexus prisma

[2019-12-03 10:48] #906 closed

[2019-12-03 12:41] pantharshit00 commented on #1024
Are you still getting the issue in the latest one? If not, feel free to close this issue

[2019-12-03 15:08] timsuchanek commented on #868
Thanks for raising this issue.
This indeed is the first issue I declare as "Won't fix".

So first of all, you're right, that from the Promise spec perspective, Photons behavior is not adhering to the spec.

However, that's also neither necessary nor possible.

Consider this example:
[code]

If we would directly execute the `update`, as soon, as `.update` is being called - we can't have a `.author(

[2019-12-03 15:08] #868 closed

[2019-12-03 15:09] mavilein commented on #1036
The problem is in the field `User.currentAccount`. This would fix it:
[code]

[2019-12-03 16:19] matthewmueller opened #1037 "prisma2 introspect: wrong error message if you're missing the --pg-schema parameter"
[code]

However, this works:

[code]

[2019-12-03 16:21] matthewmueller commented on #1037
Ah, I need the `--pg-schema="public"`. Renaming the issue

[2019-12-03 16:22] matthewmueller commented on #1037
Fun additional issue in the same vein. If you mispell any of the arguments, introspect just returns `null`

[code]

[2019-12-03 16:23] divyenduz opened #1116 "[Introspection] Flag to print schema file by ignoring errors"
Feature request based on this discussion:
![image](https://user-images.githubusercontent.com/746482/70069170-a3585c00-15f1-11ea-890c-adf7ce3bc046.png)

Related issue: https://github.com/prisma/prisma-engine/issues/231

[2019-12-03 16:47] BjoernRave commented on #1021
@pantharshit00 okay, can I add you as a collaborator to my github project for you to see?

[2019-12-03 17:18] timsuchanek commented on #809
Thanks a lot for looking into this @tomitrescak !
Fixed in latest alpha by https://github.com/prisma/photonjs/pull/285.
You can try it out with `npm i -g prisma2@alpha`.

[2019-12-03 17:18] #809 closed

[2019-12-03 17:46] Ericnr commented on #1035
Question answered!

[2019-12-03 17:46] #1035 closed

[2019-12-03 18:09] pantharshit00 commented on #1015
I am able to reproduce this. This is related to how photon should be handled with bundlers.

![image](https://user-images.githubusercontent.com/22195362/70076849-ac632080-1625-11ea-8a8c-30aed82eebcf.png)

We already have issues on that: https://github.com/prisma/photonjs/issues/119
https://github.com/prisma/specs/issues/336

Marking as a bug for now

[2019-12-03 18:46] janpio commented on #1034
That bug also seems to apply for the `MIGRATION` env var: https://github.com/prisma/prisma2/issues/343#issuecomment-559856520

[2019-12-03 19:04] janpio commented on #1030
@nicke has the spaces in the project path itself, not the `output`.

[2019-12-03 19:48] pearlyplan commented on #1036
Thanks!  Unfortunately this solution requires me to create a second field on the Account model (currentAccountOf).

The desired schema is for both `user.accounts` and `user.currentAccount` to relate to account.users, where user.currentAccount is a 1:N relationship and is a selection from user.accounts, which is a M:N relationship.

[2019-12-03 19:48] seanemmer commented on #1036
Thanks! Unfortunately this solution requires me to create a second field on the Account model (currentAccountOf).

The desired schema is for both user.accounts and user.currentAccount to relate to account.users, where user.currentAccount is a 1:N relationship and is a selection from user.accounts, which is a M:N relationship.

[2019-12-04 09:11] marcantoine opened #1038 "preview016+ : TLS error with self signed certificate"
On one of my server, I'm using prisma2 with a managed DB by digital ocean.

My connection string looks like this :
`"postgresql://user:password@db-prod-fra1-do-user-123456-0.db.ondigitalocean.com:25000/prod?schema=service&slmode=require"`

It was working great until i updated preview016. Now i get a TLS error :
[code]

I don't see any change in the release on the ssl / tls management on preview016

[2019-12-04 09:15] tomhoule commented on #1038
It's a known issue - we changed SSL certificate handling in postgres recently. This is being fixed and we will align with the behaviour of other postgres clients in the next preview (18). Until then this can be fixed by adding a `sslaccept=accept_invalid_certs` parameter to your connection string.

[2019-12-04 09:22] justicejoe commented on #1024
still got this error
![image](https://user-images.githubusercontent.com/16795429/70129882-1b865680-16b2-11ea-8186-dd04bba4d079.png)

model Event {
  eventId           String         @default(cuid()) @id
  eventNameTH       String?
  eventNameEN       String?
  createDate        DateTime       @default(now())
  eventDate         DateTime?
  bookableDateStart DateTime?
  bookableDateEnd   DateTime?

[2019-12-04 10:03] marcantoine commented on #1038
Thank you Tom, I'll try to add the sslaccept params, looking forward to preview 18!

Should we keep this issue opened or should i close it since its known ?

[2019-12-04 10:13] janpio commented on #1038
@pantharshit00 will close it with a link to the main issue about this topic - until then it is fine to keep it open @marcantoine. Thanks for asking.

[2019-12-04 10:37] mavilein commented on #1036
Ah i see. This is not possible. You have to implement this yourself in your application layer.

[2019-12-04 10:57] justicejoe commented on #1024
Ok now I know, this lift save will be successful if I use global version prisma2@2.0.0-preview015
If I use the version prisma2@2.0.0-preview017.2 to run lift save . it shows error as I mentioned.

@pantharshit00

[2019-12-04 11:37] justicejoe opened #1041 "t.model.something() of nexus-prisma not working when it represent other model"
![image](https://user-images.githubusercontent.com/16795429/70138295-8e97c900-16c2-11ea-9174-423edf8d0194.png)

![image](https://user-images.githubusercontent.com/16795429/70138818-aa4f9f00-16c3-11ea-8668-3ba2e698cd04.png)

when I use t.model.event()    to represent other model.  I can not query with something like this

![image](https://user-images.githubusercontent.com/16795429/70139171-75901780

[2019-12-04 13:06] timsuchanek commented on #1034
Fixed in latest alpha.
You can try it out with `npm i -g prisma2@alpha`.

[2019-12-04 13:06] #1034 closed

[2019-12-04 13:16] reinvanimschoot opened #1042 "Include connection query feature with Photon (important when migrating from Prisma 1)"
Hi guys!

I have a project that is nearly complete and entirely written with Prisma 1 as an integral part of the stack.

The last few days I have been going back and forth whether or not to bite the bullet and rewrite the project in Prisma2 or at least start the process of migrating.

But one thing that is really making me hesitant of migrating to Prisma 2 is the fact it currently lacks any kind o

[2019-12-04 13:22] herbertpimentel opened #1043 "Error in lift engine - Fail to introspect schema"
I cannot introspect an existing schema due to following error

[code]

using postgres version:
PostgreSQL 10.5+tjap-20180921 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.2 20140120 (Red Hat 4.8.2-16), 64-bit

Running on
  Nome do Modelo:	iMac
  Identificador do Modelo:	iMac13,1
  Nome do Processador:	Intel Core i5
  Velocidade do Processador:	2,9 GHz
  Número de Processadores:	1
  Número Tota

[2019-12-04 14:29] justicejoe opened #1044 "nexus prisma deletemany Error"
![image](https://user-images.githubusercontent.com/16795429/70150305-67e68c00-16dc-11ea-9e35-c17e361b2852.png)

this is the error

from this query

![image](https://user-images.githubusercontent.com/16795429/70150356-78970200-16dc-11ea-9c7c-ab9c2045c99c.png)

[2019-12-04 15:28] matthewmueller opened #1045 "Document how to locally install the databases we support"
**For example**

|Database|Mac|Windows|Linux|
|:-|:-|:-|:-|
| Postgres| `brew install postgres`|todo|todo|
| MySQL| `brew install mysql`|todo|todo|

**Additional Notes**

- We may need to provide instructions on how to install brew or some installable .dmg if available
- I think we should also optionally provide a way to run these database as a service so they bootup on start. In homebrew that's e

[2019-12-04 15:47] nicke commented on #1030
@janpio in project path itself. output isn‘t set.

[2019-12-04 16:22] tomhoule commented on #884
This is fixed upstream, the change should make it in preview 18 :) More context in https://github.com/prisma/specs/issues/325

[2019-12-04 16:58] turbothinh opened #1046 "Updates in Prisma Schema datatype is not recognized by Lift"
Change in Prisma Schema and generate Lift file from it does not update anything.
[code]

I ran `prisma2 lift save --name 'Init'` with the schema config above and `migrate` with **Lift** successfully. Then I tried changing the `birthday` type to `String` and run `prisma2 lift save --name 'user-change-brithday-data-type'`, Lift says `Everything up-to-date`.

[2019-12-04 17:04] turbothinh opened #1047 "Cannot create relationship when adding new table to schema"
I have the schema below for  an `init` migration:
[code]

I then realize that an `Order` model is needed, so added more in the Prisma Schema:
[code]

[2019-12-04 17:39] Aperrix commented on #227
Still no news regarding the development of this feature or an alternative?
I love everything that has been done on prisma2, i would really like to migrate 😞

[2019-12-04 17:41] Ericnr commented on #227
This would be my preferred way to define the schema too

[2019-12-04 17:43] vjsingh commented on #227
Agreed. After Prisma pushed for a code-first approach with Nexus this summer, I moved our project over to it. I like code-first and this is a blocker for me as well in terms of migrating to Prisma2.

[2019-12-04 17:44] seanemmer commented on #1036
Understood, thanks for clarifying

[2019-12-04 17:44] #1036 closed

[2019-12-04 17:44] Aperrix commented on #92
Still no news regarding the development of this feature or an alternative?
I love everything that has been done on prisma2, i would really like to migrate 😞

[2019-12-04 18:56] nikolasburk opened #1048 "Newcomers are confused about individual naming of Prisma 2 tools"
With Prisma 2, we decided to make different pieces of Prisma available as _standalone tools with individual names_, concretely we decided to name them as follows:

- Photon (Database access)
- Lift (Migrations)
- Studio (GUI-based workflows)

Together these tools form the _Prisma Framework_.

While these individual names make it clear that the tools can be used standalone and overall feel more lig

[2019-12-04 19:07] janpio opened #1049 "Inconsistent engine files names"
In `preview017.2` the engines are inconsistently named:
![image](https://user-images.githubusercontent.com/183673/70172757-acb8f580-16d1-11ea-9fa8-226102567eed.png)

[2019-12-04 19:28] janpio commented on #1049
This is still the case in current `alpha`:

[code]

[2019-12-04 21:39] heymartinadams opened #1050 "Error in <TabIndexProvider> in prisma2@2.0.0-alpha.376"
1. Prisma2 version: `"prisma2": "2.0.0-alpha.376"` and `"@prisma/photon": "2.0.0-alpha.376"`

The below error does not occur in `prisma2@2.0.0-alpha.374` (there doesn’t appear to be a `375`).

2. Logs from Developer Tools Console upon `npx prisma2 dev`:
[code]

3. Does the issue persist even after updating to the latest `prisma2` alpha (`npm i -g prisma2@alpha`)?

Yes.

[2019-12-04 21:59] jedmao commented on #227
They [release a preview roughly every 2 weeks](https://github.com/prisma/prisma2/releases) if you want to get your hands dirty.

[2019-12-05 09:40] divyenduz opened #1051 "Lift and dev, popup to create a new database missing"
[code]

To reproduce:

1. Create a schema file with a DB url where the database does not exist

2. Run lift save or dev
[code]

[2019-12-05 09:52] pantharshit00 commented on #1021
Thanks, I got the invite. I will check it out and report back here.

[2019-12-05 10:08] #936 closed

[2019-12-05 10:08] timsuchanek commented on #936
Thanks for reporting! A fix is available on the latest prisma2 alpha.
You can try it out with `npm i -g prisma2@alpha`.

[2019-12-05 12:30] pantharshit00 commented on #1038
Hi,

Thanks for reporting this! It has already been reported before, so I am going to close this as a duplicate of #884

[2019-12-05 12:30] #1038 closed

[2019-12-05 13:00] pantharshit00 commented on #1021
I was able to reproduce it in your repository. I am not really sure what is causing it. Can you please invite @timsuchanek to that repository so that he can take a look as he is currently working on photon internals.

[2019-12-05 13:05] pantharshit00 commented on #1024
I was able to successfully migrate this in 17.2. I think there was a breaking change in between. So can you please try migrating this on a fresh database. Also, delete your migrations folder inside prisma folder.

[2019-12-05 13:07] BjoernRave commented on #1021
@pantharshit00 sure

[2019-12-05 13:08] pantharshit00 commented on #1041
Hi,

I have moved your issue over here since it is related to nexus-prisma: https://github.com/prisma-labs/nexus-prisma/issues/553

[2019-12-05 13:08] #1041 closed

[2019-12-05 13:08] pantharshit00 commented on #1041
Locking this, continue the conversation over at https://github.com/prisma-labs/nexus-prisma/issues/553

[2019-12-05 14:14] pantharshit00 commented on #1042
Hi,

Instead of connections, you can use `findMany` query to get paginated data(`ctx.photon.users.findMany({ //options })`. It is not fully relay spec compatible but you can use it create your paginable api.

In the future, we may add meta responses in that as well. Spec here for that: https://github.com/prisma/specs/tree/master/photonjs#experimental-meta-response

[2019-12-05 14:27] dodas opened #1053 "assertion failed: self.remaining_mut() >= src.len()"
Prisma2 / photon version: `2.0.0-preview017.2`
Node version: `12.2.0`
DB: `Postgres 11.4`

Usually everything works fine, but sometimes I get this error and after that I cannot query anything anymore.
Restarting postrgres + my node server fixes this (not sure what exactly fixes it, maybe resetting connection to db?).

[code]

[code]

[2019-12-05 14:30] pantharshit00 commented on #1044
Can you please share your code? I tried on a user model and the query is working fine.

![image](https://user-images.githubusercontent.com/22195362/70244019-aee68700-1799-11ea-9dbf-fc1ec1299961.png)

Maybe share your datamodel as well.

Also, maybe issue is more relevant in the https://github.com/prisma-labs/nexus-prisma repository

[2019-12-05 14:39] pantharshit00 commented on #1030
I am still unable to reproduce this :/
![image](https://user-images.githubusercontent.com/22195362/70244744-0507fa00-179b-11ea-9479-c6bb9be5e57c.png)

[2019-12-05 15:34] justicejoe commented on #1024
Ok after i change all of my prisma2 version to 17.2 and create new db and delete migration folder

i try to migrate this model below using prisma2 lift save

generator photon {
  provider = "photonjs"
}

datasource db {
  provider = "postgresql"
  url      = "postgresql://test:example@localhost:777/db2?schema=db2"
}

model Post {
  id        String   @default(cuid()) @id
  createdAt DateTime @defa

[2019-12-05 15:38] justicejoe commented on #1025
here is the one
@pantharshit00

export const Event = objectType({
    name: "Event",
    definition(t) {
        t.id("eventId")
        t.string("eventNameTH", { nullable: true })
        t.model.eventNameEN()
        t.field("createDate", {
            type: DateTime,
            nullable: true,
        })
        t.field("eventDate", {
            type: DateTime,
            nullable: true,

[2019-12-05 16:14] ctrlplusb commented on #1048
I quite like Lift and Studio - they feel very appropriate for their roles. Photon maybe not so much - it's cool name, but perhaps an opportunity for a rename there.

Personally, I am not overly bothered by the names. I actually have a package called [Easy Peasy](https://easy-peasy.now.sh) - so I am probably the last person who is allowed to criticise product names!

That all being said perhaps the

[2019-12-05 16:21] #719 closed

[2019-12-05 16:35] divyenduz commented on #937
Internal note: dropping because priority

[2019-12-05 16:36] #896 closed

[2019-12-05 16:36] #884 closed

[2019-12-05 16:40] CaptainChemist commented on #1048
I really like the idea of appending the prefix Prisma to whatever names you decide on. I think that solves the main point of confusion that I had when I was originally reading about Prisma 2. You could even have some graphic that shows how each of those 3 tools are pie pieces that together form the full circle which is Prisma 2.

I think that one potential issue with the Prisma Query name is that

[2019-12-05 16:49] darknoon commented on #556
I am also trying to get this to work… what the heck are we supposed to do with serverless functions and our database? pgbouncer seems like the only way to not run out of connections when there are an unlimited number of concurrent lambdas.

[2019-12-05 16:57] matthewmueller commented on #942
@pimeys noted that since each Lambda is only servicing 1 request at a time, perhaps we should rather document the usage of `?connection_limit=1` and adjust the formulas above accordingly.

[2019-12-05 17:16] justicejoe commented on #1044
Here is my model

generator photon {
  provider = "photonjs"
}

datasource db {
  provider = "postgresql"
  url      = "postgresql://test:example@localhost:777/mydb?schema=my_db"
}

model Post {
  id        String   @default(cuid()) @id
  createdAt DateTime @default(now())
  updatedAt DateTime @updatedAt
  published Boolean  @default(true)
  title     String
  content   String?
  author    User?
}

[2019-12-05 17:31] #964 closed

[2019-12-05 17:32] dpetrick commented on #964
The fix will be available in Preview-18.

[2019-12-05 18:12] pantharshit00 commented on #1047
You don't need the relation directive if you don't want to name the relation. It will be implicitly added and the current usage of it is incorrect.

I think we need to validate this more properly in our parser. Marking this as a bug for now.

[2019-12-05 18:15] pantharshit00 commented on #1043
Can you please tell me which version of prisma2 you are using? Also, please try install prisma2 once with --unsafe-flag on npm to avoid binary permission issues if you on a root user.
[code]

[2019-12-05 18:40] pantharshit00 commented on #1050
Looks like it was temporarily broken in alpha. I was able to reproduce this in `2.0.0-alpha.376` but I am no longer able to reproduce this in `prisma2@2.0.0-alpha.414, binary version: a7b03466b4d18c4690a0dfff75efdef816c9cf6b`

I am going to close this since it is fixed now

[2019-12-05 18:40] #1050 closed

[2019-12-05 18:46] pantharshit00 commented on #1053
Might be related to https://github.com/prisma/photonjs/issues/305.

If you somehow able to provide with a reproduction, that would be helpful as I unable to reproduce after many attempts.

[2019-12-05 18:56] pantharshit00 commented on #1024
I am able to successfully migrate this.

Here is the migration readme:
# Migration `20191206002256-init`

This migration has been generated by Harshit Pant at 12/6/2019, 12:22:56 AM.
You can check out the [state of the schema](./schema.prisma) after the migration.

## Database Steps

[code]

## Changes

[code]

## Photon Usage

You can use a specific Photon built for this migration (20191206002256

[2019-12-05 18:59] pantharshit00 commented on #1025
Can you please share code for the `DateTime` type that you are using? Also, I will recommend you to use t.model syntax in place of t.<type> to define your fields as they come with root resolvers and are adhered to your schema.

[2019-12-05 19:07] justicejoe commented on #1025
@pantharshit00
u mean this one ?

export const DateTime = scalarType({
    name: "DateTime",

});

[2019-12-05 19:07] pantharshit00 commented on #556
@darknoon We are working on documentation for connection management for lambda: https://github.com/prisma/prisma2/issues/942

AWS just also released AWS RDS proxy that could be a better solution here: https://aws.amazon.com/about-aws/whats-new/2019/12/amazon-rds-proxy-available-in-preview/

[2019-12-05 19:10] pantharshit00 commented on #1025
Yes, so how can you please try changing this to :
[code]

[2019-12-05 20:00] jlengstorf commented on #1048
I'm always a fan of naming things with what they do.

I think it's critical that these tools are linked by a brand. When I first saw Photon, Lift, and Studio, I didn't know if these were officially supported Prisma projects, OSS projects Prisma was using, or something else. (Same for e.g. Yoga, too.)

I think it makes a lot of sense to bundle these tools and encourage people to use only what they

[2019-12-05 20:18] iamandyk opened #3633 "Return Single Object From 1 To Many Relation"
I find myself continually wanting to query just one record from a 1 To Many relationship. For example, say I have the following schema:

[code]

I have a separate model for profile songs because I want to keep a history of all profile songs. However, on the user profile page I only want to display the most recently added profile song which would be the user's active and current profile song.

Curr

[2019-12-05 20:38] darknoon commented on #1021
I am hitting a similar error with
[code]

I was able to get it working with this handler:

[code]

[2019-12-05 20:56] seanemmer commented on #556
An earlier discussion of serverless listed PostGres and pgBouncer as a potential solution:

https://github.com/prisma/prisma2/issues/276

Can you comment as to whether pgBouncer support is on the roadmap and whether RDS proxy will be supported?

As noted above, this has important implications for the memory cost of implementing Prisma on serverless.

[2019-12-05 20:57] mjyoung opened #1054 "Could not install prisma2 using volta"
I'm using [volta.sh](volta.sh) as my Node version manager.

Installing prisma works via:
[code]

However, when trying to install prisma2 via:
[code]

I get the following error:
[code]

Any tips on how to deal with this? `prisma2` is the first package that I haven't been able to globally install using `volta`

[2019-12-05 21:09] BjoernRave commented on #1021
@darknoon mine looks pretty much the same:
[code]

introspection doesn't make any differences

[2019-12-05 22:50] janpio opened #1055 "[Introspection] Error in RPC, tells me it wrote file, did not actually write file"
`prisma2 introspect --url="mysql://guest:relational@relational.fit.cvut.cz:3307/AdventureWorks2014" > AdventureWorks2014.log` returned this in stderr:

(Yes, it is ok that these credentials are public - you can use the command to reproduce maybe)

[code]

Problem: `failed-introspect-20191205234635.md` does not actually exist.

Context:
[code]

[2019-12-05 22:57] janpio opened #1056 "[Introspection] Error in RPC: CoreError: Error in connector: Error querying the database: A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond. (os error 10060)"
`prisma2 introspect --url="mysql://guest:relational@relational.fit.cvut.cz:3307/AdventureWorks2014" > AdventureWorks2014.log` returned this in stderr:

(Yes, it is ok that these credentials are public - you can use the command to reproduce maybe)

[code]

I can connect to the exact same connection string using HeidiSQL just fine at the same time:
![image](https://user-images.githubusercontent.com/

[2019-12-05 23:14] janpio commented on #1056
Found more connection strings where it does not work:

[code]

[2019-12-05 23:15] janpio commented on #1056
With `DEBUG=*`:

[code]

[2019-12-05 23:31] janpio opened #1057 "[Introspection] Incomplete DB leads to crash "Table foo not found""
- `Error: Error in introspection engine: {"message":"[src\\libcore\\result.rs:1165:5] called `Result::unwrap()` on an `Err` value: \"Table clubs not found\" [...]`

---

When running introspection for a specific connection string, I get this nice error:

[code]

![image](https://user-images.githubusercontent.com/183673/70282931-bcaf0300-17bf-11ea-9413-28101195d1c3.png)

Looking into the database,

[2019-12-05 23:38] janpio opened #1058 "[Introspection] Introspecting MySQL database with wrong upper and lower case leads to strange error"
The actual database is called `Chinook`. When you try to introspect `chinook`, this happens:

[code]

This is what happens when you try to introspect a random string:

[code]

And this when the DB actually exists:

[code]

The handling of the wrongly cased DB is strange.

[2019-12-06 05:00] malekjaroslav opened #1059 "Support Date and Time types"
I know custom types are not supported yet, but I wonder why `Date` and `Time` are not currently supported as all of the currently supported DBs have support for those types either directly or through an integrated function (SQLite).

There are multiple use cases for those types and not having them makes working with date and time unclear - timezone is another issue by itself. Not being able to sav

[2019-12-06 07:01] justicejoe commented on #1024
this is my package.json

{
  "name": "graphql-auth",
  "version": "1.0.0",
  "dependencies": {
    "@babel/cli": "^7.7.4",
    "@google-cloud/storage": "^4.1.3",
    "@prisma/photon": "2.0.0-preview017.2",
    "@types/ws": "^6.0.3",
    "bcrypt": "3.0.6",
    "config": "^3.2.4",
    "cors": "^2.8.5",
    "dayjs": "^1.8.17",
    "dotenv": "^8.2.0",
    "express": "^4.17.1",
    "file-type": "^12.4.

[2019-12-06 07:47] pantharshit00 commented on #1054
Looks like volta is trying to devDependencies as well. We use pnpm(https://pnpm.js.org/) in development to create a workspace environment. So we have some devDependencies have workspace protocol:
![image](https://user-images.githubusercontent.com/22195362/70305531-a5f1c600-182a-11ea-80d4-7dff7eb9b57b.png)

But I think we can change in the package.json file that we release. So I am marking this as

[2019-12-06 07:50] pantharshit00 commented on #1054
Update: I think this is actually a bug in our cli pipeline. The workspace url should be replaced by the actual package version by pnpm.

https://pnpm.js.org/en/workspaces#publishing-workspace-packages

[2019-12-06 09:38] pantharshit00 commented on #1024
Can you please paste output of `npx prisma2 -v` here? It might be reading a older version from the npm cache.

[2019-12-06 09:48] pantharshit00 commented on #1059
Right now we provide a `DateTime` which you can use to handle dates: https://github.com/prisma/prisma2/blob/0ee8b9146cb5159189963f1135715f745a28541b/docs/core/connectors/postgresql.md#data-model-mapping

For more customizable date types, you do have to wait for custom types.

[2019-12-06 10:18] matthewmueller commented on #556
@darknoon unrelated question: how were you able to unassign someone? 😅

[2019-12-06 10:34] #1055 closed

[2019-12-06 11:14] malekjaroslav commented on #1059
I am using DateTime, but it js inconvenient for a lot os use cases. Is there some eta for custom types?

[2019-12-06 11:36] TSTsankov commented on #522
I had the same issue (being stuck at Preparing the database) for a bit, then I upgraded my MySQL from 5.5 to 5.6 and the issue was resolved. Even the old prisma had problems with <= 5.5...

[2019-12-06 12:22] timonschenzel opened #1060 "prisma2 dev error with existing mysql database"
I'm getting an error when running `prisma2 dev` when an existing database connected, I did report the error: report id 795.

**Steps**:
1. prisma2 init
2. Languages for starter kits: Blank project
3. Select the database you want to use: MySQL
4. Prisma Framework tools: Photon and Lift
5. Select the programming language you want to use: TypeScript
6. Start with a runnable demo script or just the Pr

[2019-12-06 12:35] pantharshit00 commented on #1057
I am also able to reproduce this:
![image](https://user-images.githubusercontent.com/22195362/70323531-fe3cbe00-1852-11ea-9b14-a56b26435c0e.png)

[2019-12-06 12:58] schickling opened #3399 "Adjust type from array to single nullable element when querying for `first: 1` or `last: 1` records"
I think it could be nice to adjust the type from an array to a single nullable element when querying for one (or less) records via the `first: 1` or `last: 1` pagination options (either via `findMany` or when using `include` / `select`).

Example:

[code]

This API would also supersede the `findFirst` or `findMany().first()` API .

While this might be a bit of a controversial API adjustment, I thi

[2019-12-06 13:07] pantharshit00 commented on #1059
I can't give you an ETA on native database types right now as it is ongoing in terms of product and implementation. There are still some unresolved concerns that we have right now.

[2019-12-06 13:57] janpio opened #1115 "[Introspection] PrismaModels should be able to handle relation field as Id"
- `Invalid ID field. ID field must be one of: Int @id or Int @id @default(`Integer`) for Int fields or String @id or String @id @default(`cuid()`|`uuid()`|`String`) for String fields.`
- `format-of-id-on-relation`
- `@id field is model (which is not supported)`

---

[code]

Lined 249 is the problem

[2019-12-06 13:59] janpio opened #1114 "[Introspection] Panic "No id field defined!" / panic-no-id-field-defined = Panic "No id field defined!" (caused by @@id)"
[code]

Probably caused by:

[code]

[2019-12-06 14:02] janpio opened #1113 "[Introspection] Panic "No id field defined!" (caused by: no id at all)"
- `Error: Schema parsing thread 'main' panicked at 'No id field defined!', src\libcore\option.rs:1190:5`
- `panic-no-id-field-defined`

---

[code]

probably caused by

[code]
source: https://github.com/prisma/introspection-engine-output/blob/master/more_mysql/Accidents.log

possible explanation:
- no primary key defined
- no unique field at all

[2019-12-06 14:04] janpio opened #1112 "[Introspection] ID = (Scalar, RelationField)"
mix of https://github.com/prisma/prisma-engine/issues/253 and https://github.com/prisma/prisma-engine/issues/252

[2019-12-06 14:26] pantharshit00 commented on #1060
Can you try to migrate this schema to a fresh database once? Also, are upgrading from an older version of prisma2 preview?

I am unable to reproduce this, I was able to migrate this schema:
![image](https://user-images.githubusercontent.com/22195362/70329835-46171180-1862-11ea-99ac-22f5ea69cbed.png)

[2019-12-06 14:34] #510 closed

[2019-12-06 14:37] pantharshit00 commented on #522
Yes, we currently recommend you to use MySQL 5.7 as our tests are running on that.

[2019-12-06 14:37] pantharshit00 commented on #522
I am going to close this issue now, feel free to open a new issue if someone is still facing this.

[2019-12-06 14:37] #522 closed

[2019-12-06 15:31] janpio opened #1111 "[Introspection] @default should be usable on relation fields"
Magento:

[code]

[2019-12-06 15:31] janpio opened #1110 "[Introspection] Remove @default from scalar lists"
- `Error parsing attribute "@default": Cannot set a default value on list field.`
- `default-on-list`
- `@default on a list type field (which is not supported)`

---

Postgres, basic-blog:

[code]

[2019-12-06 15:32] timsuchanek opened #1109 "[Introspection] posts are turned into postses"
This Postgres Schema
[code]

Is introspected as
[code]

I would expect the `posts` field to still be called `posts` instead of `postses`.

[2019-12-06 15:35] janpio opened #1108 "[Introspection] Index key can not be relation/model"
- `Error validating model "x": The (index|unique index|multi field id declaration) refers to unknown fields y. / unknown-field-on-multi-id / @@id[a, b, ...] mentions unknown field`

pattern | message
-- | --
unknown-field-on-multi-id | @@id[a, b, ...] mentions unknown field
unknown-field-on-unique-index-definition | @@unique mentions unknown field
unknown-field-on-index-definition | @@index mentio

[2019-12-06 15:36] janpio opened #1107 "[Introspection] Panic: FK to non existent table"
broken all square table

[2019-12-06 15:38] janpio opened #1106 "[Introspection] dot (and other non-[a-z0-9] characters) in field name"
e.g. Vanilla schema

[2019-12-06 15:40] janpio opened #1105 "[Introspection] Use @map for problematic ENUM values"
- `Unexpected token. Expected one of: End of block ('}'), enum field declaration.`

---

sakila schema

[code]

[2019-12-06 16:26] schickling opened #1061 "Rename connect/unconnect to link/unlink"
There's currently ambiguity around the term "connect" (and "unconnect") as it's currently used for both (1) DB connection management (i.e. TCP connection) and (2) connecting two records via a relation. The latter (2) we want to rename to "link" (and "unlink") as used in the [upcoming Photon.js spec](https://github.com/prisma/specs/tree/master/photonjs#nested-write-api).

[2019-12-06 16:39] matthewmueller commented on #981
internal note: dropping for now

[2019-12-06 16:39] matthewmueller commented on #934
internal note: dropping for now

[2019-12-06 16:40] matthewmueller commented on #457
internal note: dropping as part of a larger refactor that we'll get to later.

[2019-12-06 16:45] matthewmueller opened #1062 "Document multiple default(now()) restrictions"
Based on: https://github.com/prisma/prisma2/issues/457

Apparently this is difficult to fix in Rust-land and is part of a larger refactor that we won't get to for MVPhoton, so we'll need to document this and perhaps offer a temporary error in `prisma-fmt`.

[2019-12-06 17:05] seanemmer opened #1063 "Cannot migrate required to non-required field"
Unable to convert an optional field to a required field:

[code]
migrate to
[code]

Lift gives me the following prompt:

```You are about to alter the column `account` on the `Dentist` table, which still contains 3 non-null values. The data in that column will be lost.```

After confirming that this is ok (y), lift attempts to run and throws the following error:

``
thread 'tokio-runtime-worker-1'

[2019-12-06 17:05] seanemmer opened #4716 "Cannot migrate relational field from optional to required with @default(cuid())"
Database: PostgreSQL (Digital Ocean)

Unable to convert an optional field to a required field:

[code]
migrate to
[code]

Lift gives me the following prompt:

```You are about to alter the column `account` on the `Dentist` table, which still contains 3 non-null values. The data in that column will be lost.```

After confirming that this is ok (y), lift attempts to run and throws the following erro

[2019-12-06 17:31] seanemmer opened #1064 "Unable to add new required relational field to existing model"
Database: PostgreSQL (Digital Ocean)

When I attempt to add a new relational field to an existing model with existing rows, I receive the following error:

[code]

This behavior makes sense, but it is unclear what the migration path is for adding a new required relational field.  Prisma does not allow me to set a default for a relational field, and when I try to first set the relational field as o

[2019-12-06 17:55] matthewmueller opened #1104 "[Introspection] "created_at timestamp with time zone not null default now()" doesn't work"
Many postgres schemas have something like:

[code]

or

[code]

I've talked to @do4gr and he says we handle this wrong:

[code]

[2019-12-06 20:38] BjoernRave opened #1065 "Sort by nestes objects/relations"
Hey, I would like to sort my data by a value in contained in another entity.

So I have

[code]

and I would like to be able to do the following:

[code]

[2019-12-06 20:46] BiscuiTech commented on #884
Has this been fixed in 18? Because the notes do not mention this issue.

[2019-12-07 02:09] lasharela opened #1066 "Detect specific error type"
[code]

The email field is unique. When I'm trying to create a user with an existing email it throws the error.  Is there a way to identify specific error types that, email was duplicated?
Or I have to check in advance if a user with these emails exists or not?

[2019-12-07 07:00] williamluke4 opened #1067 "[Introspection] Error: Schema parsing"
## Context
Currently, I'm using `prisma1` this was an attempt to introspect the DB  to upgrade to `prisma2`
- Postgresql 10.11 (Local/Docker)
- Ubuntu 19.04
- `prisma2@2.0.0-preview018`

## Command Run
`prisma2 introspect`
## Error
[code]

[2019-12-07 09:38] reinvanimschoot commented on #1042
The problem is that if you have a full-fledged API that heavily relies on edges/connections, page info but also cursors etc., it becomes quite a burden to migrate to Prisma 2. Suddenly, you have to implement that whole layer yourself. And then it becomes the tedious matter of trying to see what Prisma 2 offers out of the box and what you have to add.

For example, the pageInfo idea you linked has

[2019-12-07 13:05] janpio commented on #1067
Oh oh @williamluke4, can you maybe share your sql Schema or the relevant part of it so we can reproduce this? Thanks.

[2019-12-07 16:17] AaronNGray opened #1068 "prisma2 init crashing"
I am getting the following happening when I hit any key in any field :-

[code]
on Windows, Linux, and MacOSX

[2019-12-07 16:22] MikeyUchiha commented on #554
@janpio Not sure if you're the best person to ask but can you please add this to the roadmap? It's a big blocker to use this in Docker Compose and Kubernetes.
It's even referenced in your limitations documentation here: https://github.com/prisma/prisma2/blob/master/docs/limitations.md
And yet doesn't seem to be being worked on at all.

[2019-12-07 16:24] janpio commented on #1068
Thanks for reporting this @AaronNGray - did this work for you before? What command line are you using? Anything special about your Windows that could help reproducing this?

[2019-12-07 16:27] janpio commented on #554
I am not really, but that's fine. In exchange you have to explain the usecase of `prisma2 init` in a docker compose or kubernetes environment to me - then I might be able to help out ;)

[2019-12-07 16:32] AaronNGray commented on #1068
Its on all platforms !

[2019-12-07 16:34] AaronNGray commented on #1068
[code]

[2019-12-07 16:35] AaronNGray commented on #1068
I tried yarn as well and get the same.

[2019-12-07 16:40] MikeyUchiha commented on #554
Sure!
I want to be able to load up my database, prisma2, and app as separate containers. See this docker-compose.yml file.

![image](https://user-images.githubusercontent.com/3036263/70377727-e3675980-18e5-11ea-839f-9c0812ff78e4.png)

Unfortunately, when I try and run it I get the following error:
![image](https://user-images.githubusercontent.com/3036263/70377737-0560dc00-18e6-11ea-80c3-1b083bca6

[2019-12-07 16:42] AaronNGray commented on #1068
@janpio "did this work for you before?" - no I have never used Prisma before and was just checking it out.

[2019-12-07 19:07] AaronNGray commented on #1068
2.0.0-preview018 is crashing
2.0.0-preview017.2 is fine

[2019-12-07 20:27] lasharela opened #1069 "show commented lines"
[code]

As you see one of the url is commented, but in a console after `prisma2 lift up` i see:

[code]
both URL's

[2019-12-08 14:56] janpio opened #1070 "[Introspection] Some errors are output in one line"
This error is output in a formatted, readable way: https://github.com/prisma/introspection-engine-output/blob/ec54e94cad405a668b5ff49aee43a987d8a0f8fb/more_mysql/Accidents_stderr.log (via `prisma2 introspect --url="mysql://guest:relational@relational.fit.cvut.cz:3306/Accidents" --print > Accidents.log 2> Accidents_stderr.log`)

This one is unfortunately not, and is much more hard to understand bec

[2019-12-08 14:59] janpio commented on #1070
Better output would be:

[code]

[2019-12-08 15:03] janpio opened #1071 "[Introspection] Error messages end with two dots"
Example error message on `prisma2 introspect`:

[code]

Not the `...  to the model..`.

[2019-12-08 17:55] janpio opened #1072 "[Introspection] error stops following commands that are chained with `&&`"
This is on Windows, and I have very little idea what I am doing and what is happening:

I created a copy of a public database server that has 133 databases, because when trying to introspect on the server directly, I get an error (see #1056). After a bit of wrangling with the SQL file I now have these 133 databases on my `localhost` and try to execute this command on the Windows command line:

[co

[2019-12-08 18:32] janpio opened #1073 "[Introspection] `information_schema` does not want to be introspected"
Windows, MySQL 5.7:

[code]

`information_schema_stderr.log` is only:

[code]

while:

![image](https://user-images.githubusercontent.com/183673/70394070-81941600-19f1-11ea-82a0-33a84d65387e.png)

[2019-12-08 20:19] janpio opened #1074 "[Introspection] Tables with spaces are not supported"
[code]

error message:
https://github.com/prisma/introspection-engine-output/pull/5/files#diff-a8b2e697666ef469d1774b702820be2e

[code]

vs.

[code]

[2019-12-08 20:23] janpio opened #1075 "[Introspection] Better error message for panic "No id field defined!""
Example https://github.com/prisma/introspection-engine-output/pull/5/files#diff-d6f950a1e04703a2648afee3c0d882e1:

[code]

The panic does not actually tell you which table is the problem.

[2019-12-08 20:38] janpio opened #1076 "[Introspection] Fields and models starting with numbers should be valid"
Currently the parser does not like fields that start with a number. This should not be the case, as pure number column names are perfectly valid.

Problem:
https://github.com/prisma/introspection-engine-output/pull/5/files#diff-2bec550b0f9e53fd6ae9bf24b1f12bed

[code]

But:

[code]

![image](https://user-images.githubusercontent.com/183673/70395815-f58aea00-1a02-11ea-9c1f-9e2bf3d98982.png)

[2019-12-08 20:41] janpio opened #1077 "[Introspection] "No id field defined!" should not panic and crash, but just output an error"
Currently the panic "No id field defined!" stops further output or proper error messages:

[code]

https://github.com/prisma/introspection-engine-output/pull/5/files#diff-17a99e700e722aa314f06783857af1f4

That is a shame, because the error might have other interesting information that we want to look at right now. We should make this an error like all the others as well.

[2019-12-08 20:45] janpio opened #1078 "[Introspection] `/` is not accepted as character in column name"
[code]

from

[code]

but

[code]

![image](https://user-images.githubusercontent.com/183673/70395912-10aa2980-1a04-11ea-86fe-654e0752cca9.png)

[2019-12-08 21:02] janpio opened #1103 "[Introspection] "error: Field 'x' is already defined on model 'y'.", relation name clashes"
Error messages:
[code]

from: https://github.com/prisma/introspection-engine-output/pull/5/files#diff-95e7846707ea2967b1313d442cd3d030

Full model:

[code]

https://github.com/prisma/introspection-engine-output/pull/5/files#diff-7f0701460ef61650c5821aa7b4404404

Original db:

[code]

![image](https://user-images.githubusercontent.com/183673/70396126-57991e80-1a06-11ea-9ccc-1da8f702d8e5.png)

EDIT:

[2019-12-08 21:04] janpio commented on #1076
More:

[code]
https://github.com/prisma/introspection-engine-output/pull/5/files#diff-5d695f835ad68fa7b749fc0905456b38

[2019-12-08 21:19] janpio commented on #1078
Another example:

[code]

https://github.com/prisma/introspection-engine-output/pull/5/files#diff-fdc1fba9ef9c84e028ceae972640def9

[2019-12-08 21:24] janpio opened #1079 "[Introspection] `-` is not accepted as character in column name"
[code]
(https://github.com/prisma/introspection-engine-output/pull/5/files#diff-628e213e8d852904e07ea4d461bd1796)

from model:
[code]
(https://github.com/prisma/introspection-engine-output/pull/5/files#diff-94e52fe6c83734157934ac39f3f3daaaR86-R100)

original DB:

[code]

![image](https://user-images.githubusercontent.com/183673/70396467-85339700-1a09-11ea-8488-47c02c35126f.png)

[2019-12-08 21:28] janpio opened #1080 "[Introspection] Space is not accepted as character in column name"
Error Message:
[code]
(https://github.com/prisma/introspection-engine-output/pull/5/files#diff-b3d256966d10085feaa149b5fecc64d1)

Model:
[code]
(https://github.com/prisma/introspection-engine-output/pull/5/files#diff-5e953d24fce61401f5f1c6317fba191bR27-R48)

original DB:
[code]

![image](https://user-images.githubusercontent.com/183673/70396511-05f29300-1a0a-11ea-8884-ab671634a297.png)

[2019-12-08 21:48] janpio commented on #1076
The same should be valid for tables/models:

Error:
[code]
(https://github.com/prisma/introspection-engine-output/pull/5/files#diff-3ced6a5183fe2f8c2f1d4642ad883643)

Model:
[code]
(https://github.com/prisma/introspection-engine-output/pull/5/files#diff-89648fad88f01ab59f1f59e826c51939R3-R7)

Original DB:
[code]

![image](https://user-images.githubusercontent.com/183673/70396845-e14bea80-1a0c-11ea

[2019-12-08 21:52] janpio opened #1081 "[Introspection] `(` is not accepted as character in column name"
Error:
[code]
(https://github.com/prisma/introspection-engine-output/pull/5/files#diff-6e67900e5387baadc97d897ddd69110f)

Model:
[code]
(https://github.com/prisma/introspection-engine-output/pull/5/files#diff-b62a4dcb9989236eecdb6dae00dc4895)

Original DB:
[code]

![image](https://user-images.githubusercontent.com/183673/70396899-6a632180-1a0d-11ea-91f9-8710685bdd95.png)

[2019-12-08 21:57] janpio opened #1082 "[Introspection] `?` is not accepted as character in column name"
Error:
[code]
(https://github.com/prisma/introspection-engine-output/pull/5/files#diff-c85970a5d8c1859c01314cc862153adc)

Model:
[code]
(https://github.com/prisma/introspection-engine-output/pull/5/files#diff-8c2fedbf73a9e2c7342e91924dfcc10d)

Original database:
[code]

![image](https://user-images.githubusercontent.com/183673/70396973-2b819b80-1a0e-11ea-82b5-b17f6c7de76f.png)

[2019-12-08 22:15] janpio opened #1083 "[Introspection] Model does not have @id or @@id"
- `Error validating model 'foo': Each model must have exactly one id criteria. Either mark a single field with @id or add a multi field id criterion with @@id([]) to the model.`
- `no-id-field-defined`

---

Take this error:
[code]
(https://github.com/prisma/introspection-engine-output/pull/5/files#diff-a3aea562c9f9f11a0956d11f1f8c403c)

From this model:
[code]
(https://github.com/prisma/introspec

[2019-12-09 07:10] williamluke4 commented on #1067
@janpio I just sent you the psql schema backup on Slack

[2019-12-09 09:35] janpio commented on #1067
Thanks, posted it internally to https://github.com/prisma/prisma2-private/issues/15 for @pantharshit00

[2019-12-09 10:22] malekjaroslav opened #1084 "Getting error on lift save"
Getting this error every time I change something in schema, create migration, then update something else in the schema and try to create a new migration. The only way I found to fix it is to erase all migrations and start from scratch...
[code]

[2019-12-09 10:25] divyenduz commented on #792
@janpio Can you please try this again?

[2019-12-09 10:46] pantharshit00 commented on #1063
I can confirm this. I got a better error I think since I am using the newer version of prisma2 in which error spec is implemented. Here is the report:

### Failed applyMigration at 2019-12-09T10:45:01.130Z
#### RPC One-Liner
[code]

### RPC Input Readable
[code]

### Stack Trace
[code]

[2019-12-09 10:51] pantharshit00 commented on #1065
Hi,

Thanks for requesting this! It has already been requested before, so I am going to close this as a duplicate of https://github.com/prisma/photonjs/issues/249

[2019-12-09 10:51] #1065 closed

[2019-12-09 10:51] divyenduz opened #1085 "Prisma 2 init with SQLite works but throws an error"
To reproduce:

1. Run `prisma2 init`
1. Blank project -> SQLite -> TS/JS -> Just the Prisma schema

![image](https://user-images.githubusercontent.com/746482/70429905-e4c98b00-1a79-11ea-8353-c82a08b3f527.png)

Note that the command actually works i.e. prints out the blank project schema.

[2019-12-09 11:18] divyenduz commented on #1012
@BjoernRave I am very curious to know your use case of disabling npm scripts? Can you please share more on that? :)

[2019-12-09 11:21] divyenduz commented on #888
@chrisdrackett can you please try again with the [new introspection feature in preview 18](https://github.com/prisma/prisma2/releases/tag/2.0.0-preview018)?

[2019-12-09 11:21] divyenduz commented on #819
Internal note: candidate from bug triaging meeting

[2019-12-09 11:22] divyenduz commented on #1016
Thanks, we have removed the `prisma2 convert` command in the latest preview, please use the new introspection to work with existing databases. Here are the relevant release notes: https://github.com/prisma/prisma2/releases/tag/2.0.0-preview018

[2019-12-09 11:22] #1016 closed

[2019-12-09 11:23] #1056 closed

[2019-12-09 11:23] divyenduz commented on #908
Thanks, we have removed the `prisma2 convert` command in the latest preview, please use the new introspection to work with existing databases. Here are the relevant release notes: https://github.com/prisma/prisma2/releases/tag/2.0.0-preview018

[2019-12-09 11:23] #908 closed

[2019-12-09 11:26] divyenduz commented on #786
Thanks, we have removed the `prisma2 convert` command in the latest preview, please use the new introspection to work with existing databases. Here are the relevant release notes: https://github.com/prisma/prisma2/releases/tag/2.0.0-preview018

[2019-12-09 11:26] #786 closed

[2019-12-09 11:26] divyenduz commented on #790
Thanks, we have removed the `prisma2 convert` command in the latest preview, please use the new introspection to work with existing databases. Here are the relevant release notes: https://github.com/prisma/prisma2/releases/tag/2.0.0-preview018

[2019-12-09 11:26] #790 closed

[2019-12-09 12:24] divyenduz commented on #238
@janpio Is this still an issue?

[2019-12-09 12:25] divyenduz commented on #240
@janpio What is your suggestion to move this forward?

[2019-12-09 12:25] divyenduz commented on #466
Internal note: candidate from bug triaging meeting

[2019-12-09 12:28] divyenduz commented on #502
Internal note: candidate from bug triaging meeting

[2019-12-09 12:28] divyenduz commented on #471
Internal note: candidate from bug triaging meeting

[2019-12-09 12:28] divyenduz commented on #472
Internal note: candidate from bug triaging meeting

[2019-12-09 12:29] divyenduz commented on #499
Internal note: candidate from bug triaging meeting

[2019-12-09 12:29] divyenduz commented on #501
Internal note: candidate from bug triaging meeting

[2019-12-09 12:29] divyenduz commented on #640
I believe this was fixed in one of the previews, please re-open a new issue if the problem persists.

[2019-12-09 12:29] #640 closed

[2019-12-09 12:30] divyenduz commented on #642
Internal note: candidate from bug triaging meeting

[2019-12-09 12:30] divyenduz commented on #723
Internal note: candidate from bug triaging meeting

[2019-12-09 12:30] tomhoule commented on #1056
The problem here was that the engines would hang when the database wasn't reachable. We implemented a timeout with a nice user-facing error in https://github.com/prisma/prisma-engine/pull/271 - maybe this issue can be closed.

[2019-12-09 12:31] divyenduz commented on #739
Internal note: candidate from bug triaging meeting

[2019-12-09 12:33] divyenduz commented on #775
Internal note: candidate from bug triaging meeting

[2019-12-09 12:34] divyenduz commented on #777
@pantharshit00 can you please quickly re-triage this one?

[2019-12-09 12:37] divyenduz commented on #869
@pantharshit00 Please re-triage this one, the behavior changed in preview 18.

[2019-12-09 13:05] BjoernRave commented on #1012
@divyenduz I saw a talk of a guy talking about the security problems with the way we develop apps nowadays and that with the postinstall script, library authors are able to execute basically anything they want on your machine.

[2019-12-09 13:05] do4gr commented on #1058
There was an empty database called `chinook` in addition to the filled one called `Chinook`. So the behavior here is working as intended.

[2019-12-09 13:05] #1058 closed

[2019-12-09 13:10] divyenduz commented on #769
@pantharshit00 Please test this one again

[2019-12-09 13:11] pantharshit00 commented on #554
You are running the dev command inside the container. I will not recommend that.

Also, you can get an interactive prompt in docker with the -i flag.

[2019-12-09 13:47] kripod commented on #267
In the meantime, has anyone found a solution to delete records with relationships? I always encounter DB constraint failures.

My schema is as follows:

[code]

Unfortunately, even when I try to delete each `QuizItem` of a corresponding `Quiz`, a constraint failure is raised.

[2019-12-09 13:50] divyenduz commented on #1051
I can still observe this for MySQL on both alpha and the latest preview

![image](https://user-images.githubusercontent.com/746482/70440770-329ebd00-1a93-11ea-8767-e77ed7417bd8.png)

[2019-12-09 14:03] pantharshit00 commented on #1068
I can confirm this bug. This is an urgent regression that we need to fix.

[2019-12-09 14:21] #1068 closed

[2019-12-09 14:22] timsuchanek commented on #1068
Fixed in latest alpha.
You can try it out with `npm i -g prisma2@alpha`.

[2019-12-09 14:22] divyenduz opened #1086 "Netlify: Document why we need a specific configuration"
To make Prisma Client JS work with Netlify Functions, we need the following configuration:

[code]

This is because the netlify runtime is similar to AWS lambda which powers it and rhel linux is expected.

This might be a bit confusing to the users if they try to log the OS in the netlify's build step which is Ubuntu. But we don't need to make any configurational changes to make Prisma CLI (I thin

[2019-12-09 14:32] pantharshit00 commented on #1072
I am unable to test this because I don't have those databases. Marking as a bug for now though.

[2019-12-09 14:34] pantharshit00 commented on #1074
I can confirm this. The workaround would be to manually add a @map directive for now.

[2019-12-09 14:51] janpio commented on #238
No, now links to https://github.com/prisma/prisma2

[2019-12-09 14:51] #238 closed

[2019-12-09 14:52] janpio commented on #240
This is from the suuuper old `init` which does not exist any more.

[2019-12-09 14:52] #240 closed

[2019-12-09 14:54] nikolasburk commented on #724
This seems to be fixed now 👍

[2019-12-09 14:54] #724 closed

[2019-12-09 15:08] divyenduz opened #1087 "Introspection panics on an empty database"
To reproduce, create a database (MySQL) on a server, try to introspect that in the init workflow. This makes init flow with new database not possible.

![image](https://user-images.githubusercontent.com/746482/70446827-f9b81580-1a9d-11ea-9387-87f4f41399ea.png)

[2019-12-09 15:15] nikolasburk opened #1088 "SQLite introspection fails with "thread 'main' panicked at 'No id field defined!" for Chinook dataset"
The Chinook dataset is the [default example used in the SQLite documentation](https://www.sqlitetutorial.net/sqlite-sample-database/), you can find the DB file [here](https://github.com/prisma/prisma-datasets/blob/master/datasets/sqlite/chinook/prisma/chinook.db).

I just ran introspection against it using this command:

[code]

The command failed with this message:

[code]

CLI version:

[code]

[2019-12-09 15:18] janpio commented on #1087
Did you supply the database in the form?

[2019-12-09 15:22] nikolasburk opened #1089 "Enable SQLite introspection in `prisma2 init`"
Since this is now available on an engine level, this should also be available in the `init` flow of the CLI. Note that you can already use `prisma2 introspect url="file:dev.db"` to introspect an existing SQLite DB.