[2022-10-14 17:13] PavelSafronov commented on #15788
Hi @janpio , here are the answers to your questions:
- Obsidian db is just an empty database the test creates. It's the name our customer used for the repro repo.
- Just tried `db push` with dolt, and that command succeeded. Curious.
- HostedDolt should work, but I've been testing this with just a local dolt installation, and that's what the repro repo uses as well.

[2022-10-14 17:30] cgil commented on #1477
Agree this type of optimization should be a focus for an ORM like Prisma.

[2022-10-14 17:36] alexn-s commented on #15788
hey, i am the guy who found the bug. the issue is not only prisma specific but effects typeorm also. my guess is that basically all nodeJS orms are affected. timsehn mentioned that the orms probably share the same rust library, thus fail. i will create another repo with a typeorm  reproduction the next days (tomorrow probably).

if i can help in any other way, please let me know. happy to help

[2022-10-14 18:52] millsp commented on #12852
Internal discussion https://prisma-company.slack.com/archives/C03V1UE750D/p1665772262123349

[2022-10-14 19:07] raqfc commented on #2018
@bizmedia Were you able to use this model? I have a similar schema for my "audit table" but i'm encontering some issues

[2022-10-14 19:10] HwangTaehyun opened #15808 "Check for nested sql query after `IN` keyword in the Prisma raw query."
## Problem

[Docs](https://www.prisma.io/docs/concepts/components/prisma-client/raw-database-access#tagged-template-helpers) about raw-database-access also guide to use of nested SQL query when using ```IN``` keyword, but in the other raw queries use js variables literally. So, many developers have been confused about when to use nested SQL or just js variables if they don't read the docs carefull

[2022-10-14 19:49] aqrln commented on #15672
I couldn't reproduce the issue with a query similar to the one given in the description, when there's just one level of nesting.

That is, the following query:
[code]
returns all users for me (both with the latest Prisma and 4.2.1).

However, I can reproduce the issue when there are two levels of nesting — this was not obvious from the description at first, but then I noticed that the code snippet

[2022-10-14 19:52] janpio commented on #15788
TypeORM does not use the same Rust library (it is fully written in JS), but the guess around `mysql` from https://github.com/dolthub/dolt/issues/4511 sounds like a better candidate. As far as I can see we connect to the `mysql` database as that is supposed to always work, and then create the shadow database.

One way to test that our would be to avoid the creation of the shadow database by Prisma,

[2022-10-14 20:16] DamianGlowala commented on #9460
@janpio, any chances to give this issue some attention in the current/next milestone, please? 🙏 Currently, we cannot delete a one-to-one relation in a single database query without having to care whether it actually exists or not, but to use a transaction with `deleteMany`. Any form of feedback is highly appreciated.

Related comments:

- https://github.com/prisma/prisma/issues/4072#issuecomment-1

[2022-10-14 20:46] jacobchrismarsh commented on #15672
Ah, that's a good distinction. Thank you, @aqrln

[2022-10-14 21:25] janpio commented on #9460
Although we understand this would be helpful, with the existing workaround and all the other things we are working on I fear we will not be able to prioritize this right now. It will most probably come one day, but probably not super soon.

[2022-10-14 22:12] janpio commented on #9429
Just got this again while running `npx prisma studio` in the VSCode terminal. My Prisma version I am using is prboably not the newest, so it might have wanted to suggest that I upgrade.

[2022-10-14 22:48] janpio opened #15810 "Environment variable to add entries to `previewFeatures` without having to add them to the schema file"
We test new versions Prisma Client for Data Proxy by falling back to the previous stable version so Data Proxy can select an engine (Usually that is fine, the engine itself does not change to much). That has the unfortunate side effect, that it does not know about newer preview features the uploaded schema might include - leading to a validation error.

A solution could be to have a way to locally

[2022-10-15 00:16] willdspd commented on #15671
Hi @SevInf, this issue seems to have resolved itself. I really have no explanation as to why it occurred, but as you can see from my screenshot, it definitely did. Maybe something to keep an eye on for the future.

[2022-10-15 00:16] #15671 closed

[2022-10-15 04:04] WilliamABradley commented on #8478
I got this working on 4.4.0 with the following dockerfile:

[code]

[2022-10-15 06:06] mirukuz commented on #3725
+1

[2022-10-15 08:32] aqrln commented on #15727
I also wasn't able to reproduce this neither with latest Prisma nor with 4.4.0. The schema and the query from the report produce the following result without any errors:

[code]

In addition to what was requested in the comment above, could you please also check if the version of Prisma you use at runtime is what you expect it to be?

[code]

[2022-10-15 08:52] okomarov opened #15814 "Prisma executeRaw and executeRawUnsafe fails to query Postgres sequence"
### Bug description

I have a [Postgres SEQUENCE](https://www.postgresql.org/docs/current/sql-createsequence.html) to manage incremental **group** operation logging.

I want to retrieve (or increment) the number in the sequence but Prisma either fails, in the case of executeRaw, or returns 1, even though the sequence is e.g. at 60.

### How to reproduce

### executeRawUnsafe

1. Create a sequence

[2022-10-15 08:56] anton-johansson commented on #5022
I'd love this too. Am I correct to think that this existed in a previous version of Prisma? See here:
https://v1.prisma.io/docs/1.34/prisma-client/features/check-existence-JAVASCRIPT-pyl1/

[2022-10-15 10:07] janpio commented on #15814
The `executeRaw` operations return the number of affected "rows", not the value. You should try `queryRaw`.

[2022-10-15 10:34] anton-johansson opened #15815 "TypeScript, `readonly` arrays combined with `where` and `in`"
## Problem

I'm working a lot with `readonly` properties on a lot of my types, for immutability, because I think that makes the code better. I've just started messing around with the `in` filter, and it doesn't seem to work well with `readonly` arrays. For example:

[code]

## Suggested solution

I don't see any downsides of allowing `readonly` arrays with the `in` filter, and I can't see any tech

[2022-10-15 10:46] okomarov commented on #15814
@janpio Sorry about this noise, closing 😅

[2022-10-15 10:46] #15814 closed

[2022-10-15 14:24] anton-johansson opened #15817 "Many-to-many relation and INNER JOIN"
## Problem

Imagine a model like this:

[code]

There are multiple users and multiple instances. Users are connected to instances, many-to-many.

Now, imagine that I want to retrieve all users for a given instance and whether or not the users are active within that instance. Using raw SQL, I would write this:

[code]

This would give me filter on `UserInstance` while allowing me to extract the dat

[2022-10-15 14:38] anton-johansson opened #15818 "findMany together with additional aggregation"
## Problem

Imagine the following model:

[code]

Now, imagine that I want to fetch all users and their latest invitation token. With raw SQL, I would write this:

[code]

So this is my current query, but it feels very inconvenient to have a separate query and have to manually map together the aggregated values to the results of the first query.

[code]

## Suggested solution

Not sure... Any idea

[2022-10-15 15:31] nickty commented on #8954
npx prisma db push

The above command solved my problem as well.

[2022-10-15 15:42] Centuriononon commented on #15167
Hello! Did you fix that bug?

[2022-10-15 17:38] GGotha commented on #5051
My workaround for MySQL Database was:

Set the timezones inside MySQL:

[code]

and in Prisma create Dates using NOW() MySQL Function:

[code]

Now create your user:

[code]

[2022-10-15 21:11] minakawa-daiki commented on #9380
I am using planetscale and the following error occurs when the number of data is large.

[code]

I assume that this is probably caused by the use of IN clauses in the part of the query that should be issued with a JOIN.
[code]
<img width="1887" alt="image" src="https://user-images.githubusercontent.com/22878067/196007687-0a3a192a-4b79-4898-84cf-b809614e6137.png">

Currently I am using take and ski

[2022-10-15 22:01] ChristophP commented on #12099
This doesn't seem to be specific to Decimal . I'm seeing a similar error for an Int field that has string data.

Schema
[code]

Value
![image](https://user-images.githubusercontent.com/5880236/196009168-a05a56ae-99fb-480a-a3f3-9074487974ad.png)

Query
[code]

Error
[code]

[2022-10-15 22:57] JUNIORCO commented on #13233
Same issue in an npm repo running prisma 4.4.0.

[2022-10-16 11:17] IRediTOTO commented on #14445
Someone can consider about this?
I must query 2 times to archive this :\ `updateMany` don't allowed relation query

[2022-10-16 11:36] kevinmamaqi opened #15825 "Migration crashes creating a function."
Hi Prisma Team! Prisma Migrate just crashed. I used the following SQL migration. It was created with createOnly flag and later added:

[code]

In addition I am using a custom schema and user to create/connect to the database, so I have:

DATABASE_URL=postgresql://MYUSER:MYPASS@localhost:9911/MYDB?schema=MYSCHEMA
SHADOW_DATABASE_URL=postgresql://postgres:pgpass@localhost:9911/MYDB?schema=MYSCHEMA`

[2022-10-16 12:05] tareksalem opened #15826 "Prisma migration fails with postgres"
### Bug description

I have the following schema

[code]

I run the first command to push my schema to db as the following:

[code]

then I did an update on the following model:

[code]

then I run the following command:

[code]

it fails with the following error:

[code]

when I looked on the generated migration script I found that prisma regenerates the migration for the whole schema even the no

[2022-10-16 12:06] tareksalem opened #15827 "Prisma migration fails with postgres"
### Bug description

I have the following schema

[code]

I run the first command to push my schema to db as the following:

[code]

then I did an update on the following model:

[code]

then I run the following command:

[code]

it fails with the following error:

[code]

when I looked on the generated migration script I found that prisma regenerates the migration for the whole schema even the no

[2022-10-16 15:56] ShaikRehan123 commented on #10866
Please so many need this.

[2022-10-16 17:38] kevinmamaqi commented on #9528
I have the same error running `npx prisma migrate dev --name initial-migration --create-only` in a newly created database.

[code]

[2022-10-16 22:47] mauricioklein opened #15828 "Prisma failing with `Int` mapping to Postgres Integer with contraints"
### Bug description

I have a simple Prisma schema that correlates to a column in a Postgres database that's set as a custom Integer type (i.e. a Postgres Domain Type).

Prisma schema:

[code]

The column `port` in Postgres is defined as the custom type `network_port`, which has:
- Base type: Integer
- Constraint: `VALUE >= 1 AND VALUE <= 65535`

When performing create operations against Server mo

[2022-10-16 23:52] ipavlyk-startupsoft commented on #4433
+1

[2022-10-17 02:24] arkmech opened #15829 "Unable to generate correct Prisma Error Code for Required Fields"
### Bug description

Goal: Want to receive the proper Prisma error code with meta that includes target field data to throw my appropriate errors based on missing required field.

Per Error Code Docs: https://www.prisma.io/docs/reference/api-reference/error-reference

`P2013` "Missing the required argument {argument_name} for field {field_name} on {object_name}."

I always get error `P2009`

I do n

[2022-10-17 02:32] jacobdr commented on #8897
I guess I understand the corporate desire for this, but if anything as a user I think it would be nice if in fact it was easier to override the `engineEndpoint` (or whatever you call it in the future) from a calling client

[2022-10-17 04:48] rupurt commented on #12598
I wasn't even able to get this to work on Linux. I eventually got it working on Linux by using the `docker0` virtual network interface `172.17.0.1`.

No such luck figuring things out on Mac yet... :{

[2022-10-17 06:22] oliviervanbulck commented on #273
+1 would be nice and handy!

[2022-10-17 06:50] hiuny commented on #5051
@GGotha
Your workaround works fine. But there is a problem.
I changed it to `dbgenerated("NOW()")` . After that, if `npx prisma db push` is executed, `Error: Invalid default value for '{column name}'` error occurs. Is there any way to solve this?

[2022-10-17 07:42] nikolasburk opened #15830 "Remove connection pool related functionality when Prisma Client was generated with `--data-proxy`"
Feel free to close this in case I'm misunderstanding something but in case I understand correctly, it seems like the `$connect` and `$disconnect` methods on `PrismaClient` don't have any effect when it was generated using the `--data-proxy` option.

To prevent any confusion for users, I suggest to remove these two methods from `PrismaClient` when it was generated using the `--data-proxy` option.

[2022-10-17 09:13] Jolg42 commented on #9380
Hi @minakawa-daiki Could you create an issue [here](https://github.com/prisma/prisma/issues/new?assignees=&labels=kind%2Fbug&template=bug_report.yml)?
If you could provide reproduction steps it would help a lot.

Note: This is maybe unrelated to the `referentialIntegrity` feature

[2022-10-17 09:31] #15803 closed

[2022-10-17 09:35] floelhoeffel opened #15835 "Preview feature feedback: PostgreSQL extensions"
Please use this issue to share any **feedback** about the `postgresqlExtensions` functionality released in [v4.5.0](https://github.com/prisma/prisma/releases/tag/4.5.0).

**Documentation** can be found [here](https://prisma.io/concepts/components/prisma-schema/postgresql-extensions).

If you encounter a **bug**, please [open a bug report](https://github.com/prisma/prisma/issues/new?assignees=&labe

[2022-10-17 10:16] floelhoeffel opened #15837 "Preview feature feedback: Extended where unique"
Please use this issue to share any **feedback** about the `extendedWhereUnique` functionality released in [v4.5.0](https://github.com/prisma/prisma/releases/tag/4.5.0).

**Documentation** can be found [here](https://prisma.io/docs/reference/api-reference/prisma-client-reference#filter-on-non-unique-fields-with-userwhereuniqueinput).

If you encounter a **bug**, please [open a bug report](https://g

[2022-10-17 10:28] Akxe commented on #8134
The upsert solves this for a single row, but upsert many are still missing and thus, doing something like refreshing imported data is very complex of must be done manually.

`INSERT ... ON DUPLICATE KEY UPDATE` would solve this.
(related: https://github.com/prisma/prisma/issues/10362)

[2022-10-17 11:04] nikolasburk commented on #15830
That's a fair point, maybe for that reason it's indeed better to leave them in indeed... however, if we do keep them, I think it would be nice to _somehow_ notify that user that these won't have any effect. Ideally both at development time (e.g. via the VS Code extension) and at runtime (by printing a warning log when it gets called).

[2022-10-17 12:26] janpio commented on #12099
Open a new issue for this please @ChristophP - this issue _is_ specific to Decimal and currently blocked by us not supporting Decimal for MongoDB at all.

[2022-10-17 12:27] janpio commented on #14445
This issue now exists and is tagged as a feature request, so it will be considered when we have time to do additional, new things.

[2022-10-17 12:29] janpio commented on #15827
Duplicate of https://github.com/prisma/prisma/issues/15826

[2022-10-17 12:29] #15827 closed

[2022-10-17 12:33] janpio commented on #8897
By default this is not even active any more in Prisma Client, in any way, as we are using a Node-API based library for the engine. This is only an internal debugging feature for testing `binary` engines. What would be the use case to override that for normal users?

[2022-10-17 13:48] ChristophP commented on #12099
sure, will do

[2022-10-17 14:17] arkmech commented on #15829
TLDR `P2009` is missing meta and target fields

[2022-10-17 15:10] PainterHalver opened #15842 "Prisma Middleware is called multiple times in Nextjs"
### Bug description

Middleware is called multiple times, maybe because it is imported multiple times?
I write prisma.ts according to [this discussion](https://github.com/prisma/prisma/discussions/12320).

lib/prisma.ts
`import { Prisma, PrismaClient } from "@prisma/client";
import crypto from "crypto";

declare global {
  // allow global `var` declarations
  // eslint-disable-next-line no-var
  v

[2022-10-17 15:16] mwitteveen commented on #273
Can this issue be put on higher priority? I am getting a bit tired of having translation methods in each of the external services the API with Prisma is touching. From Python to Typescript to Java all have different default enum values. And none of them have the same behavior as Prisma.

[2022-10-17 15:22] 0gust1 commented on #13549
@Divaaan we also have this issue, in an 'classic' Azure App Service context.
It maybe worth to create  a separate issue for that ? (as it's kind of unrelated to the current one).

[2022-10-17 15:33] janpio opened #15844 "Preview feature feedback: Deno support (`deno`)"
Please share your feedback about the `deno` functionality released in [v4.5.0](https://github.com/prisma/prisma/releases/tag/4.5.0) in this issue.

The current state of our implementation is described here: https://github.com/prisma/prisma/issues/2452#issuecomment-1282956083

- If you encounter a bug, please [open a bug report](https://github.com/prisma/prisma/issues/new?assignees=&labels=&templat

[2022-10-17 17:35] panzi opened #15850 "Clarify @updatedAt behavior in documentation"
## Problem

If there are no other columns to update, then the column marked with `@updatedAt` is not changed, and the update/upsert call doesn't even access the database.
This behavior is not necessarily obvious and should be mentioned in the documentation. Such a documentation would have saved me the time to manually test the behavior just now (after I noticed a cache invalidation bug in my code

[2022-10-17 17:37] jacobdr commented on #8897
The use case I am thinking of is not necessarily for end users -- where hiding this makes sense per the technical goals of the core devs  -- but rather for library authors who are building on top of Prisma. Other language packages -- like [prisma-py](https://github.com/RobertCraigie/prisma-client-py) -- haven't built the C-bindings like you guys have and keeping the flexibility of connecting multi

[2022-10-17 17:56] janpio commented on #8897
Do external clients like `prisma-py` run the (binary) engine in a way that the JS Client could connect to that? The JS Client would not be able to give any guarantees in the other direction probably as it just manages the running (binary) engine in a way that gives no external guarantees (e.g. running at a known address etc).

[2022-10-17 18:18] MarcusHSmith commented on #7678
Is there any news on this thread?

[2022-10-17 18:33] sidvenu commented on #15727
Hey folks,

So I copy pasted the schema that is error-ing out wrongly. Here's the erroring out schema:

[code]

I realised substituting `true` for the value `1` makes it work perfectly in my local - but true and 1 from a MySQL perspective should be the same.

I can close this issue because `dbgenerated("(uuid_to_bin(uuid(), 1))")` works for me - but we potentially might want to keep this issue ope

[2022-10-17 18:37] janpio commented on #15727
If we can reproduce with `true`, that is certainly something worth fixing.

[2022-10-17 18:43] sidvenu commented on #15727
Fwiw, `bin_to_uuid(uuid_to_bin(uuid(), 1), 0)` does not work either. I use this expression to store UUIDs with time-high and time-low swapped, but as VarChar. In this case, the schema was:

[code]

[2022-10-17 19:06] arkmech opened #15851 "Docker Local: Prisma Postgresql Pool Startup Latency"
### Bug description

I have a single instance of Prisma client stored in global variable.

There is significant latency on initial request to my API with Prisma when initializing the connection pool.

After I see this log: `prisma:info Starting a postgresql pool with 5 connections.`,  aka connection pool has finished initializing, then the requests are regular speed.

Docker for both API (Node.js

[2022-10-17 19:14] jasonkuhrt opened #15852 "pnpm deploy not bringing the in the generated .prisma/client"
### Bug description

When using a monorepo it can be helpful for app deployments therein to use `pnpm deploy` to build up a portable `node_modules` for that app to be deployed, which includes all local workspace deps etc.

https://pnpm.io/cli/deploy

When used with `@prisma/client`'s defaults however, it breaks in that the `.prisma/client` is not brought over into the produced `node_modules`.

###

[2022-10-17 19:57] ArtemKurtiakZenwayCode commented on #14595
Hi, any update on this? :)

[2022-10-17 20:55] tavindev commented on #15265
Will this be added to the roadmap at some point?

[2022-10-17 22:17] paololim opened #15854 "Postgresql MERGE command"
## Problem

Postgresql 15 was recently released and introduced support for the `MERGE` command: https://www.postgresql.org/docs/15/sql-merge.html

This allows a client of the database to have more flexibility doing things based on conditions, rather than resorting to application-based logic, multiple SQL statements, or resort to plpgsql scripts.

Here's an example from the Postgresql documentation

[2022-10-17 23:03] minakawa-daiki commented on #9380
OK.
Please give me some time as I need a large amount of data to reproduce it.

[2022-10-17 23:20] jemisonf opened #15855 "Automatically add `@updatedAt` attribute where appropriate when `prisma db pull` is run"
## Problem

If you have a table that looks like:

[code]

The Prisma schema generated by `prisma db pull` will be:

[code]

The `update_date` column will be set correctly when the record is created but not updated on subsequent queries. This _is_ documented in the Prisma docs, which also identify that you can fix the issue by adding `@updatedAt()` in the Prisma schema. But I don't think this is ne

[2022-10-18 00:01] seashairo commented on #15844
Just wondering if you can give me any guidance on trying this out on Windows?

If I run `deno run --unstable -A npm:prisma@4.5.0-dev.46` I get the standard Prisma output with the command list, but when I try to run any of the commands I get a permissions error like:

[code]

Are there any other flags, configuration, etc I need to set?

[2022-10-18 00:07] keikumata commented on #7550
This is one of a few reasons why we're planning to move off of Prisma. It would be amazing for the Prisma team to address this! Is there anything the community can do to help make this a higher priority?

[2022-10-18 05:57] oliverjohnsticket commented on #2445
Fauna and Prisma sounds like a very powerful combo

[2022-10-18 06:45] hannadrehman commented on #5044
@vuki656 how does it work in many to many relations ?

[2022-10-18 07:38] janpio commented on #15844
Yep, just update to the latest Deno version 1.26.2 and this should be gone. [It was a bug I also hit and reported](https://github.com/denoland/deno/issues/16255) (yay Windows users!), and the Deno team super quickly fixed and release in their next patch release 1.26.2 a few hours ago.

[2022-10-18 08:00] waiting7777 opened #15856 "crash when migration"
Hi Prisma Team! The following command just crashed.

## Command

`db push`

## Versions

| Name        | Version            |
|-------------|--------------------|
| Platform    | darwin             |
| Node        | v16.14.0           |
| Prisma CLI  | 4.3.1              |
| Engine      | c875e43600dfe042452e0b868f7a48b817b9640b|

## Error
[code]

[2022-10-18 08:35] IvanAram1107 commented on #11242
Oh my, I would have never guessed that, I stopped debugging this because I was running out of time and had a lot of stuff to do so I rolled back to Prisma v3 and everything worked as it used to but now that you pointed this out I may be trying to upgrade prisma to version 4, thus, I'll be opening an issue again if needed

Thank you very much @celobusana

[2022-10-18 09:14] EyuelMathewos commented on #15041
Found 68 errors in 4 files.

Errors  Files
    58  node_modules/.prisma/client/index.d.ts:1408
     2  node_modules/@casl/ability/dist/types/matchers/conditions.d.ts:31
     4  node_modules/@casl/prisma/dist/types/createAbilityFactory.d.ts:3
     4  node_modules/@casl/prisma/dist/types/index.d.ts:7
**Solution**
Update Prisma dependency Libraries
npm i @prisma/client@4.4.0
npm i @casl/prisma@1.3.1

[2022-10-18 10:50] 0gust1 commented on #12496
We have the same kind of error as @jkomyno posted, when trying to run `prisma migrate deploy` on our target server.

node: 16.14.2
prisma: 4.4.0
env: Azure AppService ("classic" zip deploy)

[code]
In `node_modules/@prisma/engines` we have the correct engines (`prisma-fmt-debian-openssl-1.1.x` in our case), but it keep searching for a wasm module, at the wrong place (`node_modules/.bin/prisma_fmt_

[2022-10-18 11:45] horsewin commented on #14953
i was also encountered this problem.

In my case, other dependencies, blitz 1.x, haved used old `@prisma/sdk` internally and this was looks like root cause ( i know `@prisma/sdk` have already been deprecated).

I resolved this problem by updating `@prisma/sdk` version at once.

[2022-10-18 11:52] teuteuguy commented on #6603
We are trying to run prisma with rushjs and having absolutely no luck.
The workspaces is failing the prisma generate.

Any news on this ?

[2022-10-18 12:07] seashairo commented on #15844
That worked \o/

As a follow-up, is there any way to generate a client for Deno without using Data Proxy? I can see that the output dir has a `deno` folder but it has no generated files without passing `--data-proxy`.

[2022-10-18 13:15] #12308 closed

[2022-10-18 13:19] Weakky commented on #7290
Hey folks,

A solution was implemented by https://github.com/prisma/prisma-engines/pull/3281. It will be available in the next release under a new preview flag called `extendedWhereUnique`.

If you have any feedback you'd like to give about this feature, please post it here https://github.com/prisma/prisma/issues/15837#event-7600630285

Thanks for your patience, closing now 🙏.

[2022-10-18 13:19] #7290 closed

[2022-10-18 13:20] Weakky commented on #10376
Hey folks,

A solution was implemented by https://github.com/prisma/prisma-engines/pull/3281. It will be available in the next release under a new preview flag called `extendedWhereUnique`.

If you have any feedback you'd like to give about this feature, please post it here https://github.com/prisma/prisma/issues/15837#event-7600630285

Thanks for your patience, closing now 🙏.

[2022-10-18 13:20] #10376 closed

[2022-10-18 13:22] Weakky commented on #4988
Hey folks,

A solution was implemented by https://github.com/prisma/prisma-engines/pull/3281. It will be available in the next release under a new preview flag called `extendedWhereUnique`.

If you have any feedback you'd like to give about this feature, please post it here https://github.com/prisma/prisma/issues/15837#event-7600630285

Thanks for your patience, closing now 🙏.

[2022-10-18 13:32] capaj commented on #15837
The link to docs is not working 🥲

[2022-10-18 13:33] dtinth commented on #3242
I got bitten by this too. I submitted a documentation change to add the following remark to `upsert`’s API docs:

PR:

- https://github.com/prisma/docs/pull/3910

[2022-10-18 13:37] Weakky commented on #15837
It will be as soon as the feature is _actually_ released. Just a bit more patience and you'll have it 🙈.

[2022-10-18 13:49] floelhoeffel commented on #15074
# New proposal 🎉
Thanks everyone for the great feedback 😊 - we have applied lots of improvements to a new version of the proposal and are eager to hear what you think:

## tl;dr
Client extensions are designed to enable 4 ways to extend Prisma client:

- `result` - custom result objects
- `model` - custom methods on models
- `query` - custom client queries
- `client` - custom Prisma client

## Cont

[2022-10-18 13:51] mjknight50 commented on #4703
This is a need for us as well.
We would like to be able to programmatic generate the sql scripts from our prisma.schema instead of using the cli.

The reason being that in our docker builds, we don't want to give bash access on the container.  We don't want to allow exec commands.

[2022-10-18 14:06] tomhoule commented on #15800
The crash is reproduced in a test in https://github.com/prisma/prisma-engines/pull/3297

[2022-10-18 14:07] unagi2020 opened #15863 "Many-to-many relations in Mongo renerates Inconsistent query result error for ObjectId array"
### Bug description

ObjectId array query generates the following error

[code]

[code]
[code]

### How to reproduce

[code]

### Expected behavior

According to the latest available documentation, the query should have sent results back.

### Prisma information

[code]
[code]

[code]

### Environment & setup

- OS: Windows 10
- Database: MongoDb
- Node.js version: 16.14.2

### Prisma Version

[2022-10-18 14:53] jcampbell05 commented on #12814
We can recreate this error with atomic updates which are supposed to be to avoid WriteConflicts and race conditions.

Given the following API call:
[code]

We will get a WriteConflict from MongoDB if two `update` calls are triggered at the same time. The expected behaviour is that the `credits` field would be incremented by MongoDB for each call without any WriteConflicts but unfortunately it thro

[2022-10-18 14:54] tobiasdiez commented on #15074
This looks really nice, good job!

Concerning the declaration of new computed fields,
[code]
This has in my opinion a few short comings:

- You have to keep the information in `needs` and `fields` manually in sync, although this is different places.
- As a result, you cannot easily extract the complete declaration to get something like
[code]
- You probably don't get typecheck errors if you forget

[2022-10-18 15:14] wiverson commented on #15837
Just noticed that optimistic concurrency is closed as implemented by this feature (yay!). Not clear from this issue how to implement, probably just a docs issue?

[2022-10-18 15:23] janpio commented on #15837
That was a bit over eager by @Weakky, only one part of that is implemented. I re-opened the issue and we will follow up there soon.

[2022-10-18 15:43] karelklima commented on #15844
Feedback for `deno 1.26.2` and `prisma 4.5.0-dev.49`, running on Windows 10:
- `prisma init` works
- `prisma generate` sort of works
  - when `--data-proxy` arg is missing it does not do anything Deno-related and generates regular javascript client
  - when `--data-proxy` arg is present it prompts to add `output` to schema when running in Deno
  - when `--data-proxy` arg is present and `output` is

[2022-10-18 16:12] janpio commented on #15844
Thanks for the detailled list!

That is currently expected, see my explanation above: https://github.com/prisma/prisma/issues/15844#issuecomment-1282581504 (In hindsight we could have disabled `generate` without `--data-proxy` - maybe we will do that soon if we can not follow up with the full functionality soon)

That should not be the case any more now - it was while Data Proxy deployed the new v

[2022-10-18 17:10] iserdmi commented on #3219
Hello! I really need this feature, extremely need 🙂 May be it is possible to pay for it development? I think we could raise money for it

[2022-10-18 18:07] Karbust commented on #15855
I would also like to have the ability to set custom names to the updatedAt column

[2022-10-18 18:47] #14917 closed

[2022-10-18 19:06] janpio commented on #15863
The error message talks about `buyers`, but that is not present in the schema. Am I failing to connect the dots here or is something missing?

[2022-10-18 19:07] janpio commented on #15851
Could it be that opening a connection to the database just takes this amount of time you are observing?

[2022-10-18 19:09] janpio commented on #15829
I am not sure I am following. What code are you executing exactly against that schema you shared and what are you getting vs. what are you expecting to get there?

[2022-10-18 19:10] janpio commented on #15826
I think that is pretty much expected behavior. `db push` and `migrate dev` are two different systems. The first time you call `migrate dev` it will try to create the database from scratch. If you use `migrate dev` for the initial creation, the next time you run it, it should be able to just detect the necessary changes and create those into a file. (You can also of course keep using `db push` - bu

[2022-10-18 19:14] millsp commented on #15074
Hey @tobiasdiez, thanks for your feedback. Here's some answers to your questions:

True, the one declares a dependency, and the other declares the computation. I guess, you were thinking why not have:
[code]

A first problem with this is that I couldn't find a solution to infer the `user` parameter from `needs`. With the shared design, `user` will change dynamically with the `needs`. For instance

[2022-10-18 19:15] tareksalem commented on #15826
thank you for your comment, I actually tried to create my DB at first time with the `migrate dev` command but got the same result, Prisma doesn't record the migration, and everytime regenerate the whole SQL script

also as I mentioned, I don't know why Prisma doesn't add `CREATE IF NOT EXIST` instead of using directly `CREATE` to avoid such cases

[2022-10-18 19:17] millsp commented on #15074
Hey @psikoi thanks for you feedback.

If I understood correctly, you'd want to have field overrides? We also call these "augmented" fields, basically turning a field data into something new. That will be possible.

[2022-10-18 19:32] janpio commented on #15828
Let me start with this: https://github.com/prisma/prisma/issues/1796 We do not officially support custom types / domains in PostgreSQL in our schema, which of course means we are not testing them and hence do not know what works and what does not - and you seem to be hitting one of these cases where things do not work.

Can you maybe share the SQL for that `Server` table with the domain? That woul

[2022-10-18 19:33] waptik commented on #2452
Hey guys! There's an [official guide](https://www.prisma.io/docs/guides/deployment/deployment-guides/deploying-to-deno-deploy) that has been published with the release of v4.5.0

[2022-10-18 19:44] janpio commented on #15826
Because that is exactly the job of `migrate`, to generate migrations that do not get into such situations.
Can you please try to recreate this again with `migrate dev` only and then report if you end up in the same situation again?
If so, can you please exactly describe the steps and commands you are running? Thanks.

[2022-10-18 19:44] dxkyy opened #15869 "Multiple rows cant have the same relations"
### Bug description

This are my models:
[code]

And I am trying to create new entries using express:
[code]
but it appears that two `vertretungsplan` entries can't have the same `group` entries.
For example when I have a `vertretungsplan` entry that has two `klassen` items:
[code]
but I then try to create a new entry with one `klassen` item of the id `2`, the `vertretungsplan` entry with two `kla

[2022-10-18 19:51] ChristophP opened #15871 "MongoDB: Inconsistent column data: Failed to convert '\"31\"' to 'Int'"
## Quick description

With already existing data in a MongoDB, the prisma client fails to convert numeric strings into numbers and throws an error.

## Longer Description

### Schema
[code]

### Value (note how the age field has a string value even though the schema says it should be an Int)
![image](https://user-images.githubusercontent.com/5880236/196009168-a05a56ae-99fb-480a-a3f3-9074487974ad.p

[2022-10-18 19:52] janpio commented on #15808
What do you mean by that exactly? I am not sure I am following.

`Prisma.join` does note create a nested SQL query, but prepares the parameters in a way that they work in a prepared statement as we are using them in `$queryRaw`: https://github.com/blakeembrey/sql-template-tag#join

Are you suggesting that we find a way to check _if_ people correctly use `Prisma.join` instead of directly inputting

[2022-10-18 19:56] denniske commented on #2452
I am following the guide but deno is installing the node_modules in the parent directory:

[code]

[2022-10-18 20:12] janpio commented on #15856
What database are you using @waiting7777?
What command are you using when this happens?
Can you share some details of the schema that is causing this?

[2022-10-18 20:18] omar2205 commented on #2452
Do we have to use data proxy with deno?

[2022-10-18 20:19] janpio commented on #2452
Hey, yes we did indeed release the first iteration of our Deno support today behind the `deno` preview feature in collaboration with the Deno team (who did most of the work) 🦕 🥳

As @waptik already mentioned, there is an official guide at https://www.prisma.io/docs/guides/deployment/deployment-guides/deploying-to-deno-deploy. It shows how to use **Prisma Client with Deno both locally and on Deno D

[2022-10-18 20:24] janpio commented on #15837
@capaj Docs link should also work now.

[2022-10-18 20:26] janpio commented on #15844
Now that it is officially out, I described the current state of what this feature is in this comment to the feature request: https://github.com/prisma/prisma/issues/2452#issuecomment-1282956083

[2022-10-18 20:36] janpio commented on #15871
The problem if Prisma would do that, would be that after editing some data and writing it back it would change its type to what Prisma expects to be in that column. For Prisma itself, that would be fine (and actually desirable), but for other tools that access the database it could lead to them getting unexpected types of data. So for now Prisma really expects the defined types in a column.

(We h

[2022-10-18 20:39] Sytten commented on #15074
One thing that is important to my eyes that is still missing is the possibility to override the type of existing fields. The most common use case for that is `Date`. I prefer to use luxon everywhere but I always have to convert back and forth when it reaches the data layer that deals with prisma. This is a great use case for an extension that automatically converts the dates for me and fixes the t

[2022-10-18 20:45] janpio commented on #15844
Thanks for the note, looking into that @denniske. I might have assume a few things that are not true. :(

[2022-10-18 20:48] janpio commented on #2452
(Quick note: We have a report that this does not _actually_ work yet when creating your project in Prisma Data Platform to get a Data Proxy connection string - investigating right now.)

[2022-10-18 21:20] matanzg commented on #905
Webhooks+1

[2022-10-18 21:29] millsp commented on #15074
Hey @Sytten! You'll be able to have overrides in your results, so if you want to upgrade a regular date to a better one you will be able to. So the output side of things will work. On the input side of things that would be difficult and the types wouldn't allow this. I take note, thanks for your feedback.

[2022-10-18 21:44] denniske commented on #15844
Works fine 👍 Thx!

[2022-10-18 21:52] karelklima commented on #15844
I have re-run the steps from few hours ago and it works great for me as well. Good job!

[2022-10-18 21:58] SheaBelsky commented on #15837
Running into an issue trying to compile my Prisma schema:

[code]

For some reason `npx prisma generate` is using version `4.4.0`, even though I've updated my project to use `4.5.0`.

[2022-10-18 22:02] janpio commented on #15837
That indicates that something is wrong there indeed - confirmed by the explicit output. Does `npx prisma --version` also output 4.4.0? Maybe try reinstalling dependencies by nuking `node_modules`. (Sometimes a project or `package.json` in the parent folder also leads to unexpected behavior.)

[2022-10-18 22:07] SheaBelsky commented on #15837
@janpio  Please disregard my earlier - I'm using another library that seems to be the problem, not anything with Prisma! Working on that right now. Sorry for the scare.

[2022-10-18 22:27] buzinas commented on #13310
Any guidance on how to create a connection for production?

[2022-10-19 01:28] gkovalechyn commented on #9528
Also started having this issue, I'm no longer able to apply or create any new migrations to the dev database with or without a shadow database URL configured. When trying to apply them to a newly created database the same error occurs:
![image](https://user-images.githubusercontent.com/1435142/196575693-740ed08c-bdb7-4b4f-849d-93df7459dc85.png)

I'm running both databases in an azure, however, whe

[2022-10-19 02:02] gmwill934 commented on #14918
Tried workarounds but no luck, data is not unique. Hoping the team could address this at some point.

Thank you very much @janpio

[2022-10-19 02:57] karimcambridge commented on #9460
I just started using prisma and this is the most annoying thing I've experienced so far. Finding a good workaround takes awhile of good searching.

[2022-10-19 03:12] andyfleming commented on #6579
In case it isn't clear, I think what users, including myself, are looking for is basically an "init from db" type of command. We have an existing database. We want that schema introspected, the initial migration created, and that migration to be marked as ran.

[2022-10-19 03:14] mouhannad-sh commented on #7534
An async callback to fetch the database url would be awesome for Prisma running on serverless functions like AWS Lambda.
clients like Knex have this as well
https://knexjs.org/guide/#configuration-options

[2022-10-19 03:53] mfarchana commented on #5051
Same problem

[2022-10-19 03:55] joelhooks commented on #12921
This worked for us since July and inexplicably stopped working for us this week.

[2022-10-19 04:15] NanoCode012 commented on #15074
Hello, I would like to ask if this would allow these computed fields to be available to `where`/`order` conditions.

For example, check if `searchValue` is contained in `fullName`
[code]

[code]

[2022-10-19 04:36] HwangTaehyun commented on #15808
@janpio Yeah! That is what! And I want to say Sql instance in sql-template-tag instead of a nested SQL query. That makes more sense.
[code]

[2022-10-19 05:47] tkow commented on #7490
If timezone offset not specified, UTC date is different from timezone date.
Maybe,

[code]

it's safely used if storing specific date even if using any timezone because it is converted date object adapts timezone and stored as utc time.

(e.g. 1) 2022-10-19 if earlier X hours than utc time,  the conversion

[code]

(e.g. 2) 2022-10-19 if later X hours than utc time,  the conversion
[code]

So, com

[2022-10-19 06:01] nickluger commented on #12921
Ah... just fixed it that way, hope it will keep working for us. 😅

If you're using Next.js or some other framework bundling via Webpack you can try adding `@prisma/client` to `config.externals`. I tried that once and it worked, because it keeps Prisma out of the bundle (it's used server-side only anyways). Prisma is probably just `required` via Node resolution out of `node_modules`, so the schema

[2022-10-19 06:54] saesbuba commented on #8359
could you please let us know if this feature will be available soon?

[2022-10-19 07:41] janpio commented on #9528
Are you all using PostgreSQL on Azure? Is it only reproducible there?

[2022-10-19 09:30] jkomyno commented on #12496
@0gust1 would you please report here what's your `prisma version` full output? Even though we're still shipping the formatter engine (`prisma-fmt-debian-openssl-1.1.x`), we've been using a WebAssembly module for `prisma format` for a few releases now. It'd be also awesome if you could provide more information about your project structure.
Is it a standalone project or a monorepo? Would you please

[2022-10-19 09:32] jkomyno opened #15881 "Reproduce potential Wasm bundling issue on `prisma migrate deploy`"
When running `prisma migrate deploy`, [some users](https://github.com/prisma/prisma/issues/12496#issuecomment-1282195220) faced the following error:

[code]

- **node**: 16.14.2
- **prisma**: 4.4.0

[2022-10-19 09:39] jkomyno opened #15882 "Create TypeScript tests for #15655"
Reference issue: https://github.com/prisma/prisma/issues/15655

- [x] When `relationMode = "prisma"`, `NoAction` should now behave like `Restrict` for all databases except Postgres and Sqlite (tested in `relationMode` functional test suite)
- [x] Prisma should reject validating schemas with `relationMode = "prisma" and `NoAction` when the database is either Postgres or Sqlite (tested in https://gi

[2022-10-19 09:41] janpio commented on #15825
Hey, can you try again with 4.5.0? We think this could be fixed already. Thanks!

[2022-10-19 10:03] 0gust1 commented on #12496
@jkomyno Hi 👋 . Thanks for the follow-up! I'll open an issue (it's on my today's TODO) and/or post on #15881. Expect some news in the next 6 hours.

Very quickly (those elements will be in the issue):
It's a standalone project; I suspect that the azure deployment could "do things" to the node_modules folder; I still can't completely rule out a problem on our own workflow. Reproductibility won't be

[2022-10-19 10:04] matiasgarcia91 commented on #8131
+1 on this, very helpful you need to create records on multiple related tables and connect them

[2022-10-19 10:07] vuki656 commented on #5044
I don't think I tried it with m2m

[2022-10-19 10:47] renatocron commented on #847
Another issue, will any day be possible to use prisma with `(T | null)[]`  ? for example:

[code]
The field itself cannot be null, but I want to have null values on some indices (for exemple: marking the data as not initialized yet on those indices)

for now I think I gonna convert those fields into JSON

[2022-10-19 10:48] aqrln commented on #15551
@paperdave sorry, I didn't see your response! It looks like your issue is a duplicate of https://github.com/prisma/prisma/issues/12651 and https://github.com/prisma/prisma/issues/13317, and we got a pull request today that should fix all three issues, please take a look at it too if you are interested: https://github.com/prisma/prisma/pull/15879

[2022-10-19 10:50] jkomyno commented on #12496
@0gust1 that's great, thanks for the quick response! Please report that information directly in https://github.com/prisma/prisma/issues/15881, so we can keep track of the potential issue in a single place and keep things nice and tidy ☺️

[2022-10-19 11:10] KATT commented on #15837
It works but my VSCode complains with _`The preview feature "extendedWhereUnique" is not known. Expected one of: referentialIntegrity, interactiveTransactions, fullTextSearch, fullTextIndex, tracing, metrics, orderByNulls, filteredRelationCount, fieldReference`_

I updated my packages using `npx npm-check-updates /prisma/ -u  && npm i`

<details>

`package.json`:

[code]

`package-lock.json`:

[co

[2022-10-19 11:21] capaj commented on #15837
@KATT just restart your vscode, that worked for me

[2022-10-19 11:48] patryk-smc commented on #15844
I have been using this since yesterday, and it works pretty well for my simple project. Thank you for doing this. Some feedback - from most to least important:

- Most importantly: it would be **great** to be able to run this locally without Prisma Data Platform. For this particular project, I'm working 100% locally, and it is never going to be deployed. I could just work with local Postgres or ev

[2022-10-19 12:00] GGotha commented on #5051
@hiuny When you use `npx prisma migrate dev` occurs the same error?

[2022-10-19 12:03] tobiasdiez commented on #15074
It seems indeed a bit tricky to have good typescript with this solution. I played around a bit and got it almost working, but then run into typescript infer limitations. Maybe one of the ts gurus can solve this issue: https://stackoverflow.com/questions/74123047/infer-nested-mapped-type ?

What should work is to introduce a small helper `defineField` that provides typechecking and can be used as f

[2022-10-19 12:30] renatocron opened #15886 "Support for null in list items"
## Problem

Some times, you want to have positional data saved onto arrays, and some of the slots are empty (NULL)
Currently, prisma does not support this

## Suggested solution

I think that's a bit edge case, so I think maybe on the schema you can Argument the column with somehting like @AcceptNullsItems() in order to make the types of each item as (T | null)[] instead of T[]

## Alternatives

M

[2022-10-19 12:51] #12651 closed

[2022-10-19 12:51] #13317 closed

[2022-10-19 12:51] #15551 closed

[2022-10-19 13:12] janpio commented on #2452
We sure hope so, that this will feel more "Deno native". I honestly do not know yet what that will look like in Deno's Npm support, but we are working on getting that cleaner and more straightforward.

[2022-10-19 13:18] janpio commented on #15844
All valid points and on our list @patryk-smc 👍

We are very aware of that and that will be our big second iteration of the `deno` preview feature.

Those are limitations in Deno right now, fortunately, they do not seem to impact functionality.

That is honestly more an oversight (which we noticed quite late) and we will fix that.

Agreed. For now it is necessary, but I just replied here how we wil

[2022-10-19 13:20] SevInf commented on #10642
Can reproduce it with `*OrThrow` varaints of `findFirst` and `findUnique`: https://github.com/prisma/prisma/pull/15887

[2022-10-19 13:40] Weakky commented on #15837
@KATT We designed a very similar API while researching the topic. Here were the 3 designs we had:

### #1 Adapt WhereUniqueInput

[code]

### #2 Nested if / where / filter

[code]

### #3 Additional if / where / filter

[code]

You can see how design #2 is very similar to yours. We ultimately decided to go with design #1 because it felt confusing from a SQL perspective. There's no such thing as `i

[2022-10-19 13:54] janpio opened #15888 "Deal with extensions that are not installed/present"
When extensions are not present or installed, you get a kind of plain PostgreSQL error message. It might be useful to catch that and present a custom error message with a link to documentation.

[2022-10-19 14:17] imendi commented on #10741
Any chance this gets fixed any time soon ? 🙏 In my case I experience it with nullable Json fields as well.

[code]

[2022-10-19 14:23] Jolg42 commented on #12121
Note:
We have a page in docs about PgBouncer
https://www.prisma.io/docs/guides/performance-and-optimization/connection-management/configure-pg-bouncer#add-pgbouncer-to-the-connection-url

[2022-10-19 14:24] Jolg42 commented on #12122
Note:
We have a page in docs about PgBouncer
https://www.prisma.io/docs/guides/performance-and-optimization/connection-management/configure-pg-bouncer#add-pgbouncer-to-the-connection-url

[2022-10-19 15:07] ko-lem commented on #5022
@anton-johansson Yes, looks like it. My google search earlier actually landed me in that page earlier making me confused why I can't find `prisma.$exists`

[2022-10-19 15:54] Southclaws commented on #15652
Version 13.3

[2022-10-19 16:01] aqrln commented on #9516
The issue is still reproducible with the latest Prisma version.

Schema:

[code]

Code:

[code]

Result:

[code]

The regular expression that decides if a string is a valid date somewhere in `query.ts` doesn't match an ISO string with offset, which needs to be fixed.

The workaround is to pass a Date instead of a string:

[code]

[2022-10-19 16:13] fzlintg opened #15889 "Once instance has previously been poisoned"
Hi Prisma Team! My Prisma Client just crashed. This is the report:
## Versions

| Name            | Version            |
|-----------------|--------------------|
| Node            | v16.15.1           |
| OS              | windows            |
| Prisma Client   | 4.2.1              |
| Query Engine    | 8d8414deb360336e4698a65aa45a1fbaf1ce13d8|
| Database        | postgresql         |

## Logs
[co

[2022-10-19 16:27] janpio commented on #15499
Can you help us out here @nodevnolife? With the current information we unfortunately will need to close the issue as it is not enough to understand what is going on and reproduce it.

[2022-10-19 16:28] janpio commented on #15421
Can you help us out here @jayKeegan? With the current information we unfortunately will need to close the issue as it is not enough to understand what is going on and reproduce it. Thanks!

[2022-10-19 16:28] janpio commented on #14369
Can you help us out here @SuspensionPoint? With the current information we unfortunately will need to close the issue as it is not enough to understand what is going on and reproduce it. Thanks!

[2022-10-19 16:29] janpio commented on #14686
Of course. Did you have time to get to that @shtse8? With the current information we unfortunately will need to close the issue as it is not enough to understand what is going on and reproduce it. Thanks!

[2022-10-19 16:31] janpio commented on #13770
Please open a new issue if you are still experiencing this, and provide as much informaion as possible for us to reproduce the problem. Thanks!

[2022-10-19 16:31] #13770 closed

[2022-10-19 16:31] janpio commented on #12471
Can you help us out here @ifightcrime? With the current information we unfortunately will need to close the issue as it is not enough to understand what is going on and reproduce it. Thanks!

[2022-10-19 16:32] janpio commented on #12858
Hey @chanlito, @bit-cmdr and @arcticmatt - Can you help us out here? With the current information we unfortunately will need to close the issue as it is not enough to understand what is going on and reproduce it. Thanks!

[2022-10-19 16:33] janpio commented on #13708
Once more @jdmoliner, without your help we can not proceed here. Thanks!

[2022-10-19 16:35] janpio commented on #10141
Once more @deltorosalazar @goleary @pj-aditya @raiseandfall - can you maybe help us out here to get more information so we have a chance to reproduce this? Thank you.

[2022-10-19 16:42] janpio commented on #13370
We can probably try to reproduce this on Ubuntu, with such a `/etc/resolv.conf` file, talking to a MongoDB Atlas server with `mongodb+srv://` connection string. It might be that the MongoDB driver is reading that file under the hood and doing wrong things.

[2022-10-19 16:45] trentonsnyder commented on #12921
prisma 4.2.0
@prisma/client 4.2.0
yarn@1.22.19
M1 mac

I think I'm running into the same thing. I have 2 "packages" in turborepo that use prisma (mongodb, postgres).
I've tried using a custom "output" path for both packages so that the schemas wouldn't overwrite each other in the shared @prisma monorepo `node_modules`. It seemed to work ok until I saw this error.
I have pivoted and now I'm trying

[2022-10-19 16:48] 0gust1 commented on #15881
(I'm late, sorry, had some unexpected tasks today. I'll edit this comment with the required info asap)

[2022-10-19 16:49] janpio commented on #14608
Once more @rajesh1158, can you help us reproduce this? Thanks.

[2022-10-19 17:05] HwangTaehyun commented on #15808
@janpio What do you think? I want to fix this for other developers using the Prisma raw query.

[2022-10-19 17:08] janpio commented on #15808
I will raise this internally. Definitely sounds interesting.

[2022-10-19 17:13] janpio commented on #13938
Ping @GitMarijn @wildky - can you help us out please? Thanks.

[2022-10-19 17:14] janpio commented on #14973
Once more, can you please help us out here @Ginn0ji? Otherwise we will have to close this issue as not reproducible. Thanks.

[2022-10-19 17:14] janpio commented on #14716
Once more, can you please help us by providing more information @sahil-ahuja-1? Thanks.

[2022-10-19 17:14] janpio commented on #14897
Can you help us out here @jdmelendez? With the current information we unfortunately will need to close the issue as it is not enough to understand what is going on and reproduce it. Thanks!

[2022-10-19 17:15] janpio commented on #14486
Did you ever get to that @mitchell-wallace? We need your help to be able to reproduce this. Thanks!

[2022-10-19 17:17] janpio commented on #9795
Ping @baba43 @elie222 @yassinebridi @kissmystic again - can you maybe help us out here? Otherwise, we will need to close this issue although it seems to be a real problem. Thanks.

[2022-10-19 17:18] janpio commented on #13279
One more tiem @businessengine and @grandff - can you please help us out? We would really love to be able to reproduce this, but are lacking the information to do so for now. Thanks.

[2022-10-19 17:25] janpio commented on #12235
Once more @eleqtrasoft, can you please help us out here with more information? Otherwise we will need to close this issue. Thanks.

[2022-10-19 17:27] janpio commented on #12812
Once more @timotius02, can you please help us out here by providing more information so we can potentially reproduce and fix this? Thank you.

[2022-10-19 17:28] janpio commented on #13832
Once more @EnterpriseIonic, can you please help us by providing more information? Right now we do not have enough to reproduce the issue. Thanks!

[2022-10-19 17:29] janpio commented on #15066
Ping @Stallion67 - can you confirm this was caused by a mismatch between your database and schema? That would mean we can close this issue. Thanks.

[2022-10-19 17:30] janpio commented on #15075
Ping @Stallion67 - can you confirm this was caused by a mismatch between your database and schema? That would mean we can close this issue. Thanks.

[2022-10-19 17:57] aqrln commented on #15710
The problem here is that `createdAt` is not a unique field, so Prisma can't build an efficient query.

This Prisma query:

[code]

generates the following SQL query:

[code]

However, after adding a unique non-nullable field (in this case, the id itself):

[code]

the following SQL query is generated:

[code]

Alternatively, you could order by id itself instead to get a simpler query if you know y

[2022-10-19 18:00] aqrln commented on #15710
(Adding the `bug/2-confirmed` label for now as it would be confirmed if it was considered a bug. However, this label might be gone together with `kind/bug` if we decide to change it to `kind/improvement`, or irrelevant if we close the issue).

[2022-10-19 18:31] JosepAlacid commented on #15826
So, if you created your DB with db push, you have to update your DB always using db push or your your data will get lost.
If you want to update your db as you go on with your coding, you need to start your db with prisma migrate.

[2022-10-19 18:35] joshribakoff-sm commented on #7490
I created a column:

[code]

The generated types in the Prisma client are:

[code]

When I try to write the string there, I get a runtime error (and no type error):

[code]

At least the types should match what is actually allowed!

[2022-10-19 18:40] jbranchaud commented on #12921
Our stack is pretty specific, but here is what worked for us on pnpm v7 / turborepo v1.4.7 / vercel / prisma 4.4.0

Several of our builds were failing with this Prisma-related error: `error - Error: ENOENT: no such file or directory, open '/Users/jbranchaud/code/clients/egghead/products/apps/epic-web/.next/server/pages/api/skill/schema.prisma'`

This was originally fixed for us in July using `publ

[2022-10-19 18:41] zuffik commented on #11721
Hi. Sorry for not noticing the comments. In the meantime I updated the schema with another solution that was acceptable to my use case. I tried to test also the scheme attached to this issue but everything is working fine, so I suppose you can close the issue.

[2022-10-19 18:57] millsp commented on #15644
Test/reproduction at https://github.com/prisma/prisma/pull/15893

[2022-10-19 21:03] mitchell-wallace commented on #14486
Sorry for the slow response.

A little story of how I found this issue. I had been connecting to a local MSSQL database, but had to change to connecting to one in docker, and it wasn't working at first so I was just trying anything to get it working. I found some flags to put in my connection string to trust the certificate, and to trust the CA, and set both of them to true, but it didn't change w

[2022-10-19 21:49] ahsansher commented on #10333
It will be a huge timesaver but still now discussion on it.

[2022-10-19 21:51] SebasG22 commented on #14073
Sure @janpio,
The anaconda installation was overwritten the OpenSSL path on Ubuntu. I highly recommend checking which SSL is being used. `which openssl`. Then make sure is using the OpenSSL path from the installed version instead of the anaconda itself.
Now you can comment out the anaconda to avoid the collision over the path and you will find all the Prisma commands working correctly.

[2022-10-19 22:07] JustMaier commented on #678
I can't believe this is still an issue 3 years in. I especially can't believe that the Prisma guide on using views essentially breaks your ability to do migrations going forward...

Inspired by [the workaround provided above](https://github.com/prisma/prisma/issues/678#issuecomment-813360955), I created a node version of that which provides a cross-platform way of doing it.

[code]

I then added a

[2022-10-19 22:09] Druue commented on #15727
Reproduced on Prisma 4.5.0 w/ MySQL 8, macos -- repo : https://github.com/Druue/prisma-debug/tree/repro/uuid_to_bin
[code]

[code]
----
[code]

[code]
----
[code]

[code]

[2022-10-19 22:24] jemisonf commented on #15855
@Karbust I might be misunderstanding what you're describing but I think a field with `@updatedAt` should be able to have any name. Might be worth its own issue if there's some reason that doesn't work

[2022-10-19 22:30] janpio commented on #15826
You can also switch from `db push` to `migrate`, but then Prisma will treat it as a new start and you will need to use baselining to backfill the initial migration: https://www.prisma.io/docs/guides/database/developing-with-prisma-migrate/baselining Then the next one should properly create a diff for the next migration.

[2022-10-19 22:32] janpio commented on #11721
Thanks for the update. No bug is better anyway :D

[2022-10-19 22:32] #11721 closed

[2022-10-19 22:39] janpio commented on #14486
Well, not a bug is preferable to a bug 😆 I will close the issue for now, and if anyone ever has something similar again: Please just comment on this and we will reopen and gladly investigate.

[2022-10-19 22:39] #14486 closed

[2022-10-20 01:26] hiuny commented on #5051
@GGotha Wow, Thank you! It works. The model tested is as follows. Thank you very much.

[code]

[2022-10-20 01:50] mfarchana commented on #5051
Thanks createdAt successfully, how about updatedAt ?

[2022-10-20 02:04] rizrmd commented on #2452
Can I use Data Proxy as a self-hosted service ?

[2022-10-20 02:39] hiuny commented on #5051
@mfarchana

It seems that you cannot use the `dbgenerated()` function with the `@updatedAt` attribute. In this case, it will be difficult to use the `@updatedAt` attribute. It may be that I am a beginner and do not know how.

![image](https://user-images.githubusercontent.com/2697067/196842467-3f42501f-79e6-4810-99f5-2557968b04b8.png)

![image](https://user-images.githubusercontent.com/2697067/196

[2022-10-20 03:32] TheoBr commented on #10433
@roxkstar74 this is absolute chaos and I respect you immensely

Prisma homies, let's get this one fixed 🙏 happy to get y'all in touch w/ Turborepo folks during NextConf

[2022-10-20 03:42] waiting7777 commented on #15856
I tried to alter db to use multi-schema and I got this

[2022-10-20 05:39] tkow opened #15899 "$off method or return unsubscriber on $on method of PrismaClient"
## Problem

I want check prisma specific query when it run. I find the way bellow.

[code]

But, this approach have a little worries and counter-intuitive. If calling $on many times,  conflict may occur using another events.
So, I want to off event arbitrary as like eventListener implemented in some programming languages.

## Suggested solution

[code]

Needed modification in
[https://github.com/p

[2022-10-20 07:41] RhinoSoftware opened #15900 "error when migrating dev using two schema instances"
Hi Prisma Team! The following command just crashed.
Was testing out using two schemas. The old database didn't have any schema, so I added a new one and mapped the old tables to the original schema, and only one testing module using the new @@schema decorated. I have enums in the old schema, got an error saying that enums aren't mapped to schemas, so removes $$schema from the enums. Awesome work o

[2022-10-20 07:41] notAunty commented on #4433
I couldn't use
[code]
with `include` though :cry:

[2022-10-20 07:49] chronark commented on #2452
Would be very cool if we could selfhost the data proxy on something like fly.io to with anycast dns, otherwise the global latency will be pretty poor.

[2022-10-20 07:50] Druue commented on #15745
Reproduced on Prisma 4.5.0 w/ Node v16.17.1, MySQL 8, macos -- [repo](https://github.com/Druue/prisma-debug/tree/repro/parent-id-ord)

[code]
[code]
[code]
[code]
[code]

[2022-10-20 08:06] Druue commented on #15745
@sdkuck Could you please verify
- if this still happens for you on v4.5.0
- which version of MySQL you're using?

[2022-10-20 08:52] m-allanson commented on #12370
@janpio Yes, all good from this side. Thanks again for the work on this :)

[2022-10-20 09:07] Druue commented on #6967
Can confirm this is reproducible in Prisma v4.5.0, on macos

[code]

[2022-10-20 09:22] arily commented on #15306
I got same error in alpine-arm64 in docker.

here's what I got:
[code]

[code]

[2022-10-20 10:12] franciscop commented on #4433
@notAunty that's not a "solution", it's a proposal for new syntax that is very neat!

[2022-10-20 11:16] yaacov-commenda commented on #4263
Without this feature, I'm running into a problem where I have to create a new table for any complex object that a table might have more than one of, even if we never need to query that object directly. That results in deeply nested database schemas and inefficient reads and writes.

Has anyone found a good workaround for this?

[2022-10-20 11:45] #15044 closed

[2022-10-20 11:59] Karbust commented on #15855
What I'm talking about is what you are also talking about (if I understood correctly), having to manually add the `@updatedAt` every time you do a database pull. Making prisma automatically assign a certain column as `@updatedAt` would be great. I use `UpdatedAt` on every table, changing every table on each database pull is not the way. Previously I used `sequelize-auto` and I was able to set the

[2022-10-20 12:11] jkomyno commented on #15683
Closed as it's now solved.

[2022-10-20 12:11] #15683 closed

[2022-10-20 12:11] Jolg42 commented on #15683
This can't happen anymore as we have a schema validation

[2022-10-20 12:15] chengpengjava opened #15908 "Command failed with exit code 1: npm install @prisma/client@4.5.0"
### Bug description

I have a database of mysql, and now I want to generate a table in the database,so I wrote schema and then run "npx prisma migrate dev --name init" but I received the following error:
![image](https://user-images.githubusercontent.com/33616855/196942190-2015a881-8dab-49d9-8a95-0007f4d9dcc1.png)

### How to reproduce

1.I created a MySQL database named mydatabase1
2.I created a

[2022-10-20 12:26] SevInf commented on #15808
Hi @HwangTaehyun!
We understand that such warning would be a good improvement, however, I have to agree with `sql-template-tag` maintainers on implementation: simple substring match, similar to what you did in your PR likely will misfire  in some cases, (part of them mentioned in PR discussion). Properly parsing SQL without stumbling over specifics of different dialects is would be quite a difficu

[2022-10-20 12:28] GGotha commented on #5051
@hiuny For updated_at you should use: `updated_at DateTime? @db.DateTime @default(dbgenerated("NOW() ON UPDATE NOW()"))` without `@updatedAt`

[2022-10-20 12:32] #14673 closed

[2022-10-20 13:29] kelemenbalazs commented on #2853
+1

[2022-10-20 13:36] #13913 closed

[2022-10-20 13:50] SevInf commented on #15205
I manage to reproduce some variant of this [here](https://github.com/prisma/reproductions/tree/main/gh-15205).

It looks to me like this is the same problem as reported [in this issue](https://github.com/prisma/prisma/issues/11454#issuecomment-1240997649). I suspect that you have multiple instances of Prisma client generated, `Prisma.join` comes from one of them and `prisma.$queryRaw` from the oth

[2022-10-20 14:11] FlorianWendelborn commented on #678
Yeah, especially since the warning isn't even that noticeable. I followed the guide and implemented it before realizing at the end that it's entirely unusable.

Regarding your workaround, why don't you submit a PR? I wouldn't be surprised if the maintainers are glad someone figured out a potential solution.

[2022-10-20 14:34] Noitidart commented on #15205
Thanks @SevInf! Clicking on that link takes me to a broken page here - https://github.com/prisma/reproductions/tree/main/gh-15205

I am using Vercel/Next.js so it is serverless. And this issue I haven't yet tested in production. But I import `prisma` from a file that looks like this snippet below. We do see that it tries to set `global.prisma` if its not yet set. I got this from the Vercel/Next.js

[2022-10-20 14:41] SevInf commented on #15205
@Noitidart thank you! Here is a snippet from my reproduction:

[code]

Removing `cache` entry is there just to emulate client being loaded from different places.

Regarding your code, could you please do the following:

1. `console.log(require.resolve('@prisma/client'))` in the module you've just posted, the one that sets up Prisma instance
2. `console.log(require.resolve('@prisma/client'))` in th

[2022-10-20 14:51] HwangTaehyun commented on #15808
@SevInf Oh, thank you for reviewing. I'm going to think about that point.

[2022-10-20 14:52] doowb commented on #15074
I'd like to ... extend ... @NanoCode012's [question](https://github.com/prisma/prisma/issues/15074#issuecomment-1283399552).

I would also expect to be able to use computed fields the same way as any other field. As for @soulchild's [response](https://github.com/prisma/prisma/issues/15074#issuecomment-1283527073), I don't think this is a case of needing to parse the computed values, but to apply t

[2022-10-20 15:04] StErMi commented on #12499
I got the same error, I'm using `"@prisma/client": "^4.5.0",` and `"prisma": "^4.5.0",` with a `sqlite` db for the moment.

The error is raised when I try to call the query like

[code]

`notInAlreadySelected` is an array of **1051** IDs at the moment

[2022-10-20 15:23] SevInf commented on #15472
@ahmetkca
`Prisma.sql` as well as `$queryRaw` do not create a string but rather prepared statement - object, where `text` and `values` are separate. This a safe way to pass raw query to the driver while avoiding potential injections. So, for example, ``Prisma.sql`SELECT ${foo}` `` will produce `{ text: 'SELECT $1', values: ['foo']}` object. Note that it does not have quotes around substitution. An

[2022-10-20 15:52] Noitidart commented on #15205
Thanks @SevInf! Sorry for late test, I had to set up the environment and stuff.

It's logging the same path but this was fresh `npm run dev` and first call, I'll keep testing cuz I think it makes sense, because I store it in `global.prisma` and eventually maybe much later, it changes.

Anyways first run values:

[code]

[2022-10-20 15:58] Noitidart commented on #15205
Still same path so far :(

[2022-10-20 16:02] Noitidart commented on #15205
I uncommented by `queryRaw` and its giving me this error, I think I forgot how to use queryRaw lol:

[code]

This is the queryRawUnsafe that works:

[code]

Does anything look wrong with that queryRaw?

Thanks again for your attention on this issue!

[2022-10-20 16:11] PavelSafronov commented on #15788
The real problem is that dolt does not correctly handle prepare statements that refer to a non-existent table.
More info: https://github.com/dolthub/dolt/issues/4511#issuecomment-1285808190

So this isn't a Prisma bug, feel free to resolve as appropriate.

Out of curiosity, why does Prisma try to prepare a statement this early on in the migration? The error is expected and Prisma handles it, but w

[2022-10-20 16:14] SevInf commented on #13720
I could not reproduce this issue with either latest dev or 3.14.0.  Here is the code I am trying:

[code]

@jbdemonte would it be possible to show us what data existis in DB before `update` call and how it's created? Thank you

[2022-10-20 17:05] sharmapukar217 commented on #12504
i got a solution and is working totally fine atleast for me. just add this to vite.config.ts
[code]

[2022-10-20 18:04] Brendonovich opened #15916 "`in: null` for nullable filter produces validation error"
### Bug description

The generated type for an `in` nullable filter allows `null` to be passed in place of an `Enumerable`.

<img width="392" alt="image" src="https://user-images.githubusercontent.com/14191578/197021876-d86c40c3-6125-4b42-9033-03c0869159a7.png">

Doing so causes the query to fail to be invalidated by the engines.

[code]

Looking at the logs, it seems like the `null` is being put

[2022-10-20 18:25] tobiasdiez commented on #15074
There have been an update in the [stackoverflow question](https://stackoverflow.com/questions/74123047/infer-nested-mapped-type?noredirect=1#comment130879854_74123047) and the following [Playground](https://www.typescriptlang.org/play?ts=4.9.0-dev.20221018#code/MYGwhgzhAECqEFMBO0DeAoaXoAcCuARiAJbDQB2YAtggFzQQAuSx5A5tALzQDkPm2fEVLRwTekxbsuvRvwC+6dADM85YI2IB7ctAQAPRgnIATADwAVPYeMmYAJQTAtScwGsEATy3Lo

[2022-10-20 18:53] janpio commented on #15856
Thanks.

What Prisma command did you use?
PostgreSQL?
What did you change?

[2022-10-20 18:54] shtse8 commented on #14686
will reply you in 7 days. sorry for my late. I am working on an urgent project this month.

[2022-10-20 18:56] janpio commented on #2452
That is unfortunately not an option yet. We will probably have support for local engines first before we have that.

[2022-10-20 20:11] ikoichi commented on #7534
+1 especially for the AWS Lambda scenario.

[2022-10-20 20:50] tareksalem commented on #15826
If you noticed, I am using `@@schema` to specify the related schema for each mode

I tried to remove the multiSchema option and added all models to the same schema and the migration is working fine,

the problem is related to multi schema option, it regenerates the whole sql schema again

[2022-10-20 21:14] alexey-marochkin opened #15921 "Add Yandex Data Base engine support"
It would be great to add support of open source [DataBase from Yandex company](https://ydb.tech/).

it has own rust sdk: cargo add ydb

Also hosted offering: https://cloud.yandex.com/en/services/ydb

[2022-10-20 21:39] janpio commented on #15908
Are you using an Npm mirror maybe?

Generally `prisma generate` (the command that is run in the background of `migrate dev` will auto install `@prisma/client` to your package.json. That sometimes fails with other package managers like `pnpm`, and then things explode. Maybe you can fix this by manually installing `@prisma/client` with `pn i @prisma/client` in your project and things will just work

[2022-10-20 21:50] janpio commented on #12499
Thanks, that code snippet is already great. As you are using SQLite, can you maybe quickly recreate your project with a minimal schema, create some data and put a script in there that triggers the error and then put it on GitHub? That would be the most amazing way for us to reproduce this @StErMi.

[2022-10-20 22:04] janpio commented on #15788
🤷 (But I will ask around)

Will this be an easy fix for you or would it be a good idea for us to potentially also handle the current error message you/dolt are throwing?

[2022-10-20 22:17] janpio commented on #15826
Oh shoot, I indeed did _not_ notice.

From https://github.com/prisma/prisma/issues/1122#issuecomment-1231773471:

So unfortunately for now this is expected in this early preview feature.

[2022-10-20 22:33] JustMaier commented on #678
I forked this repo and started to dig into `Migrate.ts` but it looks like this repo is just a shallow wrapper for the actual [Prisma Engine](https://github.com/prisma/prisma-engines) which is written in Rust. I could try and stumble my way through that codebase, but since I have no experience with Rust I don't really feel comfortable trying to modify the Prisma Migration Engine. I'd suspect this i

[2022-10-20 23:59] PavelSafronov commented on #15788
I'm not sure about how long this will take us to fix, but I don't think Prisma should be special-casing our error messages, that seems like a bad idea.
It might be a good idea to avoid preparing a statement this early in the process, but Prisma may have very valid reasons for doing what it's doing right now.

[2022-10-21 00:51] jimmyruann opened #15923 "Empty data return type when reusing Prisma Select type"
### Bug description

It seems like when I explicitly define the Select type out side of the query, it will return `{}` for data return type.

[code]

### How to reproduce

Code sandbox: https://codesandbox.io/s/thirsty-water-61owut?file=/src/index.ts:398-458

### Expected behavior

User data type should be returned instead of `{}`.

### Prisma information

[code]

### Environment & setup

- OS: Li

[2022-10-21 01:51] djdmbrwsk commented on #6719
If you're using Postgres and just want a prefix on UUIDs you can do this:

1. Setup a model with a `@default` that uses [dbgenerated()](https://www.prisma.io/docs/reference/api-reference/prisma-schema-reference#dbgenerated)
[code]

2. Run `npx prisma migrate dev --create-only` (just following the instructions [here](https://www.prisma.io/docs/guides/database/developing-with-prisma-migrate/enable-n

[2022-10-21 03:09] chengpengjava commented on #15908
I went through the process again but same error even if I executed npm cache clean --force.But I succeeded after run pn i @prisma/client because I did use npm mirror through @janpio reminder,thank you all

[2022-10-21 03:15] #15908 closed

[2022-10-21 04:44] SnowMarble commented on #10829
I found my problem was sequence of `id` field, which i set an auto increment.

I reset my sequence to last column id + 1. For instance, if your last one is 100, reset it to 101.
[code]
*You can find sequence name with:
[code]

[2022-10-21 05:25] jbdemonte commented on #13720
@SevInf As you can imagine, since Jun, we had tons of release, so, I'm sorry but I'm not able to get such an old database backup.

we're up to date with the latest prisma.

I just retry and I no longer had this issue, I'll update the workaround we put 😅

btw, thanks for your help

[2022-10-21 05:25] #13720 closed

[2022-10-21 06:45] macklinhrw opened #15924 "Prisma client won't generate and reports mismatch after upgrade to v4.5.0"
### Bug description

I was updating packages,
I updated Prisma from v4.4.0 -> v4.5.0
Then, I used `prisma generate` and the generated client stopped working, and it says there is a prisma version mismatch (prisma = 4.5.0 vs @prisma/client = 4.4.0, even though when I run prisma --version it shows both are at 4.5.0).

I tried clearing my node modules and reinstalling, but after that didn't work I tr

[2022-10-21 06:52] jbdemonte opened #15925 "Support `distinct` on nested keys"
## Problem

As explained on this [issue](https://github.com/prisma/prisma/discussions/15831#discussioncomment-3915372), I want to produce this query:

[code]

The problem is, it's not possible right now to use distinct on nested keys,

## Suggested solution

Add distinct key in nested select to be able to use:
[code]
## Alternatives

using distinct on the main select:
[code]
## Additional context

[2022-10-21 07:20] hiuny commented on #5051
@GGotha WOW~!! It works fine, `migrate dev` works fine too. Thank you very much!

[code]

[2022-10-21 08:18] andrew-walford-prisma commented on #678
Thanks for the heads-up. The docs team will investigate this as a matter of priority.

[2022-10-21 08:21] Jolg42 commented on #15856
Similar error was also reported in https://github.com/prisma/prisma/issues/15900

[2022-10-21 08:23] nahtnam commented on #15074
Is there a typo in the first code block of the context? Shouldn’t the user model have firstName and lastName instead of just name?

[2022-10-21 08:26] Jolg42 commented on #15900
@RhinoSoftware Hi! Thanks for the bug report.
We did some work on `multiSchema` recently, and I recommend you to try if you can reproduce this in version `4.5.0` and let us know if it still happens.

I guess you are using the `multiSchema` preview feature on PostgreSQL?

If you could provide us the schema to reproduce, it would help a lot 💚

[2022-10-21 08:32] Jolg42 commented on #15899
Indeed, currently only subscribing is possible.

Note:
Docs: https://www.prisma.io/docs/reference/api-reference/prisma-client-reference#on

[2022-10-21 08:36] Jolg42 commented on #15889
Hi @fzlintg This should be fixed in version `4.4.0`, could you try upgrading to `4.4.0` or `4.5.0` and let us know if that works?

See for more info
https://github.com/prisma/prisma/issues/14870

I'll close as already fixed, but happy to reopen if this is still a problem with a more recent version.

[2022-10-21 08:37] SevInf commented on #15205
@Noitidart i think there is a syntax error in your raw query, just noticed it: round brackets around values are missing. I think you've meant to do:

[code]

`$queryRaw` does not construct a plain string, but prepared sql statement, automatically escaping the values. So in your original query, round brackets are part of the column value, not the query itself.

Looking further into your query, i th

[2022-10-21 08:38] #15889 closed

[2022-10-21 08:41] #15882 closed

[2022-10-21 08:42] jkomyno commented on #15655
Closed as all related tasks are done.

[2022-10-21 08:42] #15655 closed

[2022-10-21 08:46] RhinoSoftware commented on #15900
Thank you for your swift reply!

I have opened a new project and bumped Prisma to 4.5.0. Using `mysql 8.0.29`, however error persists.
This is the `schema.prisma` file:
`
generator client {
  provider = "prisma-client-js"
  previewFeatures = ["multiSchema"]

}

datasource db {
  provider = "mysql"
  url      = "mysql://user:password@localhost:3306/test"
  schemas = ["test1", "test2"]
}

model User

[2022-10-21 08:51] jkomyno opened #15926 "`prisma format` panic due to non-UTF8 characters in comments."
Command: `prisma format`
Version: `4.3.1`
Binary Version: `c875e43600dfe042452e0b868f7a48b817b9640b`
Report: https://prisma-errors.netlify.app/report/14385
OS: `x64 darwin 21.6.0`

Rust Stacktrace:
[code]

[2022-10-21 08:54] RhinoSoftware commented on #15900
Appreciate your help @Jolg42 and the whole team, have a great day guys!

[2022-10-21 09:27] Jolg42 commented on #5311
This issue was a duplicate of https://github.com/prisma/prisma/issues/9007

[2022-10-21 09:27] #5311 closed

[2022-10-21 10:33] jkomyno commented on #15881
Hey @0gust1, here are a few questions to maybe help each other figuring out some details needed for this issue :)

1. What OS are you using locally during development?
2. What OS does the Azure AppService platform have? (I'd assume Windows Server 2022, but I'm not familiar with the platform)
3. How and where are you currently executing `prisma migrate deploy`? Locally, or on Azure? Via a globally

[2022-10-21 10:46] 0gust1 commented on #15881
wow, you were fast :D (I was editing above).

1. OSX darwin-arm64 (M1)
2. Debian GNU/Linux 10 (buster)
3. We run `prisma migrate deploy` on the server, just before app start (see the `prestart` script below)
4. the script is in the script above ("Database migration" section)

Here the `scripts` entry of our `package.json` file:
[code]

[2022-10-21 11:14] jkomyno opened #15927 "Error in migration engine: We should only be setting a changed default if there was one on the previous schema and in the next with the same enum."
Command: `prisma migrate dev`
Version: `4.5.0`
Binary Version: `0362da9eebca54d94c8ef5edd3b2e90af99ba452`
Report: https://prisma-errors.netlify.app/report/14387
OS: `arm64 darwin 21.6.0`

Rust Stacktrace:
[code]

## Context

This error is happening because we're attempting to unwrap a `None` value into `default_str` via an `expect()` call:

https://github.com/prisma/prisma-engines/blob/1efe6d37259

[2022-10-21 11:17] jkomyno opened #15928 "Error in migration engine: entered unreachable code"
Command: `prisma db push`
Version: `4.4.0`
Binary Version: `f352a33b70356f46311da8b00d83386dd9f145d6`
Report: https://prisma-errors.netlify.app/report/14375
OS: `x64 win32 10.0.22000`

Rust Stacktrace:
[code]

## Context

We're hitting this line:

https://github.com/prisma/prisma-engines/blob/4.4.0/migration-engine/connectors/sql-migration-connector/src/sql_renderer/mysql_renderer.rs#L522

[code]

[2022-10-21 11:30] BigGillyStyle opened #15929 "PrismaClientInitializationError does not get properly initialized"
### Bug description

I was seeing some issues around not getting stack traces logged properly when a PrismaClientInitializationError was thrown (I expected the error, because my local database hadn’t been started).  I noticed [in the source for this Error](https://github.com/prisma/prisma/blob/main/packages/engine-core/src/common/errors/PrismaClientInitializationError.ts) that I don’t think it is

[2022-10-21 11:31] BigGillyStyle commented on #15929
A conversation about this issue was started in the Prisma Slack community in [this thread](https://prisma.slack.com/archives/CA491RJH0/p1666260151218169)

[2022-10-21 11:58] janpio commented on #15881
Some information from the conversation @jkomyno and me had about this earlier today:

From the stacktrace we can reconstruct that Prisma CLI in your situation is trying to load `/node_modules/.bin/prisma_fmt_build_bg.wasm` instead of `prisma_fmt_build_bg.wasm` next to `../../node_modules/.pnpm/@prisma+prisma-fmt-wasm@4.4.0-66.f352a33b70356f46311da8b00d83386dd9f145d6/node_modules/@prisma/prisma-fmt

[2022-10-21 12:17] #15621 closed

[2022-10-21 13:07] SevInf commented on #15603
Can reproduce it on mysql with autoincrement columns specifically.

Core problem here is the default MySQL behaviour: 0 is treated as "Explictly get next auto-increment number". [Example](https://www.db-fiddle.com/f/2hthEALCMcE9zwewe5eVG9/0).

From the [docs](https://dev.mysql.com/doc/refman/8.0/en/example-auto-increment.html#:~:text=No%20value%20was%20specified%20for%20the%20AUTO_INCREMENT%20colu

[2022-10-21 14:17] aqrln commented on #13585
At first the only error I was able to get in Prisma 3.14 (after fixing the validation errors in the schema that prevented me from generating the client, and supposing that `MINIMUM_USER_SELECT` in the code means `{ select: { id: true } }`) was this:

[code]

This is an error of completely different nature, so irrelevant to the original report, and it is not reproducible anymore with the latest Pri

[2022-10-21 14:17] #13585 closed

[2022-10-21 14:20] timotius02 commented on #12812
Hello sorry for the late response. I was able to connect using MySQL Workbench but it works only when my VPN is off, similar to my experience with Prisma.

[2022-10-21 14:37] vleandersson opened #15930 "postgresqlExtensions fails on generating the prisma client"
### Bug description

When adding the new `postgresqlExtensions` and `extensions = [btree_gin, pg_trgm]` to the prisma schema, the migration works fine (`prisma migrate dev`) but the client generation fails afterward.

Error:
[code]

### How to reproduce

1. Add `previewFeatures = ["fullTextSearch", "postgresqlExtensions"]` to your Prisma schema generator section
2. Add `extensions = [btree_gin, pg

[2022-10-21 14:45] vleandersson commented on #15930
Seeing that `prisma generate` prints out `Prisma CLI Version : 4.4.0` while `prisma -v` prints only as above, 4.5.0. Could this be the issue?

[2022-10-21 14:47] Karbust commented on #15855
You are absolutely correct, I actually never tried because I assumed it would be overwritten when generating again. Still, would be a good feature to be able to set a config option with the column name

[2022-10-21 15:13] 0gust1 commented on #15881
when I do a search in `node_modules` (via fzf), I don't find any file named `prisma_fmt_build.js` (locally, and in the generated zip)

I *do* find a `node_modules/prisma/build/prisma_fmt_build_bg.wasm`, locally, in the generated zip, and on Azure.

(maybe it's because we use `npm` and not `pnpm` ?)

Feel free to ask further info

[2022-10-21 15:29] SevInf commented on #13497
Can not reproduce it, neither on current dev, nor on reported 3.14 version. Here is the code I am tryng:

[code]

This always logs `true` for me. @zomars could you share a repo where it reliably reproduces?

[2022-10-21 16:11] 0gust1 commented on #15881
AH. I may have found something:

locally, the content of `node_modules/.bin` are symlinks
[code]
**on Azure, it seems they're not symlinks** (!!!)
[code]
Could it be the cause (I have a strong hint here...) ?

I'll dig further (on monday).

[2022-10-21 16:29] janpio commented on #12812
That then sounds like this is not a problem with Prisma, but generally with the the server or connecting via VPN - do you agree?

[2022-10-21 16:31] janpio commented on #15930
Yes, that certainly is an issue and should not be the case. Something is going wrong with the versions here.

What does your `package.json` look like re Prisma versions?
What package manager are you using?
Do you have a global installation of Prisma on your machine?
What is your project setup? The `../../..` in the engine paths indicate some deep project setup? Monorepo?

[2022-10-21 16:34] janpio commented on #15855
Yes - but that would indeed be a different issue than what @jemisonf wants then. Optimally you could open that. Thanks!

[2022-10-21 16:40] janpio commented on #15881
Yes, that is also roughly the area I am thinking.

Wait, the original error message include `pnpm` things - but your project is fully managed via npm?

Update: lol
<img width="1153" alt="image" src="https://user-images.githubusercontent.com/183673/197246093-6b20e962-c646-4fd7-a5f2-0feec9efcef1.png">
That is really the name of the method our bundle creates.

So it is indeed _not_ surprising that yo

[2022-10-21 16:43] janpio commented on #15881
The `prisma_fmt_build_bg.wasm` should indeed be at `node_modules/prisma/build` right next to the `index.js` that the CLI executes.

So the problem is that on Azure it somehow looks right next to the `prisma` file, while it should next to the `index.js` file of the CLI (which is triggered via the `prisma` file).

[2022-10-21 16:45] janpio commented on #15881
One temporary workaround here could be to not run `prisma migrate deploy` but execute either `node_modules/.bin/prisma` via node, or even the `node_modules/prisma/build/index.js` via node.

[2022-10-21 16:57] Karbust opened #15931 "Automatically annotate certain column name with `@updatedAt` when pulling"
## Problem

Ability to use a custom name for the column `@updatedAt` and be automatically introspected when pulling from the database, based on the column name.

## Suggested solution

Add a config option to set the name of the column.

___

(sequelize supports this)

(As mentioned in #15855)

[2022-10-21 17:40] macklinhrw commented on #15924
![image](https://user-images.githubusercontent.com/19892721/197253679-583704b8-bca6-4271-bea6-f6911f61c060.png)

I reverted the changes using git, created a fresh branch, did a fresh install of both `prisma` and `@prisma/client` and here is the result. Thanks for the help!

![image](https://user-images.githubusercontent.com/19892721/197254013-950d705c-77df-4a27-83ba-4eba9a21ffc8.png)

**Update**:

[2022-10-21 17:45] macklinhrw commented on #15924
**Another update**:
It worked fine after I tried installing and generating with yarn, so I suppose it's a pnpm problem

[2022-10-21 18:39] OnurGvnc commented on #2452
- https://github.com/aiji42/prisma-data-proxy-alt
- https://github.com/OnurGvnc/prisma-data-proxy-fastify
- https://github.com/OnurGvnc/prisma-data-proxy

[2022-10-21 21:12] millsp commented on #15305
Reproduction https://github.com/prisma/prisma/pull/15933

[2022-10-21 21:55] hkbertoson commented on #15306
I get this error when trying to build a Dockerfile. I am on a Macbook M1

Docker build error
[code]

DockerFile
[code]
Prisma Schema
[code]

[2022-10-21 22:00] MichaelB-99 opened #15934 "calling findUnique concurrently on a model with a compound unique constraint causes it to return null"
### Bug description

This bug occurs when running multiple `findUnique` queries with another non unique value (`extendedWhereUnique`) concurrently on a model  with a compound unique constraint. It causes prisma to return null instead of the record.
- Only occurs when calling `findUnique` with the unique field and another  non unique field
- Only occurs when the model has a `@@unique()` constraint

[2022-10-22 03:28] Noitidart commented on #15205
Oh thanks I'll give that a try on by Monday please!

The reason I was using `rawQuery` was to insert and return at once. The `RETURNING *` part. Postgres has this awesome support.

[2022-10-22 09:35] Nedi11 commented on #3219
+1

[2022-10-22 12:19] melbourne2991 commented on #14839
Still an issue in 4.5, updating the conn string to suggested timeouts above solved this for me.

[2022-10-22 12:34] Lagrafabdessalem commented on #13370
I can't edit it , it shows to me that Could not save the file /etc/resolv.conf and Unexpected error: Error opening file “/etc/resolv.conf”: Too many levels of symbolic links , How I fix it ?

[2022-10-22 12:35] Lagrafabdessalem commented on #13370
I can't edit it , it shows to me that Could not save the file /etc/resolv.conf and Unexpected error: Error opening file “/etc/resolv.conf”: Too many levels of symbolic links , How I fix it ?

[2022-10-22 14:53] wladiston commented on #15924
Having the same issue with NPM on a turborepo. Had to clean cache, remove all node_modules folders and pin `4.4.0` version to make it work

[2022-10-22 16:43] miketromba commented on #3528
Here are a bunch of runtime validation API ideas:

### Model-level validation
[code]

### Support async validation
[code]

### Native integrations with popular validation libraries for even better DX
For inspiration, see how tRPC supports this feature https://trpc.io/docs/v10/procedures#with-zod
[code]

### Bonus (prob overkill): support user-injected context object
[code]

### Schema-level valida

[2022-10-22 16:53] miketromba commented on #3528
I like this concept a lot; it would be even better if we could define the implementation of those directives on the client at runtime, similar to my previous comment... This allows users to leverage 3rd party libraries for validation logic instead of rolling their own.
E.g:
[code]

It would also unlock the ability for open source prisma-validation libraries to exist...
E.g.
[code]

[2022-10-22 20:11] normandeaup commented on #12858
@janpio I'm having the same issue on https://kirka.io

My PostgreSQL database allows 1000 connections and with those Prisma options: connection_limit=800&pool_timeout=10, I'm randomly getting about once every 15 minutes, **Timed out fetching a new connection from the connection pool.** before Prisma reaches the 800 connections limit, if I understand correctly, Prisma would need to use all the conn

[2022-10-23 01:49] ItsJohnTheDeveloper commented on #13346
I'm getting a `FUNCTION_INVOCATION_TIMEOUT` error in the serverless function deployed on Vercel.
Long story short I'm fetching data using prisma client inside `getServerSideProps`

**code block**
[code]

[code]

A temporary workaround solution I found was to just query the data via client side, hitting a nextjs api endpoint I created (which
just uses prisma).

_*please note this works fine in a LO

[2022-10-23 02:52] LefanTan commented on #10141
I was able to replicate this issue when
1. Run `npx prisma generate` with DATABASE_URL (Connection string A)
2. Change DATABASE_URL to a different connection string (Connection String B)
3. Start an express server that will use Connection string B and run a query

The mismatch of the generated client seems to have caused it for me. Hope it helps

[2022-10-23 03:03] LefanTan commented on #10141
Happened to me when I entered an invalid connection string, hope it helps

[2022-10-23 06:48] tmtron commented on #3528
IMHO this is not a bonus, but very important for **i18n** - e.g. when you have a multilingual application you must somehow pass information about the current user: i.e. the language, date-time format, number format (decimal separator, etc.).
e.g. in [class-validator #169](https://github.com/typestack/class-validator/issues/169#issuecomment-616512257) there is still no simple way to translate valid

[2022-10-23 08:35] janpio commented on #12858
Please open a new issue for your problem @normandeaup and then we can discuss all the details of this.

Prisma can also send a timeout error any time the connection creation takes too long, that the timeout is hit. When all connections are in use, you will get a different error from the database that tells you explicitly about this.

First reply to your issue will be to use Prisma 4.x as we improv

[2022-10-23 08:36] janpio commented on #13346
The query you are trying to execute probably just takes longer than these 10s (including the creation of the database connection). I suggest you open a new discussion in this repository so we can discuss this and ask all teh questions - in an existing and closed issue that is not really appropriate as it notifies all the previous participants of the discussion on each comment.

[2022-10-23 08:38] Lagrafabdessalem opened #15938 "Error creating a database connection. (An error occurred during DNS resolution"
### Bug description

![Screenshot at 2022-10-23 09-34-30](https://user-images.githubusercontent.com/76662746/197382606-18323376-5dd9-4979-aed5-036a77594975.png)
I'm using linux ubuntu and I installed all thing correctly, How I solve It ?

### How to reproduce

### Expected behavior

_No response_

### Prisma information

[code]

[code]

### Environment & setup

- OS: Debian

### Prisma Version

[c

[2022-10-23 09:36] rigba opened #15941 "`.save()` & `delete()` feature for queried data"
## Problem

When using typeORM a feature I really liked was the ability to save and delete queried data.

## Suggested solution

In my mind the feature would look something like this

[code]

instead of something like

[code]

the above example is quite simple, but it can get quite annoying if you're trying to make something like a product filter with lots of different conditions. I'm not sure if

[2022-10-23 09:37] jamesie commented on #15941
accidently posted this before i finished writing it give me a moment

[2022-10-23 15:02] Paladinagapullaiah commented on #2660
Downloading Prisma engines for Node-API for windows [                    ] 0%Error: request to https://binaries.prisma.sh/all_commits/0362da9eebca54d94c8ef5edd3b2e90af99ba452/windows/introspection-engine.exe.gz.sha256 failed, reason: unable to get local issuer certificate

when I try to execute> npx prisma init --datasource-provider
I have tried the above suggestion as well but could not resolve i

[2022-10-23 15:07] jrm2k6 opened #15944 "prisma client gets removed on yarn install of other dependencies"
Hi all!

Just getting started with Prisma and Nextjs. I created a new Nextjs project, and followed the tutorial to integrate Prisma into my project. Everything works fine with the default setup but I noticed that every time I add/remove an npm package from my project (through yarn), it loses knowledge of `@prisma/client`. To fix that, I have to re-run `npx prisma generate`.

From what I understood

[2022-10-23 15:08] #15944 closed

[2022-10-23 15:17] jrm2k6 opened #15945 "Running `yarn add dependency-name` removes prisma client"
### Bug description

This is a follow up on https://github.com/prisma/prisma/discussions/15935.
After creating a new nextjs project, and setting up prisma for that project, everything works fine.

If I do a `yarn add lodash`, then the `@prisma/client` dependency is not recognized, and I have to run `npx prisma generate` to get it reinstalled.

If I do a `yarn remove lodash` then the `@prisma/clien

[2022-10-23 15:24] John-Dennehy commented on #15505
Getting similar errors as @mael-queau on PopOs 22.04 trining to pnpm install:
[code]

`which openssl` returns: `/home/linuxbrew/.linuxbrew/bin/openssl`

`whereis openssl` returns: `openssl: /usr/bin/openssl /home/linuxbrew/.linuxbrew/bin/openssl /usr/share/man/man1/openssl.1ssl.gz
`

`npx prisma -v` returns:
[code]

[2022-10-23 16:04] w8ze-devel commented on #7249
Hello,

We are experiencing the same problem as described in this issue.

- A default connection pool size based on the number of number of CPUs (default value is 21 in my case)
- No spike in CPU or memory when the problem occurs
- A restart of prisma fixed the issue

The application is used in production and there are not too much workloads but we can't figure out :

- why this issue occured
- ho

[2022-10-23 16:19] w8ze-devel commented on #13713
Hello,

Any update on this ?

We are experiencing this issue very often too.

What is done is a simple interactive transaction. Sometimes it success, sometimes not without the underlying any change on the underlying data.

Thanks a lot for any help

[2022-10-23 17:01] DiogoMarques2003 opened #15946 "Type 'string' is not assignable to type 'never'"
### Bug description

For some reason i'm getting the `Type 'string' is not assignable to type 'never'` error, but the variables are with same tipe (string)

### How to reproduce

prisma.<database>.<create || update>({ data: <data> })

### Expected behavior

_No response_

### Prisma information

[code]

[code]

### Environment & setup

- OS: Windows11
- Database: mysql
- Node.js version: v16.16.0

[2022-10-23 17:12] homerjam commented on #6336
I think this should be a bug 🐛

[2022-10-23 18:19] eighty4 opened #15947 "Feature Request: Jetbrains Plugin Formatting"
## Problem

Not formatting field name, field type and annotations in their own columns is hard to read. SQL names types and keywords and golang's struct tags are autoformatted to columns.

## Suggested solution

Format prisma schema files like IntelliJ does for SQL or golang's struct tags

## Alternatives

Take longer to read across a line of schema code

## Additional context

Formatted Prisma sc

[2022-10-23 19:05] tylerkahn commented on #3725
+1 We are also looking for this functionality

[2022-10-23 21:11] jayKeegan commented on #15421
Hi, sorry, forgot to send the details over. I'm not sure we still have the DB to reproduce as we have since migrated to Kubernetes and as a result moved the database there and not facing issues.

[2022-10-23 21:56] Nickersoft opened #15949 "Unique constraint fails on large text columns"
### Bug description

Hey folks,

I've run into a common Postgres issue using Prisma, but unfortunately, there seems to be no natural way to fix it. I've added a `@@unique()` constraint for two of my database columns: one is a foreign key ID, the other is a `Text` field. Upon inserting/upserting `Text` data with a length over 1,900 characters, I'm receiving:

[code]

**TL;DR:** The error is `Index

[2022-10-24 00:16] SC0d3r commented on #4433
+1 for renaming with 'as'

[2022-10-24 00:19] Kubessandra commented on #12921
Someone was able to make it work ?
Same issue with:

pnpm: 7.14.0
NextJS
Prisma 4.5.0

[2022-10-24 01:26] Eliandromj opened #15950 "Given exponent overflowing the maximum accepted scale (255).: TryFromIntError(())"
Hi Prisma Team! My Prisma Client just crashed. This is the report:
## Versions

| Name            | Version            |
|-----------------|--------------------|
| Node            | v16.14.2           |
| OS              | windows            |
| Prisma Client   | 4.3.1              |
| Query Engine    | c875e43600dfe042452e0b868f7a48b817b9640b|
| Database        | sqlserver          |

## Logs
[co

[2022-10-24 02:46] bazzscript commented on #13713
Still Experiencing this issue,
happens when I make a request to the DB in immediate succession, that is if there is more than one request at the same time

[2022-10-24 02:58] bazzscript commented on #13713
Solved this,
seems to happen whenever there is a for each loop inside a prisma.$transaction

[2022-10-24 04:56] gmwill934 commented on #6719
This would be great, another use case for this would be to generate `ids` with a custom prefix and sequences.

`<prefix>_<id>`

[code]

[2022-10-24 05:12] w8ze-devel commented on #13713
And how @bazzscript  did you solde this while using a transaction ?

Thanks

[2022-10-24 05:13] mathiasklenk commented on #6768
Same, this is happening at random intervals and just annoying. I am also using Supabase...

[2022-10-24 05:16] tomhoule commented on #15928
Closing this as a duplicate of https://github.com/prisma/prisma/issues/15928

[2022-10-24 05:16] #15928 closed

[2022-10-24 05:17] tomhoule commented on #15927
I am pretty sure this is a duplicate of https://github.com/prisma/prisma/issues/15927

[2022-10-24 05:17] #15927 closed

[2022-10-24 05:24] s-kris commented on #6768
@gregorcee123 @mathiasklenk

I'm on version 2.27. This error doesn't seem to happen. Atleast not in the last six months.

My databases are on AWS RDS and Supabase(recent project).

I should also mention that my prisma + nextjs setup is a bit different.

https://superblog.ai/blog/using-prisma-with-nextjs-at-scale-ckpld2icd05251yo0mjow4fmi

[2022-10-24 07:52] aaimio commented on #4433
+1, would be a great addition

[2022-10-24 07:57] Jolg42 commented on #15947
I think there are currently 2 community extensions but they only provide syntax highlighting of the Prisma Schema Language.
https://www.prisma.io/docs/guides/development-environment/editor-setup#jetbrains-ide

[2022-10-24 07:59] Jolg42 commented on #15947
As an alternative, you could use Prettier with https://github.com/umidbekk/prettier-plugin-prisma

[2022-10-24 08:09] Jolg42 commented on #15945
Which version of `yarn` are you using here? @jrm2k6

[2022-10-24 08:50] Jolg42 commented on #15930
@vleandersson Additional question: are you using Turborepo?

[2022-10-24 08:53] garrensmith commented on #13713
@w8ze-devel could you look at increasing the timeout for your transaction. To me it sounds like your transaction is timing out before all your operations have completed.

[2022-10-24 09:17] Haschikeks commented on #15603
Hey @SevInf

thanks for having a look into it. I guess that was missing knowledge of MySQL on my end.

Is the current behaviour the expected behaviour  for prisma?
Would there be a way to have a different error message from prisma?

[2022-10-24 10:32] T3NED commented on #13713
@garrensmith When I faced this issue 4 weeks ago, I was using loops of various complexities (which could have been improved overtime). I kept increasing the timeout, but that didn't fix the issue regardless of the timeout.

[2022-10-24 11:18] Abiti-936 opened #15958 "Prisma Client Edge: environment variables are not working with the "new" Module Worker syntax for Cloudflare Workers"
## Problem

According to the recent changes in Cloudflare Workers (https://developers.cloudflare.com/workers/runtime-apis/fetch-event/) & Wrangler CLI, Environment Variables access Model, environment variables aren't globally available anymore & in the generated edge client a Database Url is accessed through process.env.DATABASE_URL (which workers on Vercel Edge Functions) or using global. I think

[2022-10-24 12:35] vleandersson commented on #15930
@janpio @Jolg42 the package.json version is `4.5.0` but it looks like TypeGraphQLs prisma extension is enforcing `4.4.0` so I am gonna assume this is the issue.

It is indeed a monorepo, yarn berry.

Closing this issue as it looks like it is related to external packages

[2022-10-24 12:35] #15930 closed

[2022-10-24 12:53] Jolg42 commented on #15930
Indeed, it makes sense to me, as the latest version of https://github.com/MichalLytek/typegraphql-prisma requires `4.4.0`.
Usually the author keeps it up-to-date regularly, so wait and see or contribute a PR there is also welcome I think.

[2022-10-24 12:59] YaakovR commented on #15837
@floelhoeffel Thanks for adding this feature!
Thus far it is working for me as expected, except when including a one-to-one relation.

[code]

Running the above, produces the following error:
[code]

Is my scenario currently possible to achieve?

[2022-10-24 14:15] therealokoro commented on #13567
Any update on this @jkomyno  and @janpio

[2022-10-24 15:16] jkomyno commented on #15926
As it turns out:
- viewing the schema from this error report in VSCode reveals a bunch of warnings, especially about missing `@unique` attributes
- format crashes because of the comments in a non-latin alphabet. Removing the Thai comments allows us to run `prisma format`, which results in the following managed error:

[code]

[2022-10-24 15:23] janpio commented on #2660
Open a new issue or discussion please. We can not help here in closed issues.

[2022-10-24 15:35] janpio commented on #15598
@jukbot Can you open a new issue please as well? Happy to dive into this to hopefully figure out what is going on here. (Make sure to please use the bug issue template and fill in all teh things it is asking for. Thanks.)

[2022-10-24 15:36] janpio commented on #7249
Please open a new issue @w8ze-devel and provide all the information the bug issue template asks for. We are happy to jump into that and try to figure out - but we usually can not do that in closes issues where x other people are pinged on each response, I hope you understand. Thanks.

[2022-10-24 15:38] janpio commented on #6336
We do not support generated columns and do not claim to do so, so for us, this is a feature request. Bugs are only when things are broken or do not work as expected and documented.

[2022-10-24 15:39] #15421 closed

[2022-10-24 15:41] janpio commented on #15949
This would be covered by https://github.com/prisma/prisma/issues/13414 or https://github.com/prisma/prisma/issues/2504 probably, but for a specific use case?

[2022-10-24 16:05] homerjam commented on #6336
Sorry I mean't this, but I see there is an issue for it. Please ignore my bug comment 😳

[2022-10-24 16:38] RatebSeirawan commented on #12814
This is still a huge issue for us, and it's very consistent; updating the same model multiple times in a short period of time causes this error `Transaction failed due to a write conflict or a deadlock. Please retry your transaction`
we are stuck with this issue for now, is there a workaround or an option with work with Prisma without enabling replica set?

[2022-10-24 16:56] janpio commented on #6768
@gregorcee123 @matt-development-work Are you also using `migrate dev` when you get this?
If not, please open a new issue and provide all the information you have so we can understand better. Thanks.

[2022-10-24 17:01] janpio commented on #15958
This already exists: https://www.prisma.io/docs/reference/api-reference/prisma-client-reference#programmatically-override-a-datasource-url

But Prisma should also always be able to read a value set in an environment variable, e.g. via `url = env("DATABASE_URL")` in the Prisma Schema. Is that currently not the case?

[2022-10-24 17:07] janpio commented on #13567
No, we will post an update here when we get to work on this or have implemented it. Until then, it is an improvement request here in our issues and others how have the same problem, or want to explain their use case, are welcome to do so.

[2022-10-24 17:14] janpio commented on #6336
There you are absolutely correct. #14799 is fixed though, did that not work for you? If so, please open a new issue @homerjam so we can look into that.

[2022-10-24 17:37] louia commented on #6283
Any update on these ?

[2022-10-24 17:42] janpio commented on #6283
I closed the issue, as this was more an ad for OpenLink and iODBC than an actual request from a community member for us to add this to Prisma. If you would see value in supporting this in Prisma, please open a new proper feature request and describe your use case. Thanks.

[2022-10-24 17:52] 0gust1 commented on #15881
Hi everyone,

Today I did extensive tests on our app + infra context.

It now works 🎉

➡️ The "obvious" cause was Azure breaking the symlinks in `node_modules/.bin/`.
:arrow_right: Underneath, it could be the symptom that Prisma packages rely too much on relative (upward) paths. Having already dabbled some years ago with monorepos hosting multiple packages and module resolution algorithms, I know

[2022-10-24 18:03] arthurfiorette commented on #15676
Any plans to implement this? Sucks a lot to have to create inner types just to avoid direct 2d arrays relations.

[code]

If the #3219 gets implemented, probably this should be done as part of it.

[2022-10-24 18:10] janpio commented on #15881
Am I reading the gist correctly that this was the solution for the problem?

[2022-10-24 18:24] 0gust1 commented on #15881
yes, it was the mitigation.

I still have some questions on connection management (in the context of SQLite + WAL mode), but I'll save it for another github discussion :)

[2022-10-24 18:29] Abiti-936 commented on #15958
Yes, that works but, My Main Problem is in the generated edge client Code with the client config. I have to replace these database url environment variables all check code to use

[code]

![Screenshot_20221024-212014_Brave](https://user-images.githubusercontent.com/103219498/197598069-ece3b694-9043-4c3f-8406-8fa23fbba861.jpg)

[2022-10-24 18:38] janpio commented on #15958
I am not following. When exactly is what failing why? Please use a concrete example so this is as concrete as possible. Thanks.

[2022-10-24 18:39] janpio commented on #15881
Then we will keep this issue open, and try to a) reproduce and b) fix this some time. With the workaround now known this is not super urgent, but as you say - you are not the only person hitting this so we will try to fix this.

[2022-10-24 18:55] Abiti-936 commented on #15958
I have been using Cloudflare Workers & the new Workers Module Syntax exposes environment variables with **env** arguments passed to the fetch function & accessing environment variables globally is going to fail.

[code]

[2022-10-24 18:56] Noitidart commented on #15205
Hey hey, thanks again, sorry for the wait. So I added the parents: so my query now looks like this:

[code]

Now the error I get is:

[code]

The logs on path is same too:

[code]

[2022-10-24 18:59] janpio commented on #15958
If `process.env.DATABASE_URL` also does not work any more, that is indeed a problem for our default way of doing things.

[2022-10-24 19:04] Abiti-936 commented on #15958
I think you can leave it the default typeof "process" !== undefined && process.env.DATABASE_URL unchanged & let people pass the database url manually. Thanks.

[2022-10-24 19:07] janpio commented on #15958
We want things to work out of the box optimally - because otherwise, you will need to have read the documentation which might or might not be the case.

We will treat this as a bug.

[2022-10-24 20:42] eliliam commented on #8151
Totally seconded, this would make quite a few queries far simpler. I know it presents a few questions and issues around Typescript typings that still need to be resolved, but this would enable some pretty awesome flexibility.

[2022-10-24 20:55] Xenfo commented on #15377
Would recursively going down directories and checking for a `yarn.lock` be a good option? We could also try checking the `workspaces` key to check if we reached root and stop there if there is no `yarn.lock`.

[2022-10-24 21:38] austinbradshaw commented on #5837
Also a must-have for our project.

[2022-10-24 22:34] erwanvivien opened #15968 "prisma generate connect ETIMEDOUT (fetching sha)"
### Bug description

Hello :wave:

I have this bug in my production build (using docker compose):

[code]

I have found that re-running just after works sometimes just fine:

[code]

### How to reproduce

Start from [rest-nextjs exmaple](https://github.com/prisma/prisma-examples/tree/latest/typescript/rest-nextjs-api-routes) and this Dockerfile

[code]

Running `docker build -t test-api .`

You sh

[2022-10-24 22:55] 0gust1 commented on #15881
To reproduce:

- pick a project, `cd` into it
- create a executable `azure_bamboozle.sh` file with content below
- run `find ./node_modules/.bin -type l -exec ./azure_bamboozle.sh {} +`
- try to run `npx prisma migrate deploy`

[code]

[2022-10-24 23:01] jhaynie commented on #11183
we are trying to figure out how to implement the retry as it seems like any session related TX settings seem to not be handled correctly.  We've tried monkeypatching `$transaction` to implement the advanced client side retry logic from Cockroach DB documentation.  We can't seem to figure out the right path to make this work.

Here's a quick gist of what I've tried:

https://gist.github.com/jhaynie

[2022-10-24 23:28] adamjq opened #15969 "Update Prisma docs for AWS Lambdas with arm64 architectures"
## Problem

The Prisma docs for [Deploying to AWS Lambda](https://www.prisma.io/docs/guides/deployment/deployment-guides/deploying-to-aws-lambda) don't mention the limitations of deploying to [Lambdas using the arm64 architecture (AWS Graviton2 processors)](https://docs.aws.amazon.com/lambda/latest/dg/foundation-arch.html).

The `rhel-openssl-1.0.x` binary target does not work for AWS Lambdas with

[2022-10-25 00:31] aladinflux commented on #12814
I believe that Prisma must retry the transaction a couple of times before failing. That's what the documentation in MongoDB says.

A workaround is to use a try catch and retry the query, however, it'll be horrible to wrap every write with a try catch throughout the code.

[2022-10-25 02:31] w8ze-devel commented on #13713
@garrensmith thanks for your reply. But I can confirm what @T3NED  said about increasing the transaction timeout.
But i continue to randomly experience the problem

[2022-10-25 05:50] mime29 commented on #12735
Thanks a lot for the work on this feature. Is there a way to set a milestone for this? I'm asking because we are considering dropping Prisma in our project if RLS is not supported in a close future. If the feature is to be added, we will simply keep Prisma with our explicit where condition related to the `user_id` until we can update our code base. The reason behind this is because we want to rely

[2022-10-25 07:14] bazzscript commented on #13713
An alternative to my logic didn't involve me using loops. I simply took advantage of that alternative.

For example, I was looping through aItems, converting them to bItems and creating them on the fly. but instead of doing that, i map through aItems , converting it to a list of bItems

      const bItems = aItems.map((ct) => ({
        bprice: ct.price,
        bproductId: ct.itemId,
        bqua

[2022-10-25 07:16] Jolg42 commented on #11183
Seems that this could also be useful for MongoDB `Transaction failed due to a write conflict or a deadlock. Please retry your transaction`
See https://github.com/prisma/prisma/issues/12814

[2022-10-25 07:17] bazzscript commented on #13713
I  generally try to write loops myself as rarely as possible, and this is one of those opportuinity

[2022-10-25 07:19] tomhoule opened #15973 "[Migrate] Make migration connectors multiSchema aware"
Internal design document: https://www.notion.so/prismaio/Diff-dc02e49f844d4fc8941a6dc597fa2a16

# What we want to do

Diffing is used pervasively by `prisma migrate`. It is the action of comparing two database schemas and producing a diff that corresponds to a migration from the first to the second schema.

The implementation of the diffing operation is connector-specific, and lives in the connect

[2022-10-25 07:53] pencilcheck commented on #12272
I also encountered this issue, I am not going to say yes to reset database. This is very confusing, a lot of docs are saying things that are not what the command line is doing.

[2022-10-25 08:06] #15467 closed

[2022-10-25 08:09] Jolg42 commented on #15968
Hi @erwanvivien
What is your package.json? I'm curious to know if you have both `prisma` CLI and `@prisma/client` and where they are (`depenencies`, `devDependencies`)
Does your Docker image have access to internet? Any special environment there?

[2022-10-25 08:09] JamesDelfini commented on #10335
Additional example. When there is a nullable column and should be a required reference at the _order by clause_, mostly how we usually custom order by in our queries example below.
[code]
The custom **order by column** is **completed_at**. This is a similar example by @reaink just a different approach since you can also transfer the _case when expression_ at the _order by clause_.

[2022-10-25 08:18] Jolg42 commented on #15958
Indeed, there is now a new syntax from Cloudflare since 16/11/2021 https://blog.cloudflare.com/workers-javascript-modules/

Both are supported.

Old syntax = [Service Worker](https://developers.cloudflare.com/workers/runtime-apis/fetch-event/#syntax-service-worker)

[code]

New Syntax = [Module Worker](https://developers.cloudflare.com/workers/runtime-apis/fetch-event/#syntax-module-worker)

[code

[2022-10-25 08:35] erwanvivien commented on #15968
Hey @Jolg42

Here is my `package.json`

[code]

My VPS does not have problem with internet (at least I believe so), there is no special configuration from my part

As you can see, it managed to fetch on the second run of Docker build

[2022-10-25 11:32] Weakky commented on #15837
Hey @YaakovR,

Good catch and apologies, this is an oversight from myself. Your use case should work but it's currently not supported. We'll add that for the next Prisma release.

To be clear:
- ✅ 1-1 _optional_ relations should have a `WhereInput` on nested reads
- ❌ 1-1 _required_ relations should _not_ have a `WhereInput` on nested reads.

Adding a `WhereInput` on required 1-1 relations could b

[2022-10-25 11:38] jcampbell05 commented on #12814
So to work around this we had re-architecture our application to avoid concurrent writes for our high-throughput database tables as recommended in the Prisma documentation using a special queue in AWS.

[2022-10-25 12:46] JarynChen commented on #15077
Awesome Feature, I would like to ask how long it will support Migrate, I think it`s a important feature

[2022-10-25 12:56] YaakovR commented on #15837
Thanks @Weakky! That makes sense.

I'll look out for the next release!

[2022-10-25 13:03] 0gust1 commented on #15881
As a side note, I'm wondering if this Azure behavior could be a crude protection measure to avoid this kind of attack vector: https://socket.dev/blog/npm-bin-script-confusion

[2022-10-25 13:13] dongnguyenvn opened #15980 "Error: Unable to establish a connection to query-engine-node-api library"
### Bug description

[code]

 The specified module could not be found.

### How to reproduce

Run: prisma migrate dev

### Expected behavior

_No response_

### Prisma information

[code]

### Environment & setup

- OS:  Win 11
- Database: PostgreSQL
- Node.js version: 19.0.0

### Prisma Version

[code]

[2022-10-25 13:21] floelhoeffel commented on #15794
Hey @anton-johansson, yesterday I mentioned that #15074 might help here. I spoke to one of the devs today and unfortunately that would not work in the particular case of dates. Prisma's query engine converts all DB dates to UTC and then the client converts the UTC value to a `Date` object.

It would work for all other "raw" DB value but not for dates :/

We are not happy about this though so hopef

[2022-10-25 13:37] jcampbell05 opened #15981 "Support for specifying both Intel and ARM Darwin."
## Problem

We currently have a fleet of ARM and Intel Macbooks. Currently it is impossible to specify prisma to use Darwin on Intel and Darwin-ARM64 on ARM.

Specifying both throws an error that darwin is included twice.

## Suggested solution

Allow user's to specify both darwin and darwin-64 in their list of binaryTargets

## Alternatives

Introduce a hybrid darwin target which automatically bu

[2022-10-25 14:05] ayush-cbh opened #15983 "[MongoDB] Performance issue in `findMany()` query execution with `in`"
### Bug description

I have a nextJS project and I am using Prisma as an ORM for mongoDB.
I need to execute findMany for a collection having 1 million documents.

**Performance change:**
When I try to execute the same aggregation in mongoDB compass  it takes less than 0.5 sec
while with prisma it takes around 20 sec to get the result.

### How to reproduce

Create a collection with 1 million docum

[2022-10-25 14:45] Niwau opened #15984 "Error when trying to implement a One to Many ( Unique constraint failed on the constraint )"
### Bug description

I am trying to make a **one to many** relation, where a **user** can report many **bugs**. But when I try to make a user post bugs this error occurs: **Unique constraint failed on the constraint: Bug_authorId_key**

![image](https://user-images.githubusercontent.com/85759155/197805585-ccbae3a8-4fd3-4e69-a090-f59e8174182d.png)

### How to reproduce

1. Create two models (user,

[2022-10-25 14:46] sdkuck commented on #15745
Yes, this still happens with 4.5.0
We are using MySQL 5.7
You didn't include the prisma.findMany query you used, but in trying to replicate this locally we found that the problem goes away if you have a `where: {...}` clause. Just do the findMany with an include and nothing else.

[2022-10-25 14:49] garrensmith commented on #15984
@Niwau can you share the code you are running for this.

[2022-10-25 14:54] Niwau commented on #15984
[code]

[2022-10-25 15:12] Abiti-936 commented on #15958
I think someone who's starting a new Cloudflare Workers Project with Wrangler CLI 2 will use the (Module Syntax)[https://developers.cloudflare.com/workers/runtime-apis/fetch-event/#syntax-module-worker], because wrangler 2 generates a project with a Module Syntax by default, people will see many applications crashes, so please update the environment variables default accessing method. Thanks.

[2022-10-25 15:12] Abiti-936 commented on #15958
I think someone who's starting a new Cloudflare Workers Project with Wrangler CLI 2 will use the (Module Syntax)[https://developers.cloudflare.com/workers/runtime-apis/fetch-event/#syntax-module-worker], because wrangler 2 generates a project with a Module Syntax by default, people will see many applications crashes, so please update the environment variables default accessing method. Thanks.

[2022-10-25 15:21] gualopezb commented on #10433
**Fixed with symlinks without having to implement a bash script.**

I was running into this same issue from a turborepo project. The files structure looks like below:

[code]

* `packages/database` is a workspace exposing all the database-related functionality through the use of prisma ORM. Instead of transpiling the TypeScript files from the package itself, we follow the [internal packages patter

[2022-10-25 15:32] gualopezb commented on #9435
Managed to resolve this issue by symlinking the schema.prisma and engine files. Check out this [comment](https://github.com/prisma/prisma/issues/10433#issuecomment-1290739826) for the details.

[2022-10-25 15:53] Jolg42 commented on #15958
Note: we could do a reproduction in prisma/ecosystem-tests
Based on
https://github.com/prisma/ecosystem-tests/tree/dev/dataproxy/cloudflare-workers
But using wrangler v2 with Module syntax

[2022-10-25 16:23] sdkuck commented on #15745
My teammate Jason prepared a PR for your repo that replicates the issue.

[2022-10-25 16:47] austincrim opened #15986 "`Bytes` not allowed as `@id` field when using SQL Server"
### Bug description

Prisma will not validate a schema that uses a `Bytes @id` field and a `provider` of `sqlserver`.

### How to reproduce

1. Use the `sqlserver` `provider`
2. Add a model field with type `Bytes` and the `@id` attribute
3. Run `prisma generate`

### Expected behavior

`Bytes @id` fields are allowed in other providers and should be possible with SQL Server

### Prisma information

[2022-10-25 17:44] Druue commented on #15745
Yep! I've taken a [look](https://github.com/Druue/prisma-debug/tree/repro/parent-id-ord) and have confirmed your teammate's reproduction @sdkuck

[2022-10-25 20:40] arimendelow commented on #5455
+1 :)

[2022-10-25 23:42] arimendelow commented on #13713
+1 on that - sometimes you do need to create objects one at a time, maybe because they refer to each other, and so you can't get away with not using loops

[2022-10-26 01:52] Eliandromj commented on #15950
I update prism version 4.5.0 and it solved my problem

[2022-10-26 04:22] Eliandromj opened #15997 "Column ID Decimal primary key not allow autoincrement in database SQL Server"
### Bug description

I have a database in SQL Server (version 2019 15.0.2095.3) that already had tables.
So I used the introspection by the db pull command that created the models in schema.prisma.

But, all my tables in SQL Server have primary key ID column as numeric(18, 0) and autoincrement seed 1.
In my schema.prisma file after the db pull prism created a model but this column as:

` Decimal I

[2022-10-26 04:28] #15950 closed

[2022-10-26 06:42] emrah-b commented on #12814
We're facing the same issue but solving it with a queue would be an overkill. I'm thinking of replacing prisma with another ORM. Has anyone tried another ORM after facing this issue? And did that fix the issue? Even very simple writes fail and cause sporadic issues.

[2022-10-26 07:13] Benjadahl commented on #12814
Switched to Mongoose, because of this error and haven't looked back. It works like a charm and is a simple technology compared to Prisma (Not as many moving parts). Albeit it does not have as many fancy features as Prisma.

But in my experience it is plenty sufficient.

[2022-10-26 07:14] jkomyno commented on #15773
Hi @nismi-twire, the following referenced tables' definitions are missing in the schema linked above:
- `Profile`
- `Listing`
- `Payment`

Regardless, we will attempt a reproduction of this issue soon, but please post them here as they might be relevant.

[2022-10-26 07:29] SungHeeYoo opened #15998 "Cannot find graphql auto-generated types"
### Bug description

I am using Prisma and PostgreSQL database. My database is filled with some data. I've created initial migration by db pull that creates my database schema. That migration wants to reset my PostgreSQL database. I've tried to avoid it by following this article: https://www.prisma.io/docs/guides/database/developing-with-prisma-migrate/add-prisma-migrate-to-a-project. But it didn'

[2022-10-26 08:18] #15998 closed

[2022-10-26 08:44] Notaduck opened #16000 "Introspection: Automatic map columns to something sane"
## Problem

I'm working with multiple databases made by different people and the formatting of tables and columns is not consistent.

## Suggested solution

I know we have the `@map(.....` property, but it would be nice if we could set a default config for prisma so when we do an `prisma introspect` and it would automaticly map `SOME_TABLE` to `some_table` or `someTable` instead of doing that manu

[2022-10-26 09:23] kieran-osgood opened #16003 "`prisma migrate reset --force` --force not applying in non-interactive"
### Bug description
EDIT: #9943 Discovered this that seems to be the same with NX

I have a mono-repo setup with the server included, and at the top level we compose our scripts together via [turborepo](https://turbo.build/).
In our `apps/server` package, we use a package.json script to run the integration tests, which is run against a docker database, I've simplified the script to the minimal exa

[2022-10-26 09:35] kieran-osgood commented on #16003
Interesting - changing the script to `dotenv -e .env.test prisma migrate reset -- --force` and it runs

[2022-10-26 09:35] #16003 closed

[2022-10-26 09:37] kieran-osgood commented on #9943
Thought I'd link my issue here: #16003 incase it works for anyone else
I found that my script didn't work as expected with
`prisma migrate reset --force`
Changing it to the following worked however:
 `prisma migrate reset -- --force`

[2022-10-26 09:46] Jolg42 commented on #16000
I think this request might be a duplicate of https://github.com/prisma/prisma/issues/1934 / https://github.com/prisma/prisma/issues/1705

What do you think @Notaduck ?

[2022-10-26 09:52] Jolg42 commented on #15986
Can reproduce with 4.5.0 with `npx prisma validate`:
[code]

[2022-10-26 09:58] Jolg42 commented on #15986
Note: I'm unsure if it's possible to have `Bytes` as a PK.
We map it to the `varbinary` type https://www.prisma.io/docs/reference/api-reference/prisma-schema-reference#bytes

[2022-10-26 10:04] Jolg42 commented on #15983
@ayush-cbh Do you see the same problem with a more recent version of Prisma? If you could try >4 that would be interesting, the latest is `4.5.0`.

[2022-10-26 10:18] hironow commented on #13713
I also encountered this issue in ver 4.5.0 and it is happening under high load in implementations where the only way is to use a for loop.

[2022-10-26 10:48] Eliandromj commented on #15997
Sorry, version is 4.5.0.

[2022-10-26 11:47] tomhoule commented on #15986
We have to confirm what mssql 2017 and 2019 allow as primary keys (have an actual SQL reproduction), then make sure the PSL validation rules match that.

[2022-10-26 12:34] oumao commented on #15923
Use object as type as illustrated in the screenshots below and again why use two equal signs?
![image](https://user-images.githubusercontent.com/25800296/198027010-4db8f149-423c-4a97-882b-632b0baf5082.png)
![image](https://user-images.githubusercontent.com/25800296/198027079-2d61d53b-e431-461f-b555-3599b4e27096.png)

[2022-10-26 12:55] lilletech commented on #5560
I work for a national project.
we are really surprised that there is not this feature. Some conditions require calls to SQL functions that cannot be called).
Switching to queryraw is not a maintainable solution. We lose interest in using Prisma!

We are starting a study to change of orm.

[2022-10-26 12:58] ACronje commented on #4433
+1

[2022-10-26 13:15] jkomyno opened #16007 "`referentialIntegrity` policy is lost during re-introspection"
### Bug description

Given the following example schema:

[code]

reintrospection results in the following:

[code]

### How to reproduce

- `prisma db push`
- `prisma db pull`

### Expected behavior

The `referentialIntegrity` policy, i.e. `referentialIntegrity = "prisma"`, should be preserved during re-introspection.

### Prisma information

### Environment & setup

- OS: MacOS M1
- Node.js vers

[2022-10-26 13:46] Jolg42 commented on #16007
Note from Alberto, this applies to `referentialIntegrity = "foreignKeys"` and `referentialIntegrity = "prisma"`

[2022-10-26 14:55] jrm2k6 commented on #15945
@Jolg42 1.7.0

[2022-10-26 15:21] Jolg42 commented on #15945
@jrm2k6 This version sounds very old.
From https://github.com/yarnpkg/yarn/releases it seems that it was released in 2018.
The latest version is `1.22.19`

Could you try upgrading yarn?
I think `npm install --global yarn` should do.
There is a good chance that this is already fixed.

[2022-10-26 15:23] riolly commented on #11246
I am still confused how to resolve this issue.
I deploy my app on vercel.
On planetscale docs it's said that the cert located on "/etc/pki/tls/certs/ca-bundle.crt"

[2022-10-26 15:33] jcampbell05 commented on #7305
We personally encountered an issue due to lack of support for migration. We have existing documents which we added a non-nullable embedded type property to in our schema.

When fetching an existing document which was saved before we added this property we get a "Attempted to serialize scalar 'null' "

Prisma currently cannot provide a sensible default (despite all of the fields on the embedded doc

[2022-10-26 15:46] jcampbell05 commented on #15981
The reason we need it is we are currently using Prisma with Serverless Framework. When we build the Serverless Framework it is cross-compiled on a Guest Architecture (Apple ARM, Intel or AMD) for our AWS Lambda Environment (Linux Intel).

This confuses Prisma since it think's it needs to be generating binaries for the host computer and not the target computer. so we have to specify `rhel-openssl-1

[2022-10-26 15:46] #15981 closed

[2022-10-26 15:52] jcampbell05 commented on #12814
Interesting are you using Typescript ?

 I struggled to get Mongoose working in our Typescript Application as it's quite a big change unfortunately.  So one option I've been thinking about is if there is a way I could build my own generator to spit out the mongoose code from the Prisma Schema.

https://github.com/prisma/prisma/discussions/5764

[2022-10-26 16:09] jcampbell05 opened #16014 "Prisma unable to gradually migrate non-existing data for required composite type field in document for MongoDB"
### Bug description

If you add a composite type field to a document which isn't nullable then Prisma is unable to handle documents created before the schema change which lack the data for this field  this by falling back to a default value.

### How to reproduce

Given the following schema:

[code]

1. Comment out the settings field,  run `prisma generate` and create a new User document which lac

[2022-10-26 16:46] jcampbell05 commented on #14697
Yes, in the end I realised it was my fault and I wrote a script to sanatise the data which allowed prisma to work.

[2022-10-26 16:46] #14697 closed

[2022-10-26 16:48] nicolashenry commented on #15986
I can confirm that SQL Server 2019 (15.0.2000.5) allow varbinary as primary key:
![image](https://user-images.githubusercontent.com/139160/198085670-0105b8bb-8d1a-493a-98b1-063875f02a5c.png)
![image](https://user-images.githubusercontent.com/139160/198086209-47497b45-5bf5-43ec-b7f8-0a39175eaa5b.png)
And I think it was already possible on SQL Server 2012 since some of our tables used it since some

[2022-10-26 17:07] Pong420 commented on #12921
This works for me.

1. output into project root node_modules
[code]

2. Add `@prisma/client` to externals in `next.config.js`
[code]

[2022-10-26 17:25] jacobchrismarsh commented on #15837
This is awesome!

Are `findUnique` calls with non-unique fields in the `where` clause still batched together like [described here](https://www.prisma.io/docs/guides/performance-and-optimization/query-optimization-performance#solving-n1-in-graphql-with-findunique-and-prismas-dataloader)?

[2022-10-26 20:08] but1head commented on #4433
+1

[2022-10-26 20:19] joonatanvanhala commented on #4263
Any updates on composite types on postgres? Would like to see that feature implemented.

[2022-10-26 20:52] josethz00 commented on #5455
+1, need this in my project and nested `updateMany` as well

[2022-10-26 21:15] asciant commented on #2219
What's everyone's change their making to their schema when doing testing? To make enums test in SQLite.

[2022-10-26 22:15] pencilcheck commented on #1439
wonder if there is a way to not use npm?? it keeps generating package-lock and i'm using yarn for the project

[2022-10-26 22:59] jimmyruann commented on #15923
@oumao Thanks for picking up that double equal sign, fixed it. Use object as type sort of defeat the purpose of safe typing and autocomplete provided by TypeScript.

[2022-10-27 03:10] RamonSerraVasconcelos commented on #12814
I'm having this issue as well. I'm running some tests on jest where i first update a user and then delete it. But prisma is failing on the delete part.

[2022-10-27 03:25] jrm2k6 commented on #15945
@Jolg42 Yeah good call. Seems to be fine after upgrading. Sorry for the trouble.

[2022-10-27 03:25] #15945 closed

[2022-10-27 04:15] reececomo commented on #7570
Right now this design restriction addresses a theoretical edge case - but directly causes a much more typical, very practical problem for the 99.999% developers who are working with IDs.

At the very least you could provide a simple mechanism for people to override this (questionable 😄) design choice.

Even still, there are plenty of good alternatives here - including:

1. Throw a very specific er

[2022-10-27 05:46] danieltwork opened #16020 "Percona-XtraDB-Cluster prohibits use of GET_LOCK with pxc_strict_mode = ENFORCING"
### Bug description

Trying to perform a migration on a production database.

It reporting an error:

[code]

For example, TypeORM does not report such an error.
What am I doing wrong?

### How to reproduce

Start Prisma migration to a Percona Server for MySQL database.

### Expected behavior

_No response_

### Prisma information

[code]

### Environment & setup

- OS: Kubernetes
- Database: Perc

[2022-10-27 05:49] devsnowin opened #16021 "Netlify serverless functions with prisma"
### Bug description

**Error Name**
NestedError: Cannot read from 'PROJECT_PATH/netlify-serverless-functions/node_modules/.prisma': EISDIR: illegal operation on a directory, read

**netlify.toml**
[code]

I found this to be a Prisma error when trying another npm package. It works perfectly on netlify functions.

### How to reproduce

1. **Source code** [Github Repo](https://github.com/im-snowin/ne

[2022-10-27 06:13] emrah-b commented on #12814
I had that issue as well, had to work around it by putting a 1 second sleep in between writes

[2022-10-27 07:38] reececomo commented on #7570
The design choice here is addressing a _theoretical_ edge case, but probably not one experienced by any development team that actually uses Prisma. Instead what it does do is introduce a very real & impractical problem for the vast majority of teams (i.e. expecting to work with IDs in the low billions) and the int4 issue above.

Would it be too wild to provide a method for developers to override t

[2022-10-27 07:44] Jolg42 commented on #16020
Some context about this error from Percona
https://forums.percona.com/t/we-have-installed-magento-2-3-4-with-parcona-xtradb-cluster-and-we-are-getting-error-on-cron-run/7881/2

[https://www.percona.com/doc/percona-xtradb-cluster/LATEST/features/pxc-strict-mode.html 41](https://www.percona.com/doc/percona-xtradb-cluster/LATEST/features/pxc-strict-mode.html)
The reason this function is prohibited is

[2022-10-27 07:45] #16007 closed

[2022-10-27 07:54] Jolg42 commented on #12126
This problem looks like a duplicate of https://github.com/prisma/prisma/issues/12105 which has a comment that it was fixed in `3.11.0` https://github.com/prisma/prisma-engines/pull/2732

@arvind-plaxonic @ivosabev Could you try `3.11.0` or a more recent version and confirm it was fixed?

[2022-10-27 08:21] andrew-walford-prisma commented on #14426
I investigated this issue from the related docs perspective, and in my view the docs are OK here, so I have closed the associated docs issue. The docs section about conditionals does not attempt to cover the situation that leads to the error message. However, we are aware of this as a product issue (as I understand it, we might add a typescript error message to cover this).

[2022-10-27 08:57] thebiglabasky commented on #3165
Hi,
We are going to start investigating solutions for this. As such, I would love to get in touch with folks having concrete use cases and needs for their applications.
Bonus points if you're deploying to Serverless environments, which tend to make this even more complicated or painful.

I'll be happy to read through your comments giving more context about what you're concretely building (your use

[2022-10-27 09:15] nicolashenry commented on #15986
Note that `varbinary(max)` is not allowed but any size between 1 and 8000 is allowed.

[2022-10-27 09:21] nicolashenry commented on #15986
In fact SQL Server authorize it for creation but the real limit is 900 bytes as a maximum (also for `binary` type).

[2022-10-27 09:32] bn-piar opened #16023 "mongodb update query: Failed to convert '"2022-10-27T08:27:58.390Z"' to 'DateTime'"
### Bug description

I have a model

[code]

When running an update query
[code]
With the follwoing data
[code]
I get an error `Failed to convert '"2022-10-27T08:27:58.390Z"' to 'DateTime' for the field 'lastScan'`

Might be related to #14815

### How to reproduce

Update `DateTime` field with `Date` value

### Expected behavior

I expect update query to run without errors

### Prisma information

[2022-10-27 09:53] #11022 closed

[2022-10-27 10:23] #15735 closed

[2022-10-27 10:30] jkomyno commented on #15759
Note, as per what @Jolg42 said yesterday on Zoom, this use case would not only be of interest for `mongodb` users, but for SQL database users as well. In particular, there are users who are unaware of the semantic implications of `NoAction`, and confuse it for "a referential action that does nothing".

[2022-10-27 11:21] jkomyno commented on #15984
## Reproduction

We cannot reproduce this problem with `mysql:8` with the information provided so far. Probably the database schema wasn't aligned to the Prisma schema which resulted in this weird error appearing.

Consider the following Prisma schema:

[code]

and the following `docker-compose.yml` file:

[code]

We define the following environment variables:

[code]

We run the following:
- Star

[2022-10-27 12:48] Jolg42 commented on #15320
PostgreSQL 9.4 is unusable with Migrate / Introspection engines:

`migrate dev`
https://github.com/prisma/prisma/actions/runs/3337373646/jobs/5523642529#step:10:731
[code]

`migrate diff`
https://github.com/prisma/prisma/actions/runs/3337373646/jobs/5523642529#step:10:1124
[code]

`db pull`
https://github.com/prisma/prisma/actions/runs/3337373646/jobs/5523642529#step:10:932
[code]

[2022-10-27 14:54] eduhenke commented on #5128
That's great, was any one able to make it work with the fluent API? We need to be able to use it with the fluent API, as it solves the N+1 problem, regarding query optimization: https://www.prisma.io/docs/guides/performance-and-optimization/query-optimization-performance

[2022-10-27 14:57] joe-giunti-kiefa commented on #5128
@IbrahimFathy19 Unfortunately I have not figured out a way to account for the caller already having a transaction.

[2022-10-27 15:07] Jolg42 commented on #11854
The current test now fails, see https://github.com/prisma/prisma/issues/15083

[2022-10-27 15:47] Jolg42 commented on #15320
Note that 9.6 and older are not supported anymore by The PostgreSQL Global Development Group
https://www.postgresql.org/support/versioning/

- 9.4 fails our tests
- 9.5 also fails but less, if we want to add support, we would need to investigate if we can make it supported, see current error https://github.com/prisma/prisma-engines/pull/3345

Given that we discovered this by chance and nobody repo

[2022-10-27 15:47] #15320 closed

[2022-10-27 17:21] j-Kode commented on #8151
man I was just searching for this functionality and came here 😢 seems like ill have to created some sort of mapping functionality for now.

[2022-10-27 17:36] sidharthv96 commented on #2177
`prisma db pull` throws this because I had a `#` in the URL. An error message for percentage encoding will really be helpful. I tried `\` escaping, using different variable to quote, etc.

[code]

[2022-10-27 20:06] leafyshark commented on #8134
@Akxe suppose I have an API that allows car dealerships to post their stock feed to my website. I want my API to be in sync with their website, so when they mark a car as sold, it is also marked as sold on my website. Any idea how to achieve this with Prisma in its current form?

Thanks in advance!

[2022-10-27 20:07] leafyshark commented on #10362
What are the current solutions / workarounds?

[2022-10-27 20:08] DmitryKazanok-LP commented on #5560
I worked around it using views (migrate support for which required a workaround too). So you can embed your function calls into a view and then you can use it with prisma treating it as a table
However this is still not a good way

[2022-10-27 20:23] DigitalNaut commented on #5455
+1 Just ran into this. It would be so sweet!

[2022-10-27 20:59] Akxe commented on #10362
Not much... you have to write the SQL manually

[2022-10-27 22:35] yasha-spare commented on #2789
@floelhoeffel just checking in, any update on Prisma GIS support?  I'm a big fan of Prisma, but for projects that make significant use of PostGIS, the current hacks are quite nasty, to the point where Prisma becomes too much of a pain to use, and I have to use a different ORM.

Also, if there are designs and an in-progress feature branch, is this something where you'd be looking for community cont

[2022-10-27 22:44] ragrag commented on #8664
Hello,
One thing i find a little bit annoying is that ```Prisma.TransactionClient``` can only be used after type generation w/prisma generate.
this limitation forces low level libraries that need to only deal with prisma internal types to actually have a dummy placeholder schema otherwise type generation is not possible, e.g:

[code]
[code]

tldr: it would be really nice to have an export for Tran

[2022-10-27 23:46] jlipps commented on #4703
I would also like programmatic access to the Prisma CLI. My use case is that I am developing an app which will be packaged via `pkg` and shipped to users' machines. I want to use sqlite to store data internally for this app, and Prisma seemed like a convenient ORM for this purpose. I want to be able to do things like:

- check if a sqlite file exists in the user's data dir
- create one with the co

[2022-10-28 00:01] fmaclen commented on #4703
In a similar vein to @jlipps, I'm working on an Electron desktop app that stores user data in SQLite which is created and seeded on the user's device, it also receives occasional migrations.

Here's how I am currently handling [creation/migration](https://github.com/Canutin/desktop/blob/master/sveltekit/src/lib/helpers/prisma.ts#L42-L74) and [seeding](https://github.com/Canutin/desktop/blob/master

[2022-10-28 01:01] SamuelMS commented on #15837
@Weakky I'm also seeing this error after bumping to `4.5.0`. Have even tried nuking my `node_modules` directory, but for some reason the Prisma CLI is reporting it's still on version `4.3.1`. Let me know if I'm just doing something dumb.

`package.json`:
[code]

[code]

Working with the schema (i.e. running `prisma generate`) causes the error:
[code]

[2022-10-28 01:03] ExiledNarwal28 commented on #12921
@Pong420 this worked for me. Thank you so, so much!

[2022-10-28 02:44] mitsuru-kasai commented on #2559
@janpio

As @janpio said at https://github.com/prisma/prisma/issues/2559#issuecomment-924101044,

it is difficult to commit `.env` in our repo that *already use* `.env` to store secret for other programs (web frameworks, for our case).

It is true that we can handle `DATABASE_URL` for prisma and other secrets  in single `.env` file by commit first `.env` with only DATABASE_URL and then add `.git_i

[2022-10-28 06:06] arkmech commented on #15829
Essentially why doesn't error code `P2009` have a `meta.target` (which is an array of fields) like error code like `P2002`.

Initially I thought wrong error code was being thrown, but now I think it is correct, just doesn't have the fields I want.

[2022-10-28 07:37] behrangsa commented on #1439
@janpio not sure. I will check and circle back to you.

[2022-10-28 07:48] #15084 closed

[2022-10-28 08:11] yi-ge commented on #10397
I really need this feature.

[2022-10-28 08:19] whytrno commented on #10141
I get same error here, i try to use simple findUniqueOrThrow function like this
`try{
        const user = await prisma.user.findUniqueOrThrow({
            where: {
                id: req.params.id
            }
        })
        res.status(200).json({
            data: user
        })
    }catch(error){
        res.status(400).json({
            data: error
        })
    }`

   i get res like

[2022-10-28 08:34] tomhoule opened #16033 "Error: Error in migration engine. Reason: [migration-engine\cli\src/main.rs:102:23] Error opening datamodel file in `C:\Users\name\Documents\blogr-nextjs-prisma\prisma\schema.prisma`: Access is denied. (os error 5)"
Command: `prisma db push`
Version: `4.5.0`
Binary Version: `0362da9eebca54d94c8ef5edd3b2e90af99ba452`
Report: https://prisma-errors.netlify.app/report/14389
OS: `x64 win32 10.0.19044`

[2022-10-28 08:35] tomhoule opened #16034 "Error: [libs/dml/src/render/render_configuration.rs:58:54] called `Option::unwrap()` on a `None` value"
Command: `prisma db pull`
Version: `4.4.0`
Binary Version: `f352a33b70356f46311da8b00d83386dd9f145d6`
Report: https://prisma-errors.netlify.app/report/14391
OS: `x64 darwin 21.6.0`
[code]

[2022-10-28 09:13] Weakky commented on #15837
Hey @jacobchrismarsh,

Batching is currently broken in 4.5.0. However, we have a [PR](https://github.com/prisma/prisma-engines/pull/3328) that will land next release which will fix that. Docs will be updated accordingly.

TLDR is: The batching will still work if you _only_ use non-unique _scalar_ fields of the same model and _if_ the filter applied is `equals` (or the shortand syntax: `field: <val

[2022-10-28 10:07] #14378 closed

[2022-10-28 11:11] ize8 opened #16039 "query error if using Prisma from NextAuth - authorize"
### Bug description

When trying to query my Postgres database within NextAuth's authorize function, Prisma throws the following error:
[code]

The same query is executed just fine if I invoke it via a /api endpoint with fetch().
At times the code runs without any issue on localhost and throws the above error in production or vice versa.

### How to reproduce

../server/prisma.ts:

[code]

[...nex

[2022-10-28 13:03] ize8 commented on #16039
I think I may have found the root of the problem : I was trying to connect to a Supabase DB that had connection pooling set up ... everything is working fine after switching to the un-pooled connection string.

Good news .... however, this raises the question how to deal with a connection-pooled DB? 😆

[2022-10-28 13:16] ize8 commented on #16039
I will leave this here in case anyone needs it:

To connect to a pooled database, you will need to add ```?pgbouncer=true``` at the end of your connection string!

...maybe this could be highlighted in the docs as well ?

[2022-10-28 13:16] #16039 closed

[2022-10-28 14:06] HydroxZ commented on #5455
+1

[2022-10-28 16:21] firatoezcan opened #16049 "Add the ability to add a where clause for "one-to" side of "one-to-one" and "one-to-many""
## Problem

I'm trying to build a tool ontop of Prisma that handles access control defined via a ruleset.
What I currently have is the ability to block certain tables from being queried as well as only returning a subset of tables that are accessible by the defined rules.

However while implementing I found that there is no `where` argument available for relations that are on the "one" side from a

[2022-10-28 16:29] heymartinadams opened #16050 "“Transaction API error: Transaction not found”"
### Bug description

**Context**: I’m trying to implement [Replicache](https://replicache.dev) using Prisma interactive transactions for an offline-first, instant UI. 🚀

**Bug**: While using transactions, I get a `Transaction API error: Transaction not found` error.

### How to reproduce

1. Clone https://github.com/ConsciousApps/replicache-demo
2. Obtain PlanetScale database test password via ins

[2022-10-28 17:41] designfrontier commented on #14456
Just want to stop in and say I am also interested in this being corrected. This could cause some pretty big problems as our DB scales up, and will certainly cause problems for anyone operating with prisma and postgres at scale.

[2022-10-28 19:24] dvins commented on #8864
@janpio Sorry, but is there any progress to be had on this at all, even real consideration of solving this keystone issue in the near future? The inability to tell Prisma Migrate to ignore artifacts it does not own is causing unbelievable friction.

The hoops we're all jumping through to handle standard database scenarios, be it views, partitioned tables, stored procedures, etc. because Prisma Mig

[2022-10-28 19:27] dvins commented on #8864
Even the official workaround guidance for view support no longer works either due to this:
- https://github.com/prisma/prisma/issues/3933 (2022)

[2022-10-28 19:43] dvins commented on #678
Interesting that three years on so many of us have given up on view support coming anytime soon  that this ticket has actually morphed into, "How can we get Prisma Migrate to play nice with the workarounds we're all using..."

[2022-10-28 19:51] rcbevans commented on #15744
It would be great to support unconstrained relations to facilitated a shortcut to effectively perform a join.

In my datamodel I have Users which have email PKs, and in a tenant Contacts which have unique emails per tenant contact.  I would love to be able to easily get a User corresponding to a Contact *WITHOUT* that creating a foreign key constraint because in my case, a Contact isn't necessaril

[2022-10-28 20:00] joshkaplan commented on #4246
Additional note: this also applies to `DELETE` (it runs the select before the delete).

Big +1 for this request -- it should be a no-brainer to let users avoid extra queries without having to use an escape-hatch like `$executeRaw`. Every query adds load and latency, and best practice is to minimize both unless it's needed / it's something the user explicitly wants.

[2022-10-28 20:39] VaZark commented on #678
SQL views are not widely supported across orm and languages despite their incredible usefulness. I’ve come to find that I’d happily take the ability handle non-managed models just to be able to access the view over grokking with the orm itself.

I hope some progress is made in read only models by the prisma team. I had to abandon prosma despite it’s incredible usefulness due to the lack of view su

[2022-10-28 21:06] Borales commented on #13579
@garrensmith we have a service, that is not prisma-centric - we also have other metrics being reported and exposed under the corresponding endpoint. So the problem we have is how to make Prisma metrics a part of the app metrics (initially configured by [nestjs-otel](https://github.com/pragmaticivan/nestjs-otel) for API + `@opentelemetry/sdk-node` for the otel setup).

[The documented solution](htt

[2022-10-28 22:05] SamuelMS commented on #15837
@Weakky Hmm, fairly certain – it's being installed in the repo and this is what I get from `npm list --global`:

[code]

[2022-10-28 22:23] zainfathoni commented on #2452
Finally, Prisma support for Deno is coming!
https://www.prisma.io/docs/guides/deployment/deployment-guides/deploying-to-deno-deploy

[2022-10-28 22:48] HendrikJan commented on #1902
An "author" column could work when using DB triggers, except for delete actions.
Hooks in Prisma (like in Sequelize) would make the problem much easier to solve.

[2022-10-28 23:02] albertdugba commented on #5132
@vincenujib  were you able to fix this. I'm have also been facing this issue for days now

[2022-10-28 23:18] rizrmd commented on #2452
This use data-proxy service from prisma "cloud" service.

[2022-10-29 00:49] lynsei commented on #2524
This would be ideal ... I wonder if I could adapt this like thinky-graphql

[2022-10-29 03:05] arkmech commented on #15851
When I first started using prisma, virtually no latency. It seems that after my database tables increased to 350+ tables, I had latency. Prisma client generation takes quite some time as well. But not sure how this would effect initial connection pooling latency.

How do I share a minimal reproduction without sharing my database models

[2022-10-29 03:46] StringKe commented on #14417
How do I specify `primsa` to use `caching_sha2_password` for connections?

I have not configured anything sha256_password related, but prisma still reports the error `Error querying the database: Unknown authentication plugin `sha256_password'. `

my.conf
[code]

.env
[code]

mysq.user
![CleanShot 2022-10-29 at 11 43 50@2x](https://user-images.githubusercontent.com/31089228/198812342-e23d51cf-991c

[2022-10-29 04:29] chevtek commented on #5455
Another +1 coming in!

[2022-10-29 04:50] peacechen commented on #13865
This is turning out to be a major problem. Including a many-to-one relationship in a paginated query takes exorbitantly long, scaling with the number of documents. For about 50k documents it takes 5-10 seconds. 100k takes 10-20 seconds. The Prisma call has a `take` key to limit the number of returned documents, but it doesn't matter it that's reduced to 1, it still takes an excessively long amount

[2022-10-29 05:48] Miigaarino opened #16055 "No type suggestions after first Find...ArgsBase on getting m-n relationship"
### Bug description

Screenshot from Prisma website homepage (How it should work):
<img width="566" alt="image" src="https://user-images.githubusercontent.com/48021917/198815707-4f5c1a0b-302f-415f-89c0-e798284cfcfb.png">

My editor screenshot (Not showing any find arguments) :
<img width="869" alt="image" src="https://user-images.githubusercontent.com/48021917/198815874-e70844dc-d68c-4ca5-b3e4-3c9

[2022-10-29 07:21] vuki656 commented on #5455
STOP SPAMMING and just follow the issue!!

[2022-10-29 07:26] chevtek commented on #5455
It was literally encouraged to show support in order to determine priority.[](https://github.com/prisma/prisma/issues/5455#issuecomment-1083768604)

[2022-10-29 08:35] marceloverdijk commented on #15615
Hi @janpio thanks for adding this topic to the issue.
Looking ahead is this something Prisma will fix one day, or not (so better that I use an alternative name)

[2022-10-29 09:54] mattslight commented on #5175
This really should be more prominent in the install config, docs or picked up on vercel when using Next.js. Just spent 48 hours blaming next-auth for not returning updated fields

[2022-10-29 10:15] tianhuizhou commented on #7755
Seems like relate to which version of Node docker image you use. I build it with some version like -slim or bullseye-slim, they all fail. But just regular version, it is fine

[2022-10-29 10:33] lokankr commented on #14640
You can sort hack your way to attach it when a span is started
[code]

[2022-10-29 10:33] greenchapter commented on #7755
In my opinion when you would like to run anything within a docker container on production you should always decide to use an alpine version, e.g. node-alpine to reduce security issues.

[2022-10-29 10:35] tianhuizhou commented on #7755
Yea, I agree.

On Sat, Oct 29, 2022 at 12:34 AM Thomas Ott ***@***.***>
wrote:

[2022-10-29 10:52] iamrosada commented on #2963
I had the same problem. I'm using ubuntu 20.10

First I deleted node_modules, then installed it again.

Second, I installed the prism globally.
``npm install -g prisma``

but I did it with ``sudo``, so it was like this ``sudo npm install -g prism``

then I tested the ``prisma ``command, in the terminal to see if everything was ok.

now I must generate the prism client.

I did as follows

``sudo pr

[2022-10-29 13:17] okomarov commented on #5019
I reckon this should be merged with: https://github.com/prisma/prisma/issues/8131

[2022-10-29 13:19] okomarov commented on #8131
@janpio should this have the topic: RETURNING?

[2022-10-29 14:18] wladiston commented on #2452
👆 Which is only available in a couple regions btw

[2022-10-29 17:10] jakeklassen commented on #15505
I found [this](https://stackoverflow.com/a/73604364/1687494) setup useful on Ubuntu 22.04 on WSL 2.

[code]

And then

[code]

When you need to use it.

[2022-10-29 18:21] lamanabie commented on #13679
In postgres you can create function to generate ULID id (uuid v7 or uuid v8) https://gist.github.com/kjmph/5bd772b2c2df145aa645b837da7eca74

[2022-10-29 20:53] heymartinadams commented on #13713
I’m wondering if this https://github.com/prisma/prisma/issues/16050 is caused by the same underlying issue. @hironow, interestingly enough, the bug I mention (`Transaction not found`) is also produced inside a `for` loop: https://github.com/ConsciousApps/replicache-demo/blob/main/utils/api/mutations/index.js#L9-L40

[2022-10-29 22:24] willfrew commented on #12134
Just bumped into this again, specifically now I'm needing to create two clients to deal with a read replica and as per #172 I'm creating two clients.

But since there can only be one of the urls in the environment variable, since it's process-wide, I've had to disable my disconnection middleware for the time being.

[2022-10-30 01:49] yasaichi commented on #15212
This feature is just what I want! I expect it to be written and work as follows:

[code]

[code]

[2022-10-30 09:44] eighty4 commented on #15947
Thanks for the alternative suggestion. Much obliged!

[2022-10-30 09:44] #15947 closed

[2022-10-30 12:35] jimmyruann commented on #15923
Came across this documentation: https://www.prisma.io/docs/concepts/components/prisma-client/advanced-type-safety/operating-against-partial-structures-of-model-types#solution

This seem to work well and solve my initial concern with empty return type. This thread can be closed if mods want to.

My current workaround is:
[code]

[2022-10-30 14:04] skizer commented on #5042
Been wanting a feature like @hidden, exclude etc. since forever tho haven't been following this discussion.
So is there a reason why none of the solutions are a thing yet, like did the team reject it, doesn't want to implement it on their own and waiting for a pull request etc.?

[2022-10-30 14:44] arefay opened #16057 "Intermittent error/issue when using $queryRaw with return data/rows NOT having actual column names"
### Bug description

I'm constructing a SQL string with about 25-30 columns, a shorter example below:

[code]

Then using $queryRaw (or $queryRawUnsafe... seems to be no different) to execute the query:

`const results = await db.$queryRaw<any[]>(sql);`

Now, MOST of the time the query runs and each record in the returned array has the column name/values as expected:

[code]

and I can easily re-s

[2022-10-30 15:55] RatebSeirawan commented on #4263
+1

[2022-10-30 19:07] crubier commented on #5385
Up on this topic! There are now examples of SQLite running in the browser in WASM on top of Origin-Private FileSystem (OPFS).

This should make a browser based version of Prisma doable, and extremely appealing, for offline use cases.

https://news.ycombinator.com/item?id=33374402

[2022-10-30 19:38] joonatanvanhala commented on #8131
+1 for this feature

[2022-10-31 04:26] mavrik83 commented on #678
Honestly, views are such a powerful feature, it feels like there ought to baseline support for them in an ORM.

If it weren't for the lack of views support, my team would have adopted it already. We leverage the heck out of views.

We've discussed using the workaround method described above, but we don't want to deal with whatever breaking changes or workflow changes might pop up when/if the prism

[2022-10-31 05:36] peacechen commented on #13865
@janpio
This is breaking production deployments because the size of the data set causes 503 server timeouts. The production db has over 100k records, and Prisma is loading them all into memory on the API server _then_ splicing the `take` amount. This is very inefficient for the db, the network, and the server.

I'm attempting to create a PR but I'm not familiar with the project architecture. Is th

[2022-10-31 05:47] oumao commented on #15923
This looks well as far as safe typing is concern. I will try this out.

[2022-10-31 06:54] binajmen commented on #678
As @JustMaier, I don't have the skills to play with Rust and contribute to the project.

I'm also amazed that 3 years later, it was still not possible to "_simply_" implement/ignore a `view MyView { ... }` block. Project owners are the most knowledgeable persons to understand the edge cases, and implement this "_easily_".

I (we?) don't need more than a `view` generating the client, while being ig

[2022-10-31 07:52] Jolg42 commented on #2452
@wladiston let us know which regions you are interested in here https://pris.ly/proxy-new-region
It's indeed only a couple at the moment, but more will come!

[2022-10-31 08:55] Jolg42 commented on #14378
Should we add a test in prisma/prisma about MongoDB logs? I'm not sure if we have one.

[2022-10-31 09:31] DmitryKazanok-LP commented on #678
@carchrae, in my experience method 2 doesn't work because on subsequent calls to prisma migrate - prisma still generates new migrations with table (of this view) and references. were you able to edit migration in such way that prisma actually stops further actions on this view?

[2022-10-31 09:38] miguelff commented on #14378
Some are being added to prisma in https://github.com/prisma/prisma/pull/15957

On the engine side, we have a couple of integration tests covering that logs are indeed being generated and that fields contain both a duration and a query string. Then we have a complete unit test suite for the log traces' query strings. I'm in favor of adding more tests that contribute to the client's robustness, but

[2022-10-31 09:50] carchrae commented on #678
@DmitryKazanok-LP no, each time i use migrate i have to extract the database changes i want to keep and delete the remaining SQL from the migration.

because i am using prisma on an existing database there are quite a lot of changes which i don't keep.  that might not be practical if you are doing many database changes, however it works reasonably well for me.

[2022-10-31 09:54] carchrae commented on #678
so, yes, an `@ignore` option in the schema file would be a welcome improvement

[2022-10-31 11:55] senorscan commented on #13327
+1

Nice work around @danielkappelle. I don't have perl available in the docker image I am using so used `sed`. The following worked ok

[code]

[2022-10-31 12:39] Jolg42 commented on #15774
Note that this probably not sufficient, the next problem in this situation would probably be that the engines are not found.

[2022-10-31 12:44] volkerrichert opened #16064 "Prisma Client: logging not done in transactions"
### Bug description

I'l logging my queries using the `prisma.$on`-method. But no logs will be written within an (interactive!) transaction.

### How to reproduce

- setup a simple prisma client
- register `$on()` to log queries
- create a query / update within this transaction

### Expected behavior

Logging should be the same.

### Prisma information
[code]

### Environment & setup

- OS: macOS

[2022-10-31 12:47] nikolasburk commented on #15774
Great point @Jolg42! I adjusted adjusted the title and updated the original comment on the issue 👍

[2022-10-31 12:49] aymensbh opened #16066 "How to order by closest to position (longLat) in Prisma? (Nodejs)"
[code]

[2022-10-31 13:57] garrensmith commented on #16064
@volkerrichert this is really strange. Could you provide a replication for this error. Also have you enabled logging on the client?

[2022-10-31 13:59] volkerrichert commented on #16064
I'll try to brake it down.

[2022-10-31 13:59] jeevanpillay commented on #8131
+1

[2022-10-31 14:25] ferdiamg commented on #10649
Just deployed my app first time yesterday. Had the exact same issue as described here, literally tried everything before finding this thread. Fixed it by downgrading node:18 in my Dockerfile to node:16.18.0
With node:18 going into active LTS 6 days ago, stuff will hit the fan in here real soon I believe 😂

My setup was:

- DB: PSQL on Supabase
- Node: node:18 downgrade to node:16.18.0
- NestJS
- "

[2022-10-31 14:59] DiogoMarques2003 commented on #15946
@Jolg42 any soluction ? Or you need more infos ?

[2022-10-31 15:57] Jolg42 commented on #14417
@StringKe This is weird. Is that the default installation from brew?

[2022-10-31 18:22] lucas-av7 commented on #10649
@ferdiamg

could you please share your `prisma.schema's binaryTargets` config?

[2022-10-31 18:28] danstarns commented on #14378
Coverage added in this PR & commit: https://github.com/prisma/prisma/pull/15957/commits/65cdef6b3be0ce0e056cad77c81fa7d9f5bf62e4

[2022-10-31 18:40] ferdiamg commented on #10649
Sure thing
`binaryTargets = ["native", "linux-musl"]`
and adding OpenSSL to your Dockerfile
`RUN apt-get update && apt-get install -y openssl`

Issue mentioned here: https://github.com/prisma/prisma/issues/8478#issuecomment-1095544159

[2022-10-31 20:08] jacobchrismarsh commented on #14860
Replying to [this comment from the linked PR](https://github.com/prisma/prisma/pull/14866/files#r950184741)

The other instances of errors make sense, but does this one? I'm not sure that unapplied migrations are error-worthy.

I only bring this up because my team used `prisma migrate status` as a part of our build process to list all unapplied migrations and then apply them. This change broke our

[2022-10-31 21:04] Pranav-Dakshina commented on #14179
Any update on this issue?

[2022-10-31 21:07] solokhind commented on #14179
Still no updates unfortunately. Badly needed, I keep having to deal with this issue and I can't change the character set that's already in the production database. I have to manually deleted the default character collations in the generated mysql. I use the `--create-only` flag for that.

[2022-10-31 22:44] danstarns commented on #16064
@volkerrichert Thank you for reporting, I have confirmed this is a bug and we will look into it.

[2022-10-31 22:46] jordanpurinton commented on #4228
bump

[2022-10-31 22:51] DanielJanke opened #16081 "Connection to Postgres database with pgbouncer is significant slower on Digita"
### Bug description

Hello,
we would like to use a connection pool to our Postgres database at Digital Ocean. For this we have entered `pgbouncer=true` in the connection string.

This causes significantly slower queries, so we can't use the feature. Without pgbouncer our queries take about 20-25ms, with pgbouncer sometimes from 229-400ms.

We're hosting our app at heroku and the database at digita

[2022-10-31 23:09] jeslenbucci commented on #4393
Not sure if this will help, but I was having a very similar issue. My database is managed by digital ocean. This issue only happened when I was working locally. The documentation says that the session will terminate once the Node.js process ends. When working locally, my Node.js process was always on. Closing out my terminal fixed the issue and terminated all of the active sessions.

At least for

[2022-11-01 00:31] 0xTK421 commented on #4002
I am also interested in this topic, it makes sense to me to keep application-specific attributes close to the model definition

[2022-11-01 00:36] 0xTK421 commented on #3102
I am also interested in this topic, it makes sense to keep application-specific attributes close to the model definition.

I like either
- @customValue
- @custom('value')

to appear in the dmmf.

[2022-11-01 01:01] StringKe commented on #14417
yes

I found another strange problem

`DATABASE_URL="mysql://root:123456@127.0.0.1:3306/36pic"`         correct

`DATABASE_URL="mysql://root@123456@127.0.0.1:3306/36pic"`       incorrect

The message for using the wrong database link would be `Error querying the database: Unknown authentication plugin`, shouldn't this be a message that the password doesn't exist or is incorrect?

[2022-11-01 02:27] Pranav-Dakshina commented on #14179
I see Thanks @solokhind I guess I would have to do the same in the meantime.

[2022-11-01 03:01] teddarcuri commented on #2789
I know there is a ton of community support for this request, but I just want to throw one more +1 in on this.
Been a real bummer working around this. This feature will be legit cause for celebration 🎉

[2022-11-01 04:23] jeevanpillay commented on #8131
+1

[2022-11-01 07:44] marceloverdijk opened #16084 "Argument of type '"query"' is not assignable to parameter of type '"beforeExit"'."
### Bug description

Following the documentation to setup custom logging here https://www.prisma.io/docs/concepts/components/prisma-client/working-with-prismaclient/logging

I used:

[code]

but this gives the following ts error:

`Argument of type '"query"' is not assignable to parameter of type '"beforeExit"'.ts(2345)`

### How to reproduce

Setup logging as mentioned above as per the docs.

###

[2022-11-01 07:51] marceloverdijk commented on #15615
Just for reference , as per the example above I also have `Constructor` model.

To be able to query it, I had to do this as well:

[code]

Not proud of it but it worked to be able to do `prisma.constructor.findMany({})` etc.

[2022-11-01 08:45] floelhoeffel commented on #2789
Thanks so much for all the input - keep it coming! Especially the survey has helped us greatly understand a good scope for this feature. We are planning the next cycle first week of December and will provide an update shortly afterwards.

Thanks so much for the patience 🙇‍♂️

[2022-11-01 08:53] Jolg42 opened #16085 "MySQL: When using `caching_sha2_password` as default authentication plugin, an incorrect password shows a misleading error message: `Error querying the database: Unknown authentication plugin `sha256_password'.`"
### Bug description

I can reproduce this bug in `4.5.0` mentioned by @StringKe https://github.com/prisma/prisma/issues/14417#issuecomment-1297872041

When setting `caching_sha2_password` as the default authentication plugin on MySQL

### How to reproduce

With the following:

`docker-compose up -d mysql
[code]

Set `DATABASE_URL="mysql://root@root@localhost:3316/mydb"` with an `@` between user an

[2022-11-01 08:54] Jolg42 commented on #14417
@StringKe I can confirm this and made it a bug report here https://github.com/prisma/prisma/issues/16085

[2022-11-01 09:23] garrensmith commented on #16064
Sorry just updating this. We have a test for this https://github.com/prisma/prisma/blob/main/packages/client/src/__tests__/integration/happy/logging/library.ts#L78 and I've manually confirmed that the logging works correctly. This isn't a bug in the client. I'm guessing something in your setup is incorrect. If you could paste your setup maybe we can see where the issue is. One important thing is t

[2022-11-01 10:54] volkerrichert commented on #16064
is there any "easy way" to check it? Does Object.is() does the job?

[2022-11-01 13:47] raiomarco commented on #12499
Happened to me, i will try to analyze and send what i find here

for instance, my schema is:

[code]

and my query is:

[code]

i can send my sqlite file if wanted, but i have this to analyse data from database:

[code]

which resulted in:

[code]

i hope this can be usefull somehow :)

[2022-11-01 14:12] heymartinadams commented on #16050
@janpio do you have any recommendation for an alternative MySQL database to use?

[2022-11-01 14:49] arefay commented on #16057
https://user-images.githubusercontent.com/4808749/199262179-07455333-2ac4-4cf0-8f3f-4b1f4b4c57ef.mp4

Here's a little screen recording showing the issue. I can't figure out any rhyme or reason as to why this would happen sometimes, not all the time. Its not specific to any column, or table, or sql statement, or join(s)... very odd. Maybe I'm missing something simple but can't figure it out.

[2022-11-01 15:00] SevInf commented on #16084
@marceloverdijk could you please provide the full code of the setup, including `prisma` variable declaration and initialisation? This code snippet correctly typechecks on 4.5.0:

[code]

[2022-11-01 15:11] SevInf commented on #16081
@DanielJanke could you please try more recent Prisma version?

[2022-11-01 17:08] heymartinadams commented on #16050
Found what caused it. `Transaction not found` error went away once I removed this:

[code]

https://github.com/ConsciousApps/replicache-demo/commit/734f9ed3ece805aeb589e94689f4daf265b71563#diff-b5c776daef6284d72036715b72e4d5ff18cc0558dea8a0742f6c859e6f0f12b8L62-L68

[2022-11-01 17:58] electrovir commented on #4669
Is there a workaround for this issue? (Excluding the docker-specific one.) I just read this whole thread and don't see one.

[2022-11-01 18:09] electrovir commented on #7113
FYI, if the `--name` flag is provided to `prisma migrate dev` then no error is thrown in non-interactive shells. The only remaining case for me in which I see this error is when the database needs to be reset. This is already filed under #4669 but was closed with no solution given.

[2022-11-01 18:40] electrovir commented on #7113
My current workaround:

1. Use `prisma migrate diff` to detect when the schema file has been changed
2. Run `prisma migrate dev` with `--name` supplied
3. naively assume that if `prisma migrate dev` fails, then a db reset is needed and run `prisma migrate reset --force`

[2022-11-01 18:54] janpio commented on #8134
I am closing this for now, please open a new issue if you need MySQL's `INSERT ... ON DUPLICATE KEY UPDATE` specifically (support for PostgreSQL's `ON CONFLICT` will be added in 4.6.0, an update will be posted in https://github.com/prisma/prisma/issues/3242)

[2022-11-01 18:54] #8134 closed

[2022-11-01 18:58] leafyshark commented on #8134
Actually I managed to achieve what I was looking for using create/update in nested writes within a for... of loop.

I will take a look into POSTGRESQL ON CONFLICT. Thanks!

[2022-11-01 19:48] tlingDeeded commented on #5455
+1

[2022-11-01 19:58] marceloverdijk commented on #16084
Hi @SevInf ,

Sure here is my full setup:

[code]

Note for now I added a `// @ts-ignore` to get rid of the
`Argument of type '"query"' is not assignable to parameter of type '"beforeExit"'.ts(2345)`

<img width="369" alt="image" src="https://user-images.githubusercontent.com/197004/199326670-07613ce8-d02d-4739-b36a-40759cb9f721.png">

It's interesting to know that you don't have this warning.

[2022-11-01 21:57] s-montigny-desautels opened #16090 "Nesting connectOrCreate inside an upsert throw an error"
### Bug description

When using the `connectOrCreate` inside the `update` block of an `upsert`, I get the error `An operation failed because it depends on one or more records that were required but not found.`

Inside the `create` block of the `upsert`, it works as expected.

### How to reproduce

1. Clone [this reproduction repo](https://github.com/s-montigny-desautels/prisma-connect-or-create-er

[2022-11-01 22:11] danarbaugh commented on #13060
I am also seeing this behavior between node:16 and postgres:14 containers currently. Changing to node:18 on the connecting container with zero other changes results in successful CLI connections.

Prisma version:
[code]

Postgres version
[code]

[2022-11-01 22:32] DanielJanke commented on #16081
@SevInf I can confirm that the issue still occurs at Prisma and Prisma client version 4.5.0.

[2022-11-01 23:13] nick-fields commented on #13672
Encountered this in a yarn (v1.22.18) monorepo where the Prisma schema is in a non-default location.  I worked around it by adding a `prepare` (post-install) script to the root package.json:

[code]

[2022-11-02 02:07] chason commented on #15069
This works great except that without the ability to have multiple `_count` annotations for the same relation[^1] the use cases are limited

[^1]: Captured in this feature request https://github.com/prisma/prisma/issues/15423

[2022-11-02 05:42] Pulverizer2020 commented on #5455
+1

[2022-11-02 06:20] chason opened #16095 "Atomic Operations on Booleans"
## Problem

I have a boolean field I'd like to toggle, but atomic operations only work on numbers at the moment[^1].

## Suggested solution

For boolean fields, I'd like to be able to pass something like this to the update:

[code]

with the value of the `toggle` parameter being what to set it as if the value is null. The part that allows you to set it even if `null` isn't necessary though, and is

[2022-11-02 07:49] rafayeljamalyan commented on #12229
@floelhoeffel You can put at least a loading indicator in the terminal, so the developers can _estimate_ how long the should wait, till you fix the issue!

[2022-11-02 09:32] SevInf commented on #16084
Hi @marceloverdijk!
The problem is global variable declaration. Prisma types prevent you from adding event listener for `query` event unless you configure it in the constructor. Normally, type inference will do all the work, but since you have type declaration with explicit type annotation, you have to specify that 'query' even should be configured on this instance explicitly. If you change it to

[2022-11-02 10:30] at-vpd commented on #8131
+1

[2022-11-02 10:32] jkomyno opened #16099 "Add a time comparison between `mysql:8.0` and `vitess/vttestserver:mysql80` over `relationMode = "prisma"` tests."
In https://github.com/prisma/prisma/pull/16051, we have noticed Vitess is notably slower than other databases when running the `relationMode` test suites. We thus want to compare the time taken by the MySQL image we use (`mysql:8.0`) and the Vitess image we use (`vitess/vttestserver:mysql80`) to complete those tests.

We should:
- run a test suite that mirrors the tests and content of the `relatio

[2022-11-02 10:43] janpio commented on #11183
@jhaynie (Every time I see you pop up here, your name rings a bell and I have to hover over your profile to jog my brain to remember Appcelerator - good old times 😆 Wrote my thesis about cross platform mobile frameworks back in the day...)

Am I correct in understanding that you are trying to implement https://www.cockroachlabs.com/docs/v22.1/advanced-client-side-transaction-retries and can not ma

[2022-11-02 10:48] NicolaGenesinJetty opened #16100 "Relation fields are removed after npx prisma db pull"
### Bug description

Virtual fields are removed after npx prisma db pull

### How to reproduce

If you do `npx prisma db pull` the `answers` and `candidate` fields will be removed

### Expected behavior

`npx prisma db pull` won't remove virtual fields

### Prisma information

[code]

### Environment & setup

- OS: macOS 12.4
- Database: PlanetScale
- Node.js version: v16.14.2

### Prisma Version

[2022-11-02 10:52] marceloverdijk commented on #16084
Thx @SevInf that's really helpful! I still have to learn some TypeScript parts ;-)

[2022-11-02 10:53] janpio commented on #15968
The download URL is working fine, and as this is hosted on AWS S3 via a Cloudfront distribution, we are very sure that this generally works - unless there is a local networking problem.

Is this reproducible for you? On a different machine? On a different network, maybe via mobile tethering?

[2022-11-02 10:56] garrensmith commented on #16064
No problem. Thanks for letting me know.

[2022-11-02 11:06] janpio commented on #12735
I recently dug into PostgreSQL RLS a bit and now understand the discussion above a lot better than before.

The suggested `@@security` (or variants) for `CREATE POLICY` is pretty straightforward, but will be _really_ hard to get right as you already identified - but solvable. No big unknowns there, just needs a really thorough design to cover all the things possible in SQL (which usually are... ma

[2022-11-02 11:07] janpio commented on #15077
We are working on that _right now_, you can follow other issues with the `topic: multiSchema` label if you want to be updated: https://github.com/prisma/prisma/issues?q=is%3Aopen+label%3A%22topic%3A+multiSchema%22+sort%3Aupdated-desc (Probably not in the next release, but hopefully soon after)

[2022-11-02 11:21] janpio commented on #15773
Ping @nismi-twire

[2022-11-02 11:23] volkerrichert commented on #16064
Hm, i did a deep dive into my code. I import the prisma client like descibed in the "log running app" doc. And then i stepped through my transaction code. It look slike
[code]

you pointed out that the prisma client must be the same, but Object.is(this.prisma, tx) is false. I expected them to be equal... both are proxies, having a PrismaClient as it's target.

Where will the $on callbacks be store

[2022-11-02 11:27] SevInf commented on #16100
@NicolaGenesinJetty could you also share the SQL schema of your database? That will help with reproducing the issue.

[2022-11-02 11:34] volkerrichert commented on #16064
ok, I thing i fixed it. I'm using prism in a sandbox async worker which seems to create a new instance by importing the prisma client and not reusing it. So, i reinit my logging service. THAX for your help

[2022-11-02 11:34] #16064 closed

[2022-11-02 11:35] SevInf commented on #16090
Can confirm using provided reproduction repo.

[2022-11-02 11:38] janpio commented on #11921
No, as mentioned above there is nothing Prisma can do at the moment as we can not support older MongoDB versions and we need support for the full feature set of the newer version as we use parts of that. Without that, Cosmos DB via their MongoDB API will not be possible in Prisma.

[2022-11-02 11:41] janpio commented on #16021
Does this only fail on local `netlify dev`?
Did you ever `prisma generate` before trying to run the function so a Prisma Client was actually generated that could be used?

[2022-11-02 11:43] aserranom commented on #1902
We finally opted for adding an `updatedBy` field on every single table and creating a middleware that recursively sets the `updatedBy` to every update call based on who invoked it. Our data team then generates logs using a AWS' DMS task and some post processing.

Far from perfect but it somewhat suits our use case for now.

I agree with @faoiseamh, so close!

@divyenduz is there any way we could h

[2022-11-02 11:45] NicolaGenesinJetty commented on #16100
Sure!

[code]

[2022-11-02 12:06] andyjy commented on #12735
AFAIK yes - the only way to achieve this (assuming connection pooling) is wrapping context inside transactions using `SET LOCAL`

I'm currently using the dependency injection pattern to pass request-specific context[^1] to a wapping function that I use around all my prisma calls. This works, but isn't super pleasing developer experience. I'm optimistic about refactoring to [use a Proxy object arou

[2022-11-02 12:27] erwanvivien commented on #15968
Hey @janpio

I believe this is a networking error from my end too, I will close this issue as it is not anymore relevant

[2022-11-02 12:27] #15968 closed

[2022-11-02 12:32] janpio commented on #15759
Is the desired behavior possible with relational databases when using `relationMode="foreignKeys"` (default, where relations are managed via foreign keys)?

[2022-11-02 12:38] kieran-osgood commented on #16003
Doh - should really have realised that 😂 thanks for confirming

[2022-11-02 12:39] janpio commented on #16099
(Manual run of this would be fine as well - no need to spend time on GH Actions)
(Manual setup of this by temporarily commenting out other databases and variants also might be enough if our test setup allows that)

[2022-11-02 13:04] janpio opened #16101 "Remove all special cases for Data Proxy in our tests"
Should not be necessary:
https://github.com/prisma/prisma/blob/ce16bc7c947b23f452fef40873dd016e5c7dbe49/packages/client/tests/functional/issues/13913-integer-overflow/tests.ts#L21-L22

[2022-11-02 13:05] janpio commented on #15829
Can you please help me understand by sharing a full example:
- Prisma Schema
- Prisma Client Query
- Data in the database (if any that is relevant)
- Full error message you are getting

Right now I am still not fully sure what we are talking about.

Generally P2009 is not an "expected" error from the database as P2002, but something internal that in theory should optimally never happen.

[2022-11-02 13:12] Jolg42 commented on #15759
Removing emulated checks brought by `relationMode = "prisma"` is indeed possible on relational databases, only if you do not use `@relation` but then you lose the Prisma Client API that comes with it.

[2022-11-02 13:16] janpio commented on #16039
We have https://www.prisma.io/docs/guides/performance-and-optimization/connection-management/configure-pg-bouncer
Do you have suggestions where we could or should highlight that?

[2022-11-02 13:24] janpio commented on #8864
We are aware that there are many things we could do, but we are only human and have to prioritize some things or will get _nothing_ done at all as we change focus every 2 days and can not get anything ready enough to actually ship.
You can see our current priorities in the work we are doing (all issues and pull requests are open) and by following our public roadmap at https://pris.ly/roadmap

I fa

[2022-11-02 13:38] janpio commented on #13579
Do you have an example how this _should_ (or could) look like @Borales? We might just not know about the "right way" yet.

[2022-11-02 13:40] janpio commented on #15837
@SamuelMS The end of your output shows that this is somehow running `Prisma CLI Version : 4.3.1`. Something is off in your project. (This looks like output of `prisma migrate dev` which runs some `prisma generate` under the hood. Do you get the same error when you run `npx prisma generate` in the root of your project manually?)

[2022-11-02 13:42] kkomelin opened #16102 "Raw SELECT queries return BigInt IDs instead of Int"
### Bug description

Raw SELECT query returns BigInt IDs instead of Int which (again) crashes my app unexpectedly and unpredictably.
We should stop this BigInt hell once and forever.

### How to reproduce

See schema and code samples below.

### Expected behavior

Since I declared ID as unsigned integer I'd like to see integer in the result set (and not BigInt).

### Prisma information

[code]

**

[2022-11-02 13:50] Jolg42 commented on #16100
If I use the provided SQL, I can reproduce.
Though, it's because the SQL is invalid and fails creating the `candidate` table, which means that no relation could exist (table doesn't exist)
[code]

After adding
[code]
to the candidate table it works as expected.

Do you observe something similar @NicolaGenesinJetty ?

[2022-11-02 14:26] janpio commented on #15851
The easiest way would be to see if a manually created fake list of models (`foo1`, `foo2`) etc is enough to reproduce.

[2022-11-02 14:34] janpio commented on #13713
Can anyone help us with a minimal reproduction? As soon as we have that, we can start into looking what is causing this - but for now we have not found any way to trigger this ourselves so would just be stabbing at it with no way to see if we did anything useful.

[2022-11-02 14:37] janpio commented on #5042
No, "just" capacity @skizer. We can not do all the things at the same time, and this one did not make the top of the list yet. We will let you know when that changes here in this issue as we will take all the comments and feedback into account of course.

[2022-11-02 14:38] aqrln opened #16103 "Add `Prisma.TransactionClient` to `default-index.d.ts`"
See https://github.com/prisma/prisma/issues/8664#issuecomment-1294203780

[2022-11-02 14:40] janpio commented on #13865
Prisma is not an easy project to contribute to, but if you want to try the `prisma-engines` repository and its CI setup includes all the information you need.

Alternatively, please describe how you would solve the problem here - or even just help us out with another reproduction that is easy for us to run to see and understand the problem.

[2022-11-02 14:43] janpio commented on #2452
We are also working with Deno on expanding support to normal Prisma Client (without Data Proxy) as I mentioned in the last paragraph of https://github.com/prisma/prisma/issues/2452#issuecomment-1282956083. For now you can help us by testing it out via Data Proxy, and report and problems you encounter. If there are none, we will have a much easier and better time with the rest.

[2022-11-02 14:55] younes-alouani commented on #861
I have the same problem using Prisma on AWS ARM PROCESSORS with Docker.

`RUN npx prisma generate`

Results in an error !

`Unknown binaryTarget linux-arm64-openssl-undefined and no custom engine files were provided`
`The command '/bin/sh -c npx prisma generate' returned a non-zero code: 1`

[2022-11-02 15:09] Suniron commented on #7550
Same needs here !

[2022-11-02 15:16] janpio opened #16105 "unapplied migrations -> exit(1)"
Replying to [this comment from the linked PR](https://github.com/prisma/prisma/pull/14866/files#r950184741)

The other instances of errors make sense, but does this one? I'm not sure that unapplied migrations are error-worthy.

I only bring this up because my team used `prisma migrate status` as a part of our build process to list all unapplied migrations and then apply them. This change broke our

[2022-11-02 15:22] theocerdan commented on #7550
same needs !

[2022-11-02 15:24] janpio commented on #4002
Is there anything here in this issue not covered by https://github.com/prisma/prisma/issues/3102? Otherwise I think we should close this one and focus on #3102.

[2022-11-02 15:24] janpio commented on #1660
Is there anything here in this issue not covered by https://github.com/prisma/prisma/issues/3102? Otherwise I think we should close this one and focus on #3102.

[2022-11-02 15:27] jkomyno commented on #16099
I have run the `1:1` `relationMode` test suite with the command

[code]

on a MacBook Pro M1. Here are the results:

## TL/DR

- `mysql:8.0` takes 12.829s
- `vitess/vttestserver:mysql80` takes 599.321s

## Output

### Vitess

[code]

### MySQL

[code]

[2022-11-02 15:44] marceloverdijk commented on #15615
@janpio yes I changed all `constructor` fields in my schema to `konstructor` ...
but of course I would love to change it back "one day" ;-)

[2022-11-02 15:45] jacobchrismarsh commented on #16105
To clarify the ask here: I'd like to remove the error exit code from `prisma migrate status` when there are unapplied migrations. Other scenarios (like failed migrations) are still error worthy, but I don't think this one is.

[2022-11-02 15:58] janpio commented on #11183
Great you could make it work. This is a _very_ good illustration why we indeed need to offer a better solution here.
(Talking to colleagues internally right now how that might be solvable via https://github.com/prisma/prisma/issues/15074)

[2022-11-02 16:18] janpio commented on #861
How can we minimally reproduce this @younes-alouani?

[2022-11-02 16:33] Jolg42 commented on #16100
Ok I can can reproduce in `4.5.0`, it is already fixed in our internal dev version.

Related issue is https://github.com/prisma/prisma/issues/11022

So I can recommend to wait until, next release, `4.6.0`, planned on Tuesday.

[2022-11-02 16:33] #16100 closed

[2022-11-02 16:54] marceloverdijk commented on #16084
Hi @SevInf I just tried it on my project but unfortunately it does not help..

Changing the global declaration to:

[code]

gives now: `Type '"query"' has no properties in common with type 'PrismaClientOptions'.ts(2559)`

<img width="372" alt="image" src="https://user-images.githubusercontent.com/197004/199552352-01ca2e28-aa75-4845-8c90-8b4630779cbf.png">

[2022-11-02 16:58] Jolg42 commented on #15759
Notes:
- For MongoDB what people might want to disable is the emulation on `update` and `delete` Prisma Client queries, (create is not covered by the emulation).
Technically, we can do that by introducing `Nothing`, for `onUpdate` `onDelete`, on `@relation`, where both should be set?

- When `relationMode="foreignKeys"` (default), on relational databases.
`Nothing` would be impossible (as long as

[2022-11-02 17:01] yanickrochon commented on #1487
I do not understand the resolution for this; how do I set a SQLite provider for dev environment and PostgreSQL for production? It seems like it was implemented, then removed?